Repository MegaMek/mekhq, pull requests merged in 2020-12, with the labels that each got.

#2232 Issue #2231: Don't give back free parts when fixing a missing part
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/parts/MissingPart.java
  MekHQ/unittests/mekhq/campaign/parts/MissingPartTest.java
Labels: Tests, bug

#2259 Random Death: Pregnancy Complications Status
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/resources/mekhq/resources/LogEntries.properties
  MekHQ/resources/mekhq/resources/Personnel.properties
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/campaign/log/MedicalLogger.java
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/campaign/personnel/enums/Divorce.java
  MekHQ/src/mekhq/campaign/personnel/enums/PersonnelStatus.java
  MekHQ/src/mekhq/gui/dialog/CampaignOptionsDialog.java
Labels: Personnel, enhancement

#2261 Improved Awards Migration
  MekHQ/data/images/awards/Default Set/medals/ClanInvasionM.png
  MekHQ/data/images/awards/Default Set/medals/CombatCommendationM.png
  MekHQ/data/images/awards/Default Set/medals/DistinguishedServiceM.png
  MekHQ/data/images/awards/Default Set/medals/ExpeditionaryM.png
  MekHQ/data/images/awards/Default Set/medals/FedComCivilWarM.png
  MekHQ/data/images/awards/Default Set/medals/GalacticWarOnPiratingM.png
  MekHQ/data/images/awards/Default Set/medals/HouseDefenseM.png
  MekHQ/data/images/awards/Default Set/medals/HouseDistinguishedServiceM.png
  MekHQ/data/images/awards/Default Set/medals/HouseMeritoriousServiceM.png
  MekHQ/data/images/awards/Default Set/medals/LegionOfMeritM.png
  MekHQ/data/images/awards/Default Set/medals/PeripheryExpeditionaryM.png
  MekHQ/data/images/awards/Default Set/medals/TaskForceSerpentM.png
  MekHQ/data/images/awards/Default Set/medals/ThirdSuccessionWarM.png
  MekHQ/data/images/awards/Default Set/medals/WarOf3039M.png
  MekHQ/data/images/awards/Default Set/ribbons/ArmedForces.png
  MekHQ/data/images/awards/Default Set/ribbons/BronzeStar.png
  MekHQ/data/images/awards/Default Set/ribbons/ClanInvasion.png
  MekHQ/data/images/awards/Default Set/ribbons/CombatAchievement.png
  MekHQ/data/images/awards/Default Set/ribbons/CombatAction.png
  MekHQ/data/images/awards/Default Set/ribbons/CombatCommendation.png
  MekHQ/data/images/awards/Default Set/ribbons/CombatCross.png
  MekHQ/data/images/awards/Default Set/ribbons/CombatUnitCommendation.png
  MekHQ/data/images/awards/Default Set/ribbons/DistinguishedService.png
  MekHQ/data/images/awards/Default Set/ribbons/Expeditionary.png
  MekHQ/data/images/awards/Default Set/ribbons/FedComCivilWar.png
  MekHQ/data/images/awards/Default Set/ribbons/FourthSuccessionWar.png
  MekHQ/data/images/awards/Default Set/ribbons/GalacticService.png
  MekHQ/data/images/awards/Default Set/ribbons/GalacticServiceDeployment.png
  MekHQ/data/images/awards/Default Set/ribbons/GalacticWarOnPirating.png
  MekHQ/data/images/awards/Default Set/ribbons/GoodConduct.png
  MekHQ/data/images/awards/Default Set/ribbons/HouseDefense.png
  MekHQ/data/images/awards/Default Set/ribbons/HouseDistinguishedService.png
  MekHQ/data/images/awards/Default Set/ribbons/HouseMeritoriousService.png
  MekHQ/data/images/awards/Default Set/ribbons/HouseSuperiorService.png
  MekHQ/data/images/awards/Default Set/ribbons/HouseUnitCitation.png
  MekHQ/data/images/awards/Default Set/ribbons/HumanitarianService.png
  MekHQ/data/images/awards/Default Set/ribbons/LegionOfMerit.png
  MekHQ/data/images/awards/Default Set/ribbons/MeritoriousService.png
  MekHQ/data/images/awards/Default Set/ribbons/MeritoriousUnitCommendation.png
  MekHQ/data/images/awards/Default Set/ribbons/PeripheryExpeditionary.png
  MekHQ/data/images/awards/Default Set/ribbons/PrisonerOfWar.png
  MekHQ/data/images/awards/Default Set/ribbons/PurpleHeart.png
  MekHQ/data/images/awards/Default Set/ribbons/SilverStar.png
  MekHQ/data/images/awards/Default Set/ribbons/TaskForceSerpent.png
  MekHQ/data/images/awards/Default Set/ribbons/ThirdSuccessionWar.png
  MekHQ/data/images/awards/Default Set/ribbons/WarOf3039.png
  MekHQ/data/universe/awards/Default Set.xml
  MekHQ/src/mekhq/MekHQOptions.java
  MekHQ/src/mekhq/MekHqConstants.java
  MekHQ/src/mekhq/campaign/AwardSet.java
  MekHQ/src/mekhq/campaign/io/Migration/PersonMigrator.java
  MekHQ/src/mekhq/campaign/personnel/Award.java
  MekHQ/src/mekhq/campaign/personnel/AwardsFactory.java
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/campaign/personnel/PersonAwardController.java
Labels: Awards, Personnel, data, enhancement

#2271 Remove XPath/XQuery usage from AtBScenario CPNX load
  MekHQ/src/mekhq/MekHqXmlUtil.java
  MekHQ/src/mekhq/campaign/mission/AtBScenario.java
Labels: performance

#2272 Bug: Ensure GM Acquire Instantly acquires the correct quantity
  MekHQ/src/mekhq/gui/dialog/AcquisitionsDialog.java
Labels: bug

#2229 Refactor adding and removing ammo from the Campaign
  MekHQ/src/mekhq/Utilities.java
  MekHQ/src/mekhq/campaign/Quartermaster.java
  MekHQ/src/mekhq/campaign/ResolveScenarioTracker.java
  MekHQ/src/mekhq/campaign/io/CampaignXmlParser.java
  MekHQ/src/mekhq/campaign/parts/AmmoStorage.java
  MekHQ/src/mekhq/campaign/parts/InfantryAmmoStorage.java
  MekHQ/src/mekhq/campaign/parts/MissingPart.java
  MekHQ/src/mekhq/campaign/parts/Refit.java
  MekHQ/src/mekhq/campaign/parts/equipment/AmmoBin.java
  MekHQ/src/mekhq/campaign/parts/equipment/BattleArmorAmmoBin.java
  MekHQ/src/mekhq/campaign/parts/equipment/EquipmentPart.java
  MekHQ/src/mekhq/campaign/parts/equipment/InfantryAmmoBin.java
  MekHQ/src/mekhq/campaign/parts/equipment/LargeCraftAmmoBin.java
  MekHQ/src/mekhq/campaign/parts/equipment/MissingAmmoBin.java
  MekHQ/src/mekhq/campaign/parts/equipment/MissingInfantryAmmoBin.java
  MekHQ/src/mekhq/campaign/parts/equipment/MissingLargeCraftAmmoBin.java
  MekHQ/src/mekhq/campaign/unit/Unit.java
  MekHQ/src/mekhq/campaign/unit/actions/AdjustLargeCraftAmmoAction.java
  MekHQ/src/mekhq/campaign/unit/actions/SwapAmmoTypeAction.java
  MekHQ/src/mekhq/gui/WarehouseTab.java
  MekHQ/src/mekhq/gui/adapter/ServicedUnitsTableMouseAdapter.java
  MekHQ/src/mekhq/gui/adapter/UnitTableMouseAdapter.java
  MekHQ/src/mekhq/gui/dialog/CampaignExportWizard.java
  MekHQ/src/mekhq/gui/dialog/LargeCraftAmmoSwapDialog.java
  MekHQ/src/mekhq/gui/dialog/PartsStoreDialog.java
  MekHQ/src/mekhq/gui/dialog/SmallSVAmmoSwapDialog.java
  MekHQ/unittests/mekhq/campaign/QuartermasterTest.java
  MekHQ/unittests/mekhq/campaign/parts/AmmoStorageTest.java
  MekHQ/unittests/mekhq/campaign/parts/AmmoUtilities.java
  MekHQ/unittests/mekhq/campaign/parts/InfantryAmmoStorageTest.java
  MekHQ/unittests/mekhq/campaign/parts/RefitTest.java
  MekHQ/unittests/mekhq/campaign/parts/equipment/AmmoBinTest.java
  MekHQ/unittests/mekhq/campaign/parts/equipment/BattleArmorAmmoBinTest.java
  MekHQ/unittests/mekhq/campaign/parts/equipment/InfantryAmmoBinTest.java
  MekHQ/unittests/mekhq/campaign/parts/equipment/LargeCraftAmmoBinTest.java
  MekHQ/unittests/mekhq/campaign/parts/equipment/MissingAmmoBinTest.java
  MekHQ/unittests/mekhq/campaign/parts/equipment/MissingInfantryAmmoBinTest.java
  MekHQ/unittests/mekhq/campaign/parts/equipment/MissingLargeCraftAmmoBinTest.java
  MekHQ/unittests/mekhq/campaign/unit/actions/AdjustLargeCraftAmmoActionTest.java
  MekHQ/unittests/mekhq/campaign/unit/actions/HirePersonnelUnitActionTest.java
  MekHQ/unittests/mekhq/campaign/unit/actions/SwapAmmoTypeActionTest.java
Labels: Tests, bug

#2286 Don't reload unit data if nothing changed on disk when reading Campaigns
  MekHQ/src/mekhq/campaign/io/CampaignXmlParser.java
Labels: performance

#2277 Moving Color Names to PlayerColors
  MekHQ/src/mekhq/campaign/mission/AtBDynamicScenarioFactory.java
  MekHQ/src/mekhq/campaign/mission/AtBScenario.java
  MekHQ/src/mekhq/gui/dialog/CamoChoiceDialog.java
Labels: enhancement

#2288 2287: Prisoner Filter Should Include Bondsmen
  MekHQ/src/mekhq/gui/enums/PersonnelFilter.java
Labels: bug

#2285 AbstractIcon: Null Protection for ImageIcons and Separating Dialogs out from the Choosers beneath
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
  MekHQ/src/mekhq/gui/dialog/NewRecruitDialog.java
Labels: bug

#2282 Issue #2141: Subcontracts don't reference parent contract after campaign load
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/io/CampaignXmlParser.java
  MekHQ/src/mekhq/campaign/market/ContractMarket.java
  MekHQ/src/mekhq/campaign/mission/AtBContract.java
  MekHQ/unittests/mekhq/campaign/mission/AtBContractTest.java
Labels: bug

#2264 1587: Basic Bulk Customization
  MekHQ/src/mekhq/gui/adapter/UnitTableMouseAdapter.java
  MekHQ/src/mekhq/gui/dialog/ChooseRefitDialog.java
Labels: enhancement, refit

#2263 2200: Moving Rank System Name to Data
  MekHQ/data/universe/ranks.xml
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/MercRosterAccess.java
  MekHQ/src/mekhq/campaign/io/CampaignXmlParser.java
  MekHQ/src/mekhq/campaign/io/Migration/PersonMigrator.java
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/campaign/personnel/RankTranslator.java
  MekHQ/src/mekhq/campaign/personnel/RetirementDefectionTracker.java
  MekHQ/src/mekhq/campaign/personnel/ranks/Rank.java
  MekHQ/src/mekhq/campaign/personnel/ranks/Ranks.java
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
  MekHQ/src/mekhq/gui/dialog/CampaignOptionsDialog.java
  MekHQ/src/mekhq/gui/dialog/DataLoadingDialog.java
  MekHQ/src/mekhq/gui/dialog/HireBulkPersonnelDialog.java
  MekHQ/src/mekhq/gui/dialog/NewRecruitDialog.java
  MekHQ/src/mekhq/gui/utilities/StaticChecks.java
  MekHQ/unittests/mekhq/campaign/CampaignTest.java
  MekHQ/unittests/mekhq/campaign/unit/actions/StripUnitActionTest.java
Labels: Personnel, Ranks, data, enhancement

#2291 Issue #2283: Ensure contracts are generated with the correct number of retries
  MekHQ/src/mekhq/campaign/market/ContractMarket.java
Labels: bug

#2302 Fixing Log Display Spacing
  MekHQ/src/mekhq/gui/model/PersonnelEventLogModel.java
  MekHQ/src/mekhq/gui/model/PersonnelKillLogModel.java
Labels: bug, gui

#2304 2295: Expanding null protections for rank systems and adding defaults
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/campaign/personnel/ranks/Ranks.java
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
  MekHQ/src/mekhq/gui/dialog/CampaignOptionsDialog.java
Labels: Ranks, bug

#2305 2270: Scenarios Respect Sort Order
  MekHQ/resources/mekhq/resources/ScenarioTableModel.properties
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
  MekHQ/src/mekhq/gui/adapter/ScenarioTableMouseAdapter.java
  MekHQ/src/mekhq/gui/model/PersonnelTableModel.java
  MekHQ/src/mekhq/gui/model/ScenarioTableModel.java
Labels: bug

#2303 Fixing Gender assignment on Generation
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/campaign/personnel/generator/AbstractPersonnelGenerator.java
Labels: Personnel, bug

#2309 Fixing Mass Repair Option Migration end Version
  MekHQ/src/mekhq/service/MassRepairOption.java
Labels: Mass Repair/Mass Salvage, bug

#2311 Issue #2310: Avoid procurement popup exceptions due to race condition
  MekHQ/src/mekhq/gui/CommandCenterTab.java
  MekHQ/src/mekhq/gui/adapter/ProcurementTableMouseAdapter.java
  MekHQ/src/mekhq/gui/model/ProcurementTableModel.java
Labels: bug

#2312 Issue #2298: Do not display unknown armor types in the Parts In Use report
  MekHQ/src/mekhq/campaign/Campaign.java
Labels: bug

#2308 Add EquipmentPart unit tests
  MekHQ/src/mekhq/campaign/parts/AmmoStorage.java
  MekHQ/src/mekhq/campaign/parts/MissingPart.java
  MekHQ/src/mekhq/campaign/parts/Part.java
  MekHQ/src/mekhq/campaign/parts/equipment/AmmoBin.java
  MekHQ/src/mekhq/campaign/parts/equipment/BattleArmorEquipmentPart.java
  MekHQ/src/mekhq/campaign/parts/equipment/EquipmentPart.java
  MekHQ/src/mekhq/campaign/parts/equipment/HeatSink.java
  MekHQ/src/mekhq/campaign/parts/equipment/InfantryWeaponPart.java
  MekHQ/src/mekhq/campaign/parts/equipment/JumpJet.java
  MekHQ/src/mekhq/campaign/parts/equipment/MASC.java
  MekHQ/src/mekhq/campaign/parts/equipment/MissingBattleArmorEquipmentPart.java
  MekHQ/src/mekhq/campaign/parts/equipment/MissingEquipmentPart.java
  MekHQ/src/mekhq/campaign/parts/equipment/MissingHeatSink.java
  MekHQ/src/mekhq/campaign/parts/equipment/MissingJumpJet.java
  MekHQ/src/mekhq/campaign/parts/equipment/MissingMASC.java
  MekHQ/unittests/mekhq/campaign/parts/equipment/EquipmentPartTest.java
  MekHQ/unittests/mekhq/campaign/parts/equipment/EquipmentUtilities.java
  MekHQ/unittests/mekhq/campaign/parts/equipment/MissingEquipmentPartTest.java
Labels: Tests

#2294 Add contract market tests
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/againstTheBot/AtBConfiguration.java
  MekHQ/src/mekhq/campaign/finances/CurrencyManager.java
  MekHQ/src/mekhq/campaign/io/CampaignXmlParser.java
  MekHQ/src/mekhq/campaign/market/ContractMarket.java
  MekHQ/src/mekhq/campaign/market/UnitMarket.java
  MekHQ/src/mekhq/campaign/mission/AtBContract.java
  MekHQ/src/mekhq/campaign/mission/AtBDynamicScenarioFactory.java
  MekHQ/src/mekhq/campaign/mission/AtBScenario.java
  MekHQ/src/mekhq/campaign/mission/atb/AtBScenarioModifierApplicator.java
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/campaign/universe/DefaultFactionSelector.java
  MekHQ/src/mekhq/campaign/universe/Faction.java
  MekHQ/src/mekhq/campaign/universe/FactionBorderTracker.java
  MekHQ/src/mekhq/campaign/universe/FactionHints.java
  MekHQ/src/mekhq/campaign/universe/Factions.java
  MekHQ/src/mekhq/campaign/universe/Planet.java
  MekHQ/src/mekhq/campaign/universe/PlanetarySystem.java
  MekHQ/src/mekhq/campaign/universe/RATGeneratorConnector.java
  MekHQ/src/mekhq/campaign/universe/RATManager.java
  MekHQ/src/mekhq/campaign/universe/RandomFactionGenerator.java
  MekHQ/src/mekhq/campaign/universe/RangedFactionSelector.java
  MekHQ/src/mekhq/campaign/universe/Systems.java
  MekHQ/src/mekhq/campaign/universe/UnitGeneratorParameters.java
  MekHQ/src/mekhq/gui/FactionComboBox.java
  MekHQ/src/mekhq/gui/InterstellarMapPanel.java
  MekHQ/src/mekhq/gui/dialog/CampaignOptionsDialog.java
  MekHQ/src/mekhq/gui/dialog/ChooseFactionsDialog.java
  MekHQ/src/mekhq/gui/dialog/ContractMarketDialog.java
  MekHQ/src/mekhq/gui/dialog/CustomizeAtBContractDialog.java
  MekHQ/src/mekhq/gui/dialog/CustomizePersonDialog.java
  MekHQ/src/mekhq/gui/dialog/DataLoadingDialog.java
  MekHQ/src/mekhq/gui/dialog/GMToolsDialog.java
  MekHQ/src/mekhq/gui/dialog/NewPlanetaryEventDialog.java
  MekHQ/src/mekhq/module/atb/AtBEventProcessor.java
  MekHQ/unittests/mekhq/campaign/market/ContractMarketAtBGenerationTests.java
  MekHQ/unittests/mekhq/campaign/market/ContractMarketIntegrationTest.java
  MekHQ/unittests/mekhq/campaign/universe/FactionsIntegrationTest.java
  MekHQ/unittests/mekhq/campaign/universe/SystemsIntegrationTest.java
Labels: Tests
