Repository MegaMek/mekhq, pull requests merged in 2021-04, with the labels that each got.

#2490 2489: Improving Award XML Load Null Proofing
  MekHQ/src/mekhq/campaign/personnel/AwardsFactory.java
  MekHQ/src/mekhq/campaign/personnel/PersonAwardController.java
Labels: Awards, bug

#2356 Genealogy: Swapping to Object Reference
  MekHQ/resources/mekhq/resources/Personnel.properties
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/io/CampaignXmlParser.java
  MekHQ/src/mekhq/campaign/personnel/FormerSpouse.java
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/campaign/personnel/enums/Divorce.java
  MekHQ/src/mekhq/campaign/personnel/enums/FormerSpouseReason.java
  MekHQ/src/mekhq/campaign/personnel/enums/Marriage.java
  MekHQ/src/mekhq/campaign/personnel/enums/Phenotype.java
  MekHQ/src/mekhq/campaign/personnel/familyTree/FormerSpouse.java
  MekHQ/src/mekhq/campaign/personnel/familyTree/Genealogy.java
  MekHQ/src/mekhq/gui/CampaignGUI.java
  MekHQ/src/mekhq/gui/view/PersonViewPanel.java
  MekHQ/src/mekhq/io/idReferenceClasses/PersonIdReference.java
  MekHQ/unittests/mekhq/campaign/personnel/familyTree/GenealogyTest.java
Labels: enhancement

#2417 Personnel Options Tab
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/src/mekhq/Utilities.java
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/campaign/ResolveScenarioTracker.java
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/campaign/personnel/enums/BabySurnameStyle.java
  MekHQ/src/mekhq/campaign/personnel/enums/Marriage.java
  MekHQ/src/mekhq/campaign/personnel/generator/AbstractPersonnelGenerator.java
  MekHQ/src/mekhq/campaign/universe/RangedPlanetSelector.java
  MekHQ/src/mekhq/gui/CampaignGUI.java
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
  MekHQ/src/mekhq/gui/dialog/CampaignOptionsDialog.java
Labels: Accessibility, Personnel, enhancement, gui

#2494 Base Components: Sorted Combo Box Model
  MekHQ/src/mekhq/gui/FactionComboBox.java
  MekHQ/src/mekhq/gui/baseComponents/SortedComboBoxModel.java
  MekHQ/src/mekhq/gui/dialog/CampaignOptionsDialog.java
  MekHQ/src/mekhq/gui/dialog/NewAtBContractDialog.java
  MekHQ/src/mekhq/gui/model/SortedComboBoxModel.java
Labels: enhancement, gui

#2495 Base Components: JDisableablePanel
  MekHQ/src/mekhq/gui/baseComponents/JDisableablePanel.java
Labels: enhancement, gui

#2331 Add MekLocation tests
  MekHQ/src/mekhq/campaign/Warehouse.java
  MekHQ/src/mekhq/campaign/parts/MekLocation.java
  MekHQ/src/mekhq/gui/RepairTab.java
  MekHQ/src/mekhq/gui/dialog/AcquisitionsDialog.java
  MekHQ/unittests/mekhq/campaign/parts/MekLocationTest.java
Labels: Tests

#2506 2501: Fixing Camouflage Button Icon Assignment Copy/Paste Error
  MekHQ/src/mekhq/gui/dialog/CustomizeAtBContractDialog.java
Labels: bug

#2507 2505: Re-adding Awards PNG Load Band Aid
  MekHQ/src/mekhq/MHQStaticDirectoryManager.java
  MekHQ/src/mekhq/io/AwardFileFactory.java
Labels: Awards, bug

#2532 ProtoMech Bay Rating
  MekHQ/src/mekhq/campaign/rating/AbstractUnitRating.java
Labels: bug, unit rating

#2462 2460: Improving Default AtBContract Name and Briefing Tab Sort
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/market/ContractMarket.java
  MekHQ/src/mekhq/campaign/mission/Contract.java
Labels: enhancement

#2550 GM Tools Dialog: Removing Backported Method Use
  MekHQ/src/mekhq/Utilities.java
  MekHQ/src/mekhq/gui/dialog/GMToolsDialog.java
Labels: enhancement

#2556 2553: Fixing FactionComboBox NPE with null input code
  MekHQ/src/mekhq/gui/FactionComboBox.java
  MekHQ/src/mekhq/gui/dialog/NewAtBContractDialog.java
Labels: bug, gui

#2557 2553: Fixing preferences issue in the Personnel Market
  MekHQ/src/mekhq/gui/dialog/PersonnelMarketDialog.java
Labels: Blocker, bug, gui

#2515 MM 2281: Creating a standard BV Display Dialog
  MekHQ/src/mekhq/campaign/unit/actions/ShowUnitBvAction.java
  MekHQ/src/mekhq/gui/adapter/UnitTableMouseAdapter.java
Labels: enhancement, gui

#2509 Rank System Rework
  .gitignore
  MekHQ/data/universe/ranks.xml
  MekHQ/docs/Windchilds_Guide_to_Ranks.txt
  MekHQ/resources/mekhq/resources/CampaignGUI.properties
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/resources/mekhq/resources/Personnel.properties
  MekHQ/src/mekhq/MekHQOptions.java
  MekHQ/src/mekhq/MekHqConstants.java
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/MercRosterAccess.java
  MekHQ/src/mekhq/campaign/io/CampaignXmlParser.java
  MekHQ/src/mekhq/campaign/io/Migration/PersonMigrator.java
  MekHQ/src/mekhq/campaign/log/LogEntryController.java
  MekHQ/src/mekhq/campaign/market/PersonnelMarket.java
  MekHQ/src/mekhq/campaign/personnel/AwardsFactory.java
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/campaign/personnel/RetirementDefectionTracker.java
  MekHQ/src/mekhq/campaign/personnel/enums/ManeiDominiClass.java
  MekHQ/src/mekhq/campaign/personnel/enums/ManeiDominiRank.java
  MekHQ/src/mekhq/campaign/personnel/enums/PersonnelRole.java
  MekHQ/src/mekhq/campaign/personnel/enums/Profession.java
  MekHQ/src/mekhq/campaign/personnel/enums/RankSystemType.java
  MekHQ/src/mekhq/campaign/personnel/ranks/Rank.java
  MekHQ/src/mekhq/campaign/personnel/ranks/RankSystem.java
  MekHQ/src/mekhq/campaign/personnel/ranks/RankValidator.java
  MekHQ/src/mekhq/campaign/personnel/ranks/Ranks.java
  MekHQ/src/mekhq/campaign/unit/Unit.java
  MekHQ/src/mekhq/gui/CampaignGUI.java
  MekHQ/src/mekhq/gui/FactionComboBox.java
  MekHQ/src/mekhq/gui/FileDialogs.java
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
  MekHQ/src/mekhq/gui/baseComponents/AbstractMHQValidationButtonDialog.java
  MekHQ/src/mekhq/gui/baseComponents/JScrollablePanel.java
  MekHQ/src/mekhq/gui/baseComponents/SortedComboBoxModel.java
  MekHQ/src/mekhq/gui/dialog/BatchXPDialog.java
  MekHQ/src/mekhq/gui/dialog/CampaignOptionsDialog.java
  MekHQ/src/mekhq/gui/dialog/CustomRankSystemCreationDialog.java
  MekHQ/src/mekhq/gui/dialog/HireBulkPersonnelDialog.java
  MekHQ/src/mekhq/gui/dialog/NewRecruitDialog.java
  MekHQ/src/mekhq/gui/displayWrappers/RankDisplay.java
  MekHQ/src/mekhq/gui/model/RankTableModel.java
  MekHQ/src/mekhq/gui/panes/RankSystemsPane.java
  MekHQ/src/mekhq/gui/sorter/RankSorter.java
  MekHQ/src/mekhq/gui/utilities/StaticChecks.java
  MekHQ/src/mekhq/gui/view/AtBScenarioViewPanel.java
  MekHQ/src/mekhq/gui/view/ForceViewPanel.java
  MekHQ/src/mekhq/gui/view/JumpPathViewPanel.java
  MekHQ/src/mekhq/gui/view/MissionViewPanel.java
  MekHQ/src/mekhq/gui/view/PersonViewPanel.java
  MekHQ/src/mekhq/gui/view/PlanetViewPanel.java
  MekHQ/src/mekhq/gui/view/ScenarioViewPanel.java
  MekHQ/src/mekhq/gui/view/ScrollablePanel.java
  MekHQ/src/mekhq/gui/view/UnitViewPanel.java
  MekHQ/userdata/README.md
  MekHQ/userdata/data/universe/ranks.xml
Labels: Ranks, bug, enhancement

#2562 2561: Automatic export and refresh upon confirming the pane
  MekHQ/src/mekhq/gui/panes/RankSystemsPane.java
Labels: Blocker, Ranks, bug
