Repository MegaMek/mekhq, pull requests merged in 2021-06, with the labels that each got.

#2672 2548: Making ROM Designation and Manei Domini Class and Rank part of the rank system data
  MekHQ/data/universe/ranks.xml
  MekHQ/docs/Windchilds_Guide_to_Ranks.txt
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/campaign/personnel/ranks/RankSystem.java
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
  MekHQ/src/mekhq/gui/dialog/CustomRankSystemCreationDialog.java
  MekHQ/src/mekhq/gui/utilities/StaticChecks.java
  MekHQ/userdata/data/universe/ranks.xml
Labels: Ranks, enhancement

#2665 2529: Fixing refit display so it no longer includes the pilot's BV
  MekHQ/src/mekhq/gui/dialog/ChooseRefitDialog.java
Labels: bug, gui

#2678 GUI Enums
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/resources/mekhq/resources/GUIEnums.properties
  MekHQ/src/mekhq/MekHqConstants.java
  MekHQ/src/mekhq/gui/PersonnelTab.java
  MekHQ/src/mekhq/gui/dialog/PersonnelMarketDialog.java
  MekHQ/src/mekhq/gui/enums/LayeredForceIcon.java
  MekHQ/src/mekhq/gui/enums/PersonnelFilter.java
  MekHQ/src/mekhq/gui/enums/PersonnelFilterStyle.java
  MekHQ/src/mekhq/gui/enums/PersonnelTabView.java
  MekHQ/src/mekhq/gui/model/PersonnelTableModel.java
Labels: enhancement

#2540 Factions Data Cleanup
  MekHQ/data/universe/altfactions.xml
  MekHQ/data/universe/factionhints.xml
  MekHQ/data/universe/factions.xml
  MekHQ/src/mekhq/MekHqConstants.java
  MekHQ/src/mekhq/campaign/market/ContractMarket.java
  MekHQ/src/mekhq/campaign/mission/AtBContract.java
  MekHQ/src/mekhq/campaign/universe/Faction.java
  MekHQ/src/mekhq/campaign/universe/FactionHints.java
  MekHQ/src/mekhq/campaign/universe/Factions.java
  MekHQ/src/mekhq/campaign/universe/RATManager.java
  MekHQ/src/mekhq/campaign/universe/RandomFactionGenerator.java
  MekHQ/src/mekhq/gui/dialog/CampaignOptionsDialog.java
  MekHQ/src/mekhq/gui/dialog/GMToolsDialog.java
  MekHQ/unittests/mekhq/campaign/market/ContractMarketAtBGenerationTests.java
  MekHQ/unittests/mekhq/campaign/universe/FactionsIntegrationTest.java
Labels: data, enhancement

#2677 Ignorable Nag Dialogs
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/resources/mekhq/resources/MekHqOptionsDialog.properties
  MekHQ/src/mekhq/MekHQOptions.java
  MekHQ/src/mekhq/MekHqConstants.java
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/gui/CampaignGUI.java
  MekHQ/src/mekhq/gui/baseComponents/AbstractMHQNagDialog.java
  MekHQ/src/mekhq/gui/dialog/InsufficientAstechTimeNagDialog.java
  MekHQ/src/mekhq/gui/dialog/InsufficientAstechsNagDialog.java
  MekHQ/src/mekhq/gui/dialog/InsufficientMedicsNagDialog.java
  MekHQ/src/mekhq/gui/dialog/MekHqOptionsDialog.java
  MekHQ/src/mekhq/gui/dialog/OutstandingScenariosNagDialog.java
  MekHQ/src/mekhq/gui/dialog/ShortDeploymentNagDialog.java
  MekHQ/src/mekhq/gui/dialog/UnmaintainedUnitsNagDialog.java
  MekHQ/src/mekhq/gui/dialog/UnresolvedStratConContactsNagDialog.java
Labels: bug, enhancement, gui

#2690 2636/2658: AdvanceDaysDialog Rework: Advancement-based Modality, Expanded Buttons, Persistent Daily Report
  MekHQ/resources/mekhq/resources/AdvanceDaysDialog.properties
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/src/mekhq/campaign/event/ReportEvent.java
  MekHQ/src/mekhq/gui/CampaignGUI.java
  MekHQ/src/mekhq/gui/DailyReportLogPanel.java
  MekHQ/src/mekhq/gui/dialog/AdvanceDaysDialog.java
Labels: enhancement, gui

#2691 Build Failure Fix: ResolveScenarioWizardDialog Uses Standardized EntityReadoutDialog
  MekHQ/src/mekhq/gui/dialog/ResolveScenarioWizardDialog.java
Labels: Blocker

#2694 Hangar Tab: Maintenance Colour No Longer Shows with Maintenance Disabled
  MekHQ/src/mekhq/gui/model/UnitTableModel.java
Labels: bug, gui

#2697 2116/2589: Improving Rank and Title Sorting
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/gui/HangarTab.java
  MekHQ/src/mekhq/gui/InfirmaryTab.java
  MekHQ/src/mekhq/gui/PersonnelTab.java
  MekHQ/src/mekhq/gui/dialog/BatchXPDialog.java
  MekHQ/src/mekhq/gui/dialog/RetirementDefectionDialog.java
  MekHQ/src/mekhq/gui/model/UnitTableModel.java
  MekHQ/src/mekhq/gui/sorter/PersonRankSorter.java
  MekHQ/src/mekhq/gui/sorter/PersonRankStringSorter.java
  MekHQ/src/mekhq/gui/sorter/PersonTitleSorter.java
  MekHQ/src/mekhq/gui/sorter/PersonTitleStringSorter.java
  MekHQ/src/mekhq/gui/sorter/RankSorter.java
Labels: enhancement, gui

#2693 GM Tools Dialog Rewrite
  MekHQ/resources/mekhq/resources/GMToolsDialog.properties
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/src/mekhq/campaign/personnel/Bloodname.java
  MekHQ/src/mekhq/campaign/personnel/Clan.java
  MekHQ/src/mekhq/campaign/universe/Faction.java
  MekHQ/src/mekhq/gui/CampaignGUI.java
  MekHQ/src/mekhq/gui/dialog/GMToolsDialog.java
  MekHQ/src/mekhq/gui/displayWrappers/ClanDisplay.java
  MekHQ/src/mekhq/gui/displayWrappers/FactionDisplay.java
Labels: enhancement, gui

#2699 GM Tools Dialog: Fixing a missing gridwidth line
  MekHQ/src/mekhq/gui/dialog/GMToolsDialog.java
Labels: bug, gui

#2422 Improve simple accessibility faults
  MekHQ/resources/mekhq/resources/DataLoadingDialog.properties
  MekHQ/src/mekhq/gui/CampaignGUI.java
  MekHQ/src/mekhq/gui/CommandCenterTab.java
  MekHQ/src/mekhq/gui/DailyReportLogPanel.java
  MekHQ/src/mekhq/gui/ForceRenderer.java
  MekHQ/src/mekhq/gui/StartUpGUI.java
  MekHQ/src/mekhq/gui/TOETab.java
  MekHQ/src/mekhq/gui/dialog/DataLoadingDialog.java
  MekHQ/src/mekhq/gui/view/ForceViewPanel.java
  MekHQ/src/mekhq/gui/view/PersonViewPanel.java
Labels: Accessibility

#2711 2709: Two Scenario Date NPEs
  MekHQ/src/mekhq/campaign/mission/AtBContract.java
  MekHQ/src/mekhq/campaign/mission/Scenario.java
  MekHQ/src/mekhq/gui/dialog/OutstandingScenariosNagDialog.java
Labels: bug

#2713 2685: Preventing NPE when loading scenario save games
  MekHQ/src/mekhq/GameThread.java
  MekHQ/src/mekhq/MekHQ.java
  MekHQ/src/mekhq/gui/BriefingTab.java
Labels: AtB, bug

#2712 2707: Preventing text wrap in the person title JTable usages
  MekHQ/src/mekhq/campaign/personnel/Person.java
Labels: bug, gui

#2718 2717: Fixing Bulk Refit Complete/Cancel
  MekHQ/src/mekhq/gui/adapter/UnitTableMouseAdapter.java
Labels: bug

#2719 2717: Advance Days Dialog no longer based on modality
  MekHQ/src/mekhq/gui/dialog/AdvanceDaysDialog.java
Labels: bug, gui

#2721 2960: Fixing non-basic letters in the new camouflage setup
  MekHQ/data/images/camo/Capellan Confederation/Liao Chang-Cheng/2nd Liao Dragoons.jpg
  MekHQ/data/images/camo/Capellan Confederation/Liao Chang-Cheng/Ishara's Grenadiers.jpg
  MekHQ/data/images/camo/Capellan Confederation/Liao Chang-Cheng/Kamakura's Hussars.jpg
  MekHQ/data/images/camo/Capellan Confederation/Liao Chang-Cheng/Liao Reserves.jpg
  MekHQ/data/images/camo/Capellan Confederation/Liao Chang-Cheng/Renshield's Dragoons.jpg
  MekHQ/data/images/camo/Capellan Confederation/Liao Chang-Cheng/Syn's Hussars.jpg
  MekHQ/data/images/camo/Capellan Confederation/Liao Chang-Cheng/Vong's Grenadiers.jpg
  MekHQ/data/images/camo/Magistracy of Canopus/Chasseurs a Cheval/1st Canopian Light Horse.jpg
  MekHQ/data/images/camo/Magistracy of Canopus/Chasseurs a Cheval/2nd Canopian Light Horse.jpg
  MekHQ/data/images/camo/Magistracy of Canopus/Chasseurs a Cheval/3rd Canopian Light Horse.jpg
  MekHQ/data/images/camo/Pirates/Shen-se Tian.jpg
  MekHQ/src/mekhq/campaign/force/Force.java
  MekHQ/src/mekhq/campaign/io/CampaignXmlParser.java
  MekHQ/src/mekhq/campaign/io/Migration/CamouflageMigrator.java
  MekHQ/src/mekhq/campaign/mission/BotForce.java
  MekHQ/src/mekhq/campaign/unit/Unit.java
Labels: Bug, Data
