Repository MegaMek/mekhq, pull requests merged in 2023-02, with the labels that each got.

#3591 Swap Frame Uses to JFrame
  MekHQ/src/mekhq/MekHQ.java
  MekHQ/src/mekhq/gui/dialog/AddFundsDialog.java
  MekHQ/src/mekhq/gui/dialog/ChooseFactionsDialog.java
  MekHQ/src/mekhq/gui/dialog/ContractMarketDialog.java
  MekHQ/src/mekhq/gui/dialog/EditAssetDialog.java
  MekHQ/src/mekhq/gui/dialog/EditInjuryEntryDialog.java
  MekHQ/src/mekhq/gui/dialog/EditPersonnelHitsDialog.java
  MekHQ/src/mekhq/gui/dialog/EditPersonnelInjuriesDialog.java
  MekHQ/src/mekhq/gui/dialog/EditSkillPrereqDialog.java
  MekHQ/src/mekhq/gui/dialog/HireBulkPersonnelDialog.java
  MekHQ/src/mekhq/gui/dialog/HistoricalDailyReportDialog.java
  MekHQ/src/mekhq/gui/dialog/LargeCraftAmmoSwapDialog.java
  MekHQ/src/mekhq/gui/dialog/ManageAssetsDialog.java
  MekHQ/src/mekhq/gui/dialog/MassMothballDialog.java
  MekHQ/src/mekhq/gui/dialog/MercRosterDialog.java
  MekHQ/src/mekhq/gui/dialog/MissionTypeDialog.java
  MekHQ/src/mekhq/gui/dialog/NewLoanDialog.java
  MekHQ/src/mekhq/gui/dialog/NewPlanetaryEventDialog.java
  MekHQ/src/mekhq/gui/dialog/PartsStoreDialog.java
  MekHQ/src/mekhq/gui/dialog/PayCollateralDialog.java
  MekHQ/src/mekhq/gui/dialog/PersonnelMarketDialog.java
  MekHQ/src/mekhq/gui/dialog/PopupValueChoiceDialog.java
  MekHQ/src/mekhq/gui/dialog/RefitNameDialog.java
  MekHQ/src/mekhq/gui/dialog/SelectUnusedAbilityDialog.java
  MekHQ/src/mekhq/gui/dialog/SmallSVAmmoSwapDialog.java
Labels: Bug, Accessibility, GUI, Refactoring

#3586 Campaign Ops Unit Rating: Properly Calculate Admin Personnel Numbers
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/rating/CampaignOpsReputation.java
Labels: Bug, Unit Rating

#3589 Phenotype Enum: Migrating Uses to Simplification Methods
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/mission/AtBDynamicScenarioFactory.java
  MekHQ/src/mekhq/campaign/mission/BotForceRandomizer.java
  MekHQ/src/mekhq/campaign/personnel/Bloodname.java
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/campaign/personnel/generator/AbstractSkillGenerator.java
  MekHQ/src/mekhq/campaign/personnel/generator/DefaultPersonnelGenerator.java
  MekHQ/src/mekhq/gui/dialog/CustomizePersonDialog.java
  MekHQ/src/mekhq/gui/dialog/GMToolsDialog.java
  MekHQ/src/mekhq/gui/dialog/MedicalViewDialog.java
Labels: Refactoring

#3585 3573: Null Protect Adding Allied Entities to an Objective
  MekHQ/src/mekhq/campaign/mission/CommonObjectiveFactory.java
Labels: Bug, AtB

#3584 3576: Prevent Ultra-Light and Superheavy Scenario Assignment OutOfBounds NPEs
  MekHQ/src/mekhq/campaign/mission/AtBScenario.java
  MekHQ/src/mekhq/campaign/mission/atb/scenario/AceDuelBuiltInScenario.java
  MekHQ/src/mekhq/campaign/mission/atb/scenario/AlliedTraitorsBuiltInScenario.java
  MekHQ/src/mekhq/campaign/mission/atb/scenario/AmbushBuiltInScenario.java
  MekHQ/src/mekhq/campaign/mission/atb/scenario/CivilianHelpBuiltInScenario.java
  MekHQ/src/mekhq/campaign/mission/atb/scenario/OfficerDuelBuiltInScenario.java
  MekHQ/src/mekhq/campaign/mission/atb/scenario/PrisonBreakBuiltInScenario.java
  MekHQ/src/mekhq/campaign/mission/atb/scenario/StarLeagueCache1BuiltInScenario.java
  MekHQ/src/mekhq/campaign/mission/atb/scenario/StarLeagueCache2BuiltInScenario.java
  MekHQ/src/mekhq/campaign/mission/enums/AtBContractType.java
Labels: Bug, AtB

#3583 Campaign Preset: Prevent Preset From Loading in Older Versions
  MekHQ/src/mekhq/campaign/CampaignPreset.java
Labels: Bug

#3582 Company Generator: Prevent Preset From Loading in Older Versions
  MekHQ/src/mekhq/campaign/universe/companyGeneration/CompanyGenerationOptions.java
Labels: Bug

#3571 3569: Company Generation Dialog: Fixing Warning Option Names
  MekHQ/resources/mekhq/resources/GUI.properties
Labels: Bug, GUI

#3563 Base Components: Moving JDisableablePanel to MM
  MekHQ/src/mekhq/gui/baseComponents/JDisableablePanel.java
  MekHQ/src/mekhq/gui/panels/CompanyGenerationOptionsPanel.java
  MekHQ/src/mekhq/gui/panes/CampaignOptionsPane.java
Labels: Enhancement, GUI

#3564 MM4098: Adding Sprite Camouflage and Damage Export Options
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/src/mekhq/MHQConstants.java
  MekHQ/src/mekhq/MHQOptions.java
  MekHQ/src/mekhq/campaign/unit/Unit.java
  MekHQ/src/mekhq/gui/adapter/TOEMouseAdapter.java
  MekHQ/src/mekhq/gui/adapter/UnitTableMouseAdapter.java
  MekHQ/src/mekhq/gui/menus/ExportUnitSpriteMenu.java
Labels: Enhancement, GUI

#3566 3554: Null Protecting MechSummaryCache Return
  MekHQ/src/mekhq/gui/MekLabTab.java
Labels: Bug, Parts/Repair/Refit

#3581 Personnel Table: Adding Flag View
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/gui/PersonnelTab.java
  MekHQ/src/mekhq/gui/enums/PersonnelTabView.java
  MekHQ/src/mekhq/gui/enums/PersonnelTableModelColumn.java
  MekHQ/src/mekhq/gui/model/PersonnelTableModel.java
  MekHQ/unittests/mekhq/gui/enums/PersonnelTabViewTest.java
  MekHQ/unittests/mekhq/gui/enums/PersonnelTableModelColumnTest.java
Labels: Enhancement, GUI

#3544 2482: Interstellar Map: Add Contract Search and Planetary Acquisition Radius Options
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/src/mekhq/MHQConstants.java
  MekHQ/src/mekhq/MHQOptions.java
  MekHQ/src/mekhq/gui/InterstellarMapPanel.java
  MekHQ/src/mekhq/gui/dialog/MHQOptionsDialog.java
Labels: Enhancement, GUI

#3590 SPA: Tearing Out Unused Implant and Edge Code and Fixing New Campaign Options Reset
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/CampaignPreset.java
  MekHQ/src/mekhq/campaign/personnel/SkillType.java
  MekHQ/src/mekhq/campaign/personnel/SpecialAbility.java
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
  MekHQ/src/mekhq/gui/dialog/CampaignExportWizard.java
  MekHQ/src/mekhq/gui/dialog/CreateCampaignPresetDialog.java
  MekHQ/src/mekhq/gui/dialog/DataLoadingDialog.java
  MekHQ/src/mekhq/gui/dialog/EditSpecialAbilityDialog.java
  MekHQ/src/mekhq/gui/dialog/SelectAbilitiesDialog.java
  MekHQ/src/mekhq/gui/dialog/SelectUnusedAbilityDialog.java
  MekHQ/src/mekhq/gui/panes/CampaignOptionsPane.java
Labels: Bug, Refactoring

#3546 Campaign Options: Move Contract Search Radius and Variable Contract Length to Contract Market
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/campaign/market/ContractMarket.java
  MekHQ/src/mekhq/campaign/universe/RandomFactionGenerator.java
  MekHQ/src/mekhq/gui/dialog/NewAtBContractDialog.java
  MekHQ/src/mekhq/gui/panes/CampaignOptionsPane.java
  MekHQ/unittests/mekhq/campaign/market/ContractMarketAtBGenerationTests.java
Labels: Enhancement

#3561 Campaign Options Dialog: Fixing Random Retirement Panel Name
  MekHQ/src/mekhq/gui/panes/CampaignOptionsPane.java
Labels: Bug, GUI

#3560 RandomFactionGenerator: Migrating Constants to MHQConstants
  MekHQ/src/mekhq/MHQConstants.java
  MekHQ/src/mekhq/campaign/universe/RandomFactionGenerator.java
Labels: Refactoring

#3557 Yearly Retirement Nag Now Follows Campaign Options
  MekHQ/src/mekhq/campaign/Campaign.java
Labels: Bug, AtB, Personnel

#3551 Campaign Options: Fixing Financial Year Tool Tip Option Typo
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
Labels: Bug, GUI

#3559 Campaign GUI Simplification
  MekHQ/src/mekhq/gui/CampaignGUI.java
  MekHQ/src/mekhq/gui/adapter/PartsTableMouseAdapter.java
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
  MekHQ/src/mekhq/gui/adapter/UnitTableMouseAdapter.java
Labels: Refactoring

#3567 BaseComponents: Migrate Nag Dialog Baseline to MM
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/src/mekhq/gui/baseComponents/AbstractMHQNagDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/InsufficientAstechTimeNagDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/InsufficientAstechsNagDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/InsufficientMedicsNagDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/OutstandingScenariosNagDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/ShortDeploymentNagDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/UnmaintainedUnitsNagDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/UnresolvedStratConContactsNagDialog.java
Labels: Enhancement, GUI

#3550 SkillLevel Enum: Isolated Setup Swapover
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/campaign/market/PersonnelMarketRandom.java
  MekHQ/src/mekhq/campaign/mission/AtBDynamicScenarioFactory.java
  MekHQ/src/mekhq/campaign/mission/AtBScenario.java
  MekHQ/src/mekhq/campaign/mission/atb/AtBScenarioModifierApplicator.java
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/campaign/personnel/Skill.java
  MekHQ/src/mekhq/campaign/personnel/SkillType.java
  MekHQ/src/mekhq/campaign/personnel/Skills.java
  MekHQ/src/mekhq/campaign/rating/AbstractUnitRating.java
  MekHQ/src/mekhq/campaign/rating/CampaignOpsReputation.java
  MekHQ/src/mekhq/campaign/rating/FieldManualMercRevDragoonsRating.java
  MekHQ/src/mekhq/campaign/rating/IUnitRating.java
  MekHQ/src/mekhq/gui/CampaignGUI.java
  MekHQ/src/mekhq/gui/CommandCenterTab.java
  MekHQ/src/mekhq/gui/adapter/TOEMouseAdapter.java
  MekHQ/src/mekhq/gui/dialog/BatchXPDialog.java
  MekHQ/src/mekhq/gui/dialog/EditSkillPrereqDialog.java
  MekHQ/src/mekhq/gui/enums/PersonnelTableModelColumn.java
  MekHQ/src/mekhq/gui/menus/AssignUnitToPersonMenu.java
  MekHQ/src/mekhq/gui/menus/AssignUnitToTechMenu.java
  MekHQ/src/mekhq/gui/panes/CampaignOptionsPane.java
  MekHQ/src/mekhq/gui/view/ForceViewPanel.java
  MekHQ/unittests/mekhq/campaign/CampaignTest.java
  MekHQ/unittests/mekhq/campaign/rating/CampaignOpsReputationTest.java
  MekHQ/unittests/mekhq/campaign/rating/FieldManualMercRevDragoonsRatingTest.java
Labels: Enhancement, Personnel

#3588 New Scenario Modifiers
  MekHQ/data/scenariomodifiers/ArmednArmored.xml
  MekHQ/data/scenariomodifiers/Elites.xml
  MekHQ/data/scenariomodifiers/EnemyAirPatrol.xml
  MekHQ/data/scenariomodifiers/EnemyCommanderMech.xml
  MekHQ/data/scenariomodifiers/EnemyMechPatrol.xml
  MekHQ/data/scenariomodifiers/EnemyOfficerMech.xml
  MekHQ/data/scenariomodifiers/SuperiorEquipment.xml
  MekHQ/data/scenariomodifiers/airBattleModifiers.xml
  MekHQ/data/scenariomodifiers/groundBattleModifiers.xml
  MekHQ/data/scenariomodifiers/usermodifiermanifest.xml
  MekHQ/data/stratconfacilities/HostileBaseOfOperations.xml
  MekHQ/data/stratconfacilities/HostileDataCenter.xml
  MekHQ/data/stratconfacilities/HostileIndustrialFacility.xml
  MekHQ/data/stratconfacilities/HostileOrbitalDefense.xml
Labels: Data, StratCon

#3603 News Update
  MekHQ/data/universe/news.xml
Labels: Data

#3617 3592: Handling Procration for Returning Pregnant Personnel
  MekHQ/src/mekhq/campaign/personnel/Person.java
Labels: Bug, Personnel

#3616 3607: Properly Load Support Edge Option Text
  MekHQ/data/universe/defaultspa.xml
  MekHQ/src/mekhq/gui/dialog/CustomizePersonDialog.java
Labels: GUI, Blocker

#3615 3605: News Properly Shows in Advance Days Dialog
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/gui/CommandCenterTab.java
  MekHQ/src/mekhq/gui/dialog/AdvanceDaysDialog.java
Labels: GUI, Blocker

#3614 Unit Table Mouse Adapter: Only Allow Unit Assignments for Available Units
  MekHQ/src/mekhq/gui/menus/AssignUnitToPersonMenu.java
Labels: Bug, GUI

#3613 3547: Allow Specifying Maintenance Extra Time Outside of Mothballing, Activating, and Mothballed
  MekHQ/src/mekhq/gui/adapter/UnitTableMouseAdapter.java
Labels: Enhancement, GUI

#3612 Unit Market Pane: Fixing Missing Table Name
  MekHQ/src/mekhq/gui/panes/UnitMarketPane.java
Labels: Bug, GUI

#3611 Campaign Options Pane: Skill Randomization: Removing duplicated Elite Line
  MekHQ/src/mekhq/gui/panes/CampaignOptionsPane.java
Labels: Bug, GUI

#3606 3601: Fixing Nag Display and Specified Description Text
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/src/mekhq/gui/baseComponents/AbstractMHQNagDialog.java
Labels: GUI, Blocker

#3604 3599: Prevent Null Entity Generation Scenario Creation NPEs
  MekHQ/src/mekhq/campaign/mission/atb/scenario/AceDuelBuiltInScenario.java
  MekHQ/src/mekhq/campaign/mission/atb/scenario/OfficerDuelBuiltInScenario.java
  MekHQ/src/mekhq/campaign/mission/enums/AtBContractType.java
Labels: AtB, Blocker
