Repository MegaMek/mekhq, pull requests merged in 2024-04, with the labels that each got.

#3942 Added Nag Dialog for Prisoners of War Outside of Contracts
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/src/mekhq/MHQConstants.java
  MekHQ/src/mekhq/gui/CampaignGUI.java
  MekHQ/src/mekhq/gui/dialog/MHQOptionsDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/PrisonersNagDialog.java
Labels: Personnel, GUI

#3916 Add Tech/Vessel Column to Tech Skills View
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/src/mekhq/gui/enums/PersonnelTableModelColumn.java
  MekHQ/unittests/mekhq/gui/enums/PersonnelTableModelColumnTest.java
Labels: GUI

#3947 StratCon Air & Arty Modifiers
  MekHQ/data/scenariomodifiers/AlliedASFAce01.xml
  MekHQ/data/scenariomodifiers/EnemyASFAce01.xml
  MekHQ/data/scenariomodifiers/EnemyASFAce02.xml
  MekHQ/data/scenariomodifiers/EnemyFieldArtyCrack.xml
  MekHQ/data/scenariomodifiers/EnemyFieldArtyOffboard.xml
  MekHQ/data/scenariomodifiers/airBattleModifiers.xml
  MekHQ/data/scenariomodifiers/groundBattleModifiers.xml
  MekHQ/data/scenariomodifiers/modifiermanifest.xml
  MekHQ/data/scenariotemplates/fixedmuls/AlliedASFAceHvy.mul
  MekHQ/data/scenariotemplates/fixedmuls/EnemyASFAceHvy.mul
  MekHQ/data/scenariotemplates/fixedmuls/EnemyASFAceMed.mul
  MekHQ/data/scenariotemplates/fixedmuls/EnemyCrackFieldArty.mul
  MekHQ/data/scenariotemplates/fixedmuls/EnemyOffFieldArty.mul
Labels: StratCon

#3951 Variable OperationalVP Added to CommonObjectiveFactory.java
  MekHQ/src/mekhq/campaign/mission/CommonObjectiveFactory.java
  MekHQ/src/mekhq/campaign/mission/atb/scenario/AceDuelBuiltInScenario.java
  MekHQ/src/mekhq/campaign/mission/atb/scenario/AlliedTraitorsBuiltInScenario.java
  MekHQ/src/mekhq/campaign/mission/atb/scenario/AllyRescueBuiltInScenario.java
  MekHQ/src/mekhq/campaign/mission/atb/scenario/AmbushBuiltInScenario.java
  MekHQ/src/mekhq/campaign/mission/atb/scenario/BaseAttackBuiltInScenario.java
  MekHQ/src/mekhq/campaign/mission/atb/scenario/BreakthroughBuiltInScenario.java
  MekHQ/src/mekhq/campaign/mission/atb/scenario/ChaseBuiltInScenario.java
  MekHQ/src/mekhq/campaign/mission/atb/scenario/CivilianHelpBuiltInScenario.java
  MekHQ/src/mekhq/campaign/mission/atb/scenario/CivilianRiotBuiltInScenario.java
  MekHQ/src/mekhq/campaign/mission/atb/scenario/ConvoyAttackBuiltInScenario.java
  MekHQ/src/mekhq/campaign/mission/atb/scenario/ConvoyRescueBuiltInScenario.java
  MekHQ/src/mekhq/campaign/mission/atb/scenario/ExtractionBuiltInScenario.java
  MekHQ/src/mekhq/campaign/mission/atb/scenario/HideAndSeekBuiltInScenario.java
  MekHQ/src/mekhq/campaign/mission/atb/scenario/HoldTheLineBuiltInScenario.java
  MekHQ/src/mekhq/campaign/mission/atb/scenario/OfficerDuelBuiltInScenario.java
  MekHQ/src/mekhq/campaign/mission/atb/scenario/PirateFreeForAllBuiltInScenario.java
  MekHQ/src/mekhq/campaign/mission/atb/scenario/PrisonBreakBuiltInScenario.java
  MekHQ/src/mekhq/campaign/mission/atb/scenario/ProbeBuiltInScenario.java
  MekHQ/src/mekhq/campaign/mission/atb/scenario/ReconRaidBuiltInScenario.java
  MekHQ/src/mekhq/campaign/mission/atb/scenario/StandUpBuiltInScenario.java
  MekHQ/src/mekhq/campaign/mission/atb/scenario/StarLeagueCache1BuiltInScenario.java
  MekHQ/src/mekhq/campaign/mission/atb/scenario/StarLeagueCache2BuiltInScenario.java
Labels: AtB, Scenario Resolution

#3930 Prevent advancing day with pending vanilla scenarios
  MekHQ/resources/mekhq/resources/CampaignGUI.properties
  MekHQ/resources/mekhq/resources/CustomizeScenarioDialog.properties
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/gui/CampaignGUI.java
  MekHQ/src/mekhq/gui/dialog/CustomizeScenarioDialog.java
Labels: Story Arcs - RFE

#3937 Added Nag for Wounded Personnel without Doctor
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/src/mekhq/MHQConstants.java
  MekHQ/src/mekhq/gui/CampaignGUI.java
  MekHQ/src/mekhq/gui/dialog/MHQOptionsDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/UntreatedPersonnelNagDialog.java
  MekHQ/userdata/data/universe/ranks.xml
Labels: Personnel, GUI

#3901 add lances to the force string when sending data to megamek
  MekHQ/src/mekhq/AtBGameThread.java
  MekHQ/src/mekhq/GameThread.java
Labels: Enhancement

#3922 Add missing cockpit costs and weights
  MekHQ/src/mekhq/campaign/parts/MekCockpit.java
  MekHQ/src/mekhq/campaign/parts/MissingMekCockpit.java
Labels: Bug

#3944 Added Nag Dialog for Pregnant Combatants
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/src/mekhq/MHQConstants.java
  MekHQ/src/mekhq/gui/CampaignGUI.java
  MekHQ/src/mekhq/gui/dialog/MHQOptionsDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/PregnantCombatantNagDialog.java
Labels: Personnel, GUI

#3943 Unmaintained Unit Nag Dialog Suppressed for Units set to Salvage
  MekHQ/src/mekhq/gui/dialog/nagDialogs/UnmaintainedUnitsNagDialog.java
Labels: GUI

#3933 Clamped Unit Rating Mod for CamOps (redux)
  MekHQ/src/mekhq/campaign/Campaign.java
Labels: Bug, AtB

#3923 Hide Toughness When 0
  MekHQ/src/mekhq/gui/view/PersonViewPanel.java
Labels: Personnel, GUI

#3915 Added Dialog to Confirm New Campaign (redux)
  MekHQ/src/mekhq/gui/CampaignGUI.java
  MekHQ/src/mekhq/gui/dialog/NewCampaignConfirmationDialog.java
Labels: GUI, UX

#3908 Adjusted Default Tech Counts
  MekHQ/src/mekhq/campaign/universe/companyGeneration/CompanyGenerationOptions.java
Labels: Personnel, UX

#3968 Added Ability to Collapse/Expand Logs, Missions and Kills in Personnel Unit Screen
  MekHQ/resources/mekhq/resources/PersonViewPanel.properties
  MekHQ/src/mekhq/gui/view/PersonViewPanel.java
Labels: Personnel, GUI

#3985 Removed Unnecessary Error Log
  MekHQ/src/mekhq/campaign/Campaign.java
Labels: Bug

#3988 Added Scenario & Mission Tracking to Kills, Added Ability to Assign Kills to Scenario and/or Mission
  MekHQ/resources/mekhq/resources/AddOrEditKillEntryDialog.properties
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/Kill.java
  MekHQ/src/mekhq/campaign/ResolveScenarioTracker.java
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
  MekHQ/src/mekhq/gui/control/EditKillLogControl.java
  MekHQ/src/mekhq/gui/dialog/AddOrEditKillEntryDialog.java
  MekHQ/src/mekhq/gui/dialog/CampaignExportWizard.java
Labels: Awards, Personnel, GUI

#3990 Fixed Ship Search Overvaluing Ultra-Green Personnel
  MekHQ/src/mekhq/campaign/againstTheBot/AtBConfiguration.java
Labels: Bug, AtB

#4003 Fixed Untreated Personnel Nag Triggering for Prisoners.
  MekHQ/src/mekhq/gui/dialog/nagDialogs/UntreatedPersonnelNagDialog.java
Labels: Bug, Personnel, GUI

#4005 Add action listener for DialogOptionListeners
  MekHQ/src/mekhq/gui/dialog/CustomizePersonDialog.java
  MekHQ/src/mekhq/gui/dialog/QuirksDialog.java
Labels: For New Dev Cycle

#3975 Added Ability to Order Impossible TN Parts from Acquisitions Dialog.
  MekHQ/src/mekhq/gui/dialog/AcquisitionsDialog.java
Labels: Parts/Repair/Refit, GUI, For New Dev Cycle

#3969 Added Nag Dialog for Exceeding Cargo Capacity While Destination is Set
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/src/mekhq/MHQConstants.java
  MekHQ/src/mekhq/campaign/CampaignSummary.java
  MekHQ/src/mekhq/gui/CampaignGUI.java
  MekHQ/src/mekhq/gui/dialog/MHQOptionsDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/CargoCapacityNagDialog.java
Labels: GUI, For New Dev Cycle

#4033 Introduced a New Morale Level to Curb Invincible Morale Spikes in AtB & StratCon
  MekHQ/resources/mekhq/resources/Mission.properties
  MekHQ/src/mekhq/campaign/mission/enums/AtBMoraleLevel.java
  MekHQ/src/mekhq/campaign/stratcon/StratconRulesManager.java
Labels: AtB, UX

#3921 Retirement Overhaul (Wave One)
  MekHQ/docs/AtB Stuff/Against_the_bot.txt
  MekHQ/docs/AtB Stuff/AtB documentation.19_8 (WIP).txt
  MekHQ/docs/AtB Stuff/Employee Turnover Guide.pdf
  MekHQ/resources/mekhq/resources/CampaignGUI.properties
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/resources/mekhq/resources/Personnel.properties
  MekHQ/resources/mekhq/resources/RetirementDefectionDialog.properties
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/campaign/personnel/RetirementDefectionTracker.java
  MekHQ/src/mekhq/gui/dialog/RetirementDefectionDialog.java
  MekHQ/src/mekhq/gui/model/RetirementTableModel.java
Labels: AtB, Personnel, For New Dev Cycle
