Repository MegaMek/mekhq, pull requests merged in 2024-12, with the labels that each got.

#5263 Refactored Strategic Formation Weight Categories
  MekHQ/src/mekhq/AtBGameThread.java
  MekHQ/src/mekhq/campaign/force/StrategicFormation.java
Labels: Bug

#5266 Refactored Morale Calculations and Logging
  MekHQ/src/mekhq/campaign/mission/AtBContract.java
  MekHQ/src/mekhq/campaign/stratcon/StratconRulesManager.java
Labels: StratCon

#5279 Corrected Availability Syntax in `3075.xml`
  MekHQ/data/forcegenerator/3075.xml
Labels: Bug

#5273 Implemented Advanced StratCon Reinforcements
  MekHQ/data/scenariotemplates/Low-Atmosphere Reinforcements Intercepted.xml
  MekHQ/data/scenariotemplates/Reinforcements Intercepted.xml
  MekHQ/data/scenariotemplates/Space Reinforcements Intercepted.xml
  MekHQ/resources/mekhq/resources/AtBStratCon.properties
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/mission/AtBDynamicScenario.java
  MekHQ/src/mekhq/campaign/mission/AtBDynamicScenarioFactory.java
  MekHQ/src/mekhq/campaign/stratcon/StratconContractInitializer.java
  MekHQ/src/mekhq/campaign/stratcon/StratconRulesManager.java
  MekHQ/src/mekhq/gui/stratcon/StratconScenarioWizard.java
Labels: StratCon

#5274 Improved Logging for Force Generation Process.
  MekHQ/src/mekhq/campaign/mission/AtBDynamicScenarioFactory.java
  MekHQ/src/mekhq/campaign/mission/atb/AtBScenarioModifierApplicator.java
Labels: Force Generation

#5280 Centralized Formation Size Logic & Adjusted Contract Required Lance Count
  MekHQ/resources/mekhq/resources/ContractMarketDialog.properties
  MekHQ/resources/mekhq/resources/NewContractDialog.properties
  MekHQ/src/mekhq/campaign/force/StrategicFormation.java
  MekHQ/src/mekhq/campaign/market/contractMarket/AbstractContractMarket.java
  MekHQ/src/mekhq/campaign/market/contractMarket/AtbMonthlyContractMarket.java
  MekHQ/src/mekhq/campaign/market/contractMarket/CamOpsContractMarket.java
  MekHQ/src/mekhq/campaign/mission/AtBContract.java
  MekHQ/src/mekhq/campaign/mission/AtBDynamicScenarioFactory.java
  MekHQ/src/mekhq/campaign/mission/CommonObjectiveFactory.java
  MekHQ/src/mekhq/campaign/mission/atb/AtBScenarioModifierApplicator.java
  MekHQ/src/mekhq/gui/view/ContractSummaryPanel.java
  MekHQ/src/mekhq/gui/view/LanceAssignmentView.java
Labels: StratCon

#5282 Refactored CVP Conversion to Removal of CVP.
  MekHQ/src/mekhq/campaign/stratcon/StratconCampaignState.java
  MekHQ/src/mekhq/gui/stratcon/CampaignManagementDialog.java
Labels: StratCon

#5283 Adjusted Support Points Negotiation Logic
  MekHQ/src/mekhq/campaign/Campaign.java
Labels: StratCon

#5284 Remove Origin Node Name from Lance Assignment Table
  MekHQ/src/mekhq/gui/view/LanceAssignmentView.java
Labels: GUI

#5287 Added Sector Column to `ScenarioTableModel`
  MekHQ/resources/mekhq/resources/ScenarioTableModel.properties
  MekHQ/src/mekhq/gui/model/ScenarioTableModel.java
Labels: GUI

#5289 Fixed `SVArmor` Price Calculation
  MekHQ/src/mekhq/campaign/parts/SVArmor.java
Labels: Bug

#5291 Adjusted TO&E Menu Option Availability
  MekHQ/src/mekhq/gui/adapter/TOEMouseAdapter.java
  MekHQ/src/mekhq/gui/handler/TOETransferHandler.java
Labels: GUI, StratCon

#5293 Corrected Further XML Availability Formatting Errors
  MekHQ/data/forcegenerator/2823.xml
  MekHQ/data/forcegenerator/3075.xml
  MekHQ/data/forcegenerator/3085.xml
Labels: Bug, Data

#5281 Refactored Leadership Unit Selection Logic
  MekHQ/resources/mekhq/resources/AtBStratCon.properties
  MekHQ/src/mekhq/campaign/stratcon/StratconRulesManager.java
  MekHQ/src/mekhq/campaign/stratcon/StratconScenario.java
  MekHQ/src/mekhq/gui/stratcon/ScenarioWizardUnitRenderer.java
  MekHQ/src/mekhq/gui/stratcon/StratconScenarioWizard.java
Labels: StratCon

#5286 Removed Predictable Scenario Generation Schedule
  MekHQ/src/mekhq/campaign/icons/enums/LayeredForceIconOperationalStatus.java
  MekHQ/src/mekhq/campaign/stratcon/StratconCampaignState.java
  MekHQ/src/mekhq/campaign/stratcon/StratconRulesManager.java
Labels: StratCon

#5290 Added Recalculation of Scenario Objectives when Assigning Forces
  MekHQ/src/mekhq/gui/stratcon/StratconScenarioWizard.java
Labels: Bug, StratCon

#5292 Updated Sector Display & Expanded Scenario Information
  MekHQ/resources/mekhq/resources/Mission.properties
  MekHQ/src/mekhq/campaign/mission/AtBDynamicScenario.java
  MekHQ/src/mekhq/campaign/mission/AtBDynamicScenarioFactory.java
  MekHQ/src/mekhq/campaign/stratcon/StratconScenario.java
  MekHQ/src/mekhq/gui/StratconPanel.java
  MekHQ/src/mekhq/gui/StratconTab.java
  MekHQ/src/mekhq/gui/stratcon/StratconScenarioWizard.java
Labels: GUI, StratCon

#5294 Fixed Typo in 'Fourth Succession War' Naming
  MekHQ/resources/mekhq/resources/DateChooser.properties
  MekHQ/src/mekhq/gui/dialog/DateChooser.java
Labels: Bug, Data, GUI

#5295 Issue 5256: Refactored MekHQ Unit's Gunners to be Set to ensure gunners are unique
  MekHQ/src/mekhq/campaign/unit/Unit.java
  MekHQ/src/mekhq/campaign/unit/actions/HirePersonnelUnitAction.java
  MekHQ/unittests/mekhq/campaign/unit/UnitPersonTest.java
  MekHQ/unittests/mekhq/gui/model/UnitTableModelTest.java
Labels: Bug

#5296 Simplified Modifier Briefing Text in `AtBScenarioModifier`
  MekHQ/src/mekhq/campaign/mission/atb/AtBScenarioModifier.java
  MekHQ/src/mekhq/campaign/stratcon/StratconRulesManager.java
Labels: GUI

#5297 Enhanced Formatting in StratCon Scenario Information
  MekHQ/src/mekhq/campaign/stratcon/StratconScenario.java
  MekHQ/src/mekhq/gui/StratconPanel.java
  MekHQ/src/mekhq/gui/stratcon/StratconScenarioWizard.java
Labels: StratCon

#5298 Issue 5195: Made completion/finished by day calculation unambiguous
  MekHQ/src/mekhq/campaign/Campaign.java
Labels: Bug, Parts/Repair/Refit

#5307 Fixed Theatre of War Faction Checks
  MekHQ/src/mekhq/campaign/personnel/autoAwards/TheatreOfWarAwards.java
  MekHQ/src/mekhq/gui/dialog/AutoAwardsDialog.java
  MekHQ/src/mekhq/gui/model/AutoAwardsTableModel.java
Labels: Bug, Awards

#5314 Improved Unit Substitution
  MekHQ/data/scenariotemplates/Convoy Escort.xml
  MekHQ/data/scenariotemplates/Convoy Interdiction.xml
  MekHQ/data/scenariotemplates/Convoy Raid.xml
  MekHQ/data/scenariotemplates/Critical Convoy Escort.xml
  MekHQ/src/mekhq/campaign/mission/AtBDynamicScenarioFactory.java
Labels: Bug, Force Generation

#5355 Disable Advance Day Button While Advance Day is in Progress
  MekHQ/src/mekhq/gui/CampaignGUI.java
Labels: GUI

#5338 Removed VIP Capture Scenarios, Added Role Templates, Fixed Objectives
  MekHQ/data/scenariomodifiers/AlliedAirSupportBombers.xml
  MekHQ/data/scenariomodifiers/AlliedOfficerMek.xml
  MekHQ/data/scenariomodifiers/EnemyAirSupportBombers.xml
  MekHQ/data/scenariomodifiers/EnemyCommanderMek.xml
  MekHQ/data/scenariomodifiers/EnemyOfficerMek.xml
  MekHQ/data/scenariomodifiers/HouseOfficerAir.xml
  MekHQ/data/scenariomodifiers/HouseOfficerGround.xml
  MekHQ/data/scenariomodifiers/LiaisonAir.xml
  MekHQ/data/scenariomodifiers/LiaisonGround.xml
  MekHQ/data/scenariotemplates/Assassination.xml
  MekHQ/data/scenariotemplates/Close Air Support.xml
  MekHQ/data/scenariotemplates/Convoy Escort.xml
  MekHQ/data/scenariotemplates/Critical Convoy Escort.xml
  MekHQ/data/scenariotemplates/Deep Raid Defense.xml
  MekHQ/data/scenariotemplates/Frontline VIP Capture.xml
  MekHQ/data/scenariotemplates/Heavy Recon Evasion.xml
  MekHQ/data/scenariotemplates/Intercept Engagement.xml
  MekHQ/data/scenariotemplates/Interception Defense.xml
  MekHQ/data/scenariotemplates/Irregular Force Assault.xml
  MekHQ/data/scenariotemplates/Isolated DropShip Defense.xml
  MekHQ/data/scenariotemplates/Low-Atmosphere DropShip Assault.xml
  MekHQ/data/scenariotemplates/Low-Atmosphere DropShip Escort.xml
  MekHQ/data/scenariotemplates/Low-Atmosphere Reinforcements Intercepted.xml
  MekHQ/data/scenariotemplates/Picket Line Breakthrough.xml
  MekHQ/data/scenariotemplates/Recon Evasion.xml
  MekHQ/data/scenariotemplates/Reconnaissance Interdiction.xml
  MekHQ/data/scenariotemplates/Reinforcements Intercepted.xml
  MekHQ/data/scenariotemplates/Remote VIP Capture.xml
  MekHQ/data/scenariotemplates/ScenarioManifest.xml
  MekHQ/data/scenariotemplates/Space Blockade Run.xml
  MekHQ/data/scenariotemplates/Space DropShip Intercept.xml
  MekHQ/data/scenariotemplates/Space Reinforcements Intercepted.xml
  MekHQ/data/scenariotemplates/VIP Ambush.xml
  MekHQ/data/scenariotemplates/VIP Defense.xml
Labels: Force Generation

#5340 Renamed `Strategic Formations` to `Combat Teams`
  MekHQ/src/mekhq/AtBGameThread.java
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/force/CombatTeam.java
  MekHQ/src/mekhq/campaign/force/Force.java
  MekHQ/src/mekhq/campaign/io/CampaignXmlParser.java
  MekHQ/src/mekhq/campaign/market/contractMarket/AbstractContractMarket.java
  MekHQ/src/mekhq/campaign/mission/AtBContract.java
  MekHQ/src/mekhq/campaign/mission/AtBDynamicScenario.java
  MekHQ/src/mekhq/campaign/mission/AtBDynamicScenarioFactory.java
  MekHQ/src/mekhq/campaign/mission/AtBScenario.java
  MekHQ/src/mekhq/campaign/mission/CommonObjectiveFactory.java
  MekHQ/src/mekhq/campaign/mission/atb/AtBScenarioFactory.java
  MekHQ/src/mekhq/campaign/mission/atb/AtBScenarioModifierApplicator.java
  MekHQ/src/mekhq/campaign/mission/atb/scenario/BaseAttackBuiltInScenario.java
  MekHQ/src/mekhq/campaign/mission/atb/scenario/BreakthroughBuiltInScenario.java
  MekHQ/src/mekhq/campaign/mission/atb/scenario/ChaseBuiltInScenario.java
  MekHQ/src/mekhq/campaign/mission/atb/scenario/ExtractionBuiltInScenario.java
  MekHQ/src/mekhq/campaign/mission/atb/scenario/HideAndSeekBuiltInScenario.java
  MekHQ/src/mekhq/campaign/mission/atb/scenario/HoldTheLineBuiltInScenario.java
  MekHQ/src/mekhq/campaign/mission/atb/scenario/ProbeBuiltInScenario.java
  MekHQ/src/mekhq/campaign/mission/atb/scenario/ReconRaidBuiltInScenario.java
  MekHQ/src/mekhq/campaign/mission/atb/scenario/StandUpBuiltInScenario.java
  MekHQ/src/mekhq/campaign/personnel/autoAwards/MiscAwards.java
  MekHQ/src/mekhq/campaign/stratcon/StratconRulesManager.java
  MekHQ/src/mekhq/gui/BriefingTab.java
  MekHQ/src/mekhq/gui/ForceRenderer.java
  MekHQ/src/mekhq/gui/adapter/TOEMouseAdapter.java
  MekHQ/src/mekhq/gui/panes/CampaignOptionsPane.java
  MekHQ/src/mekhq/gui/stratcon/ScenarioWizardLanceRenderer.java
  MekHQ/src/mekhq/gui/view/AtBScenarioViewPanel.java
  MekHQ/src/mekhq/gui/view/LanceAssignmentView.java
Labels: Refactoring

#5351 Refactored Required Lances Calculation Logic
  MekHQ/src/mekhq/campaign/market/contractMarket/AbstractContractMarket.java
Labels: Bug, UX

#5352 Refactored Objective Time Scaling to Handle Edge Cases.
  MekHQ/src/mekhq/campaign/mission/AtBDynamicScenarioFactory.java
Labels: Bug

#5353 Corrected Briefing Room Unit Editing Menu Condition
  MekHQ/src/mekhq/gui/view/AtBScenarioViewPanel.java
Labels: Bug, GUI

#5354 Reassigned StratCon Force Assignment Picker as Modal
  MekHQ/src/mekhq/gui/stratcon/TrackForceAssignmentUI.java
Labels: Bug, GUI, StratCon

#5357 Fixed Multiple-Nag Bug by Refactoring in-app New Campaign Handling
  MekHQ/resources/mekhq/resources/CampaignGUI.properties
  MekHQ/src/mekhq/MekHQ.java
  MekHQ/src/mekhq/gui/CampaignGUI.java
  MekHQ/src/mekhq/gui/dialog/CampaignOptionsDialog.java
  MekHQ/src/mekhq/gui/dialog/DataLoadingDialog.java
  MekHQ/src/mekhq/gui/dialog/NewCampaignConfirmationDialog.java
  MekHQ/src/mekhq/gui/panels/StartupScreenPanel.java
Labels: Bug, GUI

#5359 Simplified Splash Screen Button Text
  MekHQ/resources/mekhq/resources/GUI.properties
Labels: GUI

#5361 Refactored StratCon Tab Layout and Improved UI Design.
  MekHQ/src/mekhq/gui/StratconTab.java
Labels: GUI, StratCon

#5362 Scouts, Scout: Refactored StratCon Scenario Deployment to Support Scout Role Behavior
  MekHQ/src/mekhq/campaign/stratcon/StratconRulesManager.java
Labels: StratCon

#5346 Refactored Combat Team Validation Logic, Loosened Combat Team Requirements
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/force/CombatTeam.java
  MekHQ/src/mekhq/campaign/stratcon/StratconRulesManager.java
Labels: StratCon, Refactoring

#5366 Fixed Incorrect Color Usage for Quality Decline Messages
  MekHQ/src/mekhq/campaign/Campaign.java
Labels: GUI

#5363 Added Requirement for Training Lances to be Deployed to a StratCon Track
  MekHQ/src/mekhq/campaign/Campaign.java
Labels: StratCon

#5381 Removed Monthly & Mission Accomplished XP Awards from Children & Dependents
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/gui/BriefingTab.java
Labels: Bug

#5364 Renamed 'Unassigned' Combat Team Role to 'In Reserve'
  MekHQ/resources/mekhq/resources/Mission.properties
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/campaign/force/CombatTeam.java
  MekHQ/src/mekhq/campaign/mission/AtBScenario.java
  MekHQ/src/mekhq/campaign/mission/enums/AtBContractType.java
  MekHQ/src/mekhq/campaign/mission/enums/AtBLanceRole.java
  MekHQ/src/mekhq/gui/view/LanceAssignmentView.java
Labels: AtB, GUI, StratCon

#5365 Refactored Logic for Retrieving Deployable Combat Forces
  MekHQ/src/mekhq/campaign/stratcon/StratconRulesManager.java
Labels: StratCon

#5387 Adjusted Marshaling and Unmarshaling of New AutoLogistics Module
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/io/CampaignXmlParser.java
Labels: Refactoring

#5393 Fixed Experience Rating Parsing to Handle Invalid Character
  MekHQ/src/mekhq/campaign/rating/CamOpsReputation/ReputationController.java
Labels: Bug, Unit Rating

#5395 Updated StratCon Deployment Mechanics
  MekHQ/src/mekhq/campaign/stratcon/StratconRulesManager.java
Labels: Bug, StratCon

#5396 Corrected Scenario Briefings by Removing Explicit Turn Limits.
  MekHQ/data/scenariotemplates/Deep Raid Defense.xml
  MekHQ/data/scenariotemplates/Deep Raid.xml
  MekHQ/data/scenariotemplates/DropShip Raid.xml
  MekHQ/data/scenariotemplates/Isolated DropShip Defense.xml
Labels: Bug

#5397 Prevent Reserved Formations from Being Deployed to StratCon
  MekHQ/src/mekhq/campaign/stratcon/StratconRulesManager.java
Labels: StratCon

#5398 Adjusted Dependent Addition & Removal Logic
  MekHQ/src/mekhq/campaign/Campaign.java
Labels: Bug, Personnel

#5399 Capped Negotiated StratCon Support Points at Sector Count
  MekHQ/src/mekhq/campaign/Campaign.java
Labels: Bug, StratCon

#5400 Removed Contract Breach References in Scenario and Loan Events
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/src/mekhq/gui/adapter/LoanTableMouseAdapter.java
Labels: GUI

#5401 Set Default Maintenance Multiplier for Salvaged Units
  MekHQ/src/mekhq/campaign/Campaign.java
Labels: Bug

#5403 Disabled Commit Forces Button when No Forces Selected
  MekHQ/src/mekhq/gui/stratcon/StratconScenarioWizard.java
Labels: Bug, StratCon

#5405 Fixed Force Commanders Changing on Load
  MekHQ/src/mekhq/campaign/force/Force.java
Labels: Bug, Refactoring

#5404 Refactored `StratconScenarioWizard` to use a Scroll Pane
  MekHQ/src/mekhq/gui/stratcon/StratconScenarioWizard.java
Labels: Bug, GUI, StratCon

#5158 Implemented Resupply Module
  MekHQ/data/scenariotemplates/Chasing a Rumor.xml
  MekHQ/data/scenariotemplates/Emergency Convoy Defense - Player - Low-Atmosphere.xml
  MekHQ/data/scenariotemplates/Emergency Convoy Defense - Player - VTOL.xml
  MekHQ/data/scenariotemplates/Emergency Convoy Defense - Player.xml
  MekHQ/data/scenariotemplates/Emergency Convoy Defense.xml
  MekHQ/mmconf/campaignPresets/Campaign Operations (StratCon).xml
  MekHQ/mmconf/campaignPresets/Campaign Operations.xml
  MekHQ/mmconf/campaignPresets/Complete Experience.xml
  MekHQ/mmconf/campaignPresets/New Pilot Program.xml
  MekHQ/mmconf/campaignPresets/Tabula Rasa.xml
  MekHQ/resources/mekhq/resources/Campaign.properties
  MekHQ/resources/mekhq/resources/CampaignGUI.properties
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/resources/mekhq/resources/ContractViewPanel.properties
  MekHQ/resources/mekhq/resources/PartsStoreDialog.properties
  MekHQ/resources/mekhq/resources/Resupply.properties
  MekHQ/src/mekhq/MekHQ.java
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/campaign/force/Force.java
  MekHQ/src/mekhq/campaign/market/contractMarket/ContractAutomation.java
  MekHQ/src/mekhq/campaign/market/procurement/Procurement.java
  MekHQ/src/mekhq/campaign/mission/AtBContract.java
  MekHQ/src/mekhq/campaign/mission/AtBDynamicScenarioFactory.java
  MekHQ/src/mekhq/campaign/mission/Scenario.java
  MekHQ/src/mekhq/campaign/mission/ScenarioObjectiveProcessor.java
  MekHQ/src/mekhq/campaign/mission/ScenarioTemplate.java
  MekHQ/src/mekhq/campaign/mission/enums/ScenarioType.java
  MekHQ/src/mekhq/campaign/mission/resupplyAndCaches/GenerateResupplyContents.java
  MekHQ/src/mekhq/campaign/mission/resupplyAndCaches/PerformResupply.java
  MekHQ/src/mekhq/campaign/mission/resupplyAndCaches/Resupply.java
  MekHQ/src/mekhq/campaign/mission/resupplyAndCaches/ResupplyUtilities.java
  MekHQ/src/mekhq/campaign/mission/resupplyAndCaches/StarLeagueCache.java
  MekHQ/src/mekhq/campaign/stratcon/StratconCampaignState.java
  MekHQ/src/mekhq/campaign/stratcon/StratconContractInitializer.java
  MekHQ/src/mekhq/campaign/stratcon/StratconRulesManager.java
  MekHQ/src/mekhq/gui/BriefingTab.java
  MekHQ/src/mekhq/gui/ForceRenderer.java
  MekHQ/src/mekhq/gui/StratconTab.java
  MekHQ/src/mekhq/gui/adapter/TOEMouseAdapter.java
  MekHQ/src/mekhq/gui/dialog/AcquisitionsDialog.java
  MekHQ/src/mekhq/gui/dialog/ContractMarketDialog.java
  MekHQ/src/mekhq/gui/dialog/PartsStoreDialog.java
  MekHQ/src/mekhq/gui/dialog/ResolveScenarioWizardDialog.java
  MekHQ/src/mekhq/gui/dialog/resupplyAndCaches/DialogAbandonedConvoy.java
  MekHQ/src/mekhq/gui/dialog/resupplyAndCaches/DialogContractStart.java
  MekHQ/src/mekhq/gui/dialog/resupplyAndCaches/DialogInterception.java
  MekHQ/src/mekhq/gui/dialog/resupplyAndCaches/DialogItinerary.java
  MekHQ/src/mekhq/gui/dialog/resupplyAndCaches/DialogPlayerConvoyOption.java
  MekHQ/src/mekhq/gui/dialog/resupplyAndCaches/DialogResupplyFocus.java
  MekHQ/src/mekhq/gui/dialog/resupplyAndCaches/DialogRoleplayEvent.java
  MekHQ/src/mekhq/gui/dialog/resupplyAndCaches/DialogSwindled.java
  MekHQ/src/mekhq/gui/dialog/resupplyAndCaches/ResupplyDialogUtilities.java
  MekHQ/src/mekhq/gui/panes/CampaignOptionsPane.java
  MekHQ/src/mekhq/gui/stratcon/CampaignManagementDialog.java
  MekHQ/src/mekhq/gui/view/ForceViewPanel.java
  MekHQ/src/mekhq/gui/view/MissionViewPanel.java
  MekHQ/src/mekhq/utilities/EntityUtilities.java
  MekHQ/src/mekhq/utilities/ImageUtilities.java
Labels: StratCon

#5413 Refactored StratCon Campaign Management Dialog
  MekHQ/resources/mekhq/resources/AtBStratCon.properties
  MekHQ/src/mekhq/gui/stratcon/CampaignManagementDialog.java
Labels: Bug, GUI, StratCon

#5416 Fixed Incorrect Ordering in Personnel Status Change Switch
  MekHQ/src/mekhq/campaign/personnel/Person.java
Labels: Bug, Personnel

#5417 Refactored Personnel Handling on New Day
  MekHQ/src/mekhq/campaign/Campaign.java
Labels: Refactoring

#5418 Fixed Divorce Logic
  MekHQ/src/mekhq/campaign/personnel/divorce/AbstractDivorce.java
Labels: Bug, Personnel, Refactoring

#5419 Improved StratCon Force Picker & Renamed `LayeredForceIconOperationalStatus` to `OperationalStatus`
  MekHQ/src/mekhq/campaign/force/Force.java
  MekHQ/src/mekhq/campaign/icons/enums/OperationalStatus.java
  MekHQ/src/mekhq/campaign/stratcon/StratconRulesManager.java
  MekHQ/src/mekhq/gui/stratcon/ScenarioWizardLanceModel.java
  MekHQ/src/mekhq/gui/stratcon/ScenarioWizardLanceRenderer.java
  MekHQ/src/mekhq/gui/stratcon/ScenarioWizardUnitRenderer.java
Labels: GUI, StratCon, Refactoring

#5421 Set Minimum Target Skill Level in Mass Training Dialog to 1
  MekHQ/src/mekhq/gui/dialog/BatchXPDialog.java
Labels: Bug

#5422 Added Missing Tile Images to Stratcon Biome Manifest
  MekHQ/data/images/stratcon/Stratcon_Cold_Facility.png
  MekHQ/data/images/stratcon/Stratcon_Frozen_Facility.png
  MekHQ/data/images/stratcon/Stratcon_Hot_Facility.png
  MekHQ/data/images/stratcon/Stratcon_Temperate_Facility.png
  MekHQ/data/stratconbiomedefinitions/StratconBiomeManifest.xml
Labels: Bug, StratCon

#5423 Updated TO&E to Use "Support" Term instead of "Non-Combat"
  MekHQ/src/mekhq/campaign/force/Force.java
  MekHQ/src/mekhq/gui/adapter/TOEMouseAdapter.java
  MekHQ/src/mekhq/gui/view/ForceViewPanel.java
Labels: GUI

#5424 Fixed NPE in Caused by Deployment Attempt in Integrated Command
  MekHQ/src/mekhq/campaign/stratcon/StratconScenario.java
  MekHQ/src/mekhq/gui/StratconPanel.java
Labels: Bug, StratCon

#5425 Added Notification for Users Attempting to Manually Deploy on Integrated Commands
  MekHQ/src/mekhq/gui/StratconPanel.java
Labels: GUI, StratCon, UX

#5427 Fixed Unit Check in Combat Team Status Evaluation
  MekHQ/src/mekhq/campaign/force/CombatTeam.java
Labels: Bug

#5428 Added Combat Teams & Support Forces Documentation
  MekHQ/docs/Stratcon and Against the Bot/Combat Teams & Support Forces.pdf
Labels: Documentation

#5429 Archived Outdated Against the Bot Documentation
  MekHQ/docs/Archive Stuff/Against_the_Bot_Starter_Guide_v4.pdf
  MekHQ/docs/Archive Stuff/Against_the_bot.txt
  MekHQ/docs/Archive Stuff/AtB documentation.19_8 (WIP).txt
Labels: Documentation

#5434 Fixed Force Deployment Order Bug
  MekHQ/src/mekhq/campaign/mission/AtBDynamicScenarioFactory.java
  MekHQ/src/mekhq/campaign/stratcon/StratconRulesManager.java
  MekHQ/src/mekhq/campaign/stratcon/StratconScenario.java
  MekHQ/src/mekhq/gui/stratcon/StratconScenarioWizard.java
Labels: Bug, StratCon

#5435 Halved Duration of Recon Scenarios
  MekHQ/data/scenariotemplates/Heavy Recon Evasion.xml
  MekHQ/data/scenariotemplates/Recon Evasion.xml
  MekHQ/data/scenariotemplates/Reconnaissance Interdiction.xml
Labels: Force Generation

#5436 Adjusted Scenario Modifiers BV & Unit Count Contribution
  MekHQ/data/scenariomodifiers/AlliedASFAce01.xml
  MekHQ/data/scenariomodifiers/AlliedAirSupport.xml
  MekHQ/data/scenariomodifiers/AlliedAirSupportBombers.xml
  MekHQ/data/scenariomodifiers/AlliedArtyGarrison.xml
  MekHQ/data/scenariomodifiers/AlliedArtySupport.xml
  MekHQ/data/scenariomodifiers/AlliedCavLance.xml
  MekHQ/data/scenariomodifiers/AlliedHorseCav.xml
  MekHQ/data/scenariomodifiers/AlliedMekAceCRD.xml
  MekHQ/data/scenariomodifiers/AlliedMekAceGLT.xml
  MekHQ/data/scenariomodifiers/AlliedMekAceGOL.xml
  MekHQ/data/scenariomodifiers/AlliedMekAceOTT.xml
  MekHQ/data/scenariomodifiers/AlliedMekAceTBT.xml
  MekHQ/data/scenariomodifiers/AlliedMekGarrison.xml
  MekHQ/data/scenariomodifiers/AlliedOfficerMek.xml
  MekHQ/data/scenariomodifiers/AlliedTraineesAir.xml
  MekHQ/data/scenariomodifiers/AlliedTraineesGround.xml
  MekHQ/data/scenariomodifiers/AlliedTurrets.xml
  MekHQ/data/scenariomodifiers/FacilityAlliedEvac.xml
  MekHQ/data/scenariomodifiers/LocalGarrisonInfantry.xml
  MekHQ/data/scenariomodifiers/PrimaryAlliesAir.xml
  MekHQ/data/scenariomodifiers/PrimaryAlliesGround.xml
Labels: Force Generation

#5437 Added Further Edge Case Handling for Turn Limit Scenario Objectives
  MekHQ/src/mekhq/campaign/mission/AtBDynamicScenarioFactory.java
Labels: Bug

#5450 Fixed Combat Team Eligibility Check by Rolling Back Use of `getAllUnits()`
  MekHQ/src/mekhq/campaign/force/CombatTeam.java
Labels: Bug

#5449 Fixed Force Removal Bug in TO&E, Fixed Convoy-Support Force Option Bug
  MekHQ/src/mekhq/gui/adapter/TOEMouseAdapter.java
Labels: Bug, GUI

#5447 Refactored Conventional Fighter Handling in StratCon
  MekHQ/src/mekhq/campaign/mission/AtBDynamicScenarioFactory.java
Labels: StratCon, Force Generation

#5446 Updated Convoy Scenarios to Exclude BV and Unit Count Contribution for Convoy Units
  MekHQ/data/scenariotemplates/Convoy Escort.xml
  MekHQ/data/scenariotemplates/Critical Convoy Escort.xml
  MekHQ/data/scenariotemplates/Emergency Convoy Defense.xml
Labels: Force Generation

#5444 Removed Remaining Instance of Undeploy Functionality when StratCon is Enabled
  MekHQ/src/mekhq/gui/adapter/UnitTableMouseAdapter.java
Labels: StratCon

#5443 Updated Naming of AtBLanceRole Class, Added Auxiliaries Combat Role
  MekHQ/resources/mekhq/resources/AtBStratCon.properties
  MekHQ/resources/mekhq/resources/Mission.properties
  MekHQ/src/mekhq/AtBGameThread.java
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/campaign/autoresolve/converter/SetupForces.java
  MekHQ/src/mekhq/campaign/force/CombatTeam.java
  MekHQ/src/mekhq/campaign/mission/AtBDynamicScenarioFactory.java
  MekHQ/src/mekhq/campaign/mission/AtBScenario.java
  MekHQ/src/mekhq/campaign/mission/atb/scenario/BaseAttackBuiltInScenario.java
  MekHQ/src/mekhq/campaign/mission/atb/scenario/BreakthroughBuiltInScenario.java
  MekHQ/src/mekhq/campaign/mission/atb/scenario/ChaseBuiltInScenario.java
  MekHQ/src/mekhq/campaign/mission/enums/AtBContractType.java
  MekHQ/src/mekhq/campaign/mission/enums/CombatRole.java
  MekHQ/src/mekhq/campaign/stratcon/StratconRulesManager.java
  MekHQ/src/mekhq/gui/panes/CampaignOptionsPane.java
  MekHQ/src/mekhq/gui/stratcon/StratconScenarioWizard.java
  MekHQ/src/mekhq/gui/view/LanceAssignmentView.java
  MekHQ/unittests/mekhq/campaign/autoresolve/ResolverTest.java
Labels: AtB, StratCon

#5454 Feat/acar mode selection
  MekHQ/data/images/misc/MekHQ AutoResolve.png
  MekHQ/docs/Asset Licenses/.gitkeep
  MekHQ/resources/mekhq/resources/AutoResolveMethod.properties
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/resources/mekhq/resources/messages.properties
  MekHQ/src/mekhq/IconPackage.java
  MekHQ/src/mekhq/MekHQ.java
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/campaign/autoresolve/acar/SimulatedClient.java
  MekHQ/src/mekhq/campaign/autoresolve/acar/SimulationManager.java
  MekHQ/src/mekhq/campaign/autoresolve/acar/phase/EndPhase.java
  MekHQ/src/mekhq/campaign/autoresolve/acar/report/HtmlGameLogger.java
  MekHQ/src/mekhq/campaign/autoresolve/event/AutoResolveConcludedEvent.java
  MekHQ/src/mekhq/gui/BriefingTab.java
  MekHQ/src/mekhq/gui/dialog/AutoResolveChanceDialog.java
  MekHQ/src/mekhq/gui/dialog/ResolveScenarioWizardDialog.java
  MekHQ/src/mekhq/gui/dialog/helpDialogs/AutoResolveSimulationLogDialog.java
  MekHQ/src/mekhq/gui/panes/CampaignOptionsPane.java
Labels: Bug

#5456 Added Motive System Exclusion in Resupply Eligibility
  MekHQ/src/mekhq/campaign/mission/resupplyAndCaches/Resupply.java
Labels: Bug

#5457 Refactored Resupply Logic and Streamlined Cargo Calculations.
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/mission/AtBContract.java
  MekHQ/src/mekhq/campaign/mission/resupplyAndCaches/GenerateResupplyContents.java
  MekHQ/src/mekhq/campaign/mission/resupplyAndCaches/PerformResupply.java
  MekHQ/src/mekhq/campaign/mission/resupplyAndCaches/Resupply.java
  MekHQ/src/mekhq/campaign/mission/resupplyAndCaches/ResupplyUtilities.java
  MekHQ/src/mekhq/gui/dialog/resupplyAndCaches/DialogItinerary.java
  MekHQ/src/mekhq/gui/stratcon/CampaignManagementDialog.java
  MekHQ/src/mekhq/gui/view/MissionViewPanel.java
Labels: Bug

#5458 Clarified Speaker Names in Resupply Dialogs
  MekHQ/src/mekhq/gui/dialog/resupplyAndCaches/DialogInterception.java
  MekHQ/src/mekhq/gui/dialog/resupplyAndCaches/DialogRoleplayEvent.java
Labels: GUI, UX

#5459 Added Notification for Dispatched Convoys During Resupplies
  MekHQ/resources/mekhq/resources/Resupply.properties
  MekHQ/src/mekhq/campaign/mission/resupplyAndCaches/PerformResupply.java
Labels: GUI, UX

#5463 Fixed Legacy AtB Battle Chance Spinner Array Indexing Bug
  MekHQ/src/mekhq/gui/panes/CampaignOptionsPane.java
Labels: Bug, Campaign Options

#5469 Adjusted Force Multipliers in Emergency Convoy Defense - VTOL Scenario Template
  MekHQ/data/scenariotemplates/Emergency Convoy Defense - Player - VTOL.xml
Labels: Force Generation

#5468 Issue 5467: When resetting pilot check campaign settings for edge/SPA properly
  MekHQ/src/mekhq/campaign/unit/Unit.java
Labels: Bug, SPA

#5460 Refined Deploy/Undeploy Menu Behavior for GM Permissions.
  MekHQ/src/mekhq/gui/adapter/TOEMouseAdapter.java
  MekHQ/src/mekhq/gui/adapter/UnitTableMouseAdapter.java
Labels: StratCon, UX

#5462 Improved Reinforcement Transparency and User Control
  MekHQ/resources/mekhq/resources/AtBStratCon.properties
  MekHQ/src/mekhq/campaign/mission/AtBDynamicScenarioFactory.java
  MekHQ/src/mekhq/campaign/stratcon/StratconRulesManager.java
  MekHQ/src/mekhq/gui/stratcon/StratconScenarioWizard.java
Labels: StratCon, UX

#5466 Corrected Date of Resupply Interception Scenarios & Added Clarity to Scenario Names
  MekHQ/src/mekhq/campaign/mission/resupplyAndCaches/PerformResupply.java
  MekHQ/src/mekhq/campaign/stratcon/StratconContractInitializer.java
  MekHQ/src/mekhq/campaign/stratcon/StratconRulesManager.java
Labels: Bug, StratCon, UX

#5471 Fixed Monthly Facility Support Point Gains & Added Functionality to Allied Industrial Facilities
  MekHQ/data/stratconfacilities/AlliedIndustrialFacility.xml
Labels: Bug, StratCon

#5473 Renamed Fight, Defense, and Scouting Combat Role Names
  MekHQ/resources/mekhq/resources/Mission.properties
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/campaign/force/CombatTeam.java
  MekHQ/src/mekhq/campaign/mission/AtBScenario.java
  MekHQ/src/mekhq/campaign/mission/atb/AtBScenarioFactory.java
  MekHQ/src/mekhq/campaign/mission/atb/scenario/BaseAttackBuiltInScenario.java
  MekHQ/src/mekhq/campaign/mission/enums/AtBContractType.java
  MekHQ/src/mekhq/campaign/mission/enums/CombatRole.java
  MekHQ/src/mekhq/campaign/stratcon/StratconRulesManager.java
  MekHQ/src/mekhq/gui/panes/CampaignOptionsPane.java
  MekHQ/src/mekhq/gui/view/LanceAssignmentView.java
  MekHQ/unittests/mekhq/campaign/autoresolve/ResolverTest.java
Labels: AtB, StratCon, UX

#5475 Fixed Resupply Smuggler Dialog Formatting
  MekHQ/src/mekhq/gui/dialog/resupplyAndCaches/DialogItinerary.java
Labels: Bug

#5476 Added Missing Anti-Mek Skill to Battle Armor Basic Training In-Unit Education Curriculum
  MekHQ/data/universe/academies/Unit Education.xml
Labels: Bug, Data

#5491 Fixed Transportation Capacity and Requirement Calculations
  MekHQ/src/mekhq/campaign/rating/CamOpsReputation/TransportationRating.java
Labels: Bug, Unit Rating

#5492 Refactored Loot Description for Clarity
  MekHQ/src/mekhq/campaign/mission/Loot.java
  MekHQ/src/mekhq/gui/view/AtBScenarioViewPanel.java
Labels: GUI, UX

#5493 Added Name for Resupply Loot
  MekHQ/src/mekhq/campaign/mission/resupplyAndCaches/PerformResupply.java
Labels: GUI

#5494 Fixed Marshalling and Unmarshalling of `stratConScenarioType`
  MekHQ/src/mekhq/campaign/mission/Scenario.java
  MekHQ/src/mekhq/campaign/mission/ScenarioTemplate.java
  MekHQ/src/mekhq/campaign/mission/enums/ScenarioType.java
Labels: Bug

#5495 Replaced `Combat Teams & Support Forces` Documentation with an Updated Version
  MekHQ/docs/Stratcon and Against the Bot/Combat Teams & Support Forces.pdf
  MekHQ/docs/Stratcon and Against the Bot/Combat Teams, Roles, Training & Reinforcements.pdf
Labels: Documentation

#5496 Updated Documentation PDFs in Personnel Modules and Unit Markets
  MekHQ/docs/Personnel Modules/Awards Module.pdf
  MekHQ/docs/Personnel Modules/Education Module.pdf
  MekHQ/docs/Personnel Modules/Prisoners, Defection & Dependents.pdf
  MekHQ/docs/Personnel Modules/Random Personalities.pdf
  MekHQ/docs/Personnel Modules/Turnover & Retention Module.pdf
  MekHQ/docs/Stratcon and Against the Bot/Unit Markets.pdf
Labels: Documentation

#5472 Renamed Supply Depots to Space Ports, Buffed Support Point Gain
  MekHQ/data/stratconbiomedefinitions/StratconBiomeManifest.xml
  MekHQ/data/stratconfacilities/AlliedIndustrialFacility.xml
  MekHQ/data/stratconfacilities/AlliedSpacePort.xml
  MekHQ/data/stratconfacilities/AlliedSupplyDepot.xml
  MekHQ/data/stratconfacilities/HostileSpacePort.xml
  MekHQ/data/stratconfacilities/HostileSupplyDepot.xml
  MekHQ/data/stratconfacilities/facilitymanifest.xml
  MekHQ/src/mekhq/campaign/stratcon/StratconFacility.java
Labels: StratCon

#5477 Rewrote & Reworked Training Combat Role
  MekHQ/resources/mekhq/resources/Campaign.properties
  MekHQ/resources/mekhq/resources/Education.properties
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/campaign/personnel/education/TrainingCombatTeams.java
  MekHQ/src/mekhq/campaign/stratcon/StratconRulesManager.java
Labels: AtB, StratCon

#5510 Updated Force Refresh Logic in `TOEMouseAdapter`
  MekHQ/src/mekhq/gui/adapter/TOEMouseAdapter.java
Labels: Bug

#5512 Added Compatibility Handlers for Legacy Save File Support
  MekHQ/src/mekhq/campaign/mission/enums/CombatRole.java
  MekHQ/src/mekhq/campaign/stratcon/StratconScenario.java
Labels: Bug, Blocker

#5502 Update contract scenarios to replace VIP Capture objectives
  MekHQ/data/stratconcontractdefinitions/ExtractionRaid.xml
  MekHQ/data/stratconcontractdefinitions/GuerillaWarfare.xml
  MekHQ/data/stratconcontractdefinitions/ReconRaid.xml
Labels: Bug, Data, StratCon

#5504 Fixed Duplicated autoAwards Trigger in New Day
  MekHQ/src/mekhq/campaign/Campaign.java
Labels: Bug

#5501 Updated Resupply Mechanics, Added Documentation
  MekHQ/docs/Stratcon and Against the Bot/Resupply & Convoys.pdf
  MekHQ/resources/mekhq/resources/Loot.properties
  MekHQ/resources/mekhq/resources/Resupply.properties
  MekHQ/src/mekhq/campaign/ResolveScenarioTracker.java
  MekHQ/src/mekhq/campaign/mission/Loot.java
  MekHQ/src/mekhq/campaign/mission/resupplyAndCaches/GenerateResupplyContents.java
  MekHQ/src/mekhq/campaign/mission/resupplyAndCaches/PerformResupply.java
  MekHQ/src/mekhq/campaign/mission/resupplyAndCaches/Resupply.java
  MekHQ/src/mekhq/campaign/stratcon/StratconRulesManager.java
  MekHQ/src/mekhq/gui/dialog/ResolveScenarioWizardDialog.java
Labels: Bug, Documentation

#5509 feat: made damage delivery more granular, fixed error with morale nevever checking
  MekHQ/resources/mekhq/resources/acs-report-messages.properties
  MekHQ/resources/mekhq/resources/messages.properties
  MekHQ/src/mekhq/campaign/autoresolve/acar/SimulationContext.java
  MekHQ/src/mekhq/campaign/autoresolve/acar/SimulationManager.java
  MekHQ/src/mekhq/campaign/autoresolve/acar/action/RecoveringNerveActionToHitData.java
  MekHQ/src/mekhq/campaign/autoresolve/acar/action/WithdrawToHitData.java
  MekHQ/src/mekhq/campaign/autoresolve/acar/handler/StandardUnitAttackHandler.java
  MekHQ/src/mekhq/campaign/autoresolve/acar/handler/WithdrawActionHandler.java
  MekHQ/src/mekhq/campaign/autoresolve/acar/manager/PhaseEndManager.java
  MekHQ/src/mekhq/campaign/autoresolve/acar/phase/EndPhase.java
  MekHQ/src/mekhq/campaign/autoresolve/acar/report/VictoryPhaseReporter.java
  MekHQ/src/mekhq/campaign/autoresolve/component/Formation.java
  MekHQ/src/mekhq/campaign/autoresolve/converter/ForceToFormationConverter.java
  MekHQ/src/mekhq/campaign/unit/damage/AeroDamageApplier.java
  MekHQ/src/mekhq/campaign/unit/damage/DamageApplier.java
  MekHQ/src/mekhq/campaign/unit/damage/DamageApplierChooser.java
  MekHQ/src/mekhq/campaign/unit/damage/InfantryDamageApplier.java
  MekHQ/src/mekhq/campaign/unit/damage/MekDamageApplier.java
  MekHQ/unittests/mekhq/campaign/autoresolve/ResolverTest.java
Labels: Bug

#5528 Updated Space Scenario OpFor Deployment & Arrival
  MekHQ/data/scenariotemplates/Space Blockade Run.xml
  MekHQ/data/scenariotemplates/Space DropShip Intercept.xml
Labels: UX

#5526 Renamed 'requiredScenario' to 'turningPoint' in StratCon
  MekHQ/src/mekhq/campaign/stratcon/StratconRulesManager.java
  MekHQ/src/mekhq/campaign/stratcon/StratconScenario.java
Labels: StratCon, UX

#5525 Refactored Support Point Negotiation into a Dedicated Class; Fixed Initial Support Point Pool Bug
  MekHQ/resources/mekhq/resources/AtBStratCon.properties
  MekHQ/resources/mekhq/resources/Campaign.properties
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/stratcon/StratconContractInitializer.java
  MekHQ/src/mekhq/campaign/stratcon/StratconRulesManager.java
  MekHQ/src/mekhq/campaign/stratcon/SupportPointNegotiation.java
Labels: Bug, StratCon, Refactoring, Severity: High

#5523 Added "Refused Engagement" ScenarioStatus
  MekHQ/resources/mekhq/resources/Mission.properties
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/mission/AtBContract.java
  MekHQ/src/mekhq/campaign/mission/enums/ScenarioStatus.java
Labels: Scenario Resolution, UX

#5518 Refactored Personnel Filtering Logic for Field Kitchens...Again
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/CampaignSummary.java
Labels: Bug, Refactoring

#5527 Fixed Recon Scenario Spawn; Fixed Bugs Related to Role Name Changes
  MekHQ/src/mekhq/AtBGameThread.java
  MekHQ/src/mekhq/campaign/autoresolve/converter/SetupForces.java
  MekHQ/src/mekhq/campaign/mission/AtBScenario.java
  MekHQ/src/mekhq/campaign/mission/atb/scenario/BaseAttackBuiltInScenario.java
  MekHQ/src/mekhq/campaign/mission/enums/CombatRole.java
  MekHQ/src/mekhq/campaign/stratcon/StratconRulesManager.java
  MekHQ/src/mekhq/gui/view/LanceAssignmentView.java
Labels: Bug, StratCon, Refactoring

#5529 Fixed Training Logic to Handle Empty Skill Lists
  MekHQ/src/mekhq/campaign/personnel/education/TrainingCombatTeams.java
Labels: Bug, Severity: High

#5532 chore: added doc for acar
  MekHQ/docs/Stratcon and Against the Bot/ACAR-Abstract Combat Auto-Resolve documentation.pdf
Labels: Documentation

#5522 Implemented Nag Dialog Visual & Code Improvements
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/src/mekhq/campaign/stratcon/StratconCampaignState.java
  MekHQ/src/mekhq/campaign/stratcon/StratconScenario.java
  MekHQ/src/mekhq/gui/CampaignGUI.java
  MekHQ/src/mekhq/gui/baseComponents/AbstractMHQNagDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/DeploymentShortfallNagDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/EndContractNagDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/InsufficientAstechTimeNagDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/InsufficientAstechsNagDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/InsufficientMedicsNagDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/InvalidFactionNagDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/NagController.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/NoCommanderNagDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/OutstandingScenariosNagDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/PregnantCombatantNagDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/PrisonersNagDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/ShortDeploymentNagDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/UnableToAffordExpensesNagDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/UnableToAffordJumpNagDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/UnableToAffordLoanPaymentNagDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/UnmaintainedUnitsNagDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/UnresolvedStratConContactsNagDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/UntreatedPersonnelNagDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/nagLogic/DeploymentShortfallNagLogic.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/nagLogic/EndContractNagLogic.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/nagLogic/InsufficientAstechTimeNagLogic.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/nagLogic/InsufficientAstechsNagLogic.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/nagLogic/InsufficientMedicsNagLogic.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/nagLogic/InvalidFactionNagLogic.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/nagLogic/NoCommanderNagLogic.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/nagLogic/OutstandingScenariosNagLogic.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/nagLogic/PregnantCombatantNagLogic.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/nagLogic/PrisonersNagLogic.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/nagLogic/UnableToAffordExpensesNagLogic.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/nagLogic/UnableToAffordJumpNagLogic.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/nagLogic/UnableToAffordLoanPaymentNag.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/nagLogic/UnmaintainedUnitsNagLogic.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/nagLogic/UnresolvedStratConContactsNagLogic.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/nagLogic/UntreatedPersonnelNagLogic.java
  MekHQ/src/mekhq/gui/dialog/resupplyAndCaches/ResupplyDialogUtilities.java
  MekHQ/unittests/mekhq/gui/dialog/nagDialogs/InsufficientAstechTimeNagDialogTest.java
  MekHQ/unittests/mekhq/gui/dialog/nagDialogs/UnresolvedStratConContactsNagDialogTest.java
  MekHQ/unittests/mekhq/gui/dialog/nagDialogs/nagLogic/EndContractNagLogicTest.java
  MekHQ/unittests/mekhq/gui/dialog/nagDialogs/nagLogic/InsufficientAstechsNagLogicTest.java
  MekHQ/unittests/mekhq/gui/dialog/nagDialogs/nagLogic/InsufficientMedicsNagLogicTest.java
  MekHQ/unittests/mekhq/gui/dialog/nagDialogs/nagLogic/InvalidFactionNagLogicTest.java
  MekHQ/unittests/mekhq/gui/dialog/nagDialogs/nagLogic/NoCommanderNagLogicTest.java
  MekHQ/unittests/mekhq/gui/dialog/nagDialogs/nagLogic/OutstandingScenariosNagLogicTest.java
  MekHQ/unittests/mekhq/gui/dialog/nagDialogs/nagLogic/PregnantCombatantNagLogicTest.java
  MekHQ/unittests/mekhq/gui/dialog/nagDialogs/nagLogic/PrisonersNagLogicTest.java
  MekHQ/unittests/mekhq/gui/dialog/nagDialogs/nagLogic/ShortDeploymentNagLogicTest.java
  MekHQ/unittests/mekhq/gui/dialog/nagDialogs/nagLogic/UnableToAffordExpensesNagLogicTest.java
  MekHQ/unittests/mekhq/gui/dialog/nagDialogs/nagLogic/UnableToAffordJumpNagLogicTest.java
  MekHQ/unittests/mekhq/gui/dialog/nagDialogs/nagLogic/UnableToAffordLoanPaymentNagLogicTest.java
  MekHQ/unittests/mekhq/gui/dialog/nagDialogs/nagLogic/UnmaintainedUnitsNagLogicTest.java
  MekHQ/unittests/mekhq/gui/dialog/nagDialogs/nagLogic/UnresolvedStratConContactsNagLogicTest.java
  MekHQ/unittests/mekhq/gui/dialog/nagDialogs/nagLogic/UntreatedPersonnelNagLogicTest.java
Labels: GUI, Refactoring, UX

#5514 Added Travel Description Report to Transit Automation
  MekHQ/resources/mekhq/resources/ContractAutomation.properties
  MekHQ/src/mekhq/campaign/market/contractMarket/ContractAutomation.java
Labels: UX

#5524 Adjusted Required Scenario Distribution to More Evenly Award CVP; Reduced Scenario Sizes for House & Integrated Commands
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/resources/mekhq/resources/Mission.properties
  MekHQ/src/mekhq/campaign/stratcon/StratconRulesManager.java
  MekHQ/src/mekhq/gui/StratconTab.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/nagLogic/OutstandingScenariosNagLogic.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/nagLogic/UnresolvedStratConContactsNagLogic.java
Labels: StratCon, UX, Force Generation

#5540 Refactored Pilot Starting Age Calculation
  MekHQ/src/mekhq/Utilities.java
Labels: Bug, Personnel, Severity: Low

#5541 Further Adjustments to Starting Ages
  MekHQ/src/mekhq/Utilities.java
Labels: Bug, Personnel

#5536 Corrected Auxiliary Deployment Restrictions
  MekHQ/src/mekhq/campaign/stratcon/StratconRulesManager.java
Labels: Bug, Severity: Critical

#5537 Corrected Reinforcement Interception Map Type
  MekHQ/src/mekhq/campaign/stratcon/StratconRulesManager.java
Labels: Bug, Severity: Medium

#5538 Fixed Typo in Resupply Roleplay Event
  MekHQ/resources/mekhq/resources/Resupply.properties
Labels: Bug, Severity: Low

#5539 Adjusted Force Role Weighting in DropShip Defense Scenario Templates
  MekHQ/data/scenariotemplates/Deep Raid Defense.xml
  MekHQ/data/scenariotemplates/Isolated DropShip Defense.xml
Labels: Bug, Severity: Medium, Force Generation

#5549 Refactored `ScenarioType` Parsing Logic
  MekHQ/src/mekhq/campaign/mission/Scenario.java
  MekHQ/src/mekhq/campaign/mission/enums/ScenarioType.java
Labels: Bug, Severity: High

#5550 Remove User Preferences Handling from `BatchXPDialog`
  MekHQ/src/mekhq/gui/dialog/BatchXPDialog.java
Labels: Bug, Severity: Medium

#5551 Refactored Initial Education Logic
  MekHQ/src/mekhq/campaign/personnel/education/EducationController.java
  MekHQ/src/mekhq/campaign/personnel/generator/DefaultPersonnelGenerator.java
  MekHQ/src/mekhq/campaign/personnel/procreation/AbstractProcreation.java
  MekHQ/src/mekhq/campaign/storyarc/storypoint/CreateCharacterStoryPoint.java
  MekHQ/src/mekhq/campaign/universe/generators/companyGenerators/AbstractCompanyGenerator.java
Labels: Bug, Personnel, Severity: Medium

#5552 Corrected Loading & Unloading of Prior Failed Entrance Exams
  MekHQ/docs/Personnel Modules/Education Module.pdf
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/campaign/personnel/education/Academy.java
  MekHQ/src/mekhq/campaign/personnel/education/EducationController.java
Labels: Bug, Personnel, Severity: Medium

#5557 Refactored Ally and Enemy Rating Calculations for Contracts
  MekHQ/src/mekhq/campaign/market/contractMarket/AbstractContractMarket.java
Labels: Refactoring

#5558 Refactored Combat Roles for Clarity
  MekHQ/docs/Stratcon and Against the Bot/Combat Teams, Roles, Training & Reinforcements.pdf
  MekHQ/resources/mekhq/resources/Mission.properties
  MekHQ/src/mekhq/AtBGameThread.java
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/campaign/autoresolve/converter/SetupForces.java
  MekHQ/src/mekhq/campaign/force/CombatTeam.java
  MekHQ/src/mekhq/campaign/mission/AtBScenario.java
  MekHQ/src/mekhq/campaign/mission/atb/AtBScenarioFactory.java
  MekHQ/src/mekhq/campaign/mission/atb/scenario/BaseAttackBuiltInScenario.java
  MekHQ/src/mekhq/campaign/mission/enums/AtBContractType.java
  MekHQ/src/mekhq/campaign/mission/enums/CombatRole.java
  MekHQ/src/mekhq/campaign/stratcon/StratconRulesManager.java
  MekHQ/src/mekhq/gui/panes/CampaignOptionsPane.java
  MekHQ/src/mekhq/gui/view/LanceAssignmentView.java
  MekHQ/unittests/mekhq/campaign/autoresolve/ResolverTest.java
Labels: Refactoring, Documentation

#5560 Fixed Support Point Negotiation Report
  MekHQ/src/mekhq/campaign/stratcon/SupportPointNegotiation.java
Labels: Bug, Severity: High

#5561 Added Missing in-House Bootcamps for NCOs, Warrant Officers, and Officers
  MekHQ/data/universe/academies/Unit Education.xml
Labels: Personnel

#5562 Fixed Entrance Exam Logic and Added Tooltip Display
  MekHQ/resources/mekhq/resources/Education.properties
  MekHQ/src/mekhq/campaign/personnel/education/Academy.java
  MekHQ/src/mekhq/campaign/personnel/education/EducationController.java
Labels: Bug, Personnel, Severity: Medium

#5565 Refactored StratCon Reinforcement Dialog & Added GM Reinforcement Option
  MekHQ/resources/mekhq/resources/AtBStratCon.properties
  MekHQ/src/mekhq/campaign/stratcon/StratconRulesManager.java
  MekHQ/src/mekhq/gui/baseComponents/AbstractMHQNagDialog.java
  MekHQ/src/mekhq/gui/stratcon/StratconScenarioWizard.java
Labels: StratCon, Refactoring

#5566 Refactored Nag Dialog Checks to Improve Performance
  MekHQ/src/mekhq/gui/dialog/nagDialogs/DeploymentShortfallNagDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/EndContractNagDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/InsufficientAstechTimeNagDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/InsufficientAstechsNagDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/InsufficientMedicsNagDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/InvalidFactionNagDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/NagController.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/NoCommanderNagDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/OutstandingScenariosNagDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/PregnantCombatantNagDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/PrisonersNagDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/UnableToAffordExpensesNagDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/UnableToAffordJumpNagDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/UnableToAffordLoanPaymentNagDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/UnmaintainedUnitsNagDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/UnresolvedStratConContactsNagDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/UntreatedPersonnelNagDialog.java
Labels: Bug, Blocker
