Repository MegaMek/mekhq, pull requests merged in 2024-06, with the labels that each got.

#4118 Added autoAwards Support for the Education Module
  MekHQ/data/universe/academies/Local Academies.xml
  MekHQ/data/universe/awards/standard.xml
  MekHQ/docs/Awards Module.pdf
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/campaign/personnel/Award.java
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/campaign/personnel/autoAwards/AutoAwardsController.java
  MekHQ/src/mekhq/campaign/personnel/autoAwards/TrainingAwards.java
  MekHQ/src/mekhq/campaign/personnel/education/Academy.java
  MekHQ/src/mekhq/campaign/personnel/education/EducationController.java
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
  MekHQ/src/mekhq/gui/panes/CampaignOptionsPane.java
  MekHQ/src/mekhq/gui/view/PersonViewPanel.java
  MekHQ/src/mekhq/utilities/MHQXMLUtility.java
  MekHQ/unittests/mekhq/campaign/personnel/education/AcademyTests.java
Labels: Awards, Personnel, Refactoring

#4119 Added Reeducation Camps to Education Module, Replaced Placeholder Academy Descriptions
  MekHQ/data/universe/academies/Clan Education.xml
  MekHQ/data/universe/academies/Local Academies.xml
  MekHQ/docs/Education Module.pdf
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/resources/mekhq/resources/Education.properties
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/campaign/personnel/education/Academy.java
  MekHQ/src/mekhq/campaign/personnel/education/EducationController.java
  MekHQ/src/mekhq/gui/panes/CampaignOptionsPane.java
  MekHQ/unittests/mekhq/campaign/personnel/education/AcademyTests.java
Labels: Personnel, GUI

#4124 Fixed Award Eligibility Tracker Issuing Double Scenario Kill Awards... again
  MekHQ/src/mekhq/campaign/personnel/autoAwards/AutoAwardsController.java
  MekHQ/src/mekhq/campaign/personnel/autoAwards/ScenarioKillAwards.java
Labels: Bug, Awards

#4125 Fixed Friendly Personnel Missing Post-Scenario Scenario Credit
  MekHQ/src/mekhq/campaign/ResolveScenarioTracker.java
Labels: Bug, Personnel, Scenario Resolution

#4127 Fixed Clan Creche Graduation in Education Module
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/campaign/personnel/education/EducationController.java
Labels: Bug, Personnel

#4129 Minor spelling and typos
  MekHQ/data/scenariomodifiers/HouseOfficerAir.xml
  MekHQ/data/scenariotemplates/Engage - Heavy.xml
  MekHQ/data/scenariotemplates/Engage.xml
  MekHQ/data/scenariotemplates/Low Atmo - Interception.xml
  MekHQ/data/scenariotemplates/Prevent Recon.xml
  MekHQ/data/scenariotemplates/Space - Interception.xml
  MekHQ/data/universe/academies/Prestigious Academies.xml
  MekHQ/data/universe/news.xml
  MekHQ/mmconf/campaignPresets/AtBStarterGuidev40.xml
  MekHQ/mmconf/campaignPresets/DefaultTotalWarfare.xml
  MekHQ/mmconf/campaignPresets/StratConAlpha.xml
  MekHQ/mmconf/non_combat_units_list.conf
Labels: GUI

#4136 Updated Scenario Modifiers to More Consistently Contribute to Map Size
  MekHQ/data/scenariomodifiers/AlliedAirSupport.xml
  MekHQ/data/scenariomodifiers/AlliedAirSupportBombers.xml
  MekHQ/data/scenariomodifiers/AlliedGroundSupport.xml
  MekHQ/data/scenariomodifiers/AlliedMechReinforcements.xml
  MekHQ/data/scenariomodifiers/AlliedReinforcements.xml
  MekHQ/data/scenariomodifiers/AlliedTankReinforcements.xml
  MekHQ/data/scenariomodifiers/AlliedTurrets.xml
  MekHQ/data/scenariomodifiers/BadIntelAir.xml
  MekHQ/data/scenariomodifiers/BadIntelGround.xml
  MekHQ/data/scenariomodifiers/EnemyAirPatrol.xml
  MekHQ/data/scenariomodifiers/EnemyAirSupport.xml
  MekHQ/data/scenariomodifiers/EnemyAirSupportBombers.xml
  MekHQ/data/scenariomodifiers/EnemyDropship.xml
  MekHQ/data/scenariomodifiers/EnemyHotDrop.xml
  MekHQ/data/scenariomodifiers/EnemyMechReinforcements.xml
  MekHQ/data/scenariomodifiers/EnemyReinforcements.xml
  MekHQ/data/scenariomodifiers/EnemyTankReinforcements.xml
  MekHQ/data/scenariomodifiers/EnemyTurrets.xml
  MekHQ/data/scenariomodifiers/GroundedEnemyDropship.xml
  MekHQ/data/scenariomodifiers/HouseOfficerGround.xml
  MekHQ/data/scenariomodifiers/IntegratedAlliesAir.xml
  MekHQ/data/scenariomodifiers/IntegratedAlliesGround.xml
  MekHQ/data/scenariomodifiers/LiaisonAir.xml
  MekHQ/data/scenariomodifiers/LiaisonGround.xml
  MekHQ/data/scenariomodifiers/LocalGarrisonBoats.xml
  MekHQ/data/scenariomodifiers/LocalGarrisonInfantry.xml
  MekHQ/data/scenariomodifiers/LocalGarrisonTurrets.xml
  MekHQ/data/scenariomodifiers/OverwhelmingEnemyAirReinforcements.xml
  MekHQ/data/scenariomodifiers/OverwhelmingEnemyGroundReinforcements.xml
  MekHQ/data/scenariomodifiers/PiratesIncomingAir.xml
  MekHQ/data/scenariomodifiers/PiratesIncomingGround.xml
  MekHQ/data/scenariomodifiers/PiratesPresentAir.xml
  MekHQ/data/scenariomodifiers/PiratesPresentGround.xml
  MekHQ/data/scenariomodifiers/SearchAndRescue.xml
Labels: UX

#4137 Tied StratCon Force Generation BV Allowance to AtB Difficulty Option
  MekHQ/data/scenariomodifiers/AlliedASFAce01.xml
  MekHQ/data/scenariomodifiers/AlliedCavLance.xml
  MekHQ/data/scenariomodifiers/AlliedHorseCav.xml
  MekHQ/data/scenariomodifiers/AlliedMechAceCRD.xml
  MekHQ/data/scenariomodifiers/AlliedMechAceGLT.xml
  MekHQ/data/scenariomodifiers/AlliedMechAceGOL.xml
  MekHQ/data/scenariomodifiers/AlliedMechAceOTT.xml
  MekHQ/data/scenariomodifiers/AlliedMechAceTBT.xml
  MekHQ/data/scenariomodifiers/ArmednArmored.xml
  MekHQ/data/scenariomodifiers/EnemyAceMechARC2R.xml
  MekHQ/data/scenariomodifiers/EnemyFieldArtyOffboard.xml
  MekHQ/src/mekhq/campaign/mission/AtBDynamicScenarioFactory.java
  MekHQ/src/mekhq/campaign/mission/ScenarioForceTemplate.java
  MekHQ/src/mekhq/campaign/mission/atb/AtBScenarioModifierApplicator.java
Labels: AtB, StratCon, UX

#4140 Added Dedicated Awards Panel to Personnel Tab of Campaign Options
  MekHQ/src/mekhq/gui/panes/CampaignOptionsPane.java
Labels: Awards, GUI

#4141 Fixed Used Parts Value Multipliers set to 0
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/src/mekhq/gui/panes/CampaignOptionsPane.java
Labels: Bug

#4144 Changed "Operational Victory Points" to "Scenario Victory Points"
  MekHQ/docs/AtB Stuff/stratcon-faq-2.5.txt
  MekHQ/src/mekhq/campaign/mission/ObjectiveEffect.java
  MekHQ/src/mekhq/campaign/mission/ScenarioObjectiveProcessor.java
Labels: Scenario Resolution, GUI, StratCon

#4145 Reversed Order of Personnel Logs, Renamed 'Personnel Log' to 'Personal Log'
  MekHQ/resources/mekhq/resources/PersonViewPanel.properties
  MekHQ/src/mekhq/gui/view/PersonViewPanel.java
Labels: Personnel, GUI

#4146 Added Ability to Change Original Unit Assignment via Personnel Table
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
Labels: Personnel, GUI

#4151 Updated Vehicle Gunner's Experience Level Calculation to Optionally Include Artillery Skill
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/src/mekhq/campaign/personnel/Person.java
Labels: Enhancement, Personnel

#4150 Added Unit Quality Parameter to addNewUnit Method and Related Tests
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/Quartermaster.java
  MekHQ/src/mekhq/campaign/mission/AtBContract.java
  MekHQ/src/mekhq/campaign/mission/Loot.java
  MekHQ/src/mekhq/campaign/universe/generators/companyGenerators/AbstractCompanyGenerator.java
  MekHQ/src/mekhq/gui/dialog/PersonnelMarketDialog.java
  MekHQ/src/mekhq/gui/panes/UnitMarketPane.java
  MekHQ/unittests/mekhq/campaign/QuartermasterTest.java
Labels: Bug, Refactoring

#4147 Set Default Edge Usage States to True
  MekHQ/src/mekhq/campaign/personnel/PersonnelOptions.java
Labels: Personnel, UX

#4126 Added Ability to Manually Edit Education Level to Edit Person View & Fixed Minor Bugs
  MekHQ/data/universe/academies/Prestigious Academies.xml
  MekHQ/resources/mekhq/resources/CreateCharacterDialog.properties
  MekHQ/resources/mekhq/resources/CustomizePersonDialog.properties
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
  MekHQ/src/mekhq/gui/dialog/CreateCharacterDialog.java
  MekHQ/src/mekhq/gui/dialog/CustomizePersonDialog.java
Labels: Bug, Personnel

#4133 Implemented Basic Tax System, Profits Calculations, and Minor Financial Term Changes
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/resources/mekhq/resources/Finances.properties
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/campaign/finances/Finances.java
  MekHQ/src/mekhq/campaign/finances/enums/TransactionType.java
  MekHQ/src/mekhq/gui/panes/CampaignOptionsPane.java
  MekHQ/unittests/mekhq/campaign/finances/enums/TransactionTypeTest.java
Labels: Finances

#4134 Updated Labels and Tooltips for Better Clarity and Grammar
  MekHQ/resources/mekhq/resources/CampaignGUI.properties
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/resources/mekhq/resources/MedicalViewDialog.properties
  MekHQ/src/mekhq/gui/dialog/BatchXPDialog.java
Labels: GUI

#4135 Added Birthday Announcement Options
  MekHQ/resources/mekhq/resources/Campaign.properties
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/gui/panes/CampaignOptionsPane.java
Labels: Personnel

#4152 Updated Parts Acquisition Dialog in Repair Tab
  MekHQ/src/mekhq/campaign/Campaign.java
Labels: GUI

#4156 Replaced Uses of Font Color 'Red' with New MekHQ Font Color Option Call
  MekHQ/resources/mekhq/resources/AtBStratCon.properties
  MekHQ/resources/mekhq/resources/Finances.properties
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/src/mekhq/Utilities.java
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/CurrentLocation.java
  MekHQ/src/mekhq/campaign/ResolveScenarioTracker.java
  MekHQ/src/mekhq/campaign/finances/Finances.java
  MekHQ/src/mekhq/campaign/force/UnitStub.java
  MekHQ/src/mekhq/campaign/market/ShoppingList.java
  MekHQ/src/mekhq/campaign/mission/AtBContract.java
  MekHQ/src/mekhq/campaign/parts/AmmoStorage.java
  MekHQ/src/mekhq/campaign/parts/Armor.java
  MekHQ/src/mekhq/campaign/parts/MekLocation.java
  MekHQ/src/mekhq/campaign/parts/MissingPart.java
  MekHQ/src/mekhq/campaign/parts/OmniPod.java
  MekHQ/src/mekhq/campaign/parts/Part.java
  MekHQ/src/mekhq/campaign/parts/PodSpace.java
  MekHQ/src/mekhq/campaign/parts/ProtomekLocation.java
  MekHQ/src/mekhq/campaign/parts/Refit.java
  MekHQ/src/mekhq/campaign/parts/equipment/AmmoBin.java
  MekHQ/src/mekhq/campaign/parts/equipment/LargeCraftAmmoBin.java
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/campaign/stratcon/StratconScenario.java
  MekHQ/src/mekhq/campaign/unit/UnitOrder.java
  MekHQ/src/mekhq/gui/CampaignGUI.java
  MekHQ/src/mekhq/gui/ForceRenderer.java
  MekHQ/src/mekhq/gui/MekLabTab.java
  MekHQ/src/mekhq/gui/adapter/ProcurementTableMouseAdapter.java
  MekHQ/src/mekhq/gui/dialog/AcquisitionsDialog.java
  MekHQ/src/mekhq/gui/dialog/MassMothballDialog.java
  MekHQ/src/mekhq/gui/dialog/PersonnelMarketDialog.java
  MekHQ/src/mekhq/gui/dialog/ResolveScenarioWizardDialog.java
  MekHQ/src/mekhq/gui/dialog/RetirementDefectionDialog.java
  MekHQ/src/mekhq/gui/model/DocTableModel.java
  MekHQ/src/mekhq/gui/panes/UnitMarketPane.java
  MekHQ/src/mekhq/gui/stratcon/StratconScenarioWizard.java
  MekHQ/src/mekhq/gui/view/ForceViewPanel.java
  MekHQ/src/mekhq/gui/view/MissionViewPanel.java
  MekHQ/src/mekhq/module/atb/AtBEventProcessor.java
  MekHQ/src/mekhq/service/mrms/MRMSService.java
Labels: Accessibility, GUI

#4162 Updated Tooltip Text for Contract Command Rights to Include Clearer Game Mechanics
  MekHQ/resources/mekhq/resources/Mission.properties
Labels: GUI, UX

#4165 Added GM Hire & Fixed Skill Level Options to Bulk Hire Dialog
  MekHQ/resources/mekhq/resources/HireBulkPersonnelDialog.properties
  MekHQ/src/mekhq/gui/dialog/HireBulkPersonnelDialog.java
Labels: Personnel

#4167 Fixed Missing Personal Log Messages for Resign, Desert, and Defect
  MekHQ/resources/mekhq/resources/LogEntries.properties
  MekHQ/src/mekhq/campaign/log/ServiceLogger.java
  MekHQ/src/mekhq/campaign/personnel/Person.java
Labels: Bug, Personnel

#4139 Added Second Chance Caste to the Education Module for Warrior Caste Washouts
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/resources/mekhq/resources/Education.properties
  MekHQ/resources/mekhq/resources/Personnel.properties
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/campaign/personnel/education/EducationController.java
  MekHQ/src/mekhq/campaign/personnel/enums/SecondChanceCaste.java
  MekHQ/src/mekhq/gui/dialog/CustomizePersonDialog.java
  MekHQ/src/mekhq/gui/panes/CampaignOptionsPane.java
Labels: Personnel

#4149 Added Automatic Bonus Parts Exchange at Contract End, Added Bonus Parts Display to Mission Stats Panel
  MekHQ/resources/mekhq/resources/CampaignGUI.properties
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/resources/mekhq/resources/ContractViewPanel.properties
  MekHQ/resources/mekhq/resources/Finances.properties
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/campaign/Quartermaster.java
  MekHQ/src/mekhq/campaign/finances/enums/TransactionType.java
  MekHQ/src/mekhq/campaign/mission/AtBContract.java
  MekHQ/src/mekhq/campaign/mission/Loot.java
  MekHQ/src/mekhq/campaign/storyarc/storytrigger/AddUnitStoryTrigger.java
  MekHQ/src/mekhq/campaign/universe/generators/companyGenerators/AbstractCompanyGenerator.java
  MekHQ/src/mekhq/gui/BriefingTab.java
  MekHQ/src/mekhq/gui/CampaignGUI.java
  MekHQ/src/mekhq/gui/adapter/ProcurementTableMouseAdapter.java
  MekHQ/src/mekhq/gui/dialog/GMToolsDialog.java
  MekHQ/src/mekhq/gui/dialog/MekHQUnitSelectorDialog.java
  MekHQ/src/mekhq/gui/dialog/PersonnelMarketDialog.java
  MekHQ/src/mekhq/gui/panes/CampaignOptionsPane.java
  MekHQ/src/mekhq/gui/panes/UnitMarketPane.java
  MekHQ/src/mekhq/gui/view/MissionViewPanel.java
  MekHQ/unittests/mekhq/campaign/QuartermasterTest.java
  MekHQ/unittests/mekhq/campaign/finances/enums/TransactionTypeTest.java
  MekHQ/unittests/mekhq/campaign/unit/UnitTestUtilities.java
Labels: AtB, GUI, StratCon, Finances

#4157 Replaced Uses of Font Color 'Green' and 'Orange' with New MekHQ Font Color Option Calls
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/ResolveScenarioTracker.java
  MekHQ/src/mekhq/campaign/parts/AmmoStorage.java
  MekHQ/src/mekhq/campaign/parts/Armor.java
  MekHQ/src/mekhq/campaign/parts/MissingPart.java
  MekHQ/src/mekhq/campaign/parts/Part.java
  MekHQ/src/mekhq/campaign/parts/PodSpace.java
  MekHQ/src/mekhq/campaign/parts/Refit.java
  MekHQ/src/mekhq/campaign/parts/SpacecraftCoolingSystem.java
  MekHQ/src/mekhq/campaign/parts/equipment/AmmoBin.java
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/campaign/unit/UnitOrder.java
  MekHQ/src/mekhq/gui/MekLabTab.java
  MekHQ/src/mekhq/gui/StratconPanel.java
  MekHQ/src/mekhq/gui/adapter/ProcurementTableMouseAdapter.java
  MekHQ/src/mekhq/gui/model/TechTableModel.java
  MekHQ/src/mekhq/gui/panes/UnitMarketPane.java
  MekHQ/src/mekhq/service/mrms/MRMSService.java
Labels: Accessibility, GUI

#4175 Removed Flavor Text from Breach of Contract Departure in Turnover and Retention Module
  MekHQ/resources/mekhq/resources/Campaign.properties
  MekHQ/src/mekhq/campaign/Campaign.java
Labels: Personnel, UX

#4176 Turnover Target Number Revision & Updated Documentation
  MekHQ/docs/Personnel Modules/Turnover & Retention Module.pdf
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/resources/mekhq/resources/RetirementDefectionTracker.properties
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/campaign/personnel/turnoverAndRetention/RetirementDefectionTracker.java
  MekHQ/src/mekhq/gui/panes/CampaignOptionsPane.java
Labels: Personnel

#4177 Fix NPE Resulting from Null Recruitment Date
  MekHQ/src/mekhq/campaign/personnel/Person.java
Labels: Bug, Personnel, Legacy Improvement

#4166 Added Campaign Option to Disable Salary Increases from Secondary Roles
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/gui/panes/CampaignOptionsPane.java
Labels: Personnel, Finances

#4168 Updated Turnover Frequency Logic in Turnover and Retention Module
  MekHQ/resources/mekhq/resources/Campaign.properties
  MekHQ/src/mekhq/campaign/Campaign.java
Labels: Personnel

#4169 Streamlined Management Modifier Calculations in Turnover and Retention Module
  MekHQ/src/mekhq/campaign/personnel/turnoverAndRetention/RetirementDefectionTracker.java
Labels: Bug, Personnel

#4180 Updated history.txt with Recent Merges
  MekHQ/docs/history.txt
Labels: Data

#4158 Added Campaign Option to Randomize New Unit Quality
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/campaign/Quartermaster.java
  MekHQ/src/mekhq/campaign/mission/AtBContract.java
  MekHQ/src/mekhq/campaign/storyarc/storytrigger/AddUnitStoryTrigger.java
  MekHQ/src/mekhq/campaign/unit/Unit.java
  MekHQ/src/mekhq/campaign/universe/generators/companyGenerators/AbstractCompanyGenerator.java
  MekHQ/src/mekhq/gui/CampaignGUI.java
  MekHQ/src/mekhq/gui/adapter/ProcurementTableMouseAdapter.java
  MekHQ/src/mekhq/gui/dialog/GMToolsDialog.java
  MekHQ/src/mekhq/gui/dialog/MekHQUnitSelectorDialog.java
  MekHQ/src/mekhq/gui/dialog/PersonnelMarketDialog.java
  MekHQ/src/mekhq/gui/panes/CampaignOptionsPane.java
Labels: Parts/Repair/Refit

#4172 Implemented More Education Module Bug Fixes
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/personnel/autoAwards/AutoAwardsController.java
  MekHQ/src/mekhq/campaign/personnel/education/Academy.java
  MekHQ/src/mekhq/campaign/personnel/education/EducationController.java
Labels: Bug, Personnel

#4174 Fixed Payout of 0 c-bills Causing Soft Lock in Turnover and Retention Module
  MekHQ/src/mekhq/gui/dialog/RetirementDefectionDialog.java
Labels: Bug, Personnel

#4178 Updated Family Modifier Logic, a Warring Faction Modifier, in Turnover and Retention Module
  MekHQ/docs/Personnel Modules/Turnover & Retention Module.pdf
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/resources/mekhq/resources/Personnel.properties
  MekHQ/resources/mekhq/resources/RetirementDefectionTracker.properties
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/campaign/personnel/turnoverAndRetention/RetirementDefectionTracker.java
  MekHQ/src/mekhq/gui/panes/CampaignOptionsPane.java
Labels: Bug, Personnel

#4184 Updated history.txt to Include Latest Merges
  MekHQ/docs/history.txt
Labels: Data

#4186 Adjusted autoAwards Dialog Size to Account for Windows Taskbar
  MekHQ/src/mekhq/campaign/personnel/autoAwards/AutoAwardsController.java
  MekHQ/src/mekhq/gui/dialog/AutoAwardsDialog.java
Labels: GUI

#4173 Fixed Multi-Person Original Unit Assignments in Personnel Market & Interactions with Turnover and Retention Module
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/gui/dialog/PersonnelMarketDialog.java
  MekHQ/src/mekhq/gui/dialog/RetirementDefectionDialog.java
Labels: Bug, Personnel

#4183 Added Multiple Turnover and Retention Module Improvements
  MekHQ/resources/mekhq/resources/Campaign.properties
  MekHQ/resources/mekhq/resources/LogEntries.properties
  MekHQ/resources/mekhq/resources/Personnel.properties
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/ResolveScenarioTracker.java
  MekHQ/src/mekhq/campaign/log/ServiceLogger.java
  MekHQ/src/mekhq/campaign/personnel/enums/PersonnelStatus.java
  MekHQ/src/mekhq/campaign/personnel/familyTree/Genealogy.java
  MekHQ/src/mekhq/campaign/personnel/turnoverAndRetention/RetirementDefectionTracker.java
  MekHQ/src/mekhq/gui/CampaignGUI.java
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
  MekHQ/src/mekhq/gui/dialog/RetirementDefectionDialog.java
  MekHQ/unittests/mekhq/campaign/personnel/enums/PersonnelStatusTest.java
Labels: Bug, Personnel

#4185 Added Nag to Alert Users at Contract End
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/src/mekhq/MHQConstants.java
  MekHQ/src/mekhq/gui/CampaignGUI.java
  MekHQ/src/mekhq/gui/dialog/MHQOptionsDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/EndContractNagDialog.java
Labels: GUI, UX

#4187 Restored Missing Code for Scenario Modifier Options & Campaign Option Layout Tweaks
  MekHQ/data/scenariomodifiers/OverwhelmingEnemyAirReinforcements.xml
  MekHQ/data/scenariomodifiers/OverwhelmingEnemyGroundReinforcements.xml
  MekHQ/data/scenariomodifiers/PiratesIncomingAir.xml
  MekHQ/data/scenariomodifiers/PiratesIncomingGround.xml
  MekHQ/data/scenariomodifiers/PiratesPresentAir.xml
  MekHQ/data/scenariomodifiers/PiratesPresentGround.xml
  MekHQ/data/scenariomodifiers/PrimaryAlliesAir.xml
  MekHQ/data/scenariomodifiers/PrimaryAlliesGround.xml
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/campaign/mission/AtBDynamicScenarioFactory.java
  MekHQ/src/mekhq/campaign/mission/ScenarioForceTemplate.java
  MekHQ/src/mekhq/campaign/mission/atb/AtBScenarioModifierApplicator.java
  MekHQ/src/mekhq/campaign/stratcon/StratconRulesManager.java
  MekHQ/src/mekhq/gui/panes/CampaignOptionsPane.java
Labels: Bug, GUI, UX

#4188 Added Campaign Start Date Logging to Campaign
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/gui/panes/CampaignOptionsPane.java
Labels: Data

#4191 Prevented Infinite Loop from Bulk Hiring Civilian or Assistant Roles
  MekHQ/src/mekhq/campaign/personnel/enums/PersonnelRole.java
  MekHQ/src/mekhq/gui/dialog/HireBulkPersonnelDialog.java
Labels: Bug, Personnel

#4192 Changed Title of Basic Unit Information to Use Campaign Name
  MekHQ/resources/mekhq/resources/CampaignGUI.properties
  MekHQ/src/mekhq/gui/CommandCenterTab.java
Labels: GUI

#4209 Fixed Monthly Unit Market Incorrectly Filtering Out Vehicles
  MekHQ/src/mekhq/campaign/market/unitMarket/AtBMonthlyUnitMarket.java
Labels: Bug, AtB

#4205 Fixed bug in Company Generator, add word Dragoon in front of Dragoon rating.
  MekHQ/mmconf/campaignPresets/AtB.xml
  MekHQ/mmconf/campaignPresets/CamOps.xml
  MekHQ/mmconf/campaignPresets/SimpleOptions.xml
  MekHQ/resources/mekhq/resources/ContractMarketDialog.properties
  MekHQ/resources/mekhq/resources/ContractViewPanel.properties
  MekHQ/resources/mekhq/resources/NewContractDialog.properties
  MekHQ/src/mekhq/campaign/universe/generators/companyGenerators/AbstractCompanyGenerator.java
Labels: Bug, Data

#4202 Added Parsing for "campaignStartDate" on Campaign Load
  MekHQ/src/mekhq/campaign/io/CampaignXmlParser.java
Labels: Bug, Data

#4201 Fixed Intersected Conditions in CustomizePersonDialog.java
  MekHQ/src/mekhq/gui/dialog/CustomizePersonDialog.java
Labels: Bug

#4199 Updated PersonnelTableMouseAdapter to Support Enrolling Multiple Personnel
  MekHQ/src/mekhq/campaign/personnel/education/Academy.java
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
Labels: Personnel, GUI, UX

#4197 Updated Default Support Personnel Counts in Company Generator
  MekHQ/src/mekhq/campaign/universe/companyGeneration/CompanyGenerationOptions.java
  MekHQ/src/mekhq/gui/panels/CompanyGenerationOptionsPanel.java
Labels: UX

#4159 Added Variable Unit Quality to Salvaged Units
  MekHQ/src/mekhq/campaign/ResolveScenarioTracker.java
  MekHQ/src/mekhq/campaign/mission/Loot.java
Labels: AtB

#4208 Added Numerous Improvements to the Turnover and Retention Module
  MekHQ/docs/Personnel Modules/Turnover & Retention Module.pdf
  MekHQ/resources/mekhq/resources/Campaign.properties
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/resources/mekhq/resources/CreateCharacterDialog.properties
  MekHQ/resources/mekhq/resources/CustomizePersonDialog.properties
  MekHQ/resources/mekhq/resources/RetirementDefectionDialog.properties
  MekHQ/resources/mekhq/resources/RetirementDefectionTracker.properties
  MekHQ/src/mekhq/MekHQ.java
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/campaign/ResolveScenarioTracker.java
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/campaign/personnel/autoAwards/AutoAwardsController.java
  MekHQ/src/mekhq/campaign/personnel/turnoverAndRetention/RetirementDefectionTracker.java
  MekHQ/src/mekhq/gui/BriefingTab.java
  MekHQ/src/mekhq/gui/CampaignGUI.java
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
  MekHQ/src/mekhq/gui/dialog/AutoAwardsDialog.java
  MekHQ/src/mekhq/gui/dialog/CreateCharacterDialog.java
  MekHQ/src/mekhq/gui/dialog/CustomizePersonDialog.java
  MekHQ/src/mekhq/gui/dialog/RetirementDefectionDialog.java
  MekHQ/src/mekhq/gui/model/RetirementTableModel.java
  MekHQ/src/mekhq/gui/panes/CampaignOptionsPane.java
  MekHQ/src/mekhq/gui/view/PersonViewPanel.java
Labels: Bug, AtB, Personnel, GUI, UX

#4217 Temporarily Removed Clan Support from Education Module, Refactored Remaining Code
  MekHQ/data/universe/academies/Clan Education.xml
  MekHQ/data/universe/academies/Local Academies.xml
  MekHQ/data/universe/academies/Prestigious Academies.xml
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/resources/mekhq/resources/CreateCharacterDialog.properties
  MekHQ/resources/mekhq/resources/CustomizePersonDialog.properties
  MekHQ/resources/mekhq/resources/Education.properties
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/resources/mekhq/resources/LogEntries.properties
  MekHQ/resources/mekhq/resources/PersonViewPanel.properties
  MekHQ/resources/mekhq/resources/Personnel.properties
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/campaign/log/ServiceLogger.java
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/campaign/personnel/autoAwards/TrainingAwards.java
  MekHQ/src/mekhq/campaign/personnel/education/Academy.java
  MekHQ/src/mekhq/campaign/personnel/education/EducationController.java
  MekHQ/src/mekhq/campaign/personnel/enums/SecondChanceCaste.java
  MekHQ/src/mekhq/campaign/personnel/enums/education/AcademyType.java
  MekHQ/src/mekhq/campaign/personnel/enums/education/EducationLevel.java
  MekHQ/src/mekhq/campaign/personnel/enums/education/EducationStage.java
  MekHQ/src/mekhq/gui/CommandCenterTab.java
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
  MekHQ/src/mekhq/gui/dialog/CreateCharacterDialog.java
  MekHQ/src/mekhq/gui/dialog/CustomizePersonDialog.java
  MekHQ/src/mekhq/gui/panes/CampaignOptionsPane.java
  MekHQ/src/mekhq/gui/view/PersonViewPanel.java
  MekHQ/unittests/mekhq/campaign/personnel/education/AcademyTests.java
Labels: Bug, Personnel, GUI, Refactoring

#4213 Rolled Back 'overrideBv' XML Tag, Fixing Non-Random Scenario Modifier Forces Incorrectly Generating Random Mechs
  MekHQ/data/scenariomodifiers/OverwhelmingEnemyAirReinforcements.xml
  MekHQ/data/scenariomodifiers/OverwhelmingEnemyGroundReinforcements.xml
  MekHQ/data/scenariomodifiers/PiratesIncomingAir.xml
  MekHQ/data/scenariomodifiers/PiratesIncomingGround.xml
  MekHQ/data/scenariomodifiers/PiratesPresentAir.xml
  MekHQ/data/scenariomodifiers/PiratesPresentGround.xml
  MekHQ/data/scenariomodifiers/PrimaryAlliesAir.xml
  MekHQ/data/scenariomodifiers/PrimaryAlliesGround.xml
  MekHQ/src/mekhq/campaign/mission/AtBDynamicScenarioFactory.java
  MekHQ/src/mekhq/campaign/mission/ScenarioForceTemplate.java
  MekHQ/src/mekhq/campaign/stratcon/StratconRulesManager.java
Labels: Bug, AtB

#4216 Converted Shares Payouts to Use Profits Not Net-Worth
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/campaign/finances/Finances.java
  MekHQ/src/mekhq/campaign/personnel/turnoverAndRetention/RetirementDefectionTracker.java
  MekHQ/src/mekhq/gui/panes/CampaignOptionsPane.java
Labels: AtB, Personnel, Finances

#4215 Fixed Handling of autoAwards Post-Scenario Kill Tracking
  MekHQ/src/mekhq/MekHQ.java
  MekHQ/src/mekhq/campaign/Kill.java
  MekHQ/src/mekhq/campaign/personnel/autoAwards/AutoAwardsController.java
  MekHQ/src/mekhq/campaign/personnel/autoAwards/ScenarioKillAwards.java
  MekHQ/src/mekhq/gui/BriefingTab.java
Labels: Bug, Awards, Scenario Resolution, Blocker

#4218 Added Campaign Option to Control CamOps Unit Rating Within Clamp
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/gui/panes/CampaignOptionsPane.java
Labels: AtB, UX

#4237 Added Prestigious Academies (A-A)
  MekHQ/data/universe/academies/Local Academies.xml
  MekHQ/data/universe/academies/Prestigious Academies.xml
  MekHQ/resources/mekhq/resources/Education.properties
  MekHQ/src/mekhq/campaign/personnel/education/Academy.java
  MekHQ/src/mekhq/campaign/personnel/education/EducationController.java
  MekHQ/unittests/mekhq/campaign/personnel/education/AcademyTests.java
Labels: Data, Personnel

#4240 Fixed Invalid Parsing of Early Childhood when Loading Personnel
  MekHQ/src/mekhq/campaign/personnel/enums/education/EducationLevel.java
Labels: Bug, Blocker

#4238 Added Prestigious Academies B-C
  MekHQ/data/universe/academies/Prestigious Academies.xml
Labels: Data

#4242 Added Prestigious Academies D-F
  MekHQ/data/universe/academies/Prestigious Academies.xml
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/campaign/personnel/education/Academy.java
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
Labels: Bug, Data

#4246 Added Prestigious Academies G-J
  MekHQ/data/universe/academies/Local Academies.xml
  MekHQ/data/universe/academies/Prestigious Academies.xml
  MekHQ/src/mekhq/campaign/personnel/education/Academy.java
Labels: Bug, Data

#4248 Fixed Missing Qualification from James McKenna University
  MekHQ/data/universe/academies/Prestigious Academies.xml
Labels: Bug, Data

#4250 Fixed Missing Qualification from Addicks University ... again
  MekHQ/data/universe/academies/Prestigious Academies.xml
Labels: Bug, Data

#4224 Corrected Condition for Enabling Prestigious Academies
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
Labels: Bug, Personnel

#4225 Adjusted Condition for Setting campaignStartDate
  MekHQ/src/mekhq/gui/panes/CampaignOptionsPane.java
Labels: Bug

#4226 Updated StratCon Font Colors to use New Font Color MekHQ Options
  MekHQ/src/mekhq/gui/StratconPanel.java
  MekHQ/src/mekhq/gui/StratconTab.java
Labels: UX

#4227 Updated Unit Market Descriptions & Refactored Unit Market Prices
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/src/mekhq/campaign/market/enums/UnitMarketType.java
  MekHQ/src/mekhq/campaign/market/unitMarket/AtBMonthlyUnitMarket.java
  MekHQ/src/mekhq/gui/panes/UnitMarketPane.java
Labels: Bug, AtB, Finances

#4230 Updated Fatigue Display Calculations in PersonViewPanel
  MekHQ/src/mekhq/gui/view/PersonViewPanel.java
Labels: Bug, Personnel, GUI

#4229 Updated Child Education Level Handling & Academy Name Generation
  MekHQ/resources/mekhq/resources/Education.properties
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/personnel/education/EducationController.java
  MekHQ/src/mekhq/gui/dialog/HireBulkPersonnelDialog.java
Labels: Bug, Personnel

#4232 Updated Loyalty Handling for Reeducation Camps
  MekHQ/docs/Personnel Modules/Turnover & Retention Module.pdf
  MekHQ/src/mekhq/campaign/ResolveScenarioTracker.java
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/campaign/personnel/education/EducationController.java
Labels: Bug, Personnel

#4233 Fixed and Enhanced FactionHunterAwards Processing
  MekHQ/docs/Personnel Modules/Awards Module.pdf
  MekHQ/src/mekhq/campaign/personnel/autoAwards/FactionHunterAwards.java
Labels: Bug, AtB, Awards

#4234 Fixed Total Bonus Incorrectly Applying Repeated Division in Turnover Dialog
  MekHQ/src/mekhq/gui/dialog/RetirementDefectionDialog.java
Labels: Bug, Personnel, Finances

#4251 Adjusted Step Size for Fixed Map Chance AtB Option
  MekHQ/src/mekhq/gui/panes/CampaignOptionsPane.java
Labels: Bug, AtB, GUI

#4252 Added 'getCurrentPrisoners' Method, Fixed Cargo Capacity Nag Dialog
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/CargoCapacityNagDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/PregnantCombatantNagDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/PrisonersNagDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/UnmaintainedUnitsNagDialog.java
Labels: Bug, Refactoring

#4254 Added Option to Restrict AtB Personnel Market to Hiring Halls Only
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/campaign/market/PersonnelMarket.java
  MekHQ/src/mekhq/gui/panes/CampaignOptionsPane.java
Labels: AtB

#4253 Updated Contract End Dialog Message
  MekHQ/resources/mekhq/resources/GUI.properties
Labels: GUI

#4255 Relabeled Ally & Enemy Rating in AtB Contract Market to Improve Clarity
  MekHQ/resources/mekhq/resources/ContractMarketDialog.properties
  MekHQ/resources/mekhq/resources/ContractViewPanel.properties
  MekHQ/resources/mekhq/resources/NewContractDialog.properties
Labels: AtB, GUI, UX

#4256 Fixed 'Advanced Infantry Graduate' Qualifications in Prestigious Academies Missing Start Date
  MekHQ/data/universe/academies/Prestigious Academies.xml
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
Labels: Bug, Data

#4257 Adjusted Curriculum XP to Use a Fixed Value Instead of Dynamic
  MekHQ/data/universe/academies/Local Academies.xml
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/resources/mekhq/resources/Education.properties
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/campaign/personnel/education/Academy.java
  MekHQ/src/mekhq/campaign/personnel/education/EducationController.java
  MekHQ/src/mekhq/gui/panes/CampaignOptionsPane.java
Labels: Bug, Personnel

#4261 Fixed Campus Name in Education Module
  MekHQ/src/mekhq/campaign/personnel/education/EducationController.java
Labels: Bug, Personnel

#4262 Separated Officer and Enlisted Curriculums, Corrected Local Academy Data
  MekHQ/data/universe/academies/Local Academies.xml
  MekHQ/data/universe/academies/Prestigious Academies.xml
Labels: Bug, Data

#4263 Inverted Management Skill Modifier in RetirementDefectionTracker
  MekHQ/src/mekhq/campaign/personnel/turnoverAndRetention/RetirementDefectionTracker.java
Labels: Bug, Personnel

#4264 Updated Education Tooltip Properties to Better Handle Mass Enroll
  MekHQ/resources/mekhq/resources/Education.properties
  MekHQ/src/mekhq/campaign/personnel/education/Academy.java
Labels: Personnel, GUI, UX

#4267 Replaced Non-Universal ASCII Arrow with Braces in Turnover Dialog
  MekHQ/src/mekhq/gui/dialog/RetirementDefectionDialog.java
Labels: Bug, GUI

#4271 Corrected Scenario BV Allowance Calculations for Scenario Modifiers
  MekHQ/data/stratconcontractdefinitions/GuerillaWarfare.xml
  MekHQ/src/mekhq/campaign/mission/AtBDynamicScenarioFactory.java
Labels: Bug, AtB

#4272 Updated Turnover & Retention Documentation
  MekHQ/docs/Against the Bot/Employee Turnover Guide.pdf
  MekHQ/docs/Personnel Modules/Turnover & Retention Module.pdf
Labels: AtB, Personnel

#4273 Corrected Dialog Option for Invalid Faction Nag
  MekHQ/src/mekhq/gui/dialog/MHQOptionsDialog.java
Labels: Bug, GUI

#4275 Fixed Original Unit Value Being Deducted from Payout Sum When Personnel Resign/Retire
  MekHQ/src/mekhq/gui/dialog/RetirementDefectionDialog.java
Labels: Bug, Personnel, Finances

#4282 Fixed Graduation Event Failing to Correctly Trigger autoAwards
  MekHQ/src/mekhq/campaign/personnel/education/Academy.java
  MekHQ/src/mekhq/campaign/personnel/enums/education/AcademyType.java
  MekHQ/unittests/mekhq/campaign/personnel/education/AcademyTests.java
Labels: Bug, Awards, Personnel

#4284 Added Check for 'dead' Status in Various Personnel Filters
  MekHQ/src/mekhq/gui/enums/PersonnelFilter.java
Labels: Bug, GUI, UX

#4286 Numerous Corrections to the Prestigious Academies.
  MekHQ/data/universe/academies/Prestigious Academies.xml
Labels: Bug, Data, Personnel

#4285 Fixed Commanders Incorrectly Displaying 0 Loyalty
  MekHQ/src/mekhq/gui/view/PersonViewPanel.java
Labels: Bug, Personnel, GUI

#4287 Added More Education Module Fixes
  MekHQ/resources/mekhq/resources/LogEntries.properties
  MekHQ/src/mekhq/campaign/log/ServiceLogger.java
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/campaign/personnel/education/EducationController.java
Labels: Bug, Personnel, GUI

#4274 Added 'Override Requirements' Campaign Option for Education Module
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
  MekHQ/src/mekhq/gui/panes/CampaignOptionsPane.java
Labels: Personnel, Refactoring

#4291 Added Clan Adoption (Abtakha)
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
  MekHQ/src/mekhq/gui/utilities/StaticChecks.java
Labels: Personnel

#4292 Switched Loyalty Rating from Static to Dynamic
  MekHQ/docs/Personnel Modules/Turnover & Retention Module.pdf
  MekHQ/resources/mekhq/resources/PersonViewPanel.properties
  MekHQ/src/mekhq/campaign/ResolveScenarioTracker.java
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/campaign/personnel/education/EducationController.java
  MekHQ/src/mekhq/campaign/personnel/generator/DefaultPersonnelGenerator.java
  MekHQ/src/mekhq/campaign/personnel/turnoverAndRetention/RetirementDefectionTracker.java
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
  MekHQ/src/mekhq/gui/view/PersonViewPanel.java
Labels: Personnel, Refactoring

#4294 Added Prestigious Academies K-M
  MekHQ/data/universe/academies/Prestigious Academies.xml
Labels: Data, Personnel

#4295 Added Prestigious Academies N-P
  MekHQ/data/universe/academies/Prestigious Academies.xml
Labels: Data, Personnel

#4281 Added Population Check to Education Module
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/campaign/personnel/education/EducationController.java
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
  MekHQ/src/mekhq/gui/panes/CampaignOptionsPane.java
Labels: Bug, Personnel, GUI

#4299 Extended 'Hiring Halls Only' Personnel Market Option to Capital Planets
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/src/mekhq/campaign/market/PersonnelMarket.java
Labels: Enhancement

#4300 Revised Tuition and Faction discount Calculations
  MekHQ/src/mekhq/campaign/personnel/education/Academy.java
  MekHQ/unittests/mekhq/campaign/personnel/education/AcademyTests.java
Labels: Bug, Personnel, GUI, Finances

#4302 Added Prestigious Academies R-T
  MekHQ/data/universe/academies/Local Academies.xml
  MekHQ/data/universe/academies/Prestigious Academies.xml
Labels: Data, Personnel

#4304 Added Prestigious Academies U-W
  MekHQ/data/universe/academies/Prestigious Academies.xml
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
Labels: Bug, Data, Personnel

#4306 Fixed & Optimized Total Profits Calculation & Removed Exemptions
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/campaign/finances/Finances.java
  MekHQ/src/mekhq/campaign/finances/Money.java
  MekHQ/src/mekhq/gui/panes/CampaignOptionsPane.java
Labels: Finances

#4307 Fixed Faction Discount to Tuition, Fixed autoAwards Triggering when Personnel Fail to Graduate
  MekHQ/data/universe/academies/Prestigious Academies.xml
  MekHQ/src/mekhq/campaign/personnel/education/Academy.java
  MekHQ/src/mekhq/campaign/personnel/education/EducationController.java
  MekHQ/src/mekhq/campaign/personnel/enums/education/EducationStage.java
Labels: Awards, Personnel, Finances

#4308 Fixed Administrative Capacity Displaying while Turnover is Disabled
  MekHQ/src/mekhq/gui/CommandCenterTab.java
Labels: Personnel, GUI

#4309 Updated Education Module Documentation, Restored Reeducation Camp Dropout Functionality
  MekHQ/docs/Personnel Modules/Education Module.pdf
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/src/mekhq/campaign/personnel/education/EducationController.java
Labels: Personnel, GUI

#4164 More detailed auto-selection of bombs
  MekHQ/src/mekhq/campaign/mission/AtBDynamicScenarioFactory.java
  MekHQ/src/mekhq/campaign/mission/AtBScenario.java
Labels: AtB, For New Dev Cycle

#4313 Updated Campaign Options Settings to Disable New Components by Default
  MekHQ/src/mekhq/campaign/CampaignOptions.java
Labels: UX
