Repository MegaMek/mekhq, pull requests merged in 2024-08, with the labels that each got.

#4536 Added Force and Unit Type to Kill Tracking
  MekHQ/src/mekhq/campaign/Kill.java
  MekHQ/src/mekhq/campaign/ResolveScenarioTracker.java
  MekHQ/src/mekhq/gui/dialog/AddOrEditKillEntryDialog.java
  MekHQ/src/mekhq/gui/dialog/ResolveScenarioWizardDialog.java
Labels: Utility

#4534 Added the Automation and Tracking of Formation Levels within The TO&E Pane
  MekHQ/resources/mekhq/resources/ForceViewPanel.properties
  MekHQ/resources/mekhq/resources/FormationLevel.properties
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/event/OrganizationChangedEvent.java
  MekHQ/src/mekhq/campaign/force/Force.java
  MekHQ/src/mekhq/campaign/force/FormationLevel.java
  MekHQ/src/mekhq/campaign/personnel/autoAwards/KillAwards.java
  MekHQ/src/mekhq/campaign/universe/generators/companyGenerators/AbstractCompanyGenerator.java
  MekHQ/src/mekhq/gui/CampaignGUI.java
  MekHQ/src/mekhq/gui/adapter/TOEMouseAdapter.java
  MekHQ/src/mekhq/gui/dialog/CompanyGenerationDialog.java
  MekHQ/src/mekhq/gui/view/ForceViewPanel.java
Labels: Utility

#4489 Refactored Personality Characteristic Generation Logic
  MekHQ/docs/Personnel Modules/Random Personalities.pdf
  MekHQ/resources/mekhq/resources/Personalities.properties
  MekHQ/resources/mekhq/resources/Personnel.properties
  MekHQ/src/mekhq/campaign/personnel/enums/randomEvents/personalities/Aggression.java
  MekHQ/src/mekhq/campaign/personnel/enums/randomEvents/personalities/Ambition.java
  MekHQ/src/mekhq/campaign/personnel/enums/randomEvents/personalities/Greed.java
  MekHQ/src/mekhq/campaign/personnel/enums/randomEvents/personalities/Intelligence.java
  MekHQ/src/mekhq/campaign/personnel/enums/randomEvents/personalities/PersonalityQuirk.java
  MekHQ/src/mekhq/campaign/personnel/enums/randomEvents/personalities/Social.java
  MekHQ/src/mekhq/campaign/personnel/randomEvents/PersonalityController.java
Labels: Personnel, Refactoring

#4493 Added Ability to Tell autoAwards to Ignore Individual Custom Award Sets
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/campaign/personnel/autoAwards/AutoAwardsController.java
  MekHQ/src/mekhq/gui/panes/CampaignOptionsPane.java
Labels: Awards, UX

#4497 Updated Prisoner Resolution Messages
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
Labels: Bug, Personnel, GUI, Refactoring

#4498 Added AToW Mission Completion XP Awards, Added Global XP Cost Multiplier Option
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/gui/BriefingTab.java
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
  MekHQ/src/mekhq/gui/panes/CampaignOptionsPane.java
Labels: Personnel, Campaign Options

#4523 Prevented Automated Removal of Genealogically Relevant Characters
  MekHQ/src/mekhq/campaign/Campaign.java
Labels: Bug, Personnel

#4524 Update Loyalty Change Reporting with Color-Coded Messages
  MekHQ/resources/mekhq/resources/Personnel.properties
  MekHQ/src/mekhq/campaign/finances/Finances.java
  MekHQ/src/mekhq/campaign/personnel/Person.java
Labels: GUI

#4526 Education Module Data Fixes
  MekHQ/data/universe/academies/Prestigious Academies.xml
Labels: Bug, Data

#4527 Improved Color Formatting for Education Events
  MekHQ/resources/mekhq/resources/Education.properties
  MekHQ/src/mekhq/campaign/personnel/education/EducationController.java
Labels: GUI, UX

#4528 Refactored Fatigue Messages to Support Colored Span Tags.
  MekHQ/resources/mekhq/resources/Fatigue.properties
  MekHQ/src/mekhq/campaign/personnel/turnoverAndRetention/Fatigue.java
Labels: GUI, UX

#4538 Fixed Support Score Calculation
  MekHQ/src/mekhq/campaign/Campaign.java
Labels: Bug, Awards, Personnel

#4500 Corrected Masters and Doctorate Graduation Checks
  MekHQ/resources/mekhq/resources/Education.properties
  MekHQ/src/mekhq/campaign/personnel/education/EducationController.java
  MekHQ/src/mekhq/campaign/personnel/enums/education/EducationLevel.java
Labels: Bug, Personnel, Refactoring

#4572 Adjusted Sale Value for Infantry and Battle Armor Units
  MekHQ/src/mekhq/campaign/unit/Unit.java
Labels: Bug, Refactoring, Finances

#4558 Added DropShip Bounty Settings
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/resources/mekhq/resources/ResolveScenarioWizardDialog.properties
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/campaign/ResolveScenarioTracker.java
  MekHQ/src/mekhq/gui/dialog/ResolveScenarioWizardDialog.java
  MekHQ/src/mekhq/gui/panes/CampaignOptionsPane.java
Labels: Scenario Resolution, Finances

#4560 Updated Assertiveness and Removed Toughness Biography Entries
  MekHQ/resources/mekhq/resources/RandomBackgrounds.properties
  MekHQ/src/mekhq/campaign/personnel/backgrounds/BackgroundsController.java
  MekHQ/src/mekhq/campaign/personnel/backgrounds/Toughness.java
  MekHQ/src/mekhq/campaign/personnel/enums/randomEvents/personalities/Aggression.java
Labels: Personnel, GUI, UX

#4561 Improved Handling of Child Dependents When Attending Academies
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/campaign/personnel/education/EducationController.java
  MekHQ/src/mekhq/campaign/personnel/procreation/AbstractProcreation.java
Labels: Bug, Personnel

#4562 Fixed Re-enrollment Checks
  MekHQ/src/mekhq/campaign/personnel/education/Academy.java
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
Labels: Bug, Personnel

#4564 Corrected Errors in Post-Grad & Doctorate Graduation Handler
  MekHQ/src/mekhq/campaign/personnel/education/EducationController.java
Labels: Bug, Personnel

#4567 Updated Text for Against the Bot Campaign Option
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
Labels: GUI

#4569 Added Unit Market Rarity Setting to Campaign Options, Updated Unit Markets.pdf
  MekHQ/docs/Against the Bot/Unit Markets.pdf
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/resources/mekhq/resources/Market.properties
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/campaign/market/enums/UnitMarketRarity.java
  MekHQ/src/mekhq/campaign/market/unitMarket/AtBMonthlyUnitMarket.java
  MekHQ/src/mekhq/gui/panes/CampaignOptionsPane.java
Labels: AtB, UX, Documentation

#4570 Separated Handling of Prisoners & Prisoner-Defectors in Resolve Mission Dialogs
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/gui/BriefingTab.java
Labels: UX

#4571 Renamed Game Options to MegaMek Options to Improve Clarity
  MekHQ/resources/mekhq/resources/CampaignGUI.properties
Labels: GUI, UX

#4573 Fixed Formation Level Calculations
  MekHQ/src/mekhq/campaign/force/Force.java
Labels: Bug

#4574 Updated Repair Site Names to Match CamOps
  MekHQ/src/mekhq/campaign/mission/AtBContract.java
  MekHQ/src/mekhq/campaign/unit/Unit.java
  MekHQ/src/mekhq/gui/MapTab.java
  MekHQ/src/mekhq/gui/adapter/ServicedUnitsTableMouseAdapter.java
  MekHQ/src/mekhq/gui/adapter/UnitTableMouseAdapter.java
Labels: GUI

#4563 Added Education Module Handler for Injured Personnel
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
Labels: Bug, Personnel

#4576 Fixed Prisoner of War Award Categorization
  MekHQ/data/universe/awards/standard.xml
Labels: Bug, Awards

#4577 Fixed Index Out-of-Bounds Error During eraMods Parsing
  MekHQ/src/mekhq/campaign/universe/Faction.java
Labels: Bug

#4578 Updated Awards Module.pdf
  MekHQ/docs/Personnel Modules/Awards Module.pdf
Labels: Documentation

#4580 Refactored Infantry Sell Value Calculation to Include Unit Quality Multipliers
  MekHQ/src/mekhq/campaign/unit/Unit.java
Labels: Bug, Finances

#4582 Corrected New Presets, Added Missing Updated SPA Costs
  MekHQ/mmconf/campaignPresets/Campaign Operations (StratCon).xml
  MekHQ/mmconf/campaignPresets/Campaign Operations.xml
  MekHQ/mmconf/campaignPresets/Complete Experience.xml
  MekHQ/mmconf/campaignPresets/New Pilot Program.xml
  MekHQ/mmconf/campaignPresets/Tabula Rasa.xml
Labels: Bug, Refactoring, Campaign Options

#4583 Fixed Injury Fatigue Checkbox
  MekHQ/src/mekhq/gui/panes/CampaignOptionsPane.java
Labels: Bug, Campaign Options

#4587 Fixed Missing String Format Key in Fatigue Messages
  MekHQ/resources/mekhq/resources/Fatigue.properties
  MekHQ/src/mekhq/campaign/personnel/turnoverAndRetention/Fatigue.java
Labels: Bug, GUI

#4589 Updated Repair Tab Experience Level Requirement Text & Adjusted Font Sizes
  MekHQ/src/mekhq/campaign/parts/Armor.java
  MekHQ/src/mekhq/campaign/parts/MekLocation.java
  MekHQ/src/mekhq/campaign/parts/MissingPart.java
  MekHQ/src/mekhq/campaign/parts/Part.java
  MekHQ/src/mekhq/campaign/parts/PodSpace.java
  MekHQ/src/mekhq/campaign/parts/ProtomekLocation.java
  MekHQ/src/mekhq/gui/model/TechTableModel.java
Labels: GUI, UX

#4591 Added CamOps Planetary Condition Modifiers to Maintenance Checks
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/campaign/universe/Atmosphere.java
  MekHQ/src/mekhq/gui/panes/CampaignOptionsPane.java
Labels: Parts/Repair/Refit

#4595 Fixed Null Check for Education Tag Alongs
  MekHQ/src/mekhq/campaign/personnel/procreation/AbstractProcreation.java
Labels: Bug, Personnel

#4596 Added Personality Characteristics and Loyalty to Personnel Tab
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/src/mekhq/campaign/personnel/education/EducationController.java
  MekHQ/src/mekhq/campaign/personnel/enums/randomEvents/personalities/Intelligence.java
  MekHQ/src/mekhq/gui/enums/PersonnelTabView.java
  MekHQ/src/mekhq/gui/enums/PersonnelTableModelColumn.java
  MekHQ/unittests/mekhq/gui/enums/PersonnelTabViewTest.java
  MekHQ/unittests/mekhq/gui/enums/PersonnelTableModelColumnTest.java
Labels: GUI

#4597 Updated Person View and Personnel Tab to Better Support Differing Screen Sizes
  MekHQ/src/mekhq/gui/PersonnelTab.java
  MekHQ/src/mekhq/gui/dialog/PersonnelMarketDialog.java
  MekHQ/src/mekhq/gui/view/PersonViewPanel.java
Labels: GUI

#4609 Integrated Academy Information into Interstellar Map Tab
  MekHQ/resources/mekhq/resources/PlanetViewPanel.properties
  MekHQ/src/mekhq/campaign/universe/PlanetarySystem.java
  MekHQ/src/mekhq/gui/InterstellarMapPanel.java
  MekHQ/src/mekhq/gui/view/PlanetViewPanel.java
Labels: GUI, Refactoring

#4503 Fixed Shares Payouts for Early Contract End, Refactored Shares Percentage Fetching to Further Detach System from AtB
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/finances/Finances.java
  MekHQ/src/mekhq/campaign/mission/AtBContract.java
  MekHQ/src/mekhq/campaign/mission/Contract.java
  MekHQ/src/mekhq/campaign/personnel/turnoverAndRetention/RetirementDefectionTracker.java
  MekHQ/src/mekhq/gui/dialog/ContractMarketDialog.java
  MekHQ/src/mekhq/gui/dialog/NewAtBContractDialog.java
  MekHQ/src/mekhq/gui/view/MissionViewPanel.java
Labels: Bug, AtB, Personnel, Finances

#4605 Overhauled CamOps Unit Reputation Calculations and Report
  MekHQ/resources/mekhq/resources/CamOpsReputation.properties
  MekHQ/resources/mekhq/resources/CampaignGUI.properties
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/campaign/io/CampaignXmlParser.java
  MekHQ/src/mekhq/campaign/mission/AtBDynamicScenarioFactory.java
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/campaign/personnel/Skill.java
  MekHQ/src/mekhq/campaign/rating/CamOpsReputation/AverageExperienceRating.java
  MekHQ/src/mekhq/campaign/rating/CamOpsReputation/CombatRecordRating.java
  MekHQ/src/mekhq/campaign/rating/CamOpsReputation/CommandRating.java
  MekHQ/src/mekhq/campaign/rating/CamOpsReputation/CrimeRating.java
  MekHQ/src/mekhq/campaign/rating/CamOpsReputation/FinancialRating.java
  MekHQ/src/mekhq/campaign/rating/CamOpsReputation/OtherModifiers.java
  MekHQ/src/mekhq/campaign/rating/CamOpsReputation/ReputationController.java
  MekHQ/src/mekhq/campaign/rating/CamOpsReputation/SupportRating.java
  MekHQ/src/mekhq/campaign/rating/CamOpsReputation/TransportationRating.java
  MekHQ/src/mekhq/campaign/rating/CampaignOpsReputation.java
  MekHQ/src/mekhq/campaign/unit/Unit.java
  MekHQ/src/mekhq/gui/CampaignGUI.java
  MekHQ/src/mekhq/gui/CommandCenterTab.java
  MekHQ/src/mekhq/gui/dialog/CompanyGenerationDialog.java
  MekHQ/src/mekhq/gui/dialog/ContractMarketDialog.java
  MekHQ/src/mekhq/gui/dialog/DataLoadingDialog.java
  MekHQ/src/mekhq/gui/dialog/NewAtBContractDialog.java
  MekHQ/src/mekhq/gui/dialog/NewLoanDialog.java
  MekHQ/src/mekhq/gui/dialog/reportDialogs/ReputationReportDialog.java
  MekHQ/src/mekhq/gui/panes/CampaignOptionsPane.java
  MekHQ/unittests/mekhq/campaign/rating/CampaignOpsReputationTest.java
Labels: Unit Rating, Refactoring

#4637 Fixed Text Placeholders in CamOpsReputation.properties
  MekHQ/resources/mekhq/resources/CamOpsReputation.properties
Labels: Bug, GUI

#4636 Rename strat ops personnel market to campaign ops to reflect rulebook reorganization
  MekHQ/mmconf/campaignPresets/Campaign Operations (StratCon).xml
  MekHQ/mmconf/campaignPresets/Campaign Operations.xml
  MekHQ/mmconf/campaignPresets/Complete Experience.xml
  MekHQ/mmconf/campaignPresets/New Pilot Program.xml
  MekHQ/resources/META-INF/services/mekhq.module.api.PersonnelMarketMethod
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/campaign/market/PersonnelMarket.java
  MekHQ/src/mekhq/campaign/market/PersonnelMarketCampaignOps.java
Labels: AtB, Refactoring, Campaign Options

#4611 Minor Preset Updates
  MekHQ/mmconf/campaignPresets/Campaign Operations (StratCon).xml
  MekHQ/mmconf/campaignPresets/Campaign Operations.xml
  MekHQ/mmconf/campaignPresets/Complete Experience.xml
  MekHQ/mmconf/campaignPresets/New Pilot Program.xml
  MekHQ/mmconf/campaignPresets/Tabula Rasa.xml
Labels: Campaign Options

#4616 Added Intelligence-based XP Cost Multiplier
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/campaign/personnel/randomEvents/PersonalityController.java
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
  MekHQ/src/mekhq/gui/panes/CampaignOptionsPane.java
Labels: Personnel

#4617 Added Support for Handling Medical Discharge
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/campaign/personnel/turnoverAndRetention/RetirementDefectionTracker.java
Labels: Bug, Personnel

#4627 Removed Loyalty Change Notifications for Campaigns with Loyalty Disabled
  MekHQ/src/mekhq/campaign/personnel/Person.java
Labels: Bug, Personnel, Campaign Options

#4626 Refactored Years of Service Calculation for autoAwards Time Awards
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/campaign/personnel/autoAwards/TimeAwards.java
Labels: Bug, Awards, Personnel

#4628 Restored adminXPPeriod Option Parsing
  MekHQ/src/mekhq/campaign/CampaignOptions.java
Labels: Bug, Campaign Options

#4630 Fix hyperlink issue in payment text
  MekHQ/src/mekhq/campaign/personnel/education/EducationController.java
Labels: Bug, GUI, Finances

#4631 Added Entrance Exams for Prestigious Academies, Updated Education Module Documentation
  MekHQ/docs/Personnel Modules/Education Module.pdf
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/resources/mekhq/resources/Education.properties
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/resources/mekhq/resources/LogEntries.properties
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/campaign/log/ServiceLogger.java
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/campaign/personnel/education/Academy.java
  MekHQ/src/mekhq/campaign/personnel/education/EducationController.java
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
  MekHQ/src/mekhq/gui/panes/CampaignOptionsPane.java
Labels: Personnel

#4634 Refactored Unit getCommander() Method
  MekHQ/src/mekhq/campaign/unit/Unit.java
Labels: Bug

#4638 Adjusted Objectives Pane to Use Client Theme Colors and Added Normal Play Usage
  MekHQ/src/mekhq/gui/CommandCenterTab.java
Labels: GUI

#4639 Fixed Grammar in Personality Characteristic Descriptions
  MekHQ/resources/mekhq/resources/PersonViewPanel.properties
  MekHQ/resources/mekhq/resources/Personalities.properties
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/campaign/personnel/education/EducationController.java
  MekHQ/src/mekhq/campaign/personnel/randomEvents/PersonalityController.java
  MekHQ/src/mekhq/campaign/personnel/randomEvents/enums/personalities/Aggression.java
  MekHQ/src/mekhq/campaign/personnel/randomEvents/enums/personalities/Ambition.java
  MekHQ/src/mekhq/campaign/personnel/randomEvents/enums/personalities/Greed.java
  MekHQ/src/mekhq/campaign/personnel/randomEvents/enums/personalities/Intelligence.java
  MekHQ/src/mekhq/campaign/personnel/randomEvents/enums/personalities/PersonalityQuirk.java
  MekHQ/src/mekhq/campaign/personnel/randomEvents/enums/personalities/Social.java
  MekHQ/src/mekhq/campaign/rating/CamOpsReputation/CommandRating.java
  MekHQ/src/mekhq/gui/dialog/CreateCharacterDialog.java
  MekHQ/src/mekhq/gui/dialog/CustomizePersonDialog.java
  MekHQ/src/mekhq/gui/enums/PersonnelTableModelColumn.java
Labels: Bug, Personnel

#4646 Fixed Weekly Reputation Recalculations
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/rating/CamOpsReputation/ReputationController.java
Labels: Bug, Unit Rating

#4647 Fixed Copy-Paste Error in End Mission Prisoner Nag
  MekHQ/src/mekhq/gui/BriefingTab.java
Labels: Bug, GUI

#4614 Updated BA Qualification Start Years
  MekHQ/data/universe/academies/Prestigious Academies.xml
Labels: Bug, Data

#4648 Refactored `AutoAwardsController` and Fixed Scenario Awards Support
  MekHQ/src/mekhq/campaign/personnel/autoAwards/AutoAwardsController.java
Labels: Bug, Awards, Refactoring

#4632 Improved Edge Trigger Unmarshalling
  MekHQ/src/mekhq/campaign/personnel/Person.java
Labels: Bug, Personnel, SPA

#4633 Refactored Force Commander Logic & TOE Information Display
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/force/Force.java
  MekHQ/src/mekhq/gui/adapter/TOEMouseAdapter.java
  MekHQ/src/mekhq/gui/view/ForceViewPanel.java
Labels: GUI

#4640 Implemented Random Mercenary Company Name Generator
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/resources/mekhq/resources/RandomMercenaryCompanyNameGenerator.properties
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/mission/AtBContract.java
  MekHQ/src/mekhq/campaign/personnel/backgrounds/BackgroundsController.java
  MekHQ/src/mekhq/campaign/personnel/backgrounds/enums/mercenaryCompanyNameGenerator/EndWordCorporate.java
  MekHQ/src/mekhq/campaign/personnel/backgrounds/enums/mercenaryCompanyNameGenerator/EndWordMercenary.java
  MekHQ/src/mekhq/campaign/personnel/backgrounds/enums/mercenaryCompanyNameGenerator/MiddleWordCorporate.java
  MekHQ/src/mekhq/campaign/personnel/backgrounds/enums/mercenaryCompanyNameGenerator/MiddleWordMercenary.java
  MekHQ/src/mekhq/campaign/personnel/backgrounds/enums/mercenaryCompanyNameGenerator/PreFabHumorous.java
  MekHQ/src/mekhq/gui/CommandCenterTab.java
  MekHQ/src/mekhq/gui/dialog/GMToolsDialog.java
  MekHQ/src/mekhq/gui/panes/CampaignOptionsPane.java
Labels: Campaign Options

#4657 Added Checks for Scenarios with Null Start Dates within Objectives Panel
  MekHQ/src/mekhq/gui/CommandCenterTab.java
Labels: Bug, GUI

#4651 Fixed Support Rating Administration Requirements Calculations
  MekHQ/src/mekhq/campaign/rating/CamOpsReputation/SupportRating.java
Labels: Bug, Unit Rating

#4656 Fixed Intelligence XP Cost Calculations and Minor Logic Issues
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
Labels: Bug, Personnel

#4665 Revert change to find parts by name when selling from parts in use
  MekHQ/src/mekhq/campaign/parts/PartInUse.java
  MekHQ/src/mekhq/gui/dialog/PartsReportDialog.java
Labels: Bug, Parts/Repair/Refit

#4673 Added Conditional Check Before Showing 0 Personnel Eligible autoAwards Dialog
  MekHQ/src/mekhq/campaign/personnel/autoAwards/AutoAwardsController.java
Labels: Awards, GUI, UX

#4674 Fixed NPE in CamOps Mission Date Calculation
  MekHQ/src/mekhq/campaign/rating/CamOpsReputation/OtherModifiers.java
Labels: Bug, Unit Rating

#4678 Fixed Incorrect Variable in Education Failed Application Report.
  MekHQ/src/mekhq/campaign/personnel/education/EducationController.java
Labels: Bug, Personnel, GUI

#4679 Refactored DropShip Bonus Calculation Logic
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/src/mekhq/campaign/ResolveScenarioTracker.java
Labels: Bug, Scenario Resolution

#4684 Refactored Personality Generation and Education Level Assignment.
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/personnel/generator/DefaultPersonnelGenerator.java
  MekHQ/src/mekhq/campaign/personnel/procreation/AbstractProcreation.java
  MekHQ/src/mekhq/campaign/storyarc/storypoint/CreateCharacterStoryPoint.java
  MekHQ/src/mekhq/campaign/universe/generators/companyGenerators/AbstractCompanyGenerator.java
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
  MekHQ/src/mekhq/gui/dialog/GMToolsDialog.java
  MekHQ/src/mekhq/gui/dialog/HireBulkPersonnelDialog.java
  MekHQ/src/mekhq/gui/dialog/NewRecruitDialog.java
Labels: Bug, Personnel, Refactoring

#4686 Refresh camops personnel market daily
  MekHQ/src/mekhq/campaign/market/PersonnelMarketCampaignOps.java
Labels: Bug, Personnel

#4692 Updated Map Colors
  MekHQ/data/universe/factions.xml
  MekHQ/src/mekhq/gui/InterstellarMapPanel.java
Labels: GUI

#4716 Updated Campaign Presets
  MekHQ/mmconf/campaignPresets/Campaign Operations (StratCon).xml
  MekHQ/mmconf/campaignPresets/Campaign Operations.xml
  MekHQ/mmconf/campaignPresets/Complete Experience.xml
  MekHQ/mmconf/campaignPresets/New Pilot Program.xml
  MekHQ/mmconf/campaignPresets/Tabula Rasa.xml
Labels: Bug, Campaign Options

#4718 Added StratCon Introduction Promo on Campaign Start
  MekHQ/data/images/stratcon/stratConPromo.png
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/src/mekhq/gui/dialog/CampaignOptionsDialog.java
Labels: GUI, StratCon, UX

#4703 Fixed Skill Level Retrieval Method in AtBDynamicScenario
  MekHQ/src/mekhq/campaign/mission/AtBDynamicScenario.java
Labels: Bug, StratCon

#4714 Fixed Maintenance Interval Calculations
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/unit/Unit.java
Labels: Bug

#4715 Updated Default Repair Sites
  MekHQ/src/mekhq/campaign/mission/AtBContract.java
Labels: UX

#4694 Set Minimum Size for CustomizePersonDialog UI element
  MekHQ/src/mekhq/gui/dialog/CustomizePersonDialog.java
Labels: Bug, GUI

#4727 Fixed Recursive Node Reader in Force.java
  MekHQ/src/mekhq/campaign/force/Force.java
Labels: Bug, Awards

#4729 Simplified NullPointerException Message in DataLoadingDialog
  MekHQ/resources/mekhq/resources/GUI.properties
Labels: Bug

#4739 Fixed NPE in `getEligibleCommanders`
  MekHQ/src/mekhq/campaign/force/Force.java
Labels: Bug, Blocker

#4746 Fixed Unmarshalling of `daysSinceMaintenance`
  MekHQ/src/mekhq/campaign/unit/Unit.java
Labels: Bug, Blocker

#4749 Prevent Rapid unplanned disassembly
  MekHQ/src/mekhq/campaign/unit/Unit.java
Labels: Bug
