Repository MegaMek/mekhq, pull requests merged in 2024-10, with the labels that each got.

#4932 Fixed Academy XML to Avoid Odd Formating
  MekHQ/data/universe/academies/Local Academies.xml
  MekHQ/data/universe/academies/Prestigious Academies.xml
Labels: Bug, Data

#4936 Edited Display of Advantage Tooltips in Person View
  MekHQ/src/mekhq/gui/view/PersonViewPanel.java
Labels: Bug, Personnel, GUI, SPA

#4938 Added <50.01 Compatibility Handlers to `SkillPerquisite.java`
  MekHQ/src/mekhq/campaign/personnel/SkillPerquisite.java
  MekHQ/src/mekhq/gui/HangarTab.java
Labels: Bug, SPA, Compatibility

#4939 Fixed Personnel Filter Role Checks to For Vehicle and Vessel Crews
  MekHQ/src/mekhq/gui/enums/PersonnelFilter.java
Labels: Bug, Personnel, GUI

#4945 Added Era Buttons to Date Chooser and Modernized GUI
  MekHQ/resources/mekhq/resources/DateChooser.properties
  MekHQ/src/mekhq/gui/dialog/DateChooser.java
Labels: GUI, UX

#4943 Added Contract Difficulty Estimate, Including GUI Support
  MekHQ/data/images/force/Pieces/Logos/Periphery/New Delphi Compact.png
  MekHQ/data/images/universe/factions/logo_star_league_green.png
  MekHQ/data/images/universe/factions/logo_star_league_orange.png
  MekHQ/data/images/universe/factions/logo_star_league_red.png
  MekHQ/resources/mekhq/resources/ContractMarketDialog.properties
  MekHQ/src/mekhq/campaign/mission/AtBContract.java
  MekHQ/src/mekhq/campaign/mission/AtBDynamicScenarioFactory.java
  MekHQ/src/mekhq/campaign/universe/Factions.java
  MekHQ/src/mekhq/gui/dialog/ContractMarketDialog.java
  MekHQ/src/mekhq/gui/view/ContractSummaryPanel.java
Labels: GUI, UX

#4931 Reworked AtB Bonus Rolls, Fixed Bug in Bulk Hire
  MekHQ/src/mekhq/campaign/mission/AtBContract.java
  MekHQ/src/mekhq/campaign/mission/AtBDynamicScenarioFactory.java
  MekHQ/src/mekhq/gui/dialog/HireBulkPersonnelDialog.java
Labels: Bug, AtB, Personnel

#4934 Prevent Battle Armor allocation in TORNADO_F4 wind scenarios
  MekHQ/src/mekhq/campaign/mission/AtBDynamicScenarioFactory.java
Labels: Bug

#4937 Updated OpFor Skill Generator and Added Skilled Level Parser
  MekHQ/src/mekhq/campaign/mission/AtBDynamicScenarioFactory.java
Labels: Bug, Personnel

#4964 Remove wordWrap Method from `RandomMarriageMethod`, `RandomProcreationMethod`, `RandomDivorceMethod` Classes
  MekHQ/src/mekhq/campaign/personnel/enums/RandomDivorceMethod.java
  MekHQ/src/mekhq/campaign/personnel/enums/RandomProcreationMethod.java
  MekHQ/unittests/mekhq/campaign/personnel/enums/RandomDivorceMethodTest.java
  MekHQ/unittests/mekhq/campaign/personnel/enums/RandomMarriageMethodTest.java
  MekHQ/unittests/mekhq/campaign/personnel/enums/RandomProcreationMethodTest.java
Labels: Bug, Tests

#4974 Added Turning Points Dialog to `DateChooser`
  MekHQ/resources/mekhq/resources/DateChooser.properties
  MekHQ/src/mekhq/gui/dialog/DateChooser.java
Labels: GUI, UX

#4981 Implemented Campaign Options IIC Preset Picker
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/resources/mekhq/resources/NEWCampaignOptionsDialog.properties
  MekHQ/src/mekhq/campaign/CampaignPreset.java
  MekHQ/src/mekhq/gui/CampaignGUI.java
  MekHQ/src/mekhq/gui/dialog/CampaignOptionsDialog.java
  MekHQ/src/mekhq/gui/dialog/CampaignPresetSelectionDialog.java
  MekHQ/src/mekhq/gui/dialog/DataLoadingDialog.java
  MekHQ/src/mekhq/gui/panes/CampaignPresetPane.java
  MekHQ/src/mekhq/gui/panes/campaignOptions/SelectPresetDialog.java
Labels: GUI, Refactoring, UX, Campaign Options

#4984 Refactored Daily Personnel Processing Logic.
  MekHQ/src/mekhq/campaign/Campaign.java
Labels: Bug, Personnel

#4990 Add FlatLaf GUi scaling to MHQ
  MekHQ/src/mekhq/MekHQ.java
  MekHQ/src/mekhq/campaign/parts/AmmoStorage.java
  MekHQ/src/mekhq/campaign/parts/Armor.java
  MekHQ/src/mekhq/campaign/parts/MekLocation.java
  MekHQ/src/mekhq/campaign/parts/MissingPart.java
  MekHQ/src/mekhq/campaign/parts/Part.java
  MekHQ/src/mekhq/campaign/parts/PodSpace.java
  MekHQ/src/mekhq/campaign/parts/ProtoMekLocation.java
  MekHQ/src/mekhq/campaign/parts/TankLocation.java
  MekHQ/src/mekhq/campaign/parts/equipment/AmmoBin.java
  MekHQ/src/mekhq/campaign/parts/equipment/BattleArmorAmmoBin.java
  MekHQ/src/mekhq/campaign/parts/equipment/LargeCraftAmmoBin.java
  MekHQ/src/mekhq/gui/BasicInfo.java
  MekHQ/src/mekhq/gui/CampaignGUI.java
  MekHQ/src/mekhq/gui/HangarTab.java
  MekHQ/src/mekhq/gui/InfirmaryTab.java
  MekHQ/src/mekhq/gui/PersonnelTab.java
  MekHQ/src/mekhq/gui/RepairTab.java
  MekHQ/src/mekhq/gui/RepairTaskInfo.java
  MekHQ/src/mekhq/gui/WarehouseTab.java
  MekHQ/src/mekhq/gui/dialog/AcquisitionsDialog.java
  MekHQ/src/mekhq/gui/dialog/MHQOptionsDialog.java
  MekHQ/src/mekhq/gui/enums/PersonnelTableModelColumn.java
  MekHQ/src/mekhq/gui/model/CrewListModel.java
  MekHQ/src/mekhq/gui/model/DocTableModel.java
  MekHQ/src/mekhq/gui/model/PatientTableModel.java
  MekHQ/src/mekhq/gui/model/TechTableModel.java
  MekHQ/src/mekhq/gui/view/ForceViewPanel.java
Labels: GUI

#5030 Replaced autoAwards Award Ceremony Placeholder Image
  MekHQ/data/images/awards/awardCeremony.jpg
  MekHQ/data/images/awards/awardceremony.png
  MekHQ/src/mekhq/gui/dialog/AutoAwardsDialog.java
Labels: Awards, GUI

#5010 Hacky Fix: Makes StratCon Scenario Generation Respect Non-Combat Flag in TO&E
  MekHQ/src/mekhq/campaign/stratcon/StratconRulesManager.java
Labels: Bug, AtB

#5036 Corrected Scenario Modifiers for `HouseOfficer` units
  MekHQ/data/scenariomodifiers/HouseOfficerAir.xml
  MekHQ/data/scenariomodifiers/HouseOfficerGround.xml
Labels: Bug, Data

#5042 Multiple FG3 Improvements
  MekHQ/data/scenariomodifiers/AlliedASFAce01.xml
  MekHQ/data/scenariomodifiers/AlliedAirSupport.xml
  MekHQ/data/scenariomodifiers/AlliedAirSupportBombers.xml
  MekHQ/data/scenariomodifiers/AlliedArtyGarrison.xml
  MekHQ/data/scenariomodifiers/AlliedArtySupport.xml
  MekHQ/data/scenariomodifiers/AlliedGroundSupport.xml
  MekHQ/data/scenariomodifiers/AlliedHorseCav.xml
  MekHQ/data/scenariomodifiers/AlliedMekAceCRD.xml
  MekHQ/data/scenariomodifiers/AlliedMekAceGLT.xml
  MekHQ/data/scenariomodifiers/AlliedMekAceGOL.xml
  MekHQ/data/scenariomodifiers/AlliedMekAceOTT.xml
  MekHQ/data/scenariomodifiers/AlliedMekAceTBT.xml
  MekHQ/data/scenariomodifiers/AlliedMekGarrison.xml
  MekHQ/data/scenariomodifiers/AlliedReinforcements.xml
  MekHQ/data/scenariomodifiers/AlliedTankGarrison.xml
  MekHQ/data/scenariomodifiers/AlliedTankReinforcements.xml
  MekHQ/data/scenariomodifiers/AlliedTraineesAir.xml
  MekHQ/data/scenariomodifiers/AlliedTraineesGround.xml
  MekHQ/data/scenariomodifiers/AlliedTurrets.xml
  MekHQ/data/scenariomodifiers/BadIntelAir.xml
  MekHQ/data/scenariomodifiers/BadIntelGround.xml
  MekHQ/data/scenariomodifiers/EnemyAirCav.xml
  MekHQ/data/scenariomodifiers/EnemyAirSupportBombers.xml
  MekHQ/data/scenariomodifiers/EnemyArtyGarrison.xml
  MekHQ/data/scenariomodifiers/EnemyHotDrop.xml
  MekHQ/data/scenariomodifiers/EnemyMercBrawl.xml
  MekHQ/data/scenariomodifiers/EnemyMercFireSupport.xml
  MekHQ/data/scenariomodifiers/EnemyMercHopInfantry.xml
  MekHQ/data/scenariomodifiers/EnemyMercSkirmish.xml
  MekHQ/data/scenariomodifiers/EnemyMercSkyInfantry.xml
  MekHQ/data/scenariomodifiers/FacilityAlliedEvac.xml
  MekHQ/data/scenariomodifiers/FacilityHostileCapture.xml
  MekHQ/data/scenariomodifiers/FacilityHostileCaptureNonWin.xml
  MekHQ/data/scenariomodifiers/GoodIntel.xml
  MekHQ/data/scenariomodifiers/GroundedEnemyDropship.xml
  MekHQ/data/scenariomodifiers/HostileBVBudgetIncrease.xml
  MekHQ/data/scenariomodifiers/PreBattleDamageAllies.xml
  MekHQ/data/scenariomodifiers/PreBattleDamageHostiles.xml
  MekHQ/data/scenariomodifiers/PrimaryAlliesAir.xml
  MekHQ/data/scenariomodifiers/PrimaryAlliesGround.xml
  MekHQ/data/scenariomodifiers/airBattleModifiers.xml
  MekHQ/data/scenariomodifiers/groundBattleModifiers.xml
  MekHQ/data/scenariotemplates/DropShip Raid.xml
  MekHQ/data/scenariotemplates/Frontline Disruption.xml
  MekHQ/data/scenariotemplates/Heavy Recon Evasion.xml
  MekHQ/resources/mekhq/resources/AtBDynamicScenarioFactory.properties
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/againstTheBot/AtBConfiguration.java
  MekHQ/src/mekhq/campaign/mission/AtBDynamicScenarioFactory.java
Labels: Bug, Data, Force Generation

#5046 Prevent StratCon from Pulling in Player DropShips, when Option is Disabled
  MekHQ/data/scenariotemplates/Deep Raid Defense.xml
  MekHQ/data/scenariotemplates/Isolated DropShip Defense.xml
  MekHQ/data/scenariotemplates/Low-Atmosphere DropShip Escort.xml
  MekHQ/data/scenariotemplates/Space Blockade Run.xml
  MekHQ/src/mekhq/campaign/stratcon/StratconRulesManager.java
Labels: Bug, StratCon, Campaign Options

#5044 Add Check for StratCon Usage in `getAtBBattleChance` Method
  MekHQ/src/mekhq/campaign/CampaignOptions.java
Labels: AtB, StratCon

#5063 Fixed `isMilitary` and `isPrepSchool` flags; Corrected Typo.
  MekHQ/data/universe/academies/Prestigious Academies.xml
  MekHQ/data/universe/academies/Unit Education.xml
Labels: Bug, Data, Personnel

#5070 Added `TotalGenericBattleValue` Tag to MUL Export
  MekHQ/src/mekhq/gui/BriefingTab.java
Labels: Force Generation

#5071 Fixed Hire Minimum Compliment Commands
  MekHQ/src/mekhq/gui/adapter/UnitTableMouseAdapter.java
Labels: Bug

#5062 Added Duplicate Kill Checking for Multi-Crewed Units.
  MekHQ/src/mekhq/campaign/Kill.java
  MekHQ/src/mekhq/campaign/personnel/autoAwards/KillAwards.java
Labels: Bug, Awards

#5073 Refactored Contract Difficulty Display and Added Tooltips
  MekHQ/data/images/misc/challenge_estimate_full.png
  MekHQ/data/images/misc/challenge_estimate_half.png
  MekHQ/data/images/universe/factions/logo_star_league_green.png
  MekHQ/data/images/universe/factions/logo_star_league_orange.png
  MekHQ/data/images/universe/factions/logo_star_league_red.png
  MekHQ/resources/mekhq/resources/ContractMarketDialog.properties
  MekHQ/src/mekhq/campaign/mission/AtBContract.java
  MekHQ/src/mekhq/gui/dialog/ContractMarketDialog.java
  MekHQ/src/mekhq/gui/view/ContractSummaryPanel.java
  MekHQ/src/mekhq/gui/view/MissionViewPanel.java
Labels: UX, Force Generation

#5074 Updated Primary Allies Scenario Modifiers
  MekHQ/data/scenariomodifiers/PrimaryAlliesAir.xml
  MekHQ/data/scenariomodifiers/PrimaryAlliesGround.xml
Labels: Bug, Force Generation

#5075 Fixed Wrapping of Personality Description
  MekHQ/src/mekhq/gui/view/PersonViewPanel.java
Labels: Bug, GUI

#5076 Updated Fatigue Column of Personnel Table to Use Effective Fatigue Value
  MekHQ/src/mekhq/gui/enums/PersonnelTableModelColumn.java
Labels: Bug, GUI

#5077 Fixed New Day Reporting
  MekHQ/resources/mekhq/resources/Campaign.properties
  MekHQ/src/mekhq/campaign/Campaign.java
Labels: Bug

#5078 Re-Added Compatibility Handlers for SPA Skill Prerequisites
  MekHQ/src/mekhq/campaign/personnel/SkillPerquisite.java
Labels: Bug, Personnel, SPA, Compatibility

#5085 Improved Force Gen Unit Substitution
  MekHQ/src/mekhq/campaign/mission/AtBDynamicScenarioFactory.java
Labels: Force Generation

#5086 Refined `PartQualityReportDialog` Layout Handling and Exclusions
  MekHQ/src/mekhq/gui/dialog/reportDialogs/PartQualityReportDialog.java
Labels: Bug, GUI

#5087 Fixed SPA Tooltip HTML Wrapping in `PersonViewPanel`
  MekHQ/src/mekhq/gui/view/PersonViewPanel.java
Labels: Bug, GUI, SPA

#5088 Added 100+ New Quirks, Refactored Personality Traits & Quirk Classes
  MekHQ/resources/mekhq/resources/Personalities.properties
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/campaign/personnel/education/EducationController.java
  MekHQ/src/mekhq/campaign/personnel/randomEvents/PersonalityController.java
  MekHQ/src/mekhq/campaign/personnel/randomEvents/enums/personalities/Aggression.java
  MekHQ/src/mekhq/campaign/personnel/randomEvents/enums/personalities/Ambition.java
  MekHQ/src/mekhq/campaign/personnel/randomEvents/enums/personalities/Greed.java
  MekHQ/src/mekhq/campaign/personnel/randomEvents/enums/personalities/Intelligence.java
  MekHQ/src/mekhq/campaign/personnel/randomEvents/enums/personalities/PersonalityQuirk.java
  MekHQ/src/mekhq/campaign/personnel/randomEvents/enums/personalities/Social.java
Labels: Personnel, Refactoring

#5089 Added Empty Jump Path Check `UnableToAffordJumpNagDialog`
  MekHQ/src/mekhq/gui/dialog/nagDialogs/UnableToAffordJumpNagDialog.java
  MekHQ/unittests/mekhq/gui/dialog/nagDialogs/UnableToAffordJumpNagDialogTest.java
Labels: Bug, GUI

#5090 Fixed Camouflage Directory Assignment for Null Faction Codes
  MekHQ/src/mekhq/campaign/mission/AtBContract.java
  MekHQ/src/mekhq/campaign/stratcon/StratconContractInitializer.java
Labels: Bug

#5091 Added Minimum Number of Tracks (1) to StratCon Initialization
  MekHQ/src/mekhq/campaign/stratcon/StratconContractInitializer.java
Labels: Bug, StratCon

#5092 Fixed Objective Criteria for `Intercept Engagement`
  MekHQ/data/scenariotemplates/Intercept Engagement.xml
Labels: Bug, Force Generation

#5095 Corrected Parameter Order in Simulated Relationship History Reports
  MekHQ/src/mekhq/campaign/Campaign.java
Labels: Bug, Personnel

#5097 Simplified Reputation Display
  MekHQ/src/mekhq/campaign/Campaign.java
Labels: AtB, GUI, UX, Legacy Improvement

#5098 More FG3 Scenario Adjustments
  MekHQ/data/scenariotemplates/Frontline Disruption.xml
  MekHQ/data/scenariotemplates/Irregular Force Assault.xml
  MekHQ/data/scenariotemplates/Irregular Force Suppression.xml
  MekHQ/data/scenariotemplates/Skirmish Disruption.xml
  MekHQ/data/scenariotemplates/Tactical Withdrawal.xml
Labels: Bug, Force Generation

#5102 Fixed Portrait Folder Names
  MekHQ/data/images/portraits/Female/MekTech/MekTek_F_1.png
  MekHQ/data/images/portraits/Female/MekTech/MekTek_F_10.png
  MekHQ/data/images/portraits/Female/MekTech/MekTek_F_11.png
  MekHQ/data/images/portraits/Female/MekTech/MekTek_F_12.png
  MekHQ/data/images/portraits/Female/MekTech/MekTek_F_13.png
  MekHQ/data/images/portraits/Female/MekTech/MekTek_F_14.png
  MekHQ/data/images/portraits/Female/MekTech/MekTek_F_15.png
  MekHQ/data/images/portraits/Female/MekTech/MekTek_F_16.png
  MekHQ/data/images/portraits/Female/MekTech/MekTek_F_17.png
  MekHQ/data/images/portraits/Female/MekTech/MekTek_F_18.png
  MekHQ/data/images/portraits/Female/MekTech/MekTek_F_19.png
  MekHQ/data/images/portraits/Female/MekTech/MekTek_F_2.png
  MekHQ/data/images/portraits/Female/MekTech/MekTek_F_20.png
  MekHQ/data/images/portraits/Female/MekTech/MekTek_F_21.png
  MekHQ/data/images/portraits/Female/MekTech/MekTek_F_22.png
  MekHQ/data/images/portraits/Female/MekTech/MekTek_F_23.png
  MekHQ/data/images/portraits/Female/MekTech/MekTek_F_3.png
  MekHQ/data/images/portraits/Female/MekTech/MekTek_F_4.png
  MekHQ/data/images/portraits/Female/MekTech/MekTek_F_5.png
  MekHQ/data/images/portraits/Female/MekTech/MekTek_F_6.png
  MekHQ/data/images/portraits/Female/MekTech/MekTek_F_7.png
  MekHQ/data/images/portraits/Female/MekTech/MekTek_F_8.png
  MekHQ/data/images/portraits/Female/MekTech/MekTek_F_9.png
  MekHQ/data/images/portraits/Male/MekTech/MekTek_M_1.png
  MekHQ/data/images/portraits/Male/MekTech/MekTek_M_10.png
  MekHQ/data/images/portraits/Male/MekTech/MekTek_M_11.png
  MekHQ/data/images/portraits/Male/MekTech/MekTek_M_12.png
  MekHQ/data/images/portraits/Male/MekTech/MekTek_M_13.png
  MekHQ/data/images/portraits/Male/MekTech/MekTek_M_14.png
  MekHQ/data/images/portraits/Male/MekTech/MekTek_M_15.png
  MekHQ/data/images/portraits/Male/MekTech/MekTek_M_16.png
  MekHQ/data/images/portraits/Male/MekTech/MekTek_M_17.png
  MekHQ/data/images/portraits/Male/MekTech/MekTek_M_18.png
  MekHQ/data/images/portraits/Male/MekTech/MekTek_M_19.png
  MekHQ/data/images/portraits/Male/MekTech/MekTek_M_2.png
  MekHQ/data/images/portraits/Male/MekTech/MekTek_M_20.png
  MekHQ/data/images/portraits/Male/MekTech/MekTek_M_21.png
  MekHQ/data/images/portraits/Male/MekTech/MekTek_M_22.png
  MekHQ/data/images/portraits/Male/MekTech/MekTek_M_23.png
  MekHQ/data/images/portraits/Male/MekTech/MekTek_M_24.png
  MekHQ/data/images/portraits/Male/MekTech/MekTek_M_25.png
  MekHQ/data/images/portraits/Male/MekTech/MekTek_M_26.png
  MekHQ/data/images/portraits/Male/MekTech/MekTek_M_3.png
  MekHQ/data/images/portraits/Male/MekTech/MekTek_M_4.png
  MekHQ/data/images/portraits/Male/MekTech/MekTek_M_5.png
  MekHQ/data/images/portraits/Male/MekTech/MekTek_M_6.png
  MekHQ/data/images/portraits/Male/MekTech/MekTek_M_7.png
  MekHQ/data/images/portraits/Male/MekTech/MekTek_M_8.png
  MekHQ/data/images/portraits/Male/MekTech/MekTek_M_9.png
Labels: Bug

#5099 Added Award Bonuses to Award Ceremony Dialog
  MekHQ/src/mekhq/campaign/personnel/enums/AwardBonus.java
  MekHQ/src/mekhq/gui/model/AutoAwardsTableModel.java
Labels: GUI

#5072 Fixed Divide by Zero Error in Loans Dialog
  MekHQ/src/mekhq/campaign/finances/Loan.java
  MekHQ/src/mekhq/gui/dialog/NewLoanDialog.java
Labels: Bug, Finances

#5104 Fixed Preset Picker Date Issues
  MekHQ/src/mekhq/gui/dialog/DataLoadingDialog.java
Labels: Bug

#5094 Prevent Early Clan Units in Non-Clan Campaigns
  MekHQ/src/mekhq/campaign/market/unitMarket/AbstractUnitMarket.java
Labels: Bug

#5093 Fixed Outsourcing of Babies
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/mission/AtBContract.java
  MekHQ/src/mekhq/campaign/personnel/marriage/AbstractMarriage.java
  MekHQ/src/mekhq/campaign/personnel/procreation/AbstractProcreation.java
Labels: Bug, Personnel

#5107 Updated Interstellar Map View Defaults & Optimized 'ISW' view
  MekHQ/src/mekhq/gui/InterstellarMapPanel.java
Labels: GUI

#5110 Corrected DropShip Scenario Modifier Generation Method
  MekHQ/data/scenariomodifiers/EnemyDropship.xml
  MekHQ/data/scenariomodifiers/GroundedEnemyDropship.xml
Labels: Bug, Force Generation

#5113 Further FG3 Improvements
  MekHQ/data/scenariotemplates/Engagement.xml
  MekHQ/data/scenariotemplates/ScenarioManifest.xml
  MekHQ/resources/mekhq/resources/ContractMarketDialog.properties
  MekHQ/src/mekhq/campaign/mission/AtBDynamicScenarioFactory.java
  MekHQ/src/mekhq/gui/dialog/ContractMarketDialog.java
Labels: Bug, UX, Force Generation

#5120 FG3 Scenario Improvements
  MekHQ/data/scenariomodifiers/LiaisonGround.xml
  MekHQ/data/scenariotemplates/Decoy Engagement.xml
  MekHQ/data/scenariotemplates/Decoy Interception.xml
  MekHQ/data/scenariotemplates/Deep Raid Defense.xml
  MekHQ/data/scenariotemplates/Deep Raid.xml
  MekHQ/data/scenariotemplates/DropShip Raid.xml
  MekHQ/data/scenariotemplates/Heavy Recon Evasion.xml
  MekHQ/data/scenariotemplates/Isolated DropShip Defense.xml
  MekHQ/data/scenariotemplates/Recon Evasion.xml
Labels: Bug, Force Generation

#5124 Renamed MekTech Portrait Folder to Mek Tech
  MekHQ/data/images/portraits/Female/Mek Tech/MekTek_F_1.png
  MekHQ/data/images/portraits/Female/Mek Tech/MekTek_F_10.png
  MekHQ/data/images/portraits/Female/Mek Tech/MekTek_F_11.png
  MekHQ/data/images/portraits/Female/Mek Tech/MekTek_F_12.png
  MekHQ/data/images/portraits/Female/Mek Tech/MekTek_F_13.png
  MekHQ/data/images/portraits/Female/Mek Tech/MekTek_F_14.png
  MekHQ/data/images/portraits/Female/Mek Tech/MekTek_F_15.png
  MekHQ/data/images/portraits/Female/Mek Tech/MekTek_F_16.png
  MekHQ/data/images/portraits/Female/Mek Tech/MekTek_F_17.png
  MekHQ/data/images/portraits/Female/Mek Tech/MekTek_F_18.png
  MekHQ/data/images/portraits/Female/Mek Tech/MekTek_F_19.png
  MekHQ/data/images/portraits/Female/Mek Tech/MekTek_F_2.png
  MekHQ/data/images/portraits/Female/Mek Tech/MekTek_F_20.png
  MekHQ/data/images/portraits/Female/Mek Tech/MekTek_F_21.png
  MekHQ/data/images/portraits/Female/Mek Tech/MekTek_F_22.png
  MekHQ/data/images/portraits/Female/Mek Tech/MekTek_F_23.png
  MekHQ/data/images/portraits/Female/Mek Tech/MekTek_F_3.png
  MekHQ/data/images/portraits/Female/Mek Tech/MekTek_F_4.png
  MekHQ/data/images/portraits/Female/Mek Tech/MekTek_F_5.png
  MekHQ/data/images/portraits/Female/Mek Tech/MekTek_F_6.png
  MekHQ/data/images/portraits/Female/Mek Tech/MekTek_F_7.png
  MekHQ/data/images/portraits/Female/Mek Tech/MekTek_F_8.png
  MekHQ/data/images/portraits/Female/Mek Tech/MekTek_F_9.png
  MekHQ/data/images/portraits/Male/Mek Tech/MekTek_M_1.png
  MekHQ/data/images/portraits/Male/Mek Tech/MekTek_M_10.png
  MekHQ/data/images/portraits/Male/Mek Tech/MekTek_M_11.png
  MekHQ/data/images/portraits/Male/Mek Tech/MekTek_M_12.png
  MekHQ/data/images/portraits/Male/Mek Tech/MekTek_M_13.png
  MekHQ/data/images/portraits/Male/Mek Tech/MekTek_M_14.png
  MekHQ/data/images/portraits/Male/Mek Tech/MekTek_M_15.png
  MekHQ/data/images/portraits/Male/Mek Tech/MekTek_M_16.png
  MekHQ/data/images/portraits/Male/Mek Tech/MekTek_M_17.png
  MekHQ/data/images/portraits/Male/Mek Tech/MekTek_M_18.png
  MekHQ/data/images/portraits/Male/Mek Tech/MekTek_M_19.png
  MekHQ/data/images/portraits/Male/Mek Tech/MekTek_M_2.png
  MekHQ/data/images/portraits/Male/Mek Tech/MekTek_M_20.png
  MekHQ/data/images/portraits/Male/Mek Tech/MekTek_M_21.png
  MekHQ/data/images/portraits/Male/Mek Tech/MekTek_M_22.png
  MekHQ/data/images/portraits/Male/Mek Tech/MekTek_M_23.png
  MekHQ/data/images/portraits/Male/Mek Tech/MekTek_M_24.png
  MekHQ/data/images/portraits/Male/Mek Tech/MekTek_M_25.png
  MekHQ/data/images/portraits/Male/Mek Tech/MekTek_M_26.png
  MekHQ/data/images/portraits/Male/Mek Tech/MekTek_M_3.png
  MekHQ/data/images/portraits/Male/Mek Tech/MekTek_M_4.png
  MekHQ/data/images/portraits/Male/Mek Tech/MekTek_M_5.png
  MekHQ/data/images/portraits/Male/Mek Tech/MekTek_M_6.png
  MekHQ/data/images/portraits/Male/Mek Tech/MekTek_M_7.png
  MekHQ/data/images/portraits/Male/Mek Tech/MekTek_M_8.png
  MekHQ/data/images/portraits/Male/Mek Tech/MekTek_M_9.png
Labels: Bug, Personnel

#5125 Fixed Position of `NewDayEvent` Trigger in `processNewDay`
  MekHQ/src/mekhq/campaign/Campaign.java
Labels: Bug

#5126 Rebalanced Random Unit Quality
  MekHQ/src/mekhq/campaign/unit/Unit.java
Labels: UX

#5133 Refit - Reformat, document, annotate, comment, clarify
  MekHQ/src/mekhq/campaign/parts/Refit.java
Labels: Parts/Repair/Refit, Documentation

#5134 Refit - Fix some minor and easy things
  MekHQ/src/mekhq/campaign/parts/Refit.java
  MekHQ/unittests/mekhq/campaign/parts/RefitTest.java
Labels: Parts/Repair/Refit

#5136 Fixed Faction Conflict Checks for Reeducation Camps
  MekHQ/src/mekhq/campaign/personnel/education/Academy.java
Labels: Bug, Personnel

#5137 Stopped Scenarios Pulling Units from the Hangar
  MekHQ/src/mekhq/campaign/stratcon/StratconRulesManager.java
Labels: StratCon, UX

#5140 Refactored Field Kitchen Personnel Count Logic
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/CampaignSummary.java
Labels: Bug, Personnel

#5141 Handled StratCon Scenario Placement Failure when All Coordinates Occupied
  MekHQ/src/mekhq/campaign/stratcon/StratconContractInitializer.java
Labels: StratCon, Refactoring

#5143 Fix Track Calculation in `StratconContractInitializer`
  MekHQ/src/mekhq/campaign/stratcon/StratconContractInitializer.java
Labels: Bug, StratCon

#5144 [FG3] Adjusted Generation Method in Some Scenarios
  MekHQ/data/scenariotemplates/Convoy Escort.xml
  MekHQ/data/scenariotemplates/Convoy Interdiction.xml
  MekHQ/data/scenariotemplates/Convoy Raid.xml
  MekHQ/data/scenariotemplates/Critical Convoy Escort.xml
  MekHQ/data/scenariotemplates/Irregular Force Assault.xml
  MekHQ/data/scenariotemplates/Irregular Force Suppression.xml
Labels: Force Generation

#5145 [Fg3] Refactored Difficulty Multiplier Application
  MekHQ/src/mekhq/campaign/mission/AtBDynamicScenarioFactory.java
Labels: Bug, Force Generation

#5146 Adjusted Scenario Loot Box Behavior
  MekHQ/src/mekhq/gui/dialog/ResolveScenarioWizardDialog.java
Labels: Scenario Resolution, Utility

#5147 Refactored `JScrollPaneWithSpeed` Constructor
  MekHQ/src/mekhq/gui/utilities/JScrollPaneWithSpeed.java
Labels: Bug, Utility

#5142 Added New StratCon Scenario Generation Utility Method
  MekHQ/src/mekhq/campaign/stratcon/StratconRulesManager.java
  MekHQ/src/mekhq/gui/dialog/MekHQUnitSelectorDialog.java
Labels: StratCon, Utility
