Repository MegaMek/mekhq, pull requests merged in 2024-07, with the labels that each got.

#4346 Refactored management skill calculation in RetirementDefectionTracker
  MekHQ/src/mekhq/campaign/personnel/turnoverAndRetention/RetirementDefectionTracker.java
Labels: Bug, Personnel, Refactoring

#4345 Updated fatigue display logic in PersonViewPanel
  MekHQ/src/mekhq/gui/view/PersonViewPanel.java
Labels: GUI, UX

#4344 Update Payout Calculation for KIA Personnel
  MekHQ/src/mekhq/campaign/personnel/turnoverAndRetention/RetirementDefectionTracker.java
Labels: Bug, Personnel, Finances

#4363 Corrected Admin Negotiation Experience Level Campaign Setting
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/campaign/personnel/Person.java
Labels: Bug, Personnel

#4360 Added Education Level to Company Generator
  MekHQ/src/mekhq/campaign/personnel/procreation/AbstractProcreation.java
  MekHQ/src/mekhq/campaign/universe/generators/companyGenerators/AbstractCompanyGenerator.java
Labels: Bug, Personnel

#4362 Updated Scenario Modifier Tooltips in CampaignOptionsDialog Properties
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
Labels: GUI

#4365 Reworked Monthly XP in Education Module
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/resources/mekhq/resources/Education.properties
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/campaign/personnel/education/EducationController.java
  MekHQ/src/mekhq/gui/panes/CampaignOptionsPane.java
Labels: Bug, Personnel

#4367 Updated & Corrected Prestigious Academy Information and Added Three New Types of Local Academy
  MekHQ/data/universe/academies/Local Academies.xml
  MekHQ/data/universe/academies/Prestigious Academies.xml
  MekHQ/src/mekhq/campaign/personnel/education/Academy.java
Labels: Data, Personnel

#4369 Added Option to Include Non-Combatants in Field Kitchen Capacity Calculations
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/gui/panes/CampaignOptionsPane.java
Labels: Bug, Personnel

#4373 Added Education Level to Biographical Filter of Personnel Table
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/src/mekhq/gui/enums/PersonnelTableModelColumn.java
Labels: Personnel, Refactoring

#4384 Refactored Faction Restriction Checks in Academy Class
  MekHQ/src/mekhq/campaign/personnel/education/Academy.java
Labels: Bug, Refactoring

#4385 Updated Logic for Identifying Pregnant Combatants
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/src/mekhq/gui/dialog/nagDialogs/PregnantCombatantNagDialog.java
Labels: Bug, Refactoring

#4401 Update news item for raid on Mararn
  MekHQ/data/universe/news.xml
Labels: Data

#4396 Changes some wording around to help avoid confusion about StratCon.
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
Labels: AtB, GUI, UX

#4390 Added Quarterly Turnover Frequency Option
  MekHQ/resources/mekhq/resources/Personnel.properties
  MekHQ/src/mekhq/MHQConstants.java
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/personnel/enums/TurnoverFrequency.java
  MekHQ/src/mekhq/gui/dialog/RetirementDefectionDialog.java
  MekHQ/src/mekhq/gui/model/RetirementTableModel.java
  MekHQ/userdata/data/universe/ranks.xml
Labels: Personnel, UX

#4391 Added Campaign Option to Automate Retention Bonus Payments Based on a Threshold
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/gui/model/RetirementTableModel.java
  MekHQ/src/mekhq/gui/panes/CampaignOptionsPane.java
Labels: Personnel, UX

#4375 Updated Documentation for Education Module
  MekHQ/docs/Personnel Modules/Education Module.pdf
Labels: Personnel

#4377 Expanded Manual Assignment of Personnel Statuses to Include `PoW`, `On Leave`, and `AWOL` Statuses
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/src/mekhq/campaign/personnel/enums/PersonnelStatus.java
  MekHQ/src/mekhq/gui/enums/PersonnelFilter.java
  MekHQ/unittests/mekhq/campaign/personnel/enums/PersonnelStatusTest.java
Labels: Personnel, GUI

#4380 Added Academy Validation when Loading Existing Save
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/src/mekhq/campaign/io/CampaignXmlParser.java
  MekHQ/src/mekhq/gui/dialog/DataLoadingDialog.java
Labels: Bug

#4382 Added In-Unit Education to Education Module
  MekHQ/data/universe/academies/Unit Education.xml
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/resources/mekhq/resources/Education.properties
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/campaign/personnel/education/Academy.java
  MekHQ/src/mekhq/campaign/personnel/education/EducationController.java
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
  MekHQ/src/mekhq/gui/panes/CampaignOptionsPane.java
  MekHQ/unittests/mekhq/campaign/personnel/education/AcademyTests.java
Labels: Data, Personnel

#4388 Replaced CargoCapacityNagDialog functionality
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/src/mekhq/MHQConstants.java
  MekHQ/src/mekhq/campaign/CampaignSummary.java
  MekHQ/src/mekhq/gui/CampaignGUI.java
  MekHQ/src/mekhq/gui/CommandCenterTab.java
  MekHQ/src/mekhq/gui/dialog/MHQOptionsDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/CargoCapacityNagDialog.java
Labels: GUI, Refactoring, UX

#4392 Removed Personnel With Impossible-to-Fail TN from Turnover Table
  MekHQ/src/mekhq/campaign/personnel/turnoverAndRetention/RetirementDefectionTracker.java
Labels: Personnel, GUI, UX

#4393 Added the Automatic Release of the Commander Flag upon Commander Departure or Death, and Loyalty Reset upon Sudden Leadership Change
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/gui/panes/CampaignOptionsPane.java
Labels: Personnel, UX

#4394 Updated Prisoner Defection Calculation to Optionally Include Loyalty
  MekHQ/src/mekhq/campaign/ResolveScenarioTracker.java
Labels: Personnel

#4395 Added Execution and Jettison Options for Prisoners
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
Labels: Personnel, Future Addition Required

#4398 Added the Ability to Ransom Friendly PoWs
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
  MekHQ/src/mekhq/gui/utilities/StaticChecks.java
Labels: Personnel, Finances

#4400 Implemented the Capture of Missing Friendly Personnel During Scenario Resolution
  MekHQ/src/mekhq/MekHQ.java
  MekHQ/src/mekhq/gui/BriefingTab.java
Labels: Personnel, Scenario Resolution

#4402 Added a Dialog for Zero Award-Eligible Personnel
  MekHQ/resources/mekhq/resources/AutoAwardsDialog.properties
  MekHQ/src/mekhq/campaign/personnel/autoAwards/AutoAwardsController.java
Labels: Awards, GUI, UX

#4404 Added Automatic Running of autoAwards on 1st of Month & After Company Generator Runs
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/personnel/autoAwards/AutoAwardsController.java
  MekHQ/src/mekhq/gui/CampaignGUI.java
  MekHQ/src/mekhq/gui/dialog/CompanyGenerationDialog.java
Labels: Awards, UX

#4405 Corrected Missing Fatigue Option Check During Scenario Resolution & for StratCon Actions
  MekHQ/src/mekhq/campaign/ResolveScenarioTracker.java
  MekHQ/src/mekhq/campaign/stratcon/StratconRulesManager.java
Labels: Bug, Personnel, Scenario Resolution

#4407 Added Scenario Awards to Post-Scenario autoAward Checks
  MekHQ/src/mekhq/campaign/personnel/autoAwards/AutoAwardsController.java
Labels: Awards

#4409 Refactored Kill Count and Personnel Filtering Methods
  MekHQ/src/mekhq/campaign/personnel/autoAwards/AutoAwardsController.java
  MekHQ/src/mekhq/campaign/personnel/autoAwards/KillAwards.java
Labels: Bug, Awards, Personnel, Blocker

#4418 Added Basic Force Generator Role Functionality to Scenario Random Unit Generation
  MekHQ/src/mekhq/campaign/mission/AtBDynamicScenarioFactory.java
  MekHQ/src/mekhq/campaign/mission/AtBScenario.java
  MekHQ/src/mekhq/campaign/mission/ScenarioForceTemplate.java
Labels: AtB, Refactoring

#4411 Removed 'durationWeeks' Text from Education Tooltip
  MekHQ/resources/mekhq/resources/Education.properties
  MekHQ/src/mekhq/campaign/personnel/education/Academy.java
Labels: Personnel, GUI, UX

#4431 Removed Week Duration in Education Properties... Again
  MekHQ/src/mekhq/campaign/personnel/education/Academy.java
Labels: Bug, Personnel, GUI, UX

#4413 Decoupled Prisoner Capture & Defection from AtB, Updated Mechanics, & Added Supporting Documentation
  MekHQ/docs/Personnel Modules/Prisoner & Defection System.pdf
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/resources/mekhq/resources/Personnel.properties
  MekHQ/src/mekhq/campaign/ResolveScenarioTracker.java
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/gui/dialog/ResolveScenarioWizardDialog.java
Labels: AtB, Scenario Resolution, Refactoring

#4415 Refactored Award Tier Count Calculation in PersonViewPanel
  MekHQ/src/mekhq/gui/view/PersonViewPanel.java
Labels: Bug, Personnel, GUI

#4416 Refactored Skill Improvement Logic in EducationController
  MekHQ/src/mekhq/campaign/personnel/education/EducationController.java
Labels: Bug, Personnel, Refactoring

#4422 Expanded autoAwards Coverage to Include 'Prisoner of War'
  MekHQ/data/universe/awards/standard.xml
  MekHQ/src/mekhq/campaign/personnel/autoAwards/MiscAwards.java
Labels: Awards

#4438 Added processNewYearChecks Skip for Homeschool Academies
  MekHQ/src/mekhq/campaign/personnel/education/EducationController.java
Labels: Bug, Personnel

#4445 Added Logistics and Parts Procurement.pdf to AtB Docs Folder
  MekHQ/docs/Against the Bot/Logistics and Parts Procurement.pdf
Labels: AtB

#4456 Added Nag for Inability to Afford Next Jump
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/src/mekhq/MHQConstants.java
  MekHQ/src/mekhq/gui/CampaignGUI.java
  MekHQ/src/mekhq/gui/dialog/MHQOptionsDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/UnableToAffordJumpNagDialog.java
Labels: GUI, UX

#4439 Added Missing Status Log Messages & Stored Turnover Information Across New Day Events
  MekHQ/resources/mekhq/resources/Campaign.properties
  MekHQ/resources/mekhq/resources/LogEntries.properties
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/log/ServiceLogger.java
  MekHQ/src/mekhq/campaign/personnel/Person.java
Labels: Personnel, GUI

#4444 Reordered Asset Removal and Event Trigger in ManageAssetsDialog
  MekHQ/src/mekhq/gui/dialog/ManageAssetsDialog.java
Labels: Bug, Refactoring, Finances

#4452 Improved Education Module Messaging
  MekHQ/resources/mekhq/resources/Education.properties
  MekHQ/src/mekhq/campaign/personnel/education/EducationController.java
Labels: Personnel, GUI

#4453 Corrected Award File References
  MekHQ/src/mekhq/gui/view/PersonViewPanel.java
Labels: Bug, Awards

#4454 Removed Automatic Pilot Pickup Assumption
  MekHQ/docs/Personnel Modules/Prisoner & Defection System.pdf
  MekHQ/src/mekhq/campaign/ResolveScenarioTracker.java
  MekHQ/src/mekhq/gui/dialog/ResolveScenarioWizardDialog.java
Labels: Bug, Personnel, Scenario Resolution, Documentation

#4455 Added Re-Enrollment Functionality to Education System
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/resources/mekhq/resources/LogEntries.properties
  MekHQ/src/mekhq/campaign/log/ServiceLogger.java
  MekHQ/src/mekhq/campaign/personnel/education/Academy.java
  MekHQ/src/mekhq/campaign/personnel/education/EducationController.java
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
Labels: Personnel, Refactoring, UX

#4457 Removed Paid Retirement Color Options
  MekHQ/src/mekhq/gui/dialog/MHQOptionsDialog.java
Labels: Refactoring

#4461 Added Window Closing Event to PersonnelMarketDialog
  MekHQ/src/mekhq/gui/dialog/PersonnelMarketDialog.java
Labels: Bug, AtB, Personnel, GUI, Finances

#4462 Automated Unit Site Location Change when Entering Transit and Arrival States
  MekHQ/src/mekhq/gui/MapTab.java
Labels: AtB, UX

#4465 Updated Salvage Terminology
  MekHQ/src/mekhq/campaign/ResolveScenarioTracker.java
  MekHQ/src/mekhq/gui/adapter/UnitTableMouseAdapter.java
  MekHQ/src/mekhq/gui/model/UnitTableModel.java
Labels: GUI, Refactoring, UX

#4440 Updated Divorce and Death Handling
  MekHQ/src/mekhq/campaign/personnel/Person.java
Labels: Personnel

#4446 Added Random Personality Functionality
  MekHQ/docs/Personnel Modules/Random Personalities.pdf
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/resources/mekhq/resources/PersonViewPanel.properties
  MekHQ/resources/mekhq/resources/Personnel.properties
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/campaign/personnel/enums/randomEvents/personalities/Aggression.java
  MekHQ/src/mekhq/campaign/personnel/enums/randomEvents/personalities/Ambition.java
  MekHQ/src/mekhq/campaign/personnel/enums/randomEvents/personalities/Greed.java
  MekHQ/src/mekhq/campaign/personnel/enums/randomEvents/personalities/PersonalityQuirk.java
  MekHQ/src/mekhq/campaign/personnel/enums/randomEvents/personalities/Social.java
  MekHQ/src/mekhq/campaign/personnel/procreation/AbstractProcreation.java
  MekHQ/src/mekhq/campaign/personnel/randomEvents/PersonalityController.java
  MekHQ/src/mekhq/campaign/universe/generators/companyGenerators/AbstractCompanyGenerator.java
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
  MekHQ/src/mekhq/gui/dialog/CreateCharacterDialog.java
  MekHQ/src/mekhq/gui/dialog/CustomizePersonDialog.java
  MekHQ/src/mekhq/gui/dialog/HireBulkPersonnelDialog.java
  MekHQ/src/mekhq/gui/panes/CampaignOptionsPane.java
  MekHQ/src/mekhq/gui/view/PersonViewPanel.java
Labels: Personnel, Documentation

#4469 Added Prisoner Ransom & Free Prompts to Mission Completion
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/gui/BriefingTab.java
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
Labels: Personnel, GUI, UX

#4468 Implemented Monthly Personnel Data Cleanup
  MekHQ/resources/mekhq/resources/Campaign.properties
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/gui/CampaignGUI.java
  MekHQ/src/mekhq/gui/dialog/CustomizePersonDialog.java
  MekHQ/src/mekhq/gui/enums/PersonnelTableModelColumn.java
  MekHQ/src/mekhq/gui/panes/CampaignOptionsPane.java
Labels: Personnel, UX

#4472 Expanded Random Personalities to Include Intelligence, Incorporated Character Intelligence into Education Module
  MekHQ/docs/Personnel Modules/Education Module.pdf
  MekHQ/docs/Personnel Modules/Random Personalities.pdf
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/resources/mekhq/resources/Personnel.properties
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/campaign/personnel/education/EducationController.java
  MekHQ/src/mekhq/campaign/personnel/enums/randomEvents/personalities/Intelligence.java
  MekHQ/src/mekhq/campaign/personnel/randomEvents/PersonalityController.java
  MekHQ/src/mekhq/gui/dialog/CreateCharacterDialog.java
  MekHQ/src/mekhq/gui/dialog/CustomizePersonDialog.java
Labels: Personnel, Documentation

#4475 Adjusted UI layout and Improved Text Handling for Personnel Market
  MekHQ/src/mekhq/campaign/personnel/randomEvents/PersonalityController.java
  MekHQ/src/mekhq/gui/dialog/PersonnelMarketDialog.java
  MekHQ/src/mekhq/gui/view/PersonViewPanel.java
Labels: Bug, AtB, Personnel, GUI

#4476 Removed Loyalty Change Event for Executing Prisoners
  MekHQ/docs/Personnel Modules/Turnover & Retention Module.pdf
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
Labels: Personnel, Refactoring, Documentation

#4477 Marked 'FM: Mercenaries (rev)' Unit Rating Method as Deprecated
  MekHQ/resources/mekhq/resources/Rating.properties
  MekHQ/src/mekhq/campaign/rating/UnitRatingMethod.java
Labels: Unit Rating

#4485 Corrected Marshaling of Social Characteristics, Renamed Two Personality Characteristics
  MekHQ/resources/mekhq/resources/Personnel.properties
  MekHQ/src/mekhq/campaign/personnel/enums/randomEvents/personalities/Aggression.java
  MekHQ/src/mekhq/campaign/personnel/enums/randomEvents/personalities/Ambition.java
  MekHQ/src/mekhq/campaign/personnel/enums/randomEvents/personalities/Greed.java
  MekHQ/src/mekhq/campaign/personnel/enums/randomEvents/personalities/Intelligence.java
  MekHQ/src/mekhq/campaign/personnel/enums/randomEvents/personalities/Social.java
  MekHQ/src/mekhq/campaign/personnel/randomEvents/PersonalityController.java
Labels: Bug, Personnel, Blocker

#4479 Updated Personnel Report to Better Handle Bondsmen & Prisoners
  MekHQ/src/mekhq/campaign/report/PersonnelReport.java
Labels: Bug, Personnel

#4490 Fixed Missing Site Location Change Code & Turnover Information Storage
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/gui/MapTab.java
Labels: Bug, Personnel, Refactoring

#4491 Corrected Qualification Start Years
  MekHQ/data/universe/academies/Unit Education.xml
Labels: Data, Personnel

#4492 Added Promotion-Based autoAwards Processing
  MekHQ/src/mekhq/campaign/personnel/PersonAwardController.java
  MekHQ/src/mekhq/campaign/personnel/autoAwards/AutoAwardsController.java
  MekHQ/src/mekhq/campaign/personnel/autoAwards/RankAwards.java
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
  MekHQ/src/mekhq/gui/dialog/AutoAwardsDialog.java
Labels: Awards, Personnel

#4494 Improved Award Tooltips with XP & Edge Benefits
  MekHQ/src/mekhq/campaign/personnel/Award.java
  MekHQ/src/mekhq/gui/view/PersonViewPanel.java
Labels: Awards, GUI

#4501 Added Hospital Beds to Facility Report, Added Maximum Patients Per Doctor Campaign Option
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/campaign/CampaignSummary.java
  MekHQ/src/mekhq/gui/CommandCenterTab.java
  MekHQ/src/mekhq/gui/InfirmaryTab.java
  MekHQ/src/mekhq/gui/panes/CampaignOptionsPane.java
Labels: GUI

#4502 Edited Commander Display in TO&E for Origin Node
  MekHQ/src/mekhq/gui/view/ForceViewPanel.java
Labels: Bug, GUI

#4507 Removed Vestigial 'Uneventful' Graduation Event
  MekHQ/src/mekhq/campaign/personnel/education/EducationController.java
Labels: Bug, Personnel

#4508 Added autoAwards Support for the Final Three Awards from the Standard Set
  MekHQ/data/universe/awards/standard.xml
  MekHQ/docs/Personnel Modules/Awards Module.pdf
  MekHQ/resources/mekhq/resources/AutoAwardsDialog.properties
  MekHQ/src/mekhq/MekHQ.java
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/campaign/personnel/autoAwards/AutoAwardsController.java
  MekHQ/src/mekhq/campaign/personnel/autoAwards/MiscAwards.java
  MekHQ/src/mekhq/gui/BriefingTab.java
Labels: Bug, Awards, Documentation

#4509 Removed Turnover Target Number Method Configuration
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/campaign/personnel/enums/TurnoverTargetNumberMethod.java
  MekHQ/src/mekhq/campaign/personnel/turnoverAndRetention/RetirementDefectionTracker.java
  MekHQ/src/mekhq/gui/panes/CampaignOptionsPane.java
  MekHQ/unittests/mekhq/campaign/personnel/enums/TurnoverTargetNumberMethodTest.java
Labels: Personnel, UX

#4510 Updated Turnover & Retention Module.pdf
  MekHQ/docs/Personnel Modules/Turnover & Retention Module.pdf
Labels: Documentation
