Repository MegaMek/mekhq, pull requests merged in 2024-05, with the labels that each got.

#4048 Restored 'chkUseRandomFounderRetirement.toolTipText'
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
Labels: Bug, Blocker

#4059 Fix unit tests on Large Craft Bays
  MekHQ/unittests/mekhq/campaign/parts/equipment/EquipmentPartTest.java
  MekHQ/unittests/mekhq/campaign/parts/equipment/LargeCraftAmmoBinTest.java
Labels: Tests

#4064 Fix 4061: Failure to load older Campaign save
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/unittests/mekhq/campaign/CampaignTest.java
Labels: Stable Backport Candidate

#3980 Improved CamOps Unit Rating Handling Within Clamp
  MekHQ/src/mekhq/campaign/Campaign.java
Labels: For New Dev Cycle

#3931 Add new Scenario features to CustomizeScenarioDialog
  MekHQ/resources/mekhq/resources/CustomizeBotForceDialog.properties
  MekHQ/resources/mekhq/resources/CustomizeScenarioDialog.properties
  MekHQ/resources/mekhq/resources/CustomizeScenarioObjectiveDialog.properties
  MekHQ/resources/mekhq/resources/EditDeploymentDialog.properties
  MekHQ/resources/mekhq/resources/EditMapSettingsDialog.properties
  MekHQ/resources/mekhq/resources/EditScenarioDeploymentLimitsDialog.properties
  MekHQ/src/mekhq/GameThread.java
  MekHQ/src/mekhq/Utilities.java
  MekHQ/src/mekhq/campaign/mission/AtBScenario.java
  MekHQ/src/mekhq/campaign/mission/BotForce.java
  MekHQ/src/mekhq/campaign/mission/BotForceRandomizer.java
  MekHQ/src/mekhq/campaign/mission/IPlayerSettings.java
  MekHQ/src/mekhq/campaign/mission/Scenario.java
  MekHQ/src/mekhq/campaign/mission/ScenarioDeploymentLimit.java
  MekHQ/src/mekhq/campaign/mission/ScenarioObjective.java
  MekHQ/src/mekhq/gui/FileDialogs.java
  MekHQ/src/mekhq/gui/dialog/CustomizeBotForceDialog.java
  MekHQ/src/mekhq/gui/dialog/CustomizeScenarioDialog.java
  MekHQ/src/mekhq/gui/dialog/CustomizeScenarioObjectiveDialog.java
  MekHQ/src/mekhq/gui/dialog/EditDeploymentDialog.java
  MekHQ/src/mekhq/gui/dialog/EditMapSettingsDialog.java
  MekHQ/src/mekhq/gui/dialog/EditScenarioDeploymentLimitDialog.java
  MekHQ/src/mekhq/gui/model/BotForceTableModel.java
  MekHQ/src/mekhq/gui/model/ObjectiveTableModel.java
  MekHQ/src/mekhq/gui/view/AtBScenarioViewPanel.java
  MekHQ/src/mekhq/gui/view/ScenarioViewPanel.java
Labels: Enhancement, GUI

#4082 Updated Tooltips for the Marriageable & Trying to Conceive Flags
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
Labels: Personnel, GUI

#4084 Added Customizable Log Display Settings to Campaign Options
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/resources/mekhq/resources/PersonViewPanel.properties
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/gui/panes/CampaignOptionsPane.java
  MekHQ/src/mekhq/gui/view/PersonViewPanel.java
Labels: Personnel, GUI

#4087 Reintegrate Pay Multiplier into Salary Calculation
  MekHQ/src/mekhq/campaign/personnel/Person.java
Labels: Bug, Personnel, Finances

#4008 Added the Automatic Tracking of Award Eligibility and Additional Award Enhancements
  MekHQ/data/universe/awards/standard.xml
  MekHQ/docs/Archive Stuff/Award Stuff (old)/Award Guide.md
  MekHQ/docs/Archive Stuff/Award Stuff (old)/AwardTracker.xlsx
  MekHQ/docs/Archive Stuff/Award Stuff (old)/CampaignDataForAwards.cpnx
  MekHQ/docs/Awards Module.pdf
  MekHQ/resources/mekhq/resources/AutoAwardsDialog.properties
  MekHQ/resources/mekhq/resources/CampaignGUI.properties
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/resources/mekhq/resources/Personnel.properties
  MekHQ/src/mekhq/MHQConstants.java
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/campaign/ResolveScenarioTracker.java
  MekHQ/src/mekhq/campaign/force/Force.java
  MekHQ/src/mekhq/campaign/personnel/Award.java
  MekHQ/src/mekhq/campaign/personnel/PersonAwardController.java
  MekHQ/src/mekhq/campaign/personnel/autoAwards/AutoAwardsController.java
  MekHQ/src/mekhq/campaign/personnel/autoAwards/ContractAwards.java
  MekHQ/src/mekhq/campaign/personnel/autoAwards/FactionHunterAwards.java
  MekHQ/src/mekhq/campaign/personnel/autoAwards/InjuryAwards.java
  MekHQ/src/mekhq/campaign/personnel/autoAwards/KillAwards.java
  MekHQ/src/mekhq/campaign/personnel/autoAwards/MiscAwards.java
  MekHQ/src/mekhq/campaign/personnel/autoAwards/RankAwards.java
  MekHQ/src/mekhq/campaign/personnel/autoAwards/ScenarioAwards.java
  MekHQ/src/mekhq/campaign/personnel/autoAwards/ScenarioKillAwards.java
  MekHQ/src/mekhq/campaign/personnel/autoAwards/SkillAwards.java
  MekHQ/src/mekhq/campaign/personnel/autoAwards/TheatreOfWarAwards.java
  MekHQ/src/mekhq/campaign/personnel/autoAwards/TimeAwards.java
  MekHQ/src/mekhq/campaign/personnel/enums/AwardBonus.java
  MekHQ/src/mekhq/gui/BriefingTab.java
  MekHQ/src/mekhq/gui/CampaignGUI.java
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
  MekHQ/src/mekhq/gui/dialog/AutoAwardsDialog.java
  MekHQ/src/mekhq/gui/model/AutoAwardsTableModel.java
  MekHQ/src/mekhq/gui/panes/CampaignOptionsPane.java
  MekHQ/src/mekhq/gui/view/PersonViewPanel.java
  MekHQ/unittests/mekhq/campaign/personnel/PersonTest.java
Labels: Enhancement, Awards, Personnel

#4093 Added Negotiation and Scrounge Skill Settings for Administrator Personnel
  MekHQ/data/universe/academies/Clan Education.xml
  MekHQ/data/universe/academies/Local Academies.xml
  MekHQ/data/universe/academies/Prestigious Academies.xml
  MekHQ/docs/Education Module.pdf
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/resources/mekhq/resources/Education.properties
  MekHQ/resources/mekhq/resources/Finances.properties
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/resources/mekhq/resources/LogEntries.properties
  MekHQ/resources/mekhq/resources/PersonViewPanel.properties
  MekHQ/resources/mekhq/resources/Personnel.properties
  MekHQ/src/mekhq/MHQConstants.java
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/campaign/finances/enums/TransactionType.java
  MekHQ/src/mekhq/campaign/log/ServiceLogger.java
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/campaign/personnel/education/Academy.java
  MekHQ/src/mekhq/campaign/personnel/education/AcademyFactory.java
  MekHQ/src/mekhq/campaign/personnel/education/AcademySet.java
  MekHQ/src/mekhq/campaign/personnel/education/EducationController.java
  MekHQ/src/mekhq/campaign/personnel/enums/PersonnelStatus.java
  MekHQ/src/mekhq/campaign/personnel/generator/DefaultSkillGenerator.java
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
  MekHQ/src/mekhq/gui/enums/PersonnelFilter.java
  MekHQ/src/mekhq/gui/panes/CampaignOptionsPane.java
  MekHQ/src/mekhq/gui/utilities/StaticChecks.java
  MekHQ/src/mekhq/gui/view/PersonViewPanel.java
  MekHQ/unittests/mekhq/campaign/finances/enums/TransactionTypeTest.java
  MekHQ/unittests/mekhq/campaign/personnel/education/AcademyTests.java
  MekHQ/unittests/mekhq/campaign/personnel/enums/PersonnelStatusTest.java
  MekHQ/unittests/mekhq/gui/enums/PersonnelFilterTest.java
Labels: Personnel, UX

#4106 Use tabs in customize scenario dialog
  MekHQ/resources/mekhq/resources/CustomizeScenarioDialog.properties
  MekHQ/src/mekhq/gui/dialog/CustomizeScenarioDialog.java
  MekHQ/src/mekhq/gui/dialog/CustomizeScenarioObjectiveDialog.java
Labels: GUI

#4105 Updated Post-Scenario Logging for Prisoners
  MekHQ/resources/mekhq/resources/LogEntries.properties
  MekHQ/src/mekhq/campaign/ResolveScenarioTracker.java
  MekHQ/src/mekhq/campaign/log/ServiceLogger.java
Labels: Bug, Awards, Personnel

#4104 Fixed Post-Scenario Tracking System's Handling of Multiple Personnel in autoAwards
  MekHQ/src/mekhq/campaign/ResolveScenarioTracker.java
  MekHQ/src/mekhq/campaign/personnel/autoAwards/AutoAwardsController.java
Labels: Bug, Awards, GUI

#4102 Fixed Award Tier Count Calculations in PersonViewPanel
  MekHQ/src/mekhq/gui/view/PersonViewPanel.java
Labels: Bug, Awards, GUI

#4109 Fix Hyperspace Navigation & Small Arms Parsing in Education Module
  MekHQ/src/mekhq/campaign/personnel/education/Academy.java
  MekHQ/unittests/mekhq/campaign/personnel/education/AcademyTests.java
Labels: Bug, Personnel

#4114 Additional Education Module Bug Fixes
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/resources/mekhq/resources/Education.properties
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/campaign/personnel/education/EducationController.java
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
  MekHQ/src/mekhq/gui/panes/CampaignOptionsPane.java
Labels: Bug, Personnel

#4117 Even More Education Module Bug Fixes
  MekHQ/resources/mekhq/resources/Education.properties
  MekHQ/resources/mekhq/resources/PersonViewPanel.properties
  MekHQ/src/mekhq/campaign/personnel/education/Academy.java
  MekHQ/src/mekhq/campaign/personnel/education/EducationController.java
  MekHQ/src/mekhq/gui/view/PersonViewPanel.java
Labels: Bug, Personnel, GUI
