Repository MegaMek/mekhq, pull requests merged in 2025-01, with the labels that each got.

#5559 Refactored Combat Team Handling in Scenarios for Better `null` Safety
  MekHQ/src/mekhq/AtBGameThread.java
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/autoresolve/converter/SetupForces.java
  MekHQ/src/mekhq/campaign/mission/AtBScenario.java
  MekHQ/src/mekhq/campaign/mission/CommonObjectiveFactory.java
  MekHQ/src/mekhq/campaign/mission/atb/AtBScenarioFactory.java
  MekHQ/src/mekhq/campaign/mission/atb/scenario/BaseAttackBuiltInScenario.java
  MekHQ/src/mekhq/campaign/mission/atb/scenario/BreakthroughBuiltInScenario.java
  MekHQ/src/mekhq/campaign/mission/atb/scenario/ChaseBuiltInScenario.java
  MekHQ/src/mekhq/campaign/mission/atb/scenario/ExtractionBuiltInScenario.java
  MekHQ/src/mekhq/campaign/mission/atb/scenario/HideAndSeekBuiltInScenario.java
  MekHQ/src/mekhq/campaign/mission/atb/scenario/HoldTheLineBuiltInScenario.java
  MekHQ/src/mekhq/campaign/mission/atb/scenario/ProbeBuiltInScenario.java
  MekHQ/src/mekhq/campaign/mission/atb/scenario/ReconRaidBuiltInScenario.java
  MekHQ/src/mekhq/campaign/mission/atb/scenario/StandUpBuiltInScenario.java
  MekHQ/src/mekhq/gui/BriefingTab.java
  MekHQ/src/mekhq/gui/view/AtBScenarioViewPanel.java
Labels: Refactoring, For New Dev Cycle

#5577 Leadership Units & Support Point Scarcity Hot Fixes
  MekHQ/docs/Stratcon and Against the Bot/Combat Teams, Roles, Training & Reinforcements.pdf
  MekHQ/resources/mekhq/resources/AtBStratCon.properties
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/stratcon/StratconRulesManager.java
  MekHQ/src/mekhq/campaign/stratcon/SupportPointNegotiation.java
  MekHQ/src/mekhq/gui/StratconPanel.java
  MekHQ/src/mekhq/gui/stratcon/StratconScenarioWizard.java
Labels: Bug, StratCon

#5582 Updated Rank Systems Version in `ranks.xml`
  MekHQ/userdata/data/universe/ranks.xml
Labels: Data

#5583 Corrected GUI Theme Retrieval to Use `selectedTheme`
  MekHQ/src/mekhq/MekHQ.java
Labels: Bug

#5585 Replaced Placeholder Challenge Skulls with Final
  MekHQ/data/images/misc/challenge_estimate_full.png
  MekHQ/data/images/misc/challenge_estimate_half.png
  MekHQ/src/mekhq/campaign/mission/AtBContract.java
Labels: GUI

#5587 Fixed NPE in `ScenarioTableModel`
  MekHQ/src/mekhq/gui/model/ScenarioTableModel.java
Labels: Bug, GUI, StratCon

#5594 Fixed Incorrect Cargo Sizes for Resupplies
  MekHQ/docs/Stratcon and Against the Bot/Resupply & Convoys.pdf
  MekHQ/src/mekhq/campaign/mission/resupplyAndCaches/GenerateResupplyContents.java
Labels: StratCon, Documentation

#5595 Fixed Abandoned Convoys; Updated Abandoned Convoy Dialog
  MekHQ/resources/mekhq/resources/Resupply.properties
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/mission/resupplyAndCaches/ResupplyUtilities.java
  MekHQ/src/mekhq/gui/baseComponents/AbstractMHQNagDialog.java
  MekHQ/src/mekhq/gui/dialog/resupplyAndCaches/DialogAbandonedConvoy.java
Labels: Bug, GUI, StratCon

#5597 Added Better Tooltips for Force Roles
  MekHQ/resources/mekhq/resources/Mission.properties
  MekHQ/src/mekhq/gui/view/LanceAssignmentView.java
Labels: GUI, UX

#5598 Updated Resupply & Contract Automation Dialogs to Current Format; Fixed Multiple Resupply Bugs
  MekHQ/resources/mekhq/resources/ContractAutomation.properties
  MekHQ/resources/mekhq/resources/Resupply.properties
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/market/contractMarket/ContractAutomation.java
  MekHQ/src/mekhq/campaign/mission/resupplyAndCaches/PerformResupply.java
  MekHQ/src/mekhq/campaign/mission/resupplyAndCaches/Resupply.java
  MekHQ/src/mekhq/campaign/mission/resupplyAndCaches/ResupplyUtilities.java
  MekHQ/src/mekhq/gui/baseComponents/AbstractMHQNagDialog.java
  MekHQ/src/mekhq/gui/dialog/ContractAutomationDialog.java
  MekHQ/src/mekhq/gui/dialog/ContractMarketDialog.java
  MekHQ/src/mekhq/gui/dialog/resupplyAndCaches/DialogContractStart.java
  MekHQ/src/mekhq/gui/dialog/resupplyAndCaches/DialogInterception.java
  MekHQ/src/mekhq/gui/dialog/resupplyAndCaches/DialogItinerary.java
  MekHQ/src/mekhq/gui/dialog/resupplyAndCaches/DialogPlayerConvoyOption.java
  MekHQ/src/mekhq/gui/dialog/resupplyAndCaches/DialogResupplyFocus.java
  MekHQ/src/mekhq/gui/dialog/resupplyAndCaches/DialogRoleplayEvent.java
  MekHQ/src/mekhq/gui/dialog/resupplyAndCaches/DialogSwindled.java
  MekHQ/src/mekhq/gui/dialog/resupplyAndCaches/ResupplyDialogUtilities.java
  MekHQ/src/mekhq/gui/stratcon/StratconScenarioWizard.java
Labels: Bug, GUI, UX

#5599 Improved Loot Good Event Language
  MekHQ/resources/mekhq/resources/Loot.properties
Labels: GUI

#5600 Added Clarification to Reinforcement Dialog
  MekHQ/resources/mekhq/resources/AtBStratCon.properties
Labels: GUI, UX

#5601 fix: spelling, addresses issue #5547
  MekHQ/data/mekfiles/infantry/Beast Mounted/Elephant/Beast Infantry (Elephant)(Laser Rifle_MRR).blk
Labels: Data

#5602 Adjusted AtB Bonus Events
  MekHQ/src/mekhq/campaign/mission/AtBContract.java
  MekHQ/src/mekhq/campaign/mission/ScenarioObjectiveProcessor.java
Labels: AtB, StratCon, Legacy Improvement

#5605 data: fixes capitalization of names, addresses issue: #5138
  MekHQ/data/names/surnames.csv
Labels: Data

#5610 Corrected StratCon Menu Actions for Scenario and Force Management
  MekHQ/src/mekhq/gui/StratconPanel.java
Labels: Bug, StratCon, Blocker

#5611 Corrected Default Theme to Empty String
  MekHQ/src/mekhq/MekHQ.java
Labels: Bug, GUI

#5617 Restrict Distance Label to AtB Contracts Only
  MekHQ/src/mekhq/gui/view/ContractSummaryPanel.java
Labels: Bug, AtB

#5619 Refactored `PostScenarioDialogHandler` to use Generic `Scenario`
  MekHQ/src/mekhq/MekHQ.java
  MekHQ/src/mekhq/campaign/handler/PostScenarioDialogHandler.java
Labels: Bug, AtB

#5624 Updated Frontline Deployment Instructions
  MekHQ/resources/mekhq/resources/AtBStratCon.properties
  MekHQ/src/mekhq/gui/stratcon/StratconScenarioWizard.java
Labels: GUI, StratCon

#5625 Updated StratCon Data Center to Increase Scan Range Instead of Sector Reveal
  MekHQ/data/stratconfacilities/AlliedDataCenter.xml
  MekHQ/src/mekhq/campaign/stratcon/StratconFacility.java
  MekHQ/src/mekhq/campaign/stratcon/StratconRulesManager.java
  MekHQ/src/mekhq/campaign/stratcon/StratconTrackState.java
  MekHQ/src/mekhq/gui/StratconPanel.java
Labels: StratCon

#5644 Fixed Value Display in Resupplies
  MekHQ/src/mekhq/campaign/mission/resupplyAndCaches/GenerateResupplyContents.java
Labels: Bug

#5657 Restored Logic for Facilities to Reveal StratCon Tracks
  MekHQ/src/mekhq/campaign/stratcon/StratconFacility.java
  MekHQ/src/mekhq/campaign/stratcon/StratconTrackState.java
  MekHQ/src/mekhq/gui/StratconPanel.java
Labels: StratCon

#5618 Enable Auto-Resolve Button Conditionally for AtB Scenarios
  MekHQ/src/mekhq/gui/BriefingTab.java
Labels: Bug, Scenario Resolution

#5669 Reworked Morale Logic
  MekHQ/docs/Stratcon and Against the Bot/MekHQ Morale.pdf
  MekHQ/resources/mekhq/resources/ContractViewPanel.properties
  MekHQ/src/mekhq/campaign/mission/AtBContract.java
  MekHQ/src/mekhq/campaign/mission/enums/ScenarioStatus.java
  MekHQ/src/mekhq/gui/view/MissionViewPanel.java
Labels: Bug, AtB, StratCon, Documentation

#5670 Refactored Font Color Handling for Cargo Report
  MekHQ/src/mekhq/campaign/CampaignSummary.java
Labels: GUI, UX

#5671 Restore Default Font Color when Leadership Selection Valid
  MekHQ/src/mekhq/gui/stratcon/StratconScenarioWizard.java
Labels: Bug, GUI

#5672 Removed Hardcoded Primary Ally Modifier Chances
  MekHQ/data/scenariomodifiers/airBattleModifiers.xml
  MekHQ/data/scenariomodifiers/groundBattleModifiers.xml
  MekHQ/src/mekhq/campaign/stratcon/StratconRulesManager.java
Labels: StratCon, Force Generation

#5673 Expanded and Fixed Cargo Capacity Logic
  MekHQ/src/mekhq/campaign/unit/Unit.java
Labels: Bug

#5674 Expand Special Unit Generation in AtB Unit Market
  MekHQ/src/mekhq/campaign/market/unitMarket/AtBMonthlyUnitMarket.java
Labels: AtB

#5675 Multiple Resupply Bug Fixes
  MekHQ/resources/mekhq/resources/Resupply.properties
  MekHQ/src/mekhq/campaign/market/procurement/Procurement.java
  MekHQ/src/mekhq/campaign/mission/Loot.java
  MekHQ/src/mekhq/campaign/mission/resupplyAndCaches/GenerateResupplyContents.java
  MekHQ/src/mekhq/campaign/mission/resupplyAndCaches/PerformResupply.java
  MekHQ/src/mekhq/campaign/mission/resupplyAndCaches/Resupply.java
  MekHQ/src/mekhq/campaign/mission/resupplyAndCaches/ResupplyUtilities.java
  MekHQ/src/mekhq/gui/view/MissionViewPanel.java
Labels: StratCon

#5679 Expanded Contract Automation Functionality to Manually Created AtB Contracts
  MekHQ/src/mekhq/gui/dialog/NewAtBContractDialog.java
Labels: UX

#5680 Added Warning for Campaign Dates Before 2470
  MekHQ/resources/mekhq/resources/DateChooser.properties
  MekHQ/src/mekhq/gui/dialog/DateChooser.java
Labels: UX

#5682 Refactored Crew Assignment Event Handling
  MekHQ/src/mekhq/campaign/event/PersonCrewAssignmentEvent.java
  MekHQ/src/mekhq/campaign/unit/Unit.java
Labels: Bug

#5684 Added Report for Returning StratCon Forces
  MekHQ/resources/mekhq/resources/AtBStratCon.properties
  MekHQ/src/mekhq/campaign/stratcon/StratconRulesManager.java
Labels: UX

#5690 Added Potential Difficulty Spikes to Garrison-Type Contracts
  MekHQ/resources/mekhq/resources/ContractViewPanel.properties
  MekHQ/src/mekhq/campaign/mission/AtBContract.java
  MekHQ/src/mekhq/campaign/stratcon/StratconContractInitializer.java
  MekHQ/src/mekhq/gui/view/MissionViewPanel.java
Labels: StratCon

#5692 Removed Undeploy Option (again); Added Reset Scenario Deployment Option
  MekHQ/src/mekhq/campaign/stratcon/StratconScenario.java
  MekHQ/src/mekhq/campaign/stratcon/StratconTrackState.java
  MekHQ/src/mekhq/gui/StratconPanel.java
  MekHQ/src/mekhq/gui/adapter/TOEMouseAdapter.java
  MekHQ/src/mekhq/gui/adapter/UnitTableMouseAdapter.java
Labels: StratCon, UX

#5693 Removed SP Cost for GM Reinforcement Attempts in StratCon
  MekHQ/resources/mekhq/resources/AtBStratCon.properties
  MekHQ/src/mekhq/gui/stratcon/StratconScenarioWizard.java
Labels: StratCon, UX

#5698 Fixed Multiple StratCon Bugs
  MekHQ/src/mekhq/campaign/mission/AtBDynamicScenarioFactory.java
  MekHQ/src/mekhq/campaign/mission/atb/AtBScenarioModifierApplicator.java
  MekHQ/src/mekhq/campaign/stratcon/StratconRulesManager.java
  MekHQ/src/mekhq/gui/stratcon/StratconScenarioWizard.java
Labels: Bug, StratCon

#5700 Refactored Scenario Reporting for Legacy AtB and StratCon Differentiation
  MekHQ/resources/mekhq/resources/Campaign.properties
  MekHQ/src/mekhq/campaign/Campaign.java
Labels: GUI

#5701 Corrected Weight Class Initialization of Artillery Units
  MekHQ/src/mekhq/campaign/mission/AtBDynamicScenarioFactory.java
Labels: Bug, AtB, StratCon

#5702 Fixed Typo in Payment Overages Message
  MekHQ/src/mekhq/campaign/Campaign.java
Labels: Bug, GUI

#5706 Refactored Personnel Market Generation & Fixed Capital/Hiring Hall Checks
  MekHQ/src/mekhq/campaign/market/PersonnelMarket.java
Labels: Bug, Refactoring

#5707 Corrected Available Force Check
  MekHQ/src/mekhq/campaign/stratcon/StratconRulesManager.java
Labels: Bug, StratCon

#5708 Added a Soft Cap to Support Point Generation
  MekHQ/resources/mekhq/resources/AtBStratCon.properties
  MekHQ/src/mekhq/campaign/stratcon/SupportPointNegotiation.java
Labels: StratCon

#5710 Fixed Maternity Leave Date Handling
  MekHQ/src/mekhq/campaign/Campaign.java
Labels: Bug, Personnel

#5723 Removed End of Contract and Manual Resupplies; Fixed Smuggler Prices; Added Remove SP Button
  MekHQ/docs/Stratcon and Against the Bot/Resupply & Convoys.pdf
  MekHQ/resources/mekhq/resources/AtBStratCon.properties
  MekHQ/src/mekhq/campaign/mission/resupplyAndCaches/GenerateResupplyContents.java
  MekHQ/src/mekhq/gui/BriefingTab.java
  MekHQ/src/mekhq/gui/stratcon/CampaignManagementDialog.java
Labels: Bug, StratCon, Documentation

#5781 Feat/acar formations reintroduced
  MekHQ/data/images/misc/acar_splash_hd.png
  MekHQ/src/mekhq/MekHQ.java
  MekHQ/src/mekhq/campaign/CampaignFactory.java
  MekHQ/src/mekhq/campaign/autoresolve/AtBSetupForces.java
  MekHQ/src/mekhq/campaign/autoresolve/OrderFactory.java
  MekHQ/unittests/mekhq/campaign/autoresolve/ResolverTest.java
Labels: ACAR

#5742 Updated 'Clear Units' Button to Correctly Handle StratCon Scenarios
  MekHQ/resources/mekhq/resources/CampaignGUI.properties
  MekHQ/src/mekhq/campaign/mission/AtBScenario.java
  MekHQ/src/mekhq/gui/BriefingTab.java
Labels: Bug, AtB, StratCon

#5747 Added Clan and Inner Sphere Resupply Restrictions
  MekHQ/src/mekhq/campaign/mission/resupplyAndCaches/Resupply.java
Labels: Bug

#5764 Refactored Education Tag-Along Logic
  MekHQ/src/mekhq/campaign/personnel/education/EducationController.java
  MekHQ/src/mekhq/campaign/personnel/procreation/AbstractProcreation.java
Labels: Bug, Personnel

#5771 Removed `EnemyDropShip` and `GroundedEnemyDropShip` Modifiers
  MekHQ/data/scenariomodifiers/airBattleModifiers.xml
  MekHQ/data/scenariomodifiers/groundBattleModifiers.xml
  MekHQ/data/scenariomodifiers/modifiermanifest.xml
Labels: StratCon, Force Generation

#5774 Fixed Combat Team Status Logic for Convoy and Support Forces
  MekHQ/src/mekhq/campaign/force/CombatTeam.java
Labels: Bug

#5783 Update Sector Display in Briefing Room to Show Full Grid Reference
  MekHQ/resources/mekhq/resources/ScenarioTableModel.properties
  MekHQ/src/mekhq/gui/model/ScenarioTableModel.java
Labels: GUI, StratCon

#5785 Adjust Bounds Calculation in `getUnoccupiedAdjacentCoords`
  MekHQ/src/mekhq/campaign/stratcon/StratconRulesManager.java
Labels: Bug, StratCon

#5786 Corrected Objective Calculations when Assigning Forces to StratCon Scenarios
  MekHQ/src/mekhq/gui/stratcon/StratconScenarioWizard.java
Labels: Bug, StratCon

#5725 Fixed Maternity Leave... yet again
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/personnel/procreation/AbstractProcreation.java
  MekHQ/unittests/mekhq/campaign/personnel/procreation/AbstractProcreationTest.java
Labels: Bug, Personnel

#5729 Fixed Force Commander Handling and Improve XML Persistence.
  MekHQ/src/mekhq/campaign/force/Force.java
  MekHQ/src/mekhq/campaign/io/CampaignXmlParser.java
Labels: Bug

#5732 Fixed Routed Contracts Resulting in Truncated Payouts
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/mission/AtBContract.java
Labels: Bug

#5733 Fix Support Point Acquisition Visual Bug
  MekHQ/src/mekhq/campaign/stratcon/SupportPointNegotiation.java
Labels: Bug, GUI, StratCon

#5744 Fixed Role Eligibility Checks and Ensured Proper Role Assignment
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
Labels: Bug, Personnel, Compatibility

#5754 Corrected Birthday Generation for Personnel
  MekHQ/src/mekhq/campaign/personnel/generator/AbstractPersonnelGenerator.java
Labels: Bug, Personnel

#5772 Added `null` Protection to `OutstandingScenariosNagLogic` for Outstanding Scenario Nags
  MekHQ/src/mekhq/gui/dialog/nagDialogs/nagLogic/OutstandingScenariosNagLogic.java
Labels: Bug

#5787 Added 'null' Protection to `AtBDynamicScenarioFactory`
  MekHQ/src/mekhq/campaign/mission/AtBDynamicScenarioFactory.java
Labels: Bug, StratCon

#5788 Added Exception Handling for Out-of_Bounds Tab Index Selection
  MekHQ/src/mekhq/gui/TOETab.java
Labels: Bug, GUI

#5664 Updated & Fixed Required Combat Team Calculations; Reworked Combat Team Requirement Contract Pay Modifiers; Added Contract Difficulty Modifier
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/campaign/force/CombatTeam.java
  MekHQ/src/mekhq/campaign/market/contractMarket/AbstractContractMarket.java
  MekHQ/src/mekhq/campaign/market/contractMarket/AtbMonthlyContractMarket.java
  MekHQ/src/mekhq/campaign/market/contractMarket/CamOpsContractMarket.java
  MekHQ/src/mekhq/campaign/mission/AtBContract.java
  MekHQ/src/mekhq/campaign/mission/resupplyAndCaches/Resupply.java
  MekHQ/src/mekhq/campaign/mission/resupplyAndCaches/StarLeagueCache.java
  MekHQ/src/mekhq/campaign/stratcon/StratconContractInitializer.java
  MekHQ/src/mekhq/campaign/stratcon/SupportPointNegotiation.java
  MekHQ/src/mekhq/gui/dialog/CustomizeAtBContractDialog.java
  MekHQ/src/mekhq/gui/dialog/NewAtBContractDialog.java
  MekHQ/src/mekhq/gui/panes/CampaignOptionsPane.java
  MekHQ/src/mekhq/gui/view/ContractSummaryPanel.java
  MekHQ/src/mekhq/gui/view/LanceAssignmentView.java
Labels: AtB, StratCon, Legacy Improvement

#4963 Implemented `Campaign Options IIC`
  MekHQ/data/images/misc/MekHQ.png
  MekHQ/data/images/universe/factions/logo_clan_wolf-2.png
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/resources/mekhq/resources/DateChooser.properties
  MekHQ/resources/mekhq/resources/NEWCampaignOptionsDialog.properties
  MekHQ/src/mekhq/CampaignPreset.java
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/campaign/force/CombatTeam.java
  MekHQ/src/mekhq/campaign/personnel/SkillType.java
  MekHQ/src/mekhq/gui/CampaignGUI.java
  MekHQ/src/mekhq/gui/FileDialogs.java
  MekHQ/src/mekhq/gui/SpecialAbilityPanel.java
  MekHQ/src/mekhq/gui/campaignOptions/CampaignOptionsAbilityInfo.java
  MekHQ/src/mekhq/gui/campaignOptions/CampaignOptionsDialog.java
  MekHQ/src/mekhq/gui/campaignOptions/CampaignOptionsPane.java
  MekHQ/src/mekhq/gui/campaignOptions/CampaignOptionsUtilities.java
  MekHQ/src/mekhq/gui/campaignOptions/CreateCampaignPreset.java
  MekHQ/src/mekhq/gui/campaignOptions/SelectPresetDialog.java
  MekHQ/src/mekhq/gui/campaignOptions/components/CampaignOptionsButton.java
  MekHQ/src/mekhq/gui/campaignOptions/components/CampaignOptionsCheckBox.java
  MekHQ/src/mekhq/gui/campaignOptions/components/CampaignOptionsGridBagConstraints.java
  MekHQ/src/mekhq/gui/campaignOptions/components/CampaignOptionsHeaderPanel.java
  MekHQ/src/mekhq/gui/campaignOptions/components/CampaignOptionsLabel.java
  MekHQ/src/mekhq/gui/campaignOptions/components/CampaignOptionsSpinner.java
  MekHQ/src/mekhq/gui/campaignOptions/components/CampaignOptionsStandardPanel.java
  MekHQ/src/mekhq/gui/campaignOptions/components/CampaignOptionsTextField.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/AbilitiesTab.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/AdvancementTab.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/BiographyTab.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/EquipmentAndSuppliesTab.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/FinancesTab.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/GeneralTab.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/MarketsTab.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/PersonnelTab.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/RelationshipsTab.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/RepairAndMaintenanceTab.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/RulesetsTab.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/SkillsTab.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/TurnoverAndRetentionTab.java
  MekHQ/src/mekhq/gui/dialog/CampaignOptionsDialog.java
  MekHQ/src/mekhq/gui/dialog/CampaignPresetSelectionDialog.java
  MekHQ/src/mekhq/gui/dialog/DataLoadingDialog.java
  MekHQ/src/mekhq/gui/dialog/DateChooser.java
  MekHQ/src/mekhq/gui/panels/CampaignPresetPanel.java
  MekHQ/src/mekhq/gui/panes/CampaignOptionsPane.java
  MekHQ/src/mekhq/gui/panes/RankSystemsPane.java
  MekHQ/src/mekhq/gui/renderers/CampaignPresetRenderer.java
Labels: GUI, Refactoring, UX, Campaign Options, Utility

#5802 fix: missing team present check
  MekHQ/src/mekhq/campaign/autoresolve/AtBSetupForces.java
Labels: Bug, ACAR

#5790 Removed Legacy AtB Scenarios from StratCon Campaigns
  MekHQ/src/mekhq/campaign/mission/AtBContract.java
  MekHQ/src/mekhq/campaign/mission/enums/AtBContractType.java
Labels: AtB, StratCon, Legacy Improvement

#5791 Updated Contract Role Requirements
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/mission/atb/scenario/BaseAttackBuiltInScenario.java
  MekHQ/src/mekhq/campaign/mission/enums/AtBContractType.java
  MekHQ/src/mekhq/gui/view/LanceAssignmentView.java
Labels: AtB, StratCon

#5795 Replaced a Number of Placeholder Flavor Text & Fixed Encoding Error
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/src/mekhq/gui/campaignOptions/CampaignOptionsUtilities.java
Labels: GUI, Campaign Options

#5797 Refactored Portrait Mass Assignment Controls to Use Buttons
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/src/mekhq/gui/campaignOptions/contents/BiographyTab.java
Labels: UX, Campaign Options

#5798 Added Contract Breach CVP Penalties to StratCon Contracts
  MekHQ/resources/mekhq/resources/Campaign.properties
  MekHQ/src/mekhq/campaign/Campaign.java
Labels: StratCon, Legacy Improvement

#5804 Added Enemy Morale Spike to Justify Contract Extension Clause
  MekHQ/src/mekhq/campaign/mission/AtBContract.java
Labels: AtB, StratCon

#5805 Corrected Scenario info Visibility Logic in `StratconPanel`
  MekHQ/src/mekhq/gui/StratconPanel.java
Labels: Bug, GUI, StratCon

#5806 Refactored BV Display Logic in `StratconScenario.java`
  MekHQ/src/mekhq/campaign/stratcon/StratconScenario.java
Labels: GUI, StratCon

#5807 Added `null` Protection to Loot Saving
  MekHQ/src/mekhq/campaign/mission/Loot.java
Labels: Bug, AtB, Legacy Improvement

#5813 fix: due to how things work the ai player cant have : in its name
  MekHQ/src/mekhq/AtBGameThread.java
  MekHQ/src/mekhq/gui/dialog/AutoResolveBehaviorSettingsDialog.java
Labels: AtB, ACAR

#5809 Improved Vocational (Idle) Experience Gain; Expanded Immersive Dialog Functionality
  MekHQ/resources/mekhq/resources/Campaign.properties
  MekHQ/resources/mekhq/resources/VocationalExperienceAwardDialog.properties
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/io/CampaignXmlParser.java
  MekHQ/src/mekhq/gui/ReportHyperlinkListener.java
  MekHQ/src/mekhq/gui/baseComponents/MHQDialogImmersive.java
  MekHQ/src/mekhq/gui/dialog/CampaignHasProblemOnLoad.java
  MekHQ/src/mekhq/gui/dialog/VocationalExperienceAwardDialog.java
Labels: GUI, UX, Utility

#5808 Fixed Incorrect Pass/Fail Logic in Initial Education Evaluation
  MekHQ/src/mekhq/campaign/personnel/education/EducationController.java
Labels: Bug, Personnel

#5827 Fixed Scenario Info Display for Uncloaked Scenarios
  MekHQ/src/mekhq/gui/StratconPanel.java
Labels: Bug, StratCon

#5830 Update to convoy message copy
  MekHQ/resources/mekhq/resources/Resupply.properties
Labels: StratCon, Logistics

#5832 Corrected `MHQDialogImmersive` Constructor Usage
  MekHQ/src/mekhq/gui/baseComponents/MHQDialogImmersive.java
  MekHQ/src/mekhq/gui/dialog/CampaignHasProblemOnLoad.java
Labels: Bug, Blocker, Severity: Critical

#5835 Implemented Granular autoLogistics Settings
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/EquipmentAndSuppliesTab.java
Labels: UX, Campaign Options

#5839 Refactored HPG Network Logic and Improved Visualization Clarity
  MekHQ/src/mekhq/campaign/universe/Systems.java
  MekHQ/src/mekhq/gui/InterstellarMapPanel.java
Labels: GUI, CGL Request

#5842 Corrected `isUseAtB` to account for `useStratCon`
  MekHQ/src/mekhq/campaign/CampaignOptions.java
Labels: Bug, AtB, StratCon

#5848 Fixed Parsing of `routedPayout` to Handle Non-Numeric Characters
  MekHQ/src/mekhq/campaign/mission/AtBContract.java
Labels: Bug, Finances

#5849 Refactored Loot Preview to Use `JEditorPane` not `JTextArea`
  MekHQ/src/mekhq/gui/dialog/ResolveScenarioWizardDialog.java
Labels: Bug, GUI

#5850 Rebranded Idle XP into Vocational XP
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/AdvancementTab.java
  MekHQ/src/mekhq/gui/dialog/VocationalExperienceAwardDialog.java
Labels: Personnel, UX, Campaign Options

#5854 Refactored Preset Dialog Chooser to Include Description
  MekHQ/src/mekhq/gui/campaignOptions/SelectPresetDialog.java
Labels: GUI, UX

#5858 Fixed Loading & Saving of Some Campaign Options
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/gui/campaignOptions/CampaignOptionsPane.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/BiographyTab.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/EquipmentAndSuppliesTab.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/FinancesTab.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/MarketsTab.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/RulesetsTab.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/SkillsTab.java
Labels: Campaign Options, Severity: Critical

#5859 Updated Premade Presets for 50.03
  MekHQ/mmconf/campaignPresets/CampaignOperations.xml
  MekHQ/mmconf/campaignPresets/CampaignOperationsStratCon.xml
  MekHQ/mmconf/campaignPresets/NewPilotProgram.xml
  MekHQ/mmconf/campaignPresets/Tabula Rasa.xml
  MekHQ/mmconf/campaignPresets/TheCompleteExperience.xml
Labels: Campaign Options

#5863 Fixed Incorrect Tooltips
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/src/mekhq/gui/campaignOptions/contents/RelationshipsTab.java
Labels: Bug, GUI

#5864 Remove Unnecessary Edge Trigger Logging
  MekHQ/src/mekhq/campaign/personnel/Person.java
Labels: Bug

#5865 Fixed Force Updates after Removal in `TOEMouseAdapter`
  MekHQ/src/mekhq/gui/adapter/TOEMouseAdapter.java
Labels: Bug, GUI

#5866 Temporarily Removed CamOps Contract Market
  MekHQ/src/mekhq/gui/campaignOptions/contents/MarketsTab.java
Labels: Bug, GUI

#5867 Added GM Option to Assign Random SPAs
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
Labels: SPA

#5812 feat: adding new GUI for Princess ACAR
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/src/mekhq/AtBGameThread.java
  MekHQ/src/mekhq/GameThread.java
  MekHQ/src/mekhq/MekHQ.java
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/campaign/unit/AbstractTransportedUnitsSummary.java
  MekHQ/src/mekhq/campaign/unit/ShipTransportedUnitsSummary.java
  MekHQ/src/mekhq/campaign/unit/TacticalTransportedUnitsSummary.java
  MekHQ/src/mekhq/gui/CampaignGUI.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/RulesetsTab.java
Labels: ACAR

#5870 Adjusted Randomness of Turning Points and Highlighted Them in Briefing Room
  MekHQ/src/mekhq/campaign/mission/AtBDynamicScenarioFactory.java
  MekHQ/src/mekhq/campaign/stratcon/StratconContractInitializer.java
  MekHQ/src/mekhq/campaign/stratcon/StratconRulesManager.java
  MekHQ/src/mekhq/gui/model/ScenarioTableModel.java
Labels: Bug, GUI, UX

#5875 Rolled Back Window Size Setting
  MekHQ/src/mekhq/gui/CampaignGUI.java
Labels: Bug, GUI

#5879 Added Jackson Dependencies for YAML Processing in MekHQ
  MekHQ/build.gradle
Labels: Utility

#5889 Replaced Internal Dissension Events in StratCon
  MekHQ/src/mekhq/campaign/mission/AtBContract.java
Labels: Bug, AtB, StratCon, Legacy Improvement

#5890 Corrected Morale Logic and Contract Type Checks
  MekHQ/src/mekhq/campaign/mission/AtBContract.java
Labels: Bug, AtB, StratCon

#5891 Added 1,247 New Callsigns
  MekHQ/data/names/callsigns.csv
Labels: Data, Personnel

#5893 Immersively Updated the Immersive Dialog to Be More Immersive
  MekHQ/resources/mekhq/resources/CampaignHasProblemOnLoad.properties
  MekHQ/resources/mekhq/resources/VocationalExperienceAwardDialog.properties
  MekHQ/src/mekhq/gui/baseComponents/MHQDialogImmersive.java
  MekHQ/src/mekhq/gui/dialog/CampaignHasProblemOnLoad.java
  MekHQ/src/mekhq/gui/dialog/VocationalExperienceAwardDialog.java
Labels: GUI, Utility

#5894 feat: missing minimaps for MekHQ
  MekHQ/data/images/hexes/minimap/cyberpunk.theme
  MekHQ/data/images/hexes/minimap/darkula.theme
  MekHQ/data/images/hexes/minimap/defaultminimap.theme
  MekHQ/data/images/hexes/minimap/dreamy colors.theme
  MekHQ/data/images/hexes/minimap/earth and grass.theme
  MekHQ/data/images/hexes/minimap/gbc green.theme
  MekHQ/data/images/hexes/minimap/noctis.theme
  MekHQ/data/images/hexes/minimap/non-boolean.theme
  MekHQ/data/images/hexes/minimap/phosphor green.theme
  MekHQ/data/images/hexes/minimap/pink lemonade.theme
  MekHQ/data/images/hexes/minimap/pink world.theme
  MekHQ/data/images/hexes/minimap/rebirth.theme
  MekHQ/data/images/hexes/minimap/red amaranth.theme
  MekHQ/data/images/hexes/minimap/shades of green.theme
  MekHQ/data/images/hexes/minimap/solarized.theme
  MekHQ/data/images/hexes/minimap/synthwave.theme
  MekHQ/data/images/hexes/minimap/wood cabin.theme
  MekHQ/data/images/hexes/minimap/zone of battle.theme
Labels: Bug, AtB, ACAR

#5895 Refactored Age Checks; Updated Unit Tests for Procreation and Marriage
  MekHQ/src/mekhq/Utilities.java
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/campaign/personnel/education/EducationController.java
  MekHQ/src/mekhq/campaign/personnel/marriage/AbstractMarriage.java
  MekHQ/src/mekhq/campaign/personnel/procreation/AbstractProcreation.java
  MekHQ/unittests/mekhq/campaign/personnel/marriage/AbstractMarriageTest.java
  MekHQ/unittests/mekhq/campaign/personnel/procreation/AbstractProcreationTest.java
Labels: Personnel, Refactoring

#5896 Corrected Edge Cost Calculations
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
Labels: Bug

#5899 Fixed Clan Bidding
  MekHQ/resources/mekhq/resources/AtBDynamicScenarioFactory.properties
  MekHQ/src/mekhq/campaign/mission/AtBDynamicScenarioFactory.java
Labels: Bug, Force Generation

#5900 Fixed Negative Contract Base Pay
  MekHQ/src/mekhq/campaign/market/contractMarket/AtbMonthlyContractMarket.java
  MekHQ/src/mekhq/campaign/mission/AtBContract.java
Labels: Bug, Major, Finances

#5901 Added Movement Filter to Entity Generation Logic
  MekHQ/src/mekhq/campaign/mission/AtBDynamicScenarioFactory.java
Labels: Bug, Force Generation

#5902 Added Weight Bypass Based on Role
  MekHQ/src/mekhq/campaign/mission/AtBDynamicScenarioFactory.java
Labels: Force Generation

#5903 Fixed Multiple Follow-up Contract Bugs
  MekHQ/src/mekhq/campaign/market/contractMarket/AtbMonthlyContractMarket.java
Labels: Bug

#5908 Restored Missing Column Labels for Planetary Acquisition
  MekHQ/src/mekhq/gui/campaignOptions/contents/EquipmentAndSuppliesTab.java
Labels: Bug, GUI, Campaign Options

#5911 Added Fallback for AtB Bonus Unit Creation.
  MekHQ/src/mekhq/campaign/mission/AtBContract.java
  MekHQ/src/mekhq/campaign/mission/AtBDynamicScenarioFactory.java
Labels: Bug

#5912 Implemented `NewsDialog` for Immersive News Display
  MekHQ/resources/mekhq/resources/NewsDialog.properties
  MekHQ/src/mekhq/campaign/universe/NewsItem.java
  MekHQ/src/mekhq/gui/CampaignGUI.java
  MekHQ/src/mekhq/gui/baseComponents/MHQDialogImmersive.java
  MekHQ/src/mekhq/gui/dialog/NewsDialog.java
Labels: GUI

#5925 Fixed Unit Role configuration in Resupply Scenario Templates
  MekHQ/data/scenariotemplates/Emergency Convoy Defense - Player - VTOL.xml
  MekHQ/data/scenariotemplates/Emergency Convoy Defense - Player.xml
Labels: Bug, Force Generation

#5937 Fixed Contract Multiplier Again
  MekHQ/src/mekhq/campaign/market/contractMarket/AtbMonthlyContractMarket.java
Labels: Bug, Finances

#5942 Renamed 'Fixed BV' to 'BV' in BotForce Scenario Details
  MekHQ/src/mekhq/campaign/mission/BotForce.java
Labels: GUI

#5926 Fixed Used Parts Multiplier Labels to Ignore Quality Reversal in Finances Tab
  MekHQ/src/mekhq/gui/campaignOptions/contents/FinancesTab.java
Labels: Bug, GUI, Campaign Options

#5927 Added Soldier Requirements Handling in `UnitTableModel`
  MekHQ/src/mekhq/gui/model/UnitTableModel.java
Labels: GUI

#5930 Format Part Names as Italicized when Brand New
  MekHQ/src/mekhq/gui/model/PartsTableModel.java
Labels: GUI, UX

#5933 Fixed Overwriting of 'Brand New' Part State
  MekHQ/src/mekhq/campaign/Quartermaster.java
Labels: Bug, Parts/Repair/Refit

#5935 [RFE Completion]: Ability to reset AutoLogistics requested stock levels to their defaults
  MekHQ/resources/mekhq/resources/PartsReportDialog.properties
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/gui/dialog/PartsReportDialog.java
Labels: (RFE) Enhancement
