Repository MegaMek/mekhq, pull requests merged in 2025-05, with the labels that each got.

#6777 Fix: Fixed Dynamic Difficulty Modifiers
  MekHQ/src/mekhq/campaign/market/contractMarket/AbstractContractMarket.java
Labels: Bug, AtB, StratCon, Severity: Medium

#6803 Fix: Stopped Certain Personal Log Entries being Deleted on Load
  MekHQ/src/mekhq/campaign/personnel/Person.java
Labels: Bug, Personnel, Severity: Critical

#6784 Fix: Stopped Mercenary Auctions Gifting a Hundred Support Points (No Really)
  MekHQ/src/mekhq/campaign/randomEvents/MercenaryAuction.java
Labels: Bug, Severity: High

#6792 Fix: Fixed Error When Attempting to Fetch Bloodname for Characters Without a Bloodname
  MekHQ/src/mekhq/Utilities.java
  MekHQ/src/mekhq/campaign/personnel/Person.java
Labels: Bug, Unit Rating, Personnel, Severity: Medium

#6804 Fix: Fixed Error when Adopting Child With Existing Parents
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
Labels: Bug, Personnel, Severity: Medium

#6805 Fix: Fixed Visual Bug Causing Next Maintenance to Always be Displayed in the Hangar
  MekHQ/src/mekhq/gui/HangarTab.java
  MekHQ/src/mekhq/gui/model/UnitTableModel.java
Labels: Bug, GUI, Severity: Low

#6807 Fix: Significantly Improved TO&E Reading Speed by Removing C3 Calculations
  MekHQ/src/mekhq/gui/view/ForceViewPanel.java
Labels: Bug, GUI, Severity: Critical

#6808 Issue #6790: Prevent NPE from C3 when Refitting
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/parts/Refit.java
Labels: Bug, Parts/Repair/Refit

#6811 PR: Added 'Advanced Multiple Days' & 'Mass Personnel Training' Buttons
  MekHQ/resources/mekhq/resources/CampaignGUI.properties
  MekHQ/src/mekhq/gui/CampaignGUI.java
Labels: GUI, UX

#6814 Fix: Fixed Arrival Time in Several Scenario Templates
  MekHQ/data/scenariotemplates/Deep Raid Defense.xml
  MekHQ/data/scenariotemplates/Deep Raid.xml
  MekHQ/data/scenariotemplates/VIP Ambush.xml
  MekHQ/data/scenariotemplates/deprecatedTemplates/Skirmish Disruption.xml
Labels: Bug, Data, Severity: Medium

#6818 Fix: Added Missing Exceptional Attribute Charisma SPA
  MekHQ/data/universe/defaultspa.xml
Labels: Bug, SPA, Severity: Medium

#6820 PR: Moved SPA Info in Preparation for Future Changes
  MekHQ/src/mekhq/gui/campaignOptions/CampaignOptionsAbilityInfo.java
  MekHQ/src/mekhq/gui/campaignOptions/CampaignOptionsPane.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/AbilitiesTab.java
  MekHQ/src/mekhq/utilities/spaUtilities/enums/AbilityCategory.java
Labels: Refactoring

#6824 Fix: Reset Initial Delay of Tooltips to Pre-50.05 Values
  MekHQ/src/mekhq/MekHQ.java
Labels: GUI, UX

#6823 PR: Added Categorization of Skills to Right-Click Personnel Menu
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
Labels: Personnel, GUI, UX

#6795 Fix: #6782 Fixed Campaign Summary Displays of Kitchen Capacity and Injured Personnel
  MekHQ/src/mekhq/campaign/CampaignSummary.java
  MekHQ/src/mekhq/campaign/personnel/turnoverAndRetention/Fatigue.java
Labels: Bug, Severity: Medium

#6810 Improvement: Improved Robustness of Automatic Unmothballing in Contract Automation
  MekHQ/resources/mekhq/resources/ContractAutomation.properties
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/io/CampaignXmlParser.java
  MekHQ/src/mekhq/campaign/market/contractMarket/ContractAutomation.java
Labels: Bug, Severity: Medium

#6806 Fix: Fixed Exception When Viewing Past-Scenarios While Blind Drop or True Blind Drop is Enabled
  MekHQ/src/mekhq/gui/view/AtBScenarioViewPanel.java
Labels: Bug, GUI, Severity: Low

#6836 Fix: #6780 `Armor::changeArmorAmount` and `Armor::getArmorAmount` consider all parts so more than one armor part is considered for repairs
  MekHQ/src/mekhq/campaign/parts/Armor.java
  MekHQ/src/mekhq/campaign/parts/BaArmor.java
  MekHQ/src/mekhq/campaign/parts/ProtoMekArmor.java
  MekHQ/src/mekhq/campaign/parts/SVArmor.java
  MekHQ/unittests/mekhq/campaign/parts/ArmorTest.java
Labels: Parts/Repair/Refit, Severity: High

#6812 Improvement: Reduced Winter Holiday Message Spam
  MekHQ/resources/mekhq/resources/WinterHolidayAnnouncement.properties
  MekHQ/src/mekhq/campaign/personnel/lifeEvents/WinterHolidayAnnouncement.java
Labels: UX

#6816 Fix: Fixed Ammo Not Stacking in the Warehouse
  MekHQ/src/mekhq/campaign/Quartermaster.java
  MekHQ/src/mekhq/campaign/Warehouse.java
Labels: Bug, Severity: Medium

#6822 Improvement: Added Categorization of SPAs to Right-Click Personnel Menu
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/AbilitiesTab.java
  MekHQ/src/mekhq/utilities/spaUtilities/SpaUtilities.java
Labels: GUI, UX

#6825 Improvement: Switched Medical Daily Notices from Reports to Log Entries
  MekHQ/src/mekhq/campaign/personnel/medical/MedicalController.java
Labels: UX

#6826 Improvement: Adjusted Wealth Reinvestment Message when Zero C-Bills Are Being Reinvested
  MekHQ/resources/mekhq/resources/DiscretionarySpending.properties
  MekHQ/src/mekhq/campaign/personnel/DiscretionarySpending.java
Labels: Personnel, GUI, Finances, UX

#6847 Improvement: Updated Campaign Options Iconography for 50.06
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
Labels: Refactoring, Campaign Options

#6843 Fix: Fixed Default Attribute Scores; Fixed Attribute Score Randomness; Reworked Attribute Score Randomness Option; Added Starting Attribute Score Documentation
  MekHQ/docs/Personnel Modules/Starting Attribute Scores.pdf
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/src/mekhq/campaign/personnel/enums/PersonnelRole.java
  MekHQ/src/mekhq/campaign/personnel/generator/DefaultSkillGenerator.java
Labels: Bug, UX, Campaign Options, Severity: High

#6859 Fix: #6775 AutoLogistics properly considers `AmmoStorage` as ammo and not other
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/unittests/mekhq/campaign/CampaignTest.java
Labels: Bug, Parts/Repair/Refit, Severity: Low

#6857 Improvement: Switched Faction Logos to Use Same Logos as Campaign Options IIC
  MekHQ/data/images/universe/factions/logo_lothian_league.png
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/mission/AtBContract.java
  MekHQ/src/mekhq/campaign/mission/resupplyAndCaches/StarLeagueCache.java
  MekHQ/src/mekhq/campaign/universe/Factions.java
  MekHQ/src/mekhq/gui/dialog/ContractMarketDialog.java
  MekHQ/src/mekhq/gui/dialog/RetirementDefectionDialog.java
  MekHQ/src/mekhq/gui/dialog/randomEvents/GrayMondayDialog.java
  MekHQ/src/mekhq/gui/dialog/resupplyAndCaches/DialogItinerary.java
  MekHQ/src/mekhq/gui/dialog/resupplyAndCaches/DialogSwindled.java
Labels: GUI, Refactoring

#6858 Improvement: Added Faction Icons to Briefing Room
  MekHQ/src/mekhq/campaign/mission/AtBContract.java
  MekHQ/src/mekhq/gui/view/MissionViewPanel.java
Labels: GUI

#6881 Fix: Fixed Exception When Sorting Scenario List by Status While There is a Mix of Refused and Fought Engagements
  MekHQ/src/mekhq/gui/model/ScenarioTableModel.java
Labels: Bug, GUI, Severity: Critical

#6888 Improvement: Renamed Several Skills to Better Match ATOW
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/MercRosterAccess.java
  MekHQ/src/mekhq/campaign/market/contractMarket/AtbMonthlyContractMarket.java
  MekHQ/src/mekhq/campaign/market/contractMarket/CamOpsContractMarket.java
  MekHQ/src/mekhq/campaign/mission/resupplyAndCaches/Resupply.java
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/campaign/personnel/PersonUtility.java
  MekHQ/src/mekhq/campaign/personnel/SkillPerquisite.java
  MekHQ/src/mekhq/campaign/personnel/autoAwards/SkillAwards.java
  MekHQ/src/mekhq/campaign/personnel/education/Academy.java
  MekHQ/src/mekhq/campaign/personnel/generator/AbstractSkillGenerator.java
  MekHQ/src/mekhq/campaign/personnel/generator/DefaultSkillGenerator.java
  MekHQ/src/mekhq/campaign/personnel/medical/MedicalController.java
  MekHQ/src/mekhq/campaign/personnel/medical/advancedMedical/InjuryUtil.java
  MekHQ/src/mekhq/campaign/personnel/skills/Skill.java
  MekHQ/src/mekhq/campaign/personnel/skills/SkillType.java
  MekHQ/src/mekhq/campaign/rating/CamOpsReputation/CommandRating.java
  MekHQ/src/mekhq/campaign/rating/FieldManualMercRevDragoonsRating.java
  MekHQ/src/mekhq/campaign/storyarc/storypoint/CreateCharacterStoryPoint.java
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/EquipmentAndSuppliesTab.java
  MekHQ/src/mekhq/gui/dialog/CreateCharacterDialog.java
  MekHQ/src/mekhq/gui/dialog/CustomizePersonDialog.java
  MekHQ/src/mekhq/gui/dialog/NewContractDialog.java
  MekHQ/src/mekhq/gui/enums/PersonnelTableModelColumn.java
  MekHQ/src/mekhq/gui/model/DocTableModel.java
  MekHQ/src/mekhq/gui/view/ContractSummaryPanel.java
  MekHQ/unittests/mekhq/campaign/personnel/education/AcademyTests.java
  MekHQ/unittests/mekhq/campaign/randomEvents/prisoners/EventEffectsManagerTest.java
  MekHQ/unittests/mekhq/campaign/rating/FieldManualMercRevDragoonsRatingTest.java
  MekHQ/unittests/mekhq/gui/dialog/nagDialogs/nagLogic/UntreatedPersonnelNagLogicTest.java
Labels: Personnel, Refactoring

#6862 Improvement: Added In-Game Tutorial Documentation to the Briefing Room for AtB and StratCon Contracts
  MekHQ/resources/mekhq/resources/ContractViewPanel.properties
  MekHQ/src/mekhq/gui/view/MissionViewPanel.java
Labels: GUI, UX

#6887 Improvement: Deprecated Climbing
  MekHQ/src/mekhq/campaign/personnel/generator/AbstractSkillGenerator.java
  MekHQ/src/mekhq/campaign/personnel/skills/SkillDeprecationTool.java
  MekHQ/src/mekhq/campaign/personnel/skills/SkillType.java
Labels: Refactoring

#6893 fix: Armor will now show in its name if its Clan or IS, allowing for warehouse automation to work properly
  MekHQ/src/mekhq/campaign/parts/Armor.java
Labels: Bug, Parts/Repair/Refit

#6892 Improvement: Added Alphabetical Sorting of Skills
  MekHQ/src/mekhq/gui/dialog/DataLoadingDialog.java
Labels: Refactoring

#6883 Fix/acar npe on resolution
  MekHQ/resources/mekhq/resources/AbortingResolveScenarioWizard.properties
  MekHQ/src/mekhq/MekHQ.java
  MekHQ/src/mekhq/campaign/handler/PostScenarioDialogHandler.java
Labels: Bug, ACAR

#6896 Improvement: Added Additional Testing for Skills
  MekHQ/unittests/mekhq/campaign/personnel/skills/SkillTypeTest.java
Labels: Tests

#6891 Improvement: Added Career/Any, Running, Swimming, Melee Weapons, Thrown Weapons, Support Weapons and Zero-G Operations skills; Added Additional Science, Art & Interest Specializations
  MekHQ/src/mekhq/campaign/personnel/skills/SkillType.java
Labels: Implementation of Missing Official Rule

#6898 Fix: Fixed Missing Interest/Sports & Training Skills
  MekHQ/src/mekhq/campaign/personnel/skills/SkillType.java
Labels: Bug, Severity: Critical

#6901 Fix: Fixed Exception During Campaign Preset Saving Caused by Two Wrongly Setup Skills
  MekHQ/src/mekhq/campaign/personnel/skills/SkillType.java
Labels: Bug, Campaign Options, Severity: Critical

#6903 Improvement: Updated New Player Quick Start Save for 50.06
  MekHQ/campaigns/The Learning Ropes.cpnx.gz
Labels: UX

#6894 Improvement: Improved Person View to Include a Larger Portrait & Upgraded Several Components; Moved Medical Record Button to Personnel Right-Click Menu
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/resources/mekhq/resources/PersonViewPanel.properties
  MekHQ/resources/mekhq/resources/Skill.properties
  MekHQ/resources/mekhq/resources/SkillType.properties
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/campaign/personnel/skills/Skill.java
  MekHQ/src/mekhq/campaign/personnel/skills/SkillType.java
  MekHQ/src/mekhq/gui/PersonnelTab.java
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
  MekHQ/src/mekhq/gui/view/PersonViewPanel.java
Labels: Personnel, GUI, Improvement to Existing Feature

#6905 Fix: Fixed New Option Iconography Appearing on Separate Line in Campaign Options
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
Labels: Bug, GUI, Severity: Low

#6839 Improvement: Added Tooltips that Explain the Skill When Viewing a Person in the Personnel Tab or Purchasing/Improving Skills
  MekHQ/resources/mekhq/resources/SkillType.properties
  MekHQ/src/mekhq/campaign/personnel/skills/Attributes.java
  MekHQ/src/mekhq/campaign/personnel/skills/Skill.java
  MekHQ/src/mekhq/campaign/personnel/skills/SkillType.java
  MekHQ/src/mekhq/gui/view/PersonViewPanel.java
  MekHQ/unittests/mekhq/campaign/personnel/skills/SkillTypeTest.java
Labels: GUI, Tests, UX

#6899 Improvement: Updated Roleplay Skills Generation Tooltip in Campaign Options to Show Recommended Value
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
Labels: GUI, UX

#6915 Improvement: When Selecting Change Profession Categorize Professions Based on SubType
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/resources/mekhq/resources/PersonnelRoleSubType.properties
  MekHQ/src/mekhq/campaign/personnel/enums/PersonnelRole.java
  MekHQ/src/mekhq/campaign/personnel/enums/PersonnelRoleSubType.java
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
Labels: GUI, UX

#6913 Fix: Removed Duplicate Resource Bundle Entry
  MekHQ/resources/mekhq/resources/SkillType.properties
Labels: Bug, Severity: Low

#6914 Improvement: Introduced Profession SubTypes for Easier Categorization
  MekHQ/src/mekhq/campaign/personnel/enums/PersonnelRole.java
  MekHQ/unittests/mekhq/campaign/personnel/enums/PersonnelRoleTest.java
Labels: Tests, Refactoring

#6912 Improvement: Moved Remove All Roleplay Skills into Person; Expanded Functionality
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
Labels: Personnel, Refactoring

#6909 Improvement: Added Categorization Sorting to Edit & Create Person Dialogs
  MekHQ/src/mekhq/campaign/personnel/skills/SkillType.java
  MekHQ/src/mekhq/gui/dialog/CreateCharacterDialog.java
  MekHQ/src/mekhq/gui/dialog/CustomizePersonDialog.java
Labels: GUI, UX

#6889 Improvement: Updated tooltip in MRMS dialog and JUnit Tests for `MRMSService.java`
  MekHQ/resources/mekhq/resources/MRMS.properties
  MekHQ/unittests/mekhq/service/mrms/MRMSServiceTest.java
Labels: Mass Repair/Mass Salvage, UX, Utility

#6907 Improvement: Adjusted the Rate of Captured Clan Personnel Committing Bondsref; Added the Ability for Captured Combine Personnel to Commit Seppuku
  MekHQ/resources/mekhq/resources/PersonnelStatus.properties
  MekHQ/resources/mekhq/resources/PrisonerEvents.properties
  MekHQ/src/mekhq/campaign/personnel/enums/PersonnelStatus.java
  MekHQ/src/mekhq/campaign/randomEvents/prisoners/CapturePrisoners.java
  MekHQ/unittests/mekhq/campaign/personnel/enums/PersonnelStatusTest.java
Labels: Bug, Scenario Resolution, Severity: Low, Improvement to Existing Feature

#6911 Improvement: Expanded Briefing Room Tutorial to Include Support Points & Reinforcing Scenarios; Fixed Formatting
  MekHQ/resources/mekhq/resources/ContractViewPanel.properties
  MekHQ/src/mekhq/gui/view/MissionViewPanel.java
Labels: Bug, GUI, UX, Severity: Medium

#6908 Fix: #6880 Added GUI Scaling to Repair Bay Job Listings
  MekHQ/src/mekhq/gui/model/TaskTableModel.java
Labels: Bug, GUI, Severity: Low

#6925 Fix: Minor Fix to Profession Categorization
  MekHQ/src/mekhq/campaign/personnel/enums/PersonnelRole.java
  MekHQ/src/mekhq/gui/CampaignGUI.java
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
Labels: Bug, GUI, Severity: Low

#6943 Improvement: #6867 Added Weapons as a separate autologistics category
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/EquipmentAndSuppliesTab.java
  MekHQ/unittests/mekhq/campaign/CampaignTest.java
Labels: (RFE) Enhancement, Parts/Repair/Refit, Logistics

#6946 Improvement: Added Tooltips to Professions Showing Associated Skills and Their Linked Attributes
  MekHQ/resources/mekhq/resources/PersonnelRole.properties
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/campaign/personnel/PersonUtility.java
  MekHQ/src/mekhq/campaign/personnel/enums/PersonnelRole.java
  MekHQ/src/mekhq/campaign/personnel/generator/AbstractSkillGenerator.java
  MekHQ/src/mekhq/campaign/personnel/skills/SkillType.java
  MekHQ/src/mekhq/campaign/randomEvents/RoninOffer.java
  MekHQ/src/mekhq/gui/CampaignGUI.java
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
  MekHQ/src/mekhq/gui/adapter/UnitTableMouseAdapter.java
  MekHQ/src/mekhq/gui/dialog/HireBulkPersonnelDialog.java
  MekHQ/unittests/mekhq/campaign/personnel/enums/PersonnelRoleTest.java
Labels: GUI, Tests, UX

#6945 Fix: #6944 Fixed Wealth Unintentionally Capping at 5 Instead of 10
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
Labels: Bug, Personnel, Severity: Medium

#6939 Fix: Fixed Academy Curriculum Tooltips Displaying 'Doctor' Skill Instead of 'Surgery/Any'
  MekHQ/src/mekhq/campaign/personnel/education/Academy.java
Labels: Bug, GUI, Severity: Low

#6936 Fix: #6882 Fixed NPC Resupply Convoys Getting Lost On Their Way To Interception Scenarios
  MekHQ/data/scenariotemplates/Emergency Convoy Defense.xml
Labels: Bug, Severity: Medium

#6933 Fix: Enforced Rules for Profession Requirements when Editing Person
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/gui/dialog/CreateCharacterDialog.java
  MekHQ/src/mekhq/gui/dialog/CustomizePersonDialog.java
Labels: Bug, Personnel, Severity: High

#6932 Improvement: Improved Display of Long Named Professions in Personnel Tab by Moving Salary to Biographies Filter
  MekHQ/src/mekhq/gui/enums/PersonnelTableModelColumn.java
  MekHQ/unittests/mekhq/gui/enums/PersonnelTableModelColumnTest.java
Labels: Bug, GUI, Severity: Low

#6931 Improvement: Removed Multi-Crew Admin Strain Reductions, Simplifying the Calculation of Admin Strain
  MekHQ/docs/Personnel Modules/Turnover & Retention Module (feat. Fatigue).pdf
  MekHQ/resources/mekhq/resources/Glossary.properties
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/campaign/personnel/enums/PersonnelRole.java
  MekHQ/src/mekhq/campaign/personnel/turnoverAndRetention/RetirementDefectionTracker.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/TurnoverAndRetentionTab.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/AdminStrainNagDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/NagController.java
Labels: Personnel

#6930 Fix: Stopped Personnel From Skipping Their Paycheck
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/finances/Accountant.java
  MekHQ/src/mekhq/campaign/personnel/enums/PersonnelStatus.java
Labels: Bug, Personnel, Finances, Severity: Medium

#6928 Improvement: Updated Campaign Options to Use Civilian Instead of Dependent Terminology
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
Labels: Data, GUI, Campaign Options

#6927 Improvement: Changed Dependent Joining or Leaving Messaging to use Civilian Terminology and State Profession
  MekHQ/resources/mekhq/resources/RandomDependents.properties
  MekHQ/src/mekhq/campaign/personnel/RandomDependents.java
Labels: Personnel, GUI

#6924 Improvement: Changed 'Role' to 'Profession'; Changed Mentions of a 'Dependent' Profession to 'Civilian'
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/resources/mekhq/resources/Personnel.properties
Labels: Data, GUI, UX

#6923 Improvement: Improved Display of Civilian Professions
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/gui/enums/PersonnelTableModelColumn.java
Labels: GUI, UX

#6918 Improvement: Added a Centralized Handler for What Skills are Tied to What Professions
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/campaign/personnel/enums/PersonnelRole.java
Labels: Personnel, Refactoring

#6917 Improvement: Added Interest/Law; Fixed Incorrect Name of Constant
  MekHQ/resources/mekhq/resources/SkillType.properties
  MekHQ/src/mekhq/campaign/personnel/skills/SkillType.java
Labels: Personnel

#6916 Improvement: Categorized Professions When Hiring Via Toolbar
  MekHQ/resources/mekhq/resources/CampaignGUI.properties
  MekHQ/src/mekhq/campaign/personnel/enums/PersonnelRole.java
  MekHQ/src/mekhq/gui/CampaignGUI.java
Labels: GUI

#6940 Fix: #6937 Fixed Display of Implants in New Person View Panel
  MekHQ/src/mekhq/gui/view/PersonViewPanel.java
Labels: Bug, GUI, Severity: High

#6947 Fix: Stopped Characters Resigning While Campaign is In Transit (Again)
  MekHQ/src/mekhq/campaign/Campaign.java
Labels: Bug, GUI, Severity: Medium

#6929 Improvement: Updated Personnel Breakdown Report to Include the Number of Civilian Students, Children, and Child Students; Added Civilian Salary Amount
  MekHQ/src/mekhq/campaign/report/PersonnelReport.java
Labels: Personnel, GUI, UX

#6949 Fix: Fixed Mac Displaying Profession Descriptions Incorrectly in Taskbar
  MekHQ/src/mekhq/campaign/personnel/enums/PersonnelRole.java
  MekHQ/src/mekhq/gui/CampaignGUI.java
Labels: Bug, GUI, Severity: Medium

#6941 Fix: Fixed Calculation of Required Forces to Better Account for Non-Standard Combat Teams
  MekHQ/src/mekhq/campaign/force/CombatTeam.java
  MekHQ/src/mekhq/campaign/market/contractMarket/AbstractContractMarket.java
  MekHQ/src/mekhq/campaign/mission/AtBContract.java
  MekHQ/src/mekhq/gui/dialog/NewAtBContractDialog.java
  MekHQ/unittests/mekhq/campaign/force/CombatTeamTest.java
Labels: Bug, UX, Severity: Medium

#6950 Fix: Added Missing Art/Cooking Skill as Potential Skill for the Vehicle Crewmember Role
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/campaign/personnel/enums/PersonnelRole.java
Labels: Bug, Personnel, Severity: Medium, Improvement to Existing Feature

#6966 Improvement: Changed Default Acquisitions Skill from Negotiation to Administration in Stock Presets and New Player Quickstart Campaign
  MekHQ/campaigns/The Learning Ropes.cpnx.gz
  MekHQ/data/campaignPresets/1 - New Player Preset.xml
  MekHQ/data/campaignPresets/2 - Veteran Player Preset.xml
Labels: Personnel, UX, Campaign Options

#6960 Fix: Added Clan Labels and Descriptions to Profession Descriptions and Labels
  MekHQ/src/mekhq/campaign/personnel/enums/PersonnelRole.java
  MekHQ/src/mekhq/gui/CampaignGUI.java
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
  MekHQ/unittests/mekhq/campaign/personnel/enums/PersonnelRoleTest.java
Labels: Bug, GUI, Severity: Low

#6951 Fix: Fixed Unclear Wording in Procurement when Out of Acquisition Attempts
  MekHQ/src/mekhq/campaign/Campaign.java
Labels: GUI, UX

#6958 Improvement: Added a Hint Display to Campaign Options IIC
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/src/mekhq/gui/campaignOptions/CampaignOptionsDialog.java
  MekHQ/src/mekhq/gui/campaignOptions/CampaignOptionsPane.java
  MekHQ/src/mekhq/gui/campaignOptions/CampaignOptionsUtilities.java
  MekHQ/src/mekhq/gui/campaignOptions/CreateCampaignPreset.java
  MekHQ/src/mekhq/gui/campaignOptions/SelectPresetDialog.java
  MekHQ/src/mekhq/gui/campaignOptions/components/CampaignOptionsButton.java
  MekHQ/src/mekhq/gui/campaignOptions/components/CampaignOptionsCheckBox.java
  MekHQ/src/mekhq/gui/campaignOptions/components/CampaignOptionsHeaderPanel.java
  MekHQ/src/mekhq/gui/campaignOptions/components/CampaignOptionsLabel.java
  MekHQ/src/mekhq/gui/campaignOptions/components/CampaignOptionsSpinner.java
  MekHQ/src/mekhq/gui/campaignOptions/components/CampaignOptionsStandardPanel.java
  MekHQ/src/mekhq/gui/campaignOptions/components/CampaignOptionsTextField.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/AbilitiesTab.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/AdvancementTab.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/BiographyTab.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/EquipmentAndSuppliesTab.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/FinancesTab.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/GeneralTab.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/MarketsTab.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/PersonnelTab.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/RelationshipsTab.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/RepairAndMaintenanceTab.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/RulesetsTab.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/SkillsTab.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/TurnoverAndRetentionTab.java
  MekHQ/src/mekhq/gui/campaignOptions/enums/ProcurementPersonnelPick.java
Labels: GUI, UX, Campaign Options

#6968 Improvement: Added Hint Panel to TO&E Tab; Updated Glossary With New TO&E-Related Entries
  MekHQ/resources/mekhq/resources/ForceType.properties
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/resources/mekhq/resources/Glossary.properties
  MekHQ/src/mekhq/gui/ForceRenderer.java
  MekHQ/src/mekhq/gui/TOETab.java
  MekHQ/src/mekhq/gui/adapter/TOEMouseAdapter.java
  MekHQ/src/mekhq/gui/dialog/GlossaryDialog.java
Labels: GUI, UX

#6974 Fix: Added Missing Commander Address from Convoy Roleplay Events
  MekHQ/src/mekhq/campaign/mission/resupplyAndCaches/PerformResupply.java
Labels: Bug, GUI, Severity: Medium

#6975 Fix: #6972 Added 'Patrol' Combat Role to the Briefing Room Tutorial Panel
  MekHQ/resources/mekhq/resources/ContractViewPanel.properties
Labels: Bug, GUI, UX, Severity: Medium

#6977 Fix: #6957 Fixed Description of Facility Assault Standard Scenario to Make Clear That the Facility Must Be Destroyed
  MekHQ/data/scenariotemplates/Hostile Facility.xml
Labels: Bug, GUI, StratCon, Severity: Medium

#6981 Fix: #6788, #6979 Fixed Naming of MekTech Portrait Folders & Portraits
  MekHQ/data/images/portraits/Female/MekTech/MekTech_F_1.png
  MekHQ/data/images/portraits/Female/MekTech/MekTech_F_10.png
  MekHQ/data/images/portraits/Female/MekTech/MekTech_F_11.png
  MekHQ/data/images/portraits/Female/MekTech/MekTech_F_12.png
  MekHQ/data/images/portraits/Female/MekTech/MekTech_F_13.png
  MekHQ/data/images/portraits/Female/MekTech/MekTech_F_14.png
  MekHQ/data/images/portraits/Female/MekTech/MekTech_F_15.png
  MekHQ/data/images/portraits/Female/MekTech/MekTech_F_16.png
  MekHQ/data/images/portraits/Female/MekTech/MekTech_F_17.png
  MekHQ/data/images/portraits/Female/MekTech/MekTech_F_18.png
  MekHQ/data/images/portraits/Female/MekTech/MekTech_F_19.png
  MekHQ/data/images/portraits/Female/MekTech/MekTech_F_2.png
  MekHQ/data/images/portraits/Female/MekTech/MekTech_F_20.png
  MekHQ/data/images/portraits/Female/MekTech/MekTech_F_21.png
  MekHQ/data/images/portraits/Female/MekTech/MekTech_F_22.png
  MekHQ/data/images/portraits/Female/MekTech/MekTech_F_23.png
  MekHQ/data/images/portraits/Female/MekTech/MekTech_F_3.png
  MekHQ/data/images/portraits/Female/MekTech/MekTech_F_4.png
  MekHQ/data/images/portraits/Female/MekTech/MekTech_F_5.png
  MekHQ/data/images/portraits/Female/MekTech/MekTech_F_6.png
  MekHQ/data/images/portraits/Female/MekTech/MekTech_F_7.png
  MekHQ/data/images/portraits/Female/MekTech/MekTech_F_8.png
  MekHQ/data/images/portraits/Female/MekTech/MekTech_F_9.png
  MekHQ/data/images/portraits/Male/MekTech/MechTek_M_1.png
  MekHQ/data/images/portraits/Male/MekTech/MechTek_M_10.png
  MekHQ/data/images/portraits/Male/MekTech/MechTek_M_11.png
  MekHQ/data/images/portraits/Male/MekTech/MechTek_M_12.png
  MekHQ/data/images/portraits/Male/MekTech/MechTek_M_13.png
  MekHQ/data/images/portraits/Male/MekTech/MechTek_M_14.png
  MekHQ/data/images/portraits/Male/MekTech/MechTek_M_15.png
  MekHQ/data/images/portraits/Male/MekTech/MechTek_M_16.png
  MekHQ/data/images/portraits/Male/MekTech/MechTek_M_17.png
  MekHQ/data/images/portraits/Male/MekTech/MechTek_M_18.png
  MekHQ/data/images/portraits/Male/MekTech/MechTek_M_19.png
  MekHQ/data/images/portraits/Male/MekTech/MechTek_M_2.png
  MekHQ/data/images/portraits/Male/MekTech/MechTek_M_20.png
  MekHQ/data/images/portraits/Male/MekTech/MechTek_M_21.png
  MekHQ/data/images/portraits/Male/MekTech/MechTek_M_22.png
  MekHQ/data/images/portraits/Male/MekTech/MechTek_M_23.png
  MekHQ/data/images/portraits/Male/MekTech/MechTek_M_24.png
  MekHQ/data/images/portraits/Male/MekTech/MechTek_M_25.png
  MekHQ/data/images/portraits/Male/MekTech/MechTek_M_26.png
  MekHQ/data/images/portraits/Male/MekTech/MechTek_M_3.png
  MekHQ/data/images/portraits/Male/MekTech/MechTek_M_4.png
  MekHQ/data/images/portraits/Male/MekTech/MechTek_M_5.png
  MekHQ/data/images/portraits/Male/MekTech/MechTek_M_6.png
  MekHQ/data/images/portraits/Male/MekTech/MechTek_M_7.png
  MekHQ/data/images/portraits/Male/MekTech/MechTek_M_8.png
  MekHQ/data/images/portraits/Male/MekTech/MechTek_M_9.png
Labels: Bug, Data, Personnel, Severity: Medium

#6982 Fix: Stopped New Civilians Spawning While Not On Planet via Marriage; #6954 Fixed Inability to Disable New Civilians via Marriage
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/src/mekhq/campaign/personnel/marriage/AbstractMarriage.java
Labels: Bug, Personnel, Campaign Options, Severity: Medium

#6983 Fix: Corrected Command Paralysis description
  MekHQ/data/universe/defaultspa.xml
Labels: Bug, Data, Severity: Low

#6985 Fix: Prevented Forces from Being Locked in a Permanently Deployed State Following Mission Completion or Removal
  MekHQ/src/mekhq/gui/BriefingTab.java
Labels: Bug, Severity: Critical

#6987 Improvement: #6921 Added Report Message to Alert Player to the Delivery of a Unit
  MekHQ/resources/mekhq/resources/Campaign.properties
  MekHQ/src/mekhq/campaign/Campaign.java
Labels: GUI, UX

#6988 Fix: #6952 Fixed Copy-Paste Errors in Skill Tooltips; Fixed Closing Braces in Skill Tooltips; Stopped Empty Skill SubType Menus Appearing in Personnel Right-Click Menu
  MekHQ/resources/mekhq/resources/SkillType.properties
  MekHQ/src/mekhq/campaign/personnel/skills/SkillType.java
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
Labels: Bug, GUI, Severity: Low

#6989 Fix: #6948 Fixed Artillery Skill Only Being Factored into a Character's Experience Level when Use Artillery Skill is Disabled
  MekHQ/src/mekhq/campaign/personnel/Person.java
Labels: Bug, Personnel, Severity: High

#6991 Improvement: #6878 Added the Ability to Hide Personalities on Individual Characters
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
  MekHQ/src/mekhq/gui/view/PersonViewPanel.java
Labels: Personnel, UX

#6992 Fix: Restored Missing Character Profession in Person View
  MekHQ/src/mekhq/gui/view/PersonViewPanel.java
Labels: Bug, Personnel, GUI, Severity: Medium

#6994 Fix: Added Missing Campaign Options Iconography to New Weapons Restock Percentage Option; Changed Color of Iconography to Stand Out
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
Labels: Bug, GUI, Severity: Low

#6999 Fix: #6998 Fixed Tactics Bonus to No Longer Use the Tactic Number as a Bonus
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/campaign/unit/Unit.java
Labels: Bug, Severity: Critical

#6813 Improvement: Reworked Integrated Command Rights to No Longer AutoAssign Forces and to Allow Interactions with StratCon
  MekHQ/src/mekhq/campaign/randomEvents/prisoners/PrisonEscapeScenario.java
  MekHQ/src/mekhq/campaign/stratcon/StratconContractInitializer.java
  MekHQ/src/mekhq/campaign/stratcon/StratconRulesManager.java
  MekHQ/src/mekhq/gui/StratconPanel.java
Labels: StratCon, UX

#6993 Feature: Added Glossary Button to Campaign GUI to Allow Users to Quickly Access the Glossary
  MekHQ/resources/mekhq/resources/CampaignGUI.properties
  MekHQ/resources/mekhq/resources/FullGlossaryDialog.properties
  MekHQ/resources/mekhq/resources/Glossary.properties
  MekHQ/resources/mekhq/resources/PrisonerEvents.properties
  MekHQ/src/mekhq/gui/CampaignGUI.java
  MekHQ/src/mekhq/gui/dialog/FullGlossaryDialog.java
Labels: UX

#7002 Fix: #6996 Fixed Sorting of Next Maintenance Column in Hangar
  MekHQ/src/mekhq/gui/HangarTab.java
  MekHQ/src/mekhq/gui/model/UnitTableModel.java
Labels: Bug, GUI, Severity: Critical

#7003 Fix: #6997 Fixed Perform Immediate Maintenance Not Immediately Performing Maintenance Defeating the Purpose of Having a 'Perform Immediate Maintenance' Option
  MekHQ/src/mekhq/gui/adapter/UnitTableMouseAdapter.java
Labels: Bug, Severity: Medium

#7008 Fix: Fixed Positive SPAs & Traits Applying Penalty to Skills not Benefit (And Negative SPAs & Traits Applying Bonus not Penalty)
  MekHQ/src/mekhq/campaign/personnel/skills/Skill.java
Labels: Bug, SPA, Severity: Critical

#7009 Fix: #7007 Fixed Cancel Deployment Producing Scenario with 0 BV Budget
  MekHQ/src/mekhq/gui/StratconPanel.java
  MekHQ/src/mekhq/gui/stratcon/StratconScenarioWizard.java
Labels: Bug, StratCon, Severity: High

#7010 Fix: Prevented Unscrupulous from Performing Extreme Expenditure on Prisoners to Rob Them of Their Wealth Trait
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
  MekHQ/src/mekhq/gui/utilities/StaticChecks.java
Labels: Bug, Personnel, Severity: Medium

#7011 Fix: Fixed Formatting Error in Title of Some Campaign Options Tabs
  MekHQ/src/mekhq/gui/campaignOptions/components/CampaignOptionsHeaderPanel.java
Labels: Bug, GUI, Campaign Options, Severity: Medium

#7014 Fix: Fixed Skill Modifiers Not Being Factored into Profession Experience Level
  MekHQ/src/mekhq/campaign/personnel/Person.java
Labels: Bug, Personnel, Severity: Medium

#7015 Fix: Fixed Weight Calculation Visual Bug in StratCon Campaigns
  MekHQ/src/mekhq/campaign/force/CombatTeam.java
Labels: Bug, AtB, GUI, StratCon, Severity: Low

#7016 Fix: Fixed Missing Wordwrap from Command Rights Tooltips
  MekHQ/resources/mekhq/resources/Mission.properties
  MekHQ/src/mekhq/gui/dialog/NewContractDialog.java
  MekHQ/src/mekhq/gui/view/ContractSummaryPanel.java
  MekHQ/src/mekhq/gui/view/MissionViewPanel.java
Labels: Bug, GUI, Severity: Medium

#7018 Fix: #7017 Fixed Mass Repair Dialog Throwing Error in Warehouse
  MekHQ/src/mekhq/gui/dialog/MRMSDialog.java
Labels: Bug, Mass Repair/Mass Salvage, Severity: High

#7019 Fix: #7006 Fixed Label for Implants & Abilities Section of Person View
  MekHQ/resources/mekhq/resources/PersonViewPanel.properties
Labels: Bug, Personnel, GUI, Severity: Medium

#7023 Improvement: Added Art for Factions Missing Logos in the New Style
  MekHQ/data/images/universe/factions/logo_axumite_providence.png
  MekHQ/data/images/universe/factions/logo_chainelane_isles.png
  MekHQ/data/images/universe/factions/logo_clan_generic.png
  MekHQ/data/images/universe/factions/logo_clan_widowmaker.png
  MekHQ/data/images/universe/factions/logo_elysian_fields.png
  MekHQ/data/images/universe/factions/logo_greater_valkyrate.png
  MekHQ/data/images/universe/factions/logo_jarnfolk.png
  MekHQ/data/images/universe/factions/logo_marik_stewart_commonwealth.png
  MekHQ/data/images/universe/factions/logo_new_delphi_compact.png
  MekHQ/data/images/universe/factions/logo_niops_association.png
  MekHQ/data/images/universe/factions/logo_oriente_protectorate.png
  MekHQ/data/images/universe/factions/logo_raven_alliance.png
  MekHQ/data/images/universe/factions/logo_rebels.png
  MekHQ/data/images/universe/factions/logo_rim_commonality.png
  MekHQ/data/images/universe/factions/logo_terran_hegemony.png
  MekHQ/data/images/universe/factions/logo_the_society.png
  MekHQ/src/mekhq/campaign/universe/Factions.java
Labels: GUI

#7024 Improvement: Center Aligned Belligerents Panel
  MekHQ/src/mekhq/gui/view/MissionViewPanel.java
Labels: Bug, GUI, Severity: Low

#7027 Fix: #7025 Fixed Mass Repair Dialog Throwing Exception When Run From Warehouse
  MekHQ/src/mekhq/service/mrms/MRMSService.java
Labels: Bug, Mass Repair/Mass Salvage, Severity: Critical

#7029 Fix: (Sentry) Fixed Exception When Processing Education Tagalongs if Tagalong Has Exited the Campaign
  MekHQ/src/mekhq/campaign/personnel/Person.java
Labels: Bug, Personnel, Severity: Medium

#7028 Fix: #7026 Fixed 'XP' Appearing Twice in Academy Tooltips
  MekHQ/src/mekhq/campaign/personnel/education/Academy.java
Labels: Bug, GUI, Severity: Low

#7041 Improvement: Extended Tutorialization Links & Glossary to Cover Most Tabs
  MekHQ/resources/mekhq/resources/CampaignGUI.properties
  MekHQ/resources/mekhq/resources/FullGlossaryDialog.properties
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/resources/mekhq/resources/Glossary.properties
  MekHQ/resources/mekhq/resources/PrisonerEvents.properties
  MekHQ/resources/mekhq/resources/TutorialHyperlinkPanel.properties
  MekHQ/src/mekhq/campaign/CampaignSummary.java
  MekHQ/src/mekhq/gui/BriefingTab.java
  MekHQ/src/mekhq/gui/CommandCenterTab.java
  MekHQ/src/mekhq/gui/HangarTab.java
  MekHQ/src/mekhq/gui/InfirmaryTab.java
  MekHQ/src/mekhq/gui/MapTab.java
  MekHQ/src/mekhq/gui/PersonnelTab.java
  MekHQ/src/mekhq/gui/RepairTab.java
  MekHQ/src/mekhq/gui/StratconTab.java
  MekHQ/src/mekhq/gui/TOETab.java
  MekHQ/src/mekhq/gui/WarehouseTab.java
  MekHQ/src/mekhq/gui/baseComponents/immersiveDialogs/ImmersiveDialogCore.java
  MekHQ/src/mekhq/gui/dialog/GlossaryDialog.java
  MekHQ/src/mekhq/gui/panels/TutorialHyperlinkPanel.java
Labels: GUI, UX

#7042 Fix: Fixed Commander's Day Suppression
  MekHQ/src/mekhq/campaign/Campaign.java
Labels: Bug, Severity: Medium

#7044 Fix: Stopped Random Death Not Randomly Causing People to Die
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/io/CampaignXmlParser.java
  MekHQ/src/mekhq/campaign/personnel/death/RandomDeath.java
  MekHQ/src/mekhq/gui/campaignOptions/CampaignOptionsPane.java
Labels: Bug, Personnel, Severity: High

#7046 Improvement: Added Random Callsigns to Units Generated Randomly for Scenarios
  MekHQ/src/mekhq/campaign/mission/AtBDynamicScenarioFactory.java
Labels: UX

#7051 Fixed: Fixed Exception During Avionics Evaluation
  MekHQ/src/mekhq/campaign/parts/Avionics.java
Labels: Bug, Blocker, Severity: Critical

#7052 Fix: Final Grammar Pass on Glossary
  MekHQ/resources/mekhq/resources/FullGlossaryDialog.properties
  MekHQ/resources/mekhq/resources/Glossary.properties
  MekHQ/resources/mekhq/resources/TutorialHyperlinkPanel.properties
Labels: GUI, UX

#7053 Fix: Stopped Higher Administration Skill Making Reinforcement Attempts Harder
  MekHQ/src/mekhq/campaign/stratcon/StratconRulesManager.java
Labels: Bug, StratCon, Severity: Medium

#7054 Fix: Updated Reinforcement Documentation
  MekHQ/docs/StratCon/Combat Teams, Roles, Training & Reinforcements.pdf
Labels: Documentation

#7001 Improvement: Added Support for Command Lances in TO&E
  MekHQ/src/mekhq/campaign/force/Force.java
Labels: Bug, Severity: Medium, Improvement to Existing Feature

#6980 Fix: #6955 Fixed Personnel Cleanup to be More Reliable
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/utilities/AutomatedPersonnelCleanUp.java
  MekHQ/unittests/mekhq/campaign/utilities/AutomatedPersonnelCleanUpTest.java
Labels: Personnel, Tests, Improvement to Existing Feature

#6942 Fix: Restored Access to Units Involved in Prior Scenarios
  MekHQ/src/mekhq/gui/view/AtBScenarioViewPanel.java
Labels: GUI, UX

#6897 Improvement: Refactored Resource Bundle Calls to Reduce Abstraction
  MekHQ/src/mekhq/campaign/CurrentLocation.java
  MekHQ/src/mekhq/campaign/personnel/DiscretionarySpending.java
  MekHQ/src/mekhq/campaign/personnel/enums/PersonnelRole.java
  MekHQ/src/mekhq/campaign/personnel/enums/Phenotype.java
  MekHQ/src/mekhq/campaign/personnel/lifeEvents/WinterHolidayAnnouncement.java
  MekHQ/src/mekhq/campaign/personnel/procreation/AbstractProcreation.java
  MekHQ/src/mekhq/campaign/personnel/skills/SkillCheckUtility.java
  MekHQ/src/mekhq/campaign/personnel/skills/enums/MarginOfSuccess.java
  MekHQ/src/mekhq/campaign/personnel/skills/enums/SkillAttribute.java
  MekHQ/src/mekhq/campaign/personnel/turnoverAndRetention/Fatigue.java
  MekHQ/src/mekhq/campaign/randomEvents/MercenaryAuction.java
  MekHQ/src/mekhq/campaign/randomEvents/RoninOffer.java
  MekHQ/src/mekhq/gui/dialog/MercenaryAuctionDialog.java
  MekHQ/src/mekhq/gui/dialog/ReplacementLimbDialog.java
  MekHQ/src/mekhq/gui/dialog/SkillCheckDialog.java
  MekHQ/src/mekhq/gui/model/PartsTableModel.java
  MekHQ/unittests/mekhq/campaign/personnel/skills/SkillCheckUtilityTest.java
Labels: Refactoring

#6864 Improvement: Removed 'Limit Combat Teams by Commander Strategy' Campaign Option
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/campaign/market/contractMarket/AbstractContractMarket.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/RulesetsTab.java
  MekHQ/src/mekhq/gui/view/LanceAssignmentView.java
Labels: AtB, StratCon, Refactoring, Campaign Options

#6863 Feature: Added Monthly Food and Housing Expenses from A Time of War
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/resources/mekhq/resources/Finances.properties
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/campaign/finances/Accountant.java
  MekHQ/src/mekhq/campaign/finances/Finances.java
  MekHQ/src/mekhq/campaign/personnel/education/EducationController.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/FinancesTab.java
  MekHQ/unittests/mekhq/campaign/finances/AccountantTest.java
Labels: Tests, Finances, Campaign Options, New Feature

#6856 Improvement: Improved Challenge Estimate Handling; Converted Challenge Warning Dialogs into Immersive Dialogs; Restored Difficulty Contract Pay Modifiers
  MekHQ/resources/mekhq/resources/ContractMarketDialog.properties
  MekHQ/src/mekhq/campaign/market/contractMarket/AtbMonthlyContractMarket.java
  MekHQ/src/mekhq/campaign/mission/AtBContract.java
  MekHQ/src/mekhq/gui/dialog/ContractMarketDialog.java
  MekHQ/src/mekhq/gui/view/ContractSummaryPanel.java
Labels: AtB, StratCon, Refactoring

#6855 Improvement: Converted Most Convoy Dialogs into Immersive Dialogs
  MekHQ/resources/mekhq/resources/Resupply.properties
  MekHQ/src/mekhq/campaign/mission/resupplyAndCaches/PerformResupply.java
  MekHQ/src/mekhq/campaign/mission/resupplyAndCaches/ResupplyUtilities.java
  MekHQ/src/mekhq/gui/dialog/resupplyAndCaches/DialogAbandonedConvoy.java
  MekHQ/src/mekhq/gui/dialog/resupplyAndCaches/DialogContractStart.java
  MekHQ/src/mekhq/gui/dialog/resupplyAndCaches/DialogInterception.java
  MekHQ/src/mekhq/gui/dialog/resupplyAndCaches/DialogItinerary.java
  MekHQ/src/mekhq/gui/dialog/resupplyAndCaches/DialogPlayerConvoyOption.java
  MekHQ/src/mekhq/gui/dialog/resupplyAndCaches/DialogResupplyFocus.java
  MekHQ/src/mekhq/gui/dialog/resupplyAndCaches/DialogRoleplayEvent.java
Labels: Refactoring

#6854 Improvement: Rewrote Gray Monday Code to Be Less Fragile; Moved Gray Monday Dialog to Immersive Simple; Added New Portrait Functionality to Immersive Dialog
  MekHQ/resources/mekhq/resources/GrayMonday.properties
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/randomEvents/GrayMonday.java
  MekHQ/src/mekhq/gui/dialog/randomEvents/GrayMondayDialog.java
Labels: Refactoring

#6853 Improvement: Moved VocationalExperience Awards Dialog to Use 'Simple' Version of Immersive Dialog and not 'Full' Version
  MekHQ/resources/mekhq/resources/VocationalExperienceAwardDialog.properties
  MekHQ/src/mekhq/gui/dialog/VocationalExperienceAwardDialog.java
Labels: Refactoring

#6851 Improvement: Moved New Bulletins to Use 'Simple' Version of Immersive Dialog and not 'Full' Version
  MekHQ/src/mekhq/gui/CampaignGUI.java
  MekHQ/src/mekhq/gui/dialog/NewsDialog.java
Labels: Refactoring

#6849 Improvement: Upgraded Contract Automation to Use the New Immersive Dialog Format
  MekHQ/resources/mekhq/resources/ContractAutomation.properties
  MekHQ/src/mekhq/campaign/market/contractMarket/ContractAutomation.java
  MekHQ/src/mekhq/gui/dialog/ContractAutomationDialog.java
Labels: GUI, Refactoring

#6848 Improvement: Improved Personality Generation; Added 'Interview Notes' for Use During Recruitment; Improved Personality Testing
  MekHQ/resources/mekhq/resources/Aggression.properties
  MekHQ/resources/mekhq/resources/Ambition.properties
  MekHQ/resources/mekhq/resources/Greed.properties
  MekHQ/resources/mekhq/resources/PersonViewPanel.properties
  MekHQ/resources/mekhq/resources/PersonalityTraitType.properties
  MekHQ/resources/mekhq/resources/Reasoning.properties
  MekHQ/resources/mekhq/resources/Social.properties
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/campaign/personnel/education/EducationController.java
  MekHQ/src/mekhq/campaign/personnel/generator/DefaultPersonnelGenerator.java
  MekHQ/src/mekhq/campaign/randomEvents/RoninOffer.java
  MekHQ/src/mekhq/campaign/randomEvents/personalities/PersonalityController.java
  MekHQ/src/mekhq/campaign/randomEvents/personalities/enums/Aggression.java
  MekHQ/src/mekhq/campaign/randomEvents/personalities/enums/Ambition.java
  MekHQ/src/mekhq/campaign/randomEvents/personalities/enums/Greed.java
  MekHQ/src/mekhq/campaign/randomEvents/personalities/enums/PersonalityQuirk.java
  MekHQ/src/mekhq/campaign/randomEvents/personalities/enums/PersonalityTraitType.java
  MekHQ/src/mekhq/campaign/randomEvents/personalities/enums/Reasoning.java
  MekHQ/src/mekhq/campaign/randomEvents/personalities/enums/Social.java
  MekHQ/src/mekhq/campaign/storyarc/storypoint/CreateCharacterStoryPoint.java
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
  MekHQ/src/mekhq/gui/dialog/CreateCharacterDialog.java
  MekHQ/src/mekhq/gui/dialog/CustomizePersonDialog.java
  MekHQ/src/mekhq/gui/dialog/GMToolsDialog.java
  MekHQ/src/mekhq/gui/dialog/NewRecruitDialog.java
  MekHQ/src/mekhq/gui/dialog/ResolveScenarioWizardDialog.java
  MekHQ/src/mekhq/gui/view/PersonViewPanel.java
  MekHQ/unittests/mekhq/campaign/randomEvents/personalities/enums/AggressionTest.java
  MekHQ/unittests/mekhq/campaign/randomEvents/personalities/enums/AmbitionTest.java
  MekHQ/unittests/mekhq/campaign/randomEvents/personalities/enums/GreedTest.java
  MekHQ/unittests/mekhq/campaign/randomEvents/personalities/enums/PersonalityQuirkTest.java
  MekHQ/unittests/mekhq/campaign/randomEvents/personalities/enums/PersonalityTraitTypeTest.java
  MekHQ/unittests/mekhq/campaign/randomEvents/personalities/enums/ReasoningTest.java
  MekHQ/unittests/mekhq/campaign/randomEvents/personalities/enums/SocialTest.java
Labels: Personnel, Tests, Refactoring

#6846 Improvement: Improved Speed of Log Entry Saving in Large Campaigns
  MekHQ/src/mekhq/campaign/log/LogEntry.java
Labels: Refactoring

#6844 Improvement: Stopped Administrators Double-Dipping Use of the Administration Skill By Taking Multiple Admin Roles; Improved Role Eligibility Handling
  MekHQ/resources/mekhq/resources/NagDialogs.properties
  MekHQ/src/mekhq/campaign/personnel/Person.java
Labels: Bug, Personnel, Refactoring, Severity: Medium

#6809 Fix: #6793 Fixed Maintenance Time for Battle Armor
  MekHQ/src/mekhq/campaign/unit/Unit.java
Labels: Bug, Refactoring, Severity: Low

#6961 Feature: Added Externally Employed Civilians
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/resources/mekhq/resources/PersonViewPanel.properties
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/campaign/personnel/RandomDependents.java
  MekHQ/src/mekhq/campaign/personnel/marriage/AbstractMarriage.java
  MekHQ/src/mekhq/campaign/personnel/procreation/AbstractProcreation.java
  MekHQ/src/mekhq/campaign/personnel/turnoverAndRetention/RetirementDefectionTracker.java
  MekHQ/src/mekhq/campaign/randomEvents/RoninOffer.java
  MekHQ/src/mekhq/campaign/randomEvents/prisoners/CapturePrisoners.java
  MekHQ/src/mekhq/campaign/randomEvents/prisoners/EventEffectsManager.java
  MekHQ/src/mekhq/campaign/storyarc/storytrigger/AddPersonStoryTrigger.java
  MekHQ/src/mekhq/campaign/unit/Unit.java
  MekHQ/src/mekhq/campaign/unit/actions/HirePersonnelUnitAction.java
  MekHQ/src/mekhq/campaign/universe/generators/companyGenerators/AbstractCompanyGenerator.java
  MekHQ/src/mekhq/gui/CampaignGUI.java
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
  MekHQ/src/mekhq/gui/dialog/CreateCharacterDialog.java
  MekHQ/src/mekhq/gui/dialog/CustomizePersonDialog.java
  MekHQ/src/mekhq/gui/dialog/HireBulkPersonnelDialog.java
  MekHQ/src/mekhq/gui/dialog/NewRecruitDialog.java
  MekHQ/src/mekhq/gui/dialog/PersonnelMarketDialog.java
  MekHQ/src/mekhq/gui/enums/PersonnelTableModelColumn.java
  MekHQ/src/mekhq/gui/menus/AssignPersonToUnitMenu.java
  MekHQ/src/mekhq/gui/menus/AssignUnitToPersonMenu.java
  MekHQ/src/mekhq/gui/model/RetirementTableModel.java
  MekHQ/src/mekhq/gui/utilities/StaticChecks.java
  MekHQ/src/mekhq/gui/view/PersonViewPanel.java
  MekHQ/unittests/mekhq/campaign/rating/FieldManualMercRevDragoonsRatingTest.java
  MekHQ/unittests/mekhq/campaign/unit/actions/HirePersonnelUnitActionTest.java
Labels: Personnel

#6904 Feature: Added Tracking of Heroic and Legendary Skill Levels
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/resources/mekhq/resources/MRMS.properties
  MekHQ/src/mekhq/Utilities.java
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/mission/AtBDynamicScenarioFactory.java
  MekHQ/src/mekhq/campaign/parts/Armor.java
  MekHQ/src/mekhq/campaign/parts/MekLocation.java
  MekHQ/src/mekhq/campaign/parts/MissingPart.java
  MekHQ/src/mekhq/campaign/parts/OmniPod.java
  MekHQ/src/mekhq/campaign/parts/Part.java
  MekHQ/src/mekhq/campaign/parts/PodSpace.java
  MekHQ/src/mekhq/campaign/parts/ProtoMekLocation.java
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/campaign/personnel/generator/AbstractPersonnelGenerator.java
  MekHQ/src/mekhq/campaign/personnel/skills/RandomSkillPreferences.java
  MekHQ/src/mekhq/campaign/personnel/skills/SkillType.java
  MekHQ/src/mekhq/gui/RepairTab.java
  MekHQ/src/mekhq/gui/WarehouseTab.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/AdvancementTab.java
  MekHQ/src/mekhq/gui/dialog/MRMSDialog.java
  MekHQ/src/mekhq/gui/sorter/LevelSorter.java
  MekHQ/src/mekhq/module/atb/PersonnelMarketAtB.java
  MekHQ/src/mekhq/service/mrms/MRMSOption.java
  MekHQ/src/mekhq/service/mrms/MRMSService.java
  MekHQ/src/mekhq/utilities/spaUtilities/SpaUtilities.java
  MekHQ/unittests/mekhq/campaign/parts/MekLocationTest.java
  MekHQ/unittests/mekhq/campaign/personnel/skills/SkillTypeTest.java
Labels: Personnel, Improvement to Existing Feature, Implementation of Missing Official Rule

#6850 Improvement: Upgraded Prisoner Events to Use a Generic Version of Immersive Dialog Instead of a Single Use Bespoke Versions
  MekHQ/resources/mekhq/resources/PrisonerEvents.properties
  MekHQ/src/mekhq/campaign/randomEvents/prisoners/CapturePrisoners.java
  MekHQ/src/mekhq/campaign/randomEvents/prisoners/PrisonEscapeScenario.java
  MekHQ/src/mekhq/campaign/randomEvents/prisoners/PrisonerEventManager.java
  MekHQ/src/mekhq/campaign/randomEvents/prisoners/PrisonerMissionEndEvent.java
  MekHQ/src/mekhq/campaign/randomEvents/prisoners/PrisonerRansomEvent.java
  MekHQ/src/mekhq/gui/dialog/DefectionOffer.java
  MekHQ/src/mekhq/gui/dialog/MissionEndPrisonerDefectorDialog.java
  MekHQ/src/mekhq/gui/dialog/MissionEndPrisonerDialog.java
  MekHQ/src/mekhq/gui/dialog/randomEvents/prisonerDialogs/PrisonerEscapeeScenarioDialog.java
  MekHQ/src/mekhq/gui/dialog/randomEvents/prisonerDialogs/PrisonerEventDialog.java
  MekHQ/src/mekhq/gui/dialog/randomEvents/prisonerDialogs/PrisonerEventResultsDialog.java
  MekHQ/src/mekhq/gui/dialog/randomEvents/prisonerDialogs/PrisonerRansomEventDialog.java
  MekHQ/src/mekhq/gui/dialog/randomEvents/prisonerDialogs/PrisonerWarningDialog.java
  MekHQ/src/mekhq/gui/dialog/randomEvents/prisonerDialogs/PrisonerWarningResultsDialog.java
Labels: GUI, Refactoring

#6922 Updated Gradle to 8.14.
  MekHQ/build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: For New Dev Cycle

#6852 Improvement: Moved Replacement Limb Dialog to Use 'Simple' Version of Immersive Dialog and not 'Full' Version
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
  MekHQ/src/mekhq/gui/dialog/ReplacementLimbDialog.java
Labels: Refactoring

#6920 Feature: Added 254 Civilian Professions
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/campaign/personnel/enums/PersonnelRole.java
  MekHQ/src/mekhq/campaign/personnel/generator/AbstractSkillGenerator.java
  MekHQ/src/mekhq/campaign/personnel/generator/DefaultSkillGenerator.java
  MekHQ/src/mekhq/campaign/personnel/generator/RandomPortraitGenerator.java
  MekHQ/src/mekhq/campaign/personnel/procreation/AbstractProcreation.java
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
  MekHQ/src/mekhq/gui/campaignOptions/CampaignOptionsPane.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/BiographyTab.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/PersonnelTab.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/SalariesTab.java
  MekHQ/src/mekhq/gui/enums/PersonnelFilter.java
  MekHQ/unittests/mekhq/campaign/personnel/enums/PersonnelRoleTest.java
  MekHQ/unittests/mekhq/campaign/personnel/enums/ProfessionTest.java
Labels: Personnel, New Feature

#6837 Feature: Implemented Attribute Score Modifiers to all Skills and Skill Usage
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/MercRosterAccess.java
  MekHQ/src/mekhq/campaign/againstTheBot/AtBConfiguration.java
  MekHQ/src/mekhq/campaign/force/CombatTeam.java
  MekHQ/src/mekhq/campaign/market/PersonnelMarket.java
  MekHQ/src/mekhq/campaign/market/contractMarket/AtbMonthlyContractMarket.java
  MekHQ/src/mekhq/campaign/market/contractMarket/CamOpsContractMarket.java
  MekHQ/src/mekhq/campaign/mission/AtBDynamicScenario.java
  MekHQ/src/mekhq/campaign/mission/AtBScenario.java
  MekHQ/src/mekhq/campaign/mission/resupplyAndCaches/Resupply.java
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/campaign/personnel/SkillPerquisite.java
  MekHQ/src/mekhq/campaign/personnel/education/Academy.java
  MekHQ/src/mekhq/campaign/personnel/education/EducationController.java
  MekHQ/src/mekhq/campaign/personnel/education/TrainingCombatTeams.java
  MekHQ/src/mekhq/campaign/personnel/skills/Skill.java
  MekHQ/src/mekhq/campaign/personnel/skills/SkillCheckUtility.java
  MekHQ/src/mekhq/campaign/personnel/skills/SkillType.java
  MekHQ/src/mekhq/campaign/personnel/turnoverAndRetention/RetirementDefectionTracker.java
  MekHQ/src/mekhq/campaign/rating/CamOpsReputation/AverageExperienceRating.java
  MekHQ/src/mekhq/campaign/rating/FieldManualMercRevDragoonsRating.java
  MekHQ/src/mekhq/campaign/stratcon/StratconRulesManager.java
  MekHQ/src/mekhq/campaign/stratcon/SupportPointNegotiation.java
  MekHQ/src/mekhq/campaign/unit/Unit.java
  MekHQ/src/mekhq/campaign/universe/generators/companyGenerators/AbstractCompanyGenerator.java
  MekHQ/src/mekhq/gui/CampaignGUI.java
  MekHQ/src/mekhq/gui/RepairTab.java
  MekHQ/src/mekhq/gui/WarehouseTab.java
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
  MekHQ/src/mekhq/gui/dialog/BatchXPDialog.java
  MekHQ/src/mekhq/gui/dialog/CreateCharacterDialog.java
  MekHQ/src/mekhq/gui/dialog/CustomizePersonDialog.java
  MekHQ/src/mekhq/gui/enums/PersonnelTableModelColumn.java
  MekHQ/src/mekhq/gui/menus/AssignUnitToTechMenu.java
  MekHQ/src/mekhq/gui/model/CrewListModel.java
  MekHQ/src/mekhq/gui/model/DocTableModel.java
  MekHQ/src/mekhq/gui/model/TechTableModel.java
  MekHQ/src/mekhq/gui/view/PersonViewPanel.java
  MekHQ/src/mekhq/module/atb/AtBEventProcessor.java
  MekHQ/src/mekhq/module/atb/PersonnelMarketAtB.java
  MekHQ/src/mekhq/service/mrms/MRMSService.java
  MekHQ/unittests/mekhq/campaign/personnel/skills/SkillCheckUtilityTest.java
  MekHQ/unittests/mekhq/campaign/personnel/skills/SkillTest.java
  MekHQ/unittests/mekhq/campaign/rating/FieldManualMercRevDragoonsRatingTest.java
  MekHQ/userdata/data/universe/ranks.xml
Labels: Bug, Personnel, Refactoring, Severity: Low, Implementation of Missing Official Rule

#7057 Fix: Fix Skill Fetching in Find Best in Role Comparison
  MekHQ/src/mekhq/campaign/Campaign.java
Labels: Bug, Severity: Medium

#7091 Fix: Fixed Compatibility Handler for Removal of Scrounge
  MekHQ/src/mekhq/campaign/personnel/skills/SkillDeprecationTool.java
  MekHQ/src/mekhq/campaign/personnel/skills/SkillType.java
Labels: Bug, Severity: Medium

#7093 Fix: Restored Loading of Financial Year Duration Campaign Option
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/campaign/finances/enums/FinancialYearDuration.java
Labels: Bug, Severity: High

#7079 Fix: Stopped Babies Breaking Child Labor Laws by Being Born With Jobs
  MekHQ/src/mekhq/campaign/personnel/generator/DefaultPersonnelGenerator.java
  MekHQ/src/mekhq/campaign/personnel/procreation/AbstractProcreation.java
Labels: Bug, Personnel, Severity: Medium

#7076 Improvement: Improved GUI Look & Feel of Campaign Options and Immersive Dialogs
  MekHQ/src/mekhq/MHQConstants.java
  MekHQ/src/mekhq/gui/baseComponents/immersiveDialogs/ImmersiveDialogCore.java
  MekHQ/src/mekhq/gui/campaignOptions/CreateCampaignPreset.java
  MekHQ/src/mekhq/gui/campaignOptions/SelectPresetDialog.java
  MekHQ/src/mekhq/gui/campaignOptions/components/CampaignOptionsButton.java
  MekHQ/src/mekhq/gui/campaignOptions/components/CampaignOptionsStandardPanel.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/AbilitiesTab.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/GeneralTab.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/SkillsTab.java
  MekHQ/src/mekhq/gui/dialog/NewPlayerQuickstartDialog.java
  MekHQ/src/mekhq/gui/utilities/RoundedLineBorder.java
Labels: GUI, Campaign Options

#7059 Fix: Fixed Processing of Profession Salaries in the Event New Profession Added Since Campaign Last Loaded
  MekHQ/src/mekhq/campaign/CampaignOptions.java
Labels: Bug, Campaign Options, Severity: Medium
