Repository MegaMek/mekhq, pull requests merged in 2025-03, with the labels that each got.

#6086 Adjusted Reinforcement Arrival Time Scaling, Target Number, and Leadership Budget Logic
  MekHQ/src/mekhq/campaign/mission/AtBDynamicScenarioFactory.java
  MekHQ/src/mekhq/campaign/stratcon/StratconRulesManager.java
Labels: StratCon

#6097 Updated Academy Training Types in `Unit Education.xml`
  MekHQ/data/universe/academies/Unit Education.xml
Labels: Bug, Data

#6098 Corrected Glossary Links For Fatigue
  MekHQ/resources/mekhq/resources/PrisonerEvents.properties
Labels: Bug, Data

#6099 Fixed Prisoner Capture And Processing Logic
  MekHQ/src/mekhq/campaign/randomEvents/prisoners/CapturePrisoners.java
Labels: Bug, Personnel, Scenario Resolution

#6100 Refactored Unsupported Unit Handling
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/src/mekhq/gui/dialog/DataLoadingDialog.java
  MekHQ/src/mekhq/gui/dialog/MekHQUnitSelectorDialog.java
  MekHQ/src/mekhq/gui/menus/AssignUnitToPersonMenu.java
  MekHQ/src/mekhq/utilities/EntityUtilities.java
Labels: Bug, Refactoring

#6101 Simplified Enum References And Removed Legacy Scenarios
  MekHQ/src/mekhq/campaign/mission/AtBContract.java
  MekHQ/src/mekhq/campaign/mission/enums/AtBContractType.java
Labels: Bug, AtB, StratCon, Legacy Improvement

#6102 Fixed Incorrect Seed Force in Resupply Interceptions
  MekHQ/src/mekhq/campaign/mission/resupplyAndCaches/PerformResupply.java
Labels: Bug

#6103 Added Fatigue Gain Mechanism for Training Combat Teams
  MekHQ/src/mekhq/campaign/personnel/education/TrainingCombatTeams.java
Labels: Refactoring

#6104 Fixed `NullPointerException` In `RandomizeAroundSpecifiedPlanet`
  MekHQ/src/mekhq/campaign/RandomOriginOptions.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/BiographyTab.java
Labels: Bug, Campaign Options

#6105 Refactored StratCon Scenario Retrieval And Table Rendering
  MekHQ/resources/mekhq/resources/ScenarioTableModel.properties
  MekHQ/src/mekhq/campaign/mission/AtBScenario.java
  MekHQ/src/mekhq/gui/BriefingTab.java
  MekHQ/src/mekhq/gui/model/ScenarioTableModel.java
Labels: Bug, Refactoring

#6108 Updated Scenario Briefings and Objectives
  MekHQ/data/scenariotemplates/Annihilation.xml
  MekHQ/data/scenariotemplates/Assassination.xml
  MekHQ/data/scenariotemplates/Base Defense.xml
  MekHQ/data/scenariotemplates/Breakthrough.xml
  MekHQ/data/scenariotemplates/Close Air Support.xml
  MekHQ/data/scenariotemplates/Convoy Escort.xml
  MekHQ/data/scenariotemplates/Convoy Interdiction.xml
  MekHQ/data/scenariotemplates/Convoy Raid.xml
  MekHQ/data/scenariotemplates/Covert Strike.xml
  MekHQ/data/scenariotemplates/Critical Convoy Escort.xml
  MekHQ/data/scenariotemplates/Decoy Engagement.xml
  MekHQ/data/scenariotemplates/Decoy Interception.xml
  MekHQ/data/scenariotemplates/Deep Raid Defense.xml
  MekHQ/data/scenariotemplates/Deep Raid.xml
  MekHQ/data/scenariotemplates/Diversion Engagement.xml
  MekHQ/data/scenariotemplates/DropShip Raid.xml
  MekHQ/data/scenariotemplates/Emergency Convoy Defense - Player - Low-Atmosphere.xml
  MekHQ/data/scenariotemplates/Emergency Convoy Defense - Player - VTOL.xml
  MekHQ/data/scenariotemplates/Emergency Convoy Defense - Player.xml
  MekHQ/data/scenariotemplates/Emergency Convoy Defense.xml
  MekHQ/data/scenariotemplates/Engagement.xml
  MekHQ/data/scenariotemplates/Frontier Assassination.xml
  MekHQ/data/scenariotemplates/Frontline Breakthrough.xml
  MekHQ/data/scenariotemplates/Frontline Disruption.xml
  MekHQ/data/scenariotemplates/Frontline Engagement.xml
  MekHQ/data/scenariotemplates/Heavy Recon Evasion.xml
  MekHQ/data/scenariotemplates/Hostile Facility.xml
  MekHQ/data/scenariotemplates/Intercept Engagement.xml
  MekHQ/data/scenariotemplates/Intercept the Escapees.xml
  MekHQ/data/scenariotemplates/Interception Defense.xml
  MekHQ/data/scenariotemplates/Irregular Force Assault.xml
  MekHQ/data/scenariotemplates/Irregular Force Suppression.xml
  MekHQ/data/scenariotemplates/Isolated DropShip Defense.xml
  MekHQ/data/scenariotemplates/Low-Atmosphere Air Intercept.xml
  MekHQ/data/scenariotemplates/Low-Atmosphere DropShip Assault.xml
  MekHQ/data/scenariotemplates/Low-Atmosphere DropShip Escort.xml
  MekHQ/data/scenariotemplates/Low-Atmosphere Reinforcements Intercepted.xml
  MekHQ/data/scenariotemplates/Minor Engagement.xml
  MekHQ/data/scenariotemplates/Picket Line Breakthrough.xml
  MekHQ/data/scenariotemplates/Pivotal Battle.xml
  MekHQ/data/scenariotemplates/Recon Evasion.xml
  MekHQ/data/scenariotemplates/Reconnaissance Interdiction.xml
  MekHQ/data/scenariotemplates/Reinforcements Intercepted.xml
  MekHQ/data/scenariotemplates/ScenarioManifest.xml
  MekHQ/data/scenariotemplates/Space Aerospace Intercept.xml
  MekHQ/data/scenariotemplates/Space Blockade Run.xml
  MekHQ/data/scenariotemplates/Space DropShip Intercept.xml
  MekHQ/data/scenariotemplates/Space Reinforcements Intercepted.xml
  MekHQ/data/scenariotemplates/Tactical Withdrawal.xml
  MekHQ/data/scenariotemplates/VIP Ambush.xml
  MekHQ/data/scenariotemplates/VIP Defense.xml
  MekHQ/data/scenariotemplates/deprecatedTemplates/Duel.xml
  MekHQ/data/scenariotemplates/deprecatedTemplates/Frontline VIP Capture.xml
  MekHQ/data/scenariotemplates/deprecatedTemplates/Remote VIP Capture.xml
  MekHQ/data/scenariotemplates/deprecatedTemplates/Skirmish Disruption.xml
  MekHQ/data/scenariotemplates/deprecatedTemplates/Skirmish.xml
Labels: Bug, Data, UX

#6109 Fixed Maternity Leave Activation Logic
  MekHQ/src/mekhq/campaign/personnel/procreation/AbstractProcreation.java
Labels: Bug, Personnel

#6125 Improved Effective Fatigue Handling and Fixed Target Selection in POISON Event Effects
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/campaign/randomEvents/prisoners/EventEffectsManager.java
  MekHQ/src/mekhq/gui/view/PersonViewPanel.java
  MekHQ/unittests/mekhq/campaign/randomEvents/prisoners/EventEffectsManagerTest.java
Labels: GUI

#6126 Fixed Duplicate Resupply Processing for Active AtB Contracts
  MekHQ/src/mekhq/campaign/Campaign.java
Labels: Bug

#6127 Adjusted Resupply Scaling Logic
  MekHQ/src/mekhq/campaign/mission/ScenarioObjectiveProcessor.java
Labels: Scenario Resolution

#6128 Removed Non-Current Scenario Status Handling In `CommandCenterTab.java`
  MekHQ/src/mekhq/gui/CommandCenterTab.java
Labels: GUI

#6130 Refactored `ReputationFactor` To Use `Double` Instead Of `Integer`
  MekHQ/src/mekhq/campaign/market/contractMarket/CamOpsContractMarket.java
  MekHQ/src/mekhq/campaign/market/contractMarket/ContractTerms.java
  MekHQ/src/mekhq/campaign/rating/CamOpsReputation/ReputationController.java
Labels: Bug

#6132 Added Age Calculation In Personnel Table Column
  MekHQ/src/mekhq/gui/enums/PersonnelTableModelColumn.java
Labels: Bug, GUI

#6133 Adjusted Scenario Templates for Arrival Turn and Objectives
  MekHQ/data/scenariotemplates/Base Defense.xml
  MekHQ/data/scenariotemplates/Deep Raid Defense.xml
  MekHQ/data/scenariotemplates/Deep Raid.xml
  MekHQ/data/scenariotemplates/DropShip Raid.xml
  MekHQ/data/scenariotemplates/Hostile Facility.xml
  MekHQ/data/scenariotemplates/Isolated DropShip Defense.xml
Labels: AtB, Data, StratCon

#6134 Refactored Campaign Force Value Calculation
  MekHQ/src/mekhq/campaign/finances/Accountant.java
Labels: Implementation of Missing Official Rule

#6135 Added Auto-Logistics Support For Actuators, Jump Jets, And Engines
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/EquipmentAndSuppliesTab.java
Labels: UX

#6137 Updated Unit Count Logic When Determining if There is a Force Deployment Deficit
  MekHQ/src/mekhq/campaign/Campaign.java
Labels: Bug, AtB, StratCon

#6136 Fixed Multiple Gray Monday Bugs
  MekHQ/resources/mekhq/resources/GrayMonday.properties
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/finances/Loan.java
  MekHQ/src/mekhq/campaign/market/contractMarket/AtbMonthlyContractMarket.java
  MekHQ/src/mekhq/campaign/market/contractMarket/CamOpsContractMarket.java
  MekHQ/src/mekhq/campaign/market/unitMarket/AtBMonthlyUnitMarket.java
  MekHQ/src/mekhq/campaign/randomEvents/GrayMonday.java
  MekHQ/src/mekhq/gui/dialog/NewLoanDialog.java
Labels: Bug

#5929 Issue 5928: Add cargo bays as valid tactical transport type (for infantry)
  MekHQ/resources/mekhq/resources/AssignForceToTransport.properties
  MekHQ/src/mekhq/campaign/unit/enums/TransporterType.java
  MekHQ/src/mekhq/campaign/utilities/CampaignTransportUtilities.java
Labels: Improvement to Existing Feature

#6148 Updated Cargo Requirement Label And Text Formatting
  MekHQ/resources/mekhq/resources/ContractViewPanel.properties
  MekHQ/src/mekhq/gui/view/MissionViewPanel.java
Labels: GUI, UX

#6150 Updated Resource Bundle Reference In `CapturePrisoners`
  MekHQ/src/mekhq/campaign/randomEvents/prisoners/CapturePrisoners.java
Labels: Bug, Data

#6152 Fixed Incorrect Quotation Escaping In `Resupply` Properties File
  MekHQ/resources/mekhq/resources/Resupply.properties
Labels: Bug, Data

#6153 Swapped Order Of Dependent Removal And Addition Logic
  MekHQ/src/mekhq/campaign/personnel/RandomDependents.java
Labels: Bug

#6154 Corrected Typos in `Education Module.pdf`
  MekHQ/docs/Personnel Modules/Education Module.pdf
Labels: Documentation

#6156 Added New Academies To Prestigious Academies Dataset
  MekHQ/data/universe/academies/Prestigious Academies.xml
Labels: Data

#6161 Adjusted Planetary Acquisitions to use the campaign option for Delivery Scale to make deliveries optionally slower
  MekHQ/src/mekhq/campaign/Campaign.java
Labels: Logistics

#6162 Updated Manual Unit Rating Modifier Range
  MekHQ/src/mekhq/gui/campaignOptions/contents/GeneralTab.java
Labels: UX, Campaign Options

#6138 Refactored `updatePartInUseData` For Improved Readability and Logic Flow
  MekHQ/src/mekhq/campaign/Campaign.java
Labels: UX

#6159 Renamed Method For Improved Clarity
  MekHQ/src/mekhq/campaign/stratcon/StratconRulesManager.java
  MekHQ/src/mekhq/gui/stratcon/StratconScenarioWizard.java
  MekHQ/src/mekhq/gui/stratcon/TrackForceAssignmentUI.java
Labels: Refactoring

#6160 Replaced Magic Numbers With Constants For Scenario IDs
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/force/Force.java
  MekHQ/src/mekhq/campaign/io/CampaignXmlParser.java
  MekHQ/src/mekhq/gui/CampaignGUI.java
Labels: Refactoring

#6147 Disabled Time Traveling in Campaign Options; Fixed Campaign Options Start Up in Abridged Mode
  MekHQ/src/mekhq/gui/campaignOptions/CampaignOptionsDialog.java
  MekHQ/src/mekhq/gui/campaignOptions/CampaignOptionsPane.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/GeneralTab.java
  MekHQ/src/mekhq/gui/dialog/DataLoadingDialog.java
Labels: Bug, Campaign Options, Improvement to Existing Feature

#6151 Refactored Prisoner Context Menu Behavior
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
Labels: Bug, GUI

#6155 Added Mothball Option for Unit Market Deliveries
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/campaign/unit/Unit.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/MarketsTab.java
Labels: Campaign Options

#6157 Updated Battlefield Control Logic in Scenarios
  MekHQ/data/scenariotemplates/Annihilation.xml
  MekHQ/data/scenariotemplates/Assassination.xml
  MekHQ/data/scenariotemplates/Base Defense.xml
  MekHQ/data/scenariotemplates/Breakthrough.xml
  MekHQ/data/scenariotemplates/Chasing a Rumor.xml
  MekHQ/data/scenariotemplates/Close Air Support.xml
  MekHQ/data/scenariotemplates/Convoy Escort.xml
  MekHQ/data/scenariotemplates/Convoy Interdiction.xml
  MekHQ/data/scenariotemplates/Convoy Raid.xml
  MekHQ/data/scenariotemplates/Covert Strike.xml
  MekHQ/data/scenariotemplates/Critical Convoy Escort.xml
  MekHQ/data/scenariotemplates/Decoy Engagement.xml
  MekHQ/data/scenariotemplates/Decoy Interception.xml
  MekHQ/data/scenariotemplates/Deep Raid Defense.xml
  MekHQ/data/scenariotemplates/Deep Raid.xml
  MekHQ/data/scenariotemplates/Diversion Engagement.xml
  MekHQ/data/scenariotemplates/DropShip Raid.xml
  MekHQ/data/scenariotemplates/Emergency Convoy Defense - Player - Low-Atmosphere.xml
  MekHQ/data/scenariotemplates/Emergency Convoy Defense - Player - VTOL.xml
  MekHQ/data/scenariotemplates/Emergency Convoy Defense - Player.xml
  MekHQ/data/scenariotemplates/Emergency Convoy Defense.xml
  MekHQ/data/scenariotemplates/Engagement.xml
  MekHQ/data/scenariotemplates/Frontier Assassination.xml
  MekHQ/data/scenariotemplates/Frontline Breakthrough.xml
  MekHQ/data/scenariotemplates/Frontline Disruption.xml
  MekHQ/data/scenariotemplates/Frontline Engagement.xml
  MekHQ/data/scenariotemplates/Heavy Recon Evasion.xml
  MekHQ/data/scenariotemplates/Hostile Facility.xml
  MekHQ/data/scenariotemplates/Intercept Engagement.xml
  MekHQ/data/scenariotemplates/Intercept the Escapees.xml
  MekHQ/data/scenariotemplates/Interception Defense.xml
  MekHQ/data/scenariotemplates/Irregular Force Assault.xml
  MekHQ/data/scenariotemplates/Irregular Force Suppression.xml
  MekHQ/data/scenariotemplates/Isolated DropShip Defense.xml
  MekHQ/data/scenariotemplates/Low-Atmosphere Air Intercept.xml
  MekHQ/data/scenariotemplates/Low-Atmosphere DropShip Assault.xml
  MekHQ/data/scenariotemplates/Low-Atmosphere DropShip Escort.xml
  MekHQ/data/scenariotemplates/Low-Atmosphere Reinforcements Intercepted.xml
  MekHQ/data/scenariotemplates/Minor Engagement.xml
  MekHQ/data/scenariotemplates/Picket Line Breakthrough.xml
  MekHQ/data/scenariotemplates/Pivotal Battle.xml
  MekHQ/data/scenariotemplates/Recon Evasion.xml
  MekHQ/data/scenariotemplates/Reconnaissance Interdiction.xml
  MekHQ/data/scenariotemplates/Reinforcements Intercepted.xml
  MekHQ/data/scenariotemplates/Space Aerospace Intercept.xml
  MekHQ/data/scenariotemplates/Space Blockade Run.xml
  MekHQ/data/scenariotemplates/Space DropShip Intercept.xml
  MekHQ/data/scenariotemplates/Space Reinforcements Intercepted.xml
  MekHQ/data/scenariotemplates/Tactical Withdrawal.xml
  MekHQ/data/scenariotemplates/VIP Ambush.xml
  MekHQ/data/scenariotemplates/VIP Defense.xml
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/src/mekhq/MekHQ.java
  MekHQ/src/mekhq/campaign/mission/ScenarioTemplate.java
Labels: GUI, UX

#6163 fix: ACAR - automatically change the color of the bot for another color if there is a collision
  MekHQ/src/mekhq/campaign/autoresolve/AtBSetupForces.java
Labels: Bug, ACAR

#6164 fix: PACAR auto-start only when using CommanderGUI
  MekHQ/src/mekhq/AtBGameThread.java
Labels: Bug, PACAR

#6169 Updated `PartsTableModel.java` To Better Indicate Brand-New Status in Quality Column
  MekHQ/resources/mekhq/resources/PartsTableModel.properties
  MekHQ/src/mekhq/campaign/parts/Part.java
  MekHQ/src/mekhq/gui/model/PartsTableModel.java
Labels: Improvement to Existing Feature

#6170 Refactored `PersonnelStatus.java` Enum and Colorized Status Changes
  MekHQ/resources/mekhq/resources/Personnel.properties
  MekHQ/resources/mekhq/resources/PersonnelStatus.properties
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/campaign/personnel/enums/PersonnelStatus.java
  MekHQ/src/mekhq/campaign/storyarc/storypoint/PersonStatusStoryPoint.java
  MekHQ/src/mekhq/campaign/storyarc/storytrigger/ChangePersonStoryTrigger.java
  MekHQ/unittests/mekhq/campaign/personnel/enums/PersonnelStatusTest.java
Labels: GUI, Tests, Refactoring, UX

#6171 Corrected Resupply Interception Placeholder Syntax
  MekHQ/resources/mekhq/resources/Resupply.properties
Labels: Bug

#6172 Updated Reinforcement Logic to Better Support GM Overrides
  MekHQ/resources/mekhq/resources/AtBStratCon.properties
  MekHQ/src/mekhq/campaign/stratcon/StratconRulesManager.java
  MekHQ/src/mekhq/gui/stratcon/StratconScenarioWizard.java
Labels: StratCon, UX

#6173 Corrected Support Points Removal Logic
  MekHQ/src/mekhq/gui/stratcon/CampaignManagementDialog.java
Labels: Bug, StratCon

#6175 Updated `RandomDependents.java`: Fixed Reporting & Optimized
  MekHQ/resources/mekhq/resources/RandomDependents.properties
  MekHQ/src/mekhq/campaign/personnel/RandomDependents.java
  MekHQ/unittests/mekhq/campaign/personnel/RandomDependentsTest.java
Labels: Bug, Refactoring

#6201 Issue 6180: Fix Parts in Use Dialog selling wrong number of parts
  MekHQ/src/mekhq/gui/dialog/PartsReportDialog.java
Labels: Bug, Parts/Repair/Refit

#6190 Enforced Exchange Salvage for Contracts vs. Clan Factions Prior to Tukkayid
  MekHQ/src/mekhq/campaign/market/contractMarket/AbstractContractMarket.java
  MekHQ/src/mekhq/campaign/market/contractMarket/AtbMonthlyContractMarket.java
  MekHQ/src/mekhq/campaign/market/contractMarket/CamOpsContractMarket.java
  MekHQ/src/mekhq/campaign/mission/AtBContract.java
Labels: AtB, StratCon

#6195 Added `null` Protection During Prisoner Capture to Avoid Lockup in Non-AtB Campaigns
  MekHQ/src/mekhq/campaign/randomEvents/prisoners/CapturePrisoners.java
Labels: Bug, Severity: Critical

#6202 Fixed Non-Binary Pronoun Support for Personality Generator; Added Additional Quirks; Expanded Characteristic Variants; Fixed Personality Generator
  MekHQ/resources/mekhq/resources/Aggression.properties
  MekHQ/resources/mekhq/resources/Ambition.properties
  MekHQ/resources/mekhq/resources/Greed.properties
  MekHQ/resources/mekhq/resources/Intelligence.properties
  MekHQ/resources/mekhq/resources/PersonalityQuirk.properties
  MekHQ/resources/mekhq/resources/Social.properties
  MekHQ/src/mekhq/campaign/randomEvents/personalities/PersonalityController.java
  MekHQ/src/mekhq/campaign/randomEvents/personalities/enums/Aggression.java
  MekHQ/src/mekhq/campaign/randomEvents/personalities/enums/Ambition.java
  MekHQ/src/mekhq/campaign/randomEvents/personalities/enums/Greed.java
  MekHQ/src/mekhq/campaign/randomEvents/personalities/enums/Intelligence.java
  MekHQ/src/mekhq/campaign/randomEvents/personalities/enums/PersonalityQuirk.java
  MekHQ/src/mekhq/campaign/randomEvents/personalities/enums/Social.java
  MekHQ/unittests/mekhq/campaign/randomEvents/personalities/enums/AggressionTest.java
  MekHQ/unittests/mekhq/campaign/randomEvents/personalities/enums/AmbitionTest.java
  MekHQ/unittests/mekhq/campaign/randomEvents/personalities/enums/GreedTest.java
  MekHQ/unittests/mekhq/campaign/randomEvents/personalities/enums/IntelligenceTest.java
  MekHQ/unittests/mekhq/campaign/randomEvents/personalities/enums/PersonalityQuirkTest.java
  MekHQ/unittests/mekhq/campaign/randomEvents/personalities/enums/SocialTest.java
Labels: Bug, Tests, Improvement to Existing Feature

#6203 Added Suppress Inspection Annotations To `PrisonerEvents.properties`
  MekHQ/resources/mekhq/resources/PrisonerEvents.properties
Labels: Refactoring

#6204 Added Suppression Of UnusedProperty Inspection Comment
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
Labels: Refactoring

#6205 Added Suppression Of UnusedProperty Inspection Comment
  MekHQ/resources/mekhq/resources/Resupply.properties
Labels: Refactoring

#6222 Feat/pacar kill convoys
  MekHQ/data/scenariotemplates/Convoy Escort.xml
  MekHQ/data/scenariotemplates/Convoy Interdiction.xml
  MekHQ/data/scenariotemplates/Convoy Raid.xml
  MekHQ/data/scenariotemplates/Critical Convoy Escort.xml
  MekHQ/data/scenariotemplates/Irregular Force Suppression.xml
  MekHQ/src/mekhq/MekHQ.java
  MekHQ/src/mekhq/campaign/mission/enums/ScenarioType.java
  MekHQ/src/mekhq/gui/BriefingTab.java
Labels: PACAR

#6206 Reduced Attempt Count For Capturing Prisoners
  MekHQ/docs/Stratcon and Against the Bot/Prisoners of War & Abstracted Search and Rescue.pdf
  MekHQ/src/mekhq/campaign/randomEvents/prisoners/CapturePrisoners.java
Labels: AtB, Scenario Resolution, StratCon

#6207 Fixed Unit Eligibility Logic For Frontline and Leadership Units
  MekHQ/src/mekhq/campaign/stratcon/StratconRulesManager.java
  MekHQ/src/mekhq/campaign/stratcon/StratconScenario.java
  MekHQ/src/mekhq/campaign/unit/Unit.java
  MekHQ/src/mekhq/gui/stratcon/StratconScenarioWizard.java
Labels: Bug, StratCon, Refactoring

#6208 Rebalanced Support Point Negotiation Logic
  MekHQ/src/mekhq/campaign/stratcon/SupportPointNegotiation.java
Labels: StratCon

#6209 Updated Reinforcement Target Calculation Logic
  MekHQ/src/mekhq/campaign/stratcon/StratconRulesManager.java
  MekHQ/src/mekhq/gui/stratcon/StratconScenarioWizard.java
Labels: StratCon

#6212 Added Fatigue Display when Assigning Forces to Scenarios
  MekHQ/resources/mekhq/resources/ScenarioWizardLanceRenderer.properties
  MekHQ/src/mekhq/gui/stratcon/ScenarioWizardLanceRenderer.java
Labels: GUI, UX

#6213 Fixed Image Scaling Stopping Campaign Options IIC from Launching
  MekHQ/src/mekhq/gui/campaignOptions/SelectPresetDialog.java
  MekHQ/src/mekhq/gui/campaignOptions/components/CampaignOptionsHeaderPanel.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/GeneralTab.java
Labels: Bug, Campaign Options, Severity: Critical

#6214 Fixed Copy-Pasting of Skill Values in Campaign Options IIC
  MekHQ/src/mekhq/gui/campaignOptions/contents/SkillsTab.java
Labels: Bug, Campaign Options, Severity: Medium

#6215 Removed Deprecated Label From Kill XP Awards in Campaign Options IIC
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
Labels: Bug, GUI, Campaign Options, Severity: Low

#6217 Improved Logical Flow of Experience-Based Salary Multipliers in Campaign Options IIC
  MekHQ/src/mekhq/gui/campaignOptions/contents/PersonnelTab.java
Labels: GUI, UX, Campaign Options, Severity: Low

#6218 Fixed Incorrect Loading/Saving of Options in Campaign Options IIC
  MekHQ/src/mekhq/gui/campaignOptions/contents/GeneralTab.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/MarketsTab.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/PersonnelTab.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/RelationshipsTab.java
Labels: Bug, Campaign Options, Severity: Critical

#6220 Fixed Tooltips and Formatting in Campaign Options IIC
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/src/mekhq/gui/campaignOptions/contents/RulesetsTab.java
Labels: Bug, GUI, Campaign Options, Severity: Low

#6221 Corrected AutoResolve Campaign Option Layout
  MekHQ/src/mekhq/gui/campaignOptions/contents/RulesetsTab.java
Labels: GUI, Campaign Options, Severity: Low

#6224 Fixed Origin System-Planet Selection to Ensure No Null Values in Campaign Options IIC
  MekHQ/src/mekhq/gui/campaignOptions/contents/BiographyTab.java
Labels: Bug, Personnel, Campaign Options, Severity: Critical

#6225 Updated Part Saving to Always Save 'Brand New' Status
  MekHQ/src/mekhq/campaign/parts/Part.java
Labels: Compatibility

#6226 AtB Bonus Roll Units Now Take 1 Day to Arrive
  MekHQ/src/mekhq/campaign/mission/AtBContract.java
Labels: AtB, Campaign Options

#6235 Added Missing SPAs to Campaign Options IIC
  MekHQ/data/universe/defaultspa.xml
Labels: Bug, SPA, Campaign Options, Severity: Critical

#6236 Fixed SPA Editing in Campaign Options IIC
  MekHQ/src/mekhq/gui/campaignOptions/contents/AbilitiesTab.java
Labels: Bug, SPA, Campaign Options, Severity: Critical

#6238 Added Automatic Assignment of 'Clan Pilot Training' SPA to Clan Personnel
  MekHQ/src/mekhq/campaign/mission/AtBDynamicScenarioFactory.java
  MekHQ/src/mekhq/campaign/personnel/generator/DefaultPersonnelGenerator.java
Labels: Personnel, SPA

#6233 Fixed Assignment of Player DropShip to Random Scenarios
  MekHQ/src/mekhq/campaign/stratcon/StratconRulesManager.java
Labels: Bug, AtB, StratCon, Severity: High, Severity: Medium

#6239 Corrected Minimum Interception Chance in Resupply Logic
  MekHQ/docs/Stratcon and Against the Bot/Resupply & Convoys.pdf
  MekHQ/src/mekhq/campaign/mission/resupplyAndCaches/PerformResupply.java
Labels: Bug

#6240 Adjusted Resupply Tonnage Calculation to Enforce a Minimum Weight of 1 Ton
  MekHQ/src/mekhq/campaign/mission/resupplyAndCaches/Resupply.java
Labels: Bug

#6241 Skipped Scenarios After Contract End Date
  MekHQ/src/mekhq/campaign/stratcon/StratconRulesManager.java
Labels: Bug, StratCon

#6242 Fixed Incorrect Alphabetical Sorting of Skills
  MekHQ/src/mekhq/gui/campaignOptions/contents/SkillsTab.java
Labels: Bug, GUI, Severity: Medium

#6243 Reduced the Reinforcement Arrival Time of Non-Spheroid AeroSpace Assets (Including DropShip Transported Units)
  MekHQ/docs/Stratcon and Against the Bot/Combat Teams, Roles, Training & Reinforcements.pdf
  MekHQ/src/mekhq/campaign/mission/AtBDynamicScenarioFactory.java
Labels: AtB, StratCon

#6246 Rebranded 'Tactics Skills' Campaign Options to 'Command Skills'; Expanded Coverage to Include Leadership and Strategy
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/src/mekhq/campaign/RandomSkillPreferences.java
  MekHQ/src/mekhq/campaign/personnel/generator/DefaultSkillGenerator.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/AdvancementTab.java
Labels: Personnel, Campaign Options

#6247 Fixed Artillery, Anti-Mek, and Secondary Skill Spinner Min and Max Values in Campaign Options IIC
  MekHQ/src/mekhq/gui/campaignOptions/contents/AdvancementTab.java
Labels: Bug, Campaign Options, Severity: High

#6248 Added Limb Replacement Functionality to Advanced Medical
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/resources/mekhq/resources/ReplacementLimbDialog.properties
  MekHQ/src/mekhq/campaign/mod/am/InjuryTypes.java
  MekHQ/src/mekhq/campaign/personnel/InjuryType.java
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
  MekHQ/src/mekhq/gui/dialog/ReplacementLimbDialog.java
Labels: Personnel

#6249 Decoupled Campaign Dependencies in Nag Logic and Tests
  MekHQ/src/mekhq/campaign/force/Force.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/DeploymentShortfallNagDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/EndContractNagDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/InsufficientAstechTimeNagDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/InsufficientAstechsNagDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/InsufficientMedicsNagDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/InvalidFactionNagDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/NagController.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/NoCommanderNagDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/PregnantCombatantNagDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/PrisonersNagDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/UnableToAffordLoanPaymentNagDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/UnmaintainedUnitsNagDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/UnresolvedStratConContactsNagDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/UntreatedPersonnelNagDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/nagLogic/EndContractNagLogic.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/nagLogic/InsufficientAstechTimeNagLogic.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/nagLogic/InsufficientAstechsNagLogic.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/nagLogic/InsufficientMedicsNagLogic.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/nagLogic/InvalidFactionNagLogic.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/nagLogic/NoCommanderNagLogic.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/nagLogic/PregnantCombatantNagLogic.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/nagLogic/PrisonersNagLogic.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/nagLogic/UnableToAffordLoanPaymentNag.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/nagLogic/UnmaintainedUnitsNagLogic.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/nagLogic/UnresolvedStratConContactsNagLogic.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/nagLogic/UntreatedPersonnelNagLogic.java
  MekHQ/unittests/mekhq/gui/dialog/nagDialogs/nagLogic/EndContractNagLogicTest.java
  MekHQ/unittests/mekhq/gui/dialog/nagDialogs/nagLogic/InsufficientAstechsNagLogicTest.java
  MekHQ/unittests/mekhq/gui/dialog/nagDialogs/nagLogic/InsufficientMedicsNagLogicTest.java
  MekHQ/unittests/mekhq/gui/dialog/nagDialogs/nagLogic/InvalidFactionNagLogicTest.java
  MekHQ/unittests/mekhq/gui/dialog/nagDialogs/nagLogic/NoCommanderNagLogicTest.java
  MekHQ/unittests/mekhq/gui/dialog/nagDialogs/nagLogic/PregnantCombatantNagLogicTest.java
  MekHQ/unittests/mekhq/gui/dialog/nagDialogs/nagLogic/PrisonersNagLogicTest.java
  MekHQ/unittests/mekhq/gui/dialog/nagDialogs/nagLogic/UnableToAffordLoanPaymentNagLogicTest.java
  MekHQ/unittests/mekhq/gui/dialog/nagDialogs/nagLogic/UnmaintainedUnitsNagLogicTest.java
  MekHQ/unittests/mekhq/gui/dialog/nagDialogs/nagLogic/UnresolvedStratConContactsNagLogicTest.java
  MekHQ/unittests/mekhq/gui/dialog/nagDialogs/nagLogic/UntreatedPersonnelNagLogicTest.java
Labels: Tests, Refactoring

#6254 Added 829 New Callsigns
  MekHQ/data/names/callsigns.csv
Labels: Personnel

#6251 Added Admin Strain Nag Dialog
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/src/mekhq/MHQConstants.java
  MekHQ/src/mekhq/gui/dialog/MHQOptionsDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/AdminStrainNagDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/NagController.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/nagLogic/AdminStrainNagLogic.java
  MekHQ/unittests/mekhq/gui/dialog/nagDialogs/nagLogic/AdminStrainNagLogicTest.java
Labels: UX

#6271 Corrected One-Way Sync Between MegaMek and Campaign Options
  MekHQ/src/mekhq/CampaignPreset.java
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/gui/campaignOptions/CampaignOptionsPane.java
Labels: Bug, Campaign Options, Severity: High

#6260 Updated Stock Presets for 50.04; Fixed Critical Preset Loading Bug; Retired 'Campaign Operations (StratCon)' Preset
  MekHQ/mmconf/campaignPresets/1 - New Pilot Program.xml
  MekHQ/mmconf/campaignPresets/2 - The Complete Experience.xml
  MekHQ/mmconf/campaignPresets/3 - Campaign Operations.xml
  MekHQ/mmconf/campaignPresets/CampaignOperationsStratCon.xml
  MekHQ/src/mekhq/CampaignPreset.java
Labels: Bug, Campaign Options, Severity: Critical

#6261 Fixed Gray Monday Loans; Improved AtB Modifier Handling
  MekHQ/resources/mekhq/resources/NewLoanDialog.properties
  MekHQ/src/mekhq/campaign/finances/Loan.java
  MekHQ/src/mekhq/campaign/rating/CamOpsReputation/AverageExperienceRating.java
  MekHQ/src/mekhq/campaign/rating/CamOpsReputation/ReputationController.java
  MekHQ/src/mekhq/gui/dialog/NewLoanDialog.java
  MekHQ/unittests/mekhq/campaign/rating/CamOpsReputation/ReputationControllerTest.java
Labels: Bug, AtB, Unit Rating, Legacy Improvement, Severity: High

#6263 Added Initiative Bonuses from Tactics to Princess Units
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/src/mekhq/campaign/mission/AtBDynamicScenarioFactory.java
Labels: Campaign Options

#6268 Corrected Arrival Turn Values in a Few Scenario Templates
  MekHQ/data/scenariotemplates/Deep Raid Defense.xml
  MekHQ/data/scenariotemplates/Deep Raid.xml
  MekHQ/data/scenariotemplates/Frontline Disruption.xml
  MekHQ/data/scenariotemplates/Tactical Withdrawal.xml
Labels: Bug, Data

#6272 Fixed Typographical Error in GrayMonday Properties
  MekHQ/resources/mekhq/resources/GrayMonday.properties
Labels: Bug, Data

#6273 Refactored Skill Overrides; Added Randomization Logic; Added AeroSpace Ronin
  MekHQ/src/mekhq/campaign/mission/AtBContract.java
  MekHQ/src/mekhq/campaign/personnel/PersonUtility.java
  MekHQ/src/mekhq/gui/adapter/UnitTableMouseAdapter.java
  MekHQ/src/mekhq/gui/dialog/HireBulkPersonnelDialog.java
Labels: Bug, Personnel

#6278 Fixed Enemy Picker Logic And Added Faction Validation
  MekHQ/src/mekhq/campaign/mission/AtBDynamicScenarioFactory.java
  MekHQ/src/mekhq/campaign/universe/RandomFactionGenerator.java
Labels: Bug, Severity: High

#6279 Fixed Logic In Prisoner Nag And Updated Unit Tests
  MekHQ/src/mekhq/gui/dialog/nagDialogs/nagLogic/PrisonersNagLogic.java
  MekHQ/unittests/mekhq/gui/dialog/nagDialogs/nagLogic/PrisonersNagLogicTest.java
Labels: Bug, Severity: Medium

#6280 Corrected Assassination Scenario Briefing
  MekHQ/data/scenariotemplates/Assassination.xml
Labels: Bug, Data

#6281 Fix 6267: Set each entity starting position explicitly
  MekHQ/src/mekhq/AtBGameThread.java
Labels: Bug

#6282 Uncouple Tactics-based Commander Init setting from SPA, Edge, and Implant options
  MekHQ/src/mekhq/campaign/unit/Unit.java
Labels: Bug

#6286 Increased Minimum Skill Requirement For Replacement Limb Procedures to Match RAW
  MekHQ/resources/mekhq/resources/ReplacementLimbDialog.properties
  MekHQ/src/mekhq/campaign/mod/am/InjuryTypes.java
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
  MekHQ/src/mekhq/gui/dialog/ReplacementLimbDialog.java
Labels: Bug

#6287 Removed Infirmary Background Image
  MekHQ/data/images/misc/field_hospital.jpg
  MekHQ/src/mekhq/IconPackage.java
  MekHQ/src/mekhq/gui/InfirmaryTab.java
Labels: GUI

#6291 Added Handling for When Unit Quality is Manually Set to Empty or `null` Quality
  MekHQ/src/mekhq/gui/adapter/UnitTableMouseAdapter.java
Labels: Bug

#6274 Fixed Field Kitchen Ignore Non-Combatants Option
  MekHQ/src/mekhq/gui/campaignOptions/contents/TurnoverAndRetentionTab.java
Labels: Bug, Campaign Options, Severity: High

#6294 Updated Label Texts for Clarity in Campaign Options IIC
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
Labels: GUI, UX

#6298 Added Employer Modifiers to Contract Negotiations
  MekHQ/src/mekhq/campaign/market/contractMarket/AtbMonthlyContractMarket.java
Labels: AtB, Legacy Improvement

#6296 Changed Filter Panel to Display by Default in Interstellar Map Panel
  MekHQ/src/mekhq/gui/InterstellarMapPanel.java
Labels: GUI, UX

#6299 Disabled Remove CVP and Remove SP Options if GM Mode is Disabled; Allowed GMs to Take SP and CVP into Negative
  MekHQ/src/mekhq/gui/stratcon/CampaignManagementDialog.java
Labels: Bug, GUI, StratCon

#6300 Fixed Support Point Generation Soft Cap
  MekHQ/src/mekhq/campaign/stratcon/SupportPointNegotiation.java
Labels: Bug, StratCon, Severity: High

#6297 Removed Timer Delay for Filter Panel in Interstellar Map Tab
  MekHQ/src/mekhq/gui/InterstellarMapPanel.java
Labels: GUI, UX

#6301 Archived AtB Documentation
  MekHQ/docs/Archive Stuff/Official AtB TT Rules 2.32 - Annotated.xlsx
  MekHQ/docs/Archive Stuff/Official AtB TT Rules 2.32.xls
  MekHQ/docs/StratCon/ACAR-Abstract Combat Auto-Resolve documentation.pdf
  MekHQ/docs/StratCon/Admin Skills.pdf
  MekHQ/docs/StratCon/Combat Teams, Roles, Training & Reinforcements.pdf
  MekHQ/docs/StratCon/Custom RATs.txt
  MekHQ/docs/StratCon/Logistics and Parts Procurement.pdf
  MekHQ/docs/StratCon/MHQ_noble_playset_v0.31.xlsx
  MekHQ/docs/StratCon/MekHQ Morale.pdf
  MekHQ/docs/StratCon/Prisoners of War & Abstracted Search and Rescue.pdf
  MekHQ/docs/StratCon/Resupply & Convoys.pdf
  MekHQ/docs/StratCon/Stratcon_Tips.txt
  MekHQ/docs/StratCon/Unit Markets.pdf
  MekHQ/docs/StratCon/stratcon-faq-2.6.txt
Labels: Documentation

#6303 Fixed Deployment Turn Calculation For Mounted Reinforcements
  MekHQ/src/mekhq/campaign/mission/AtBDynamicScenarioFactory.java
  MekHQ/src/mekhq/campaign/mission/Scenario.java
  MekHQ/src/mekhq/campaign/stratcon/StratconScenario.java
  MekHQ/src/mekhq/gui/BriefingTab.java
Labels: Bug, Severity: High

#6304 Added Note About SP Spending in Reinforcement Dialog
  MekHQ/resources/mekhq/resources/AtBStratCon.properties
Labels: GUI, UX

#6305 Corrected Multiple Facility Errors
  MekHQ/data/stratconfacilities/AlliedBaseOfOperations.xml
  MekHQ/data/stratconfacilities/AlliedIndustrialFacility.xml
  MekHQ/data/stratconfacilities/HostileBaseOfOperations.xml
  MekHQ/data/stratconfacilities/HostileSpacePort.xml
Labels: Bug, Data, StratCon

#6310 Removed the Ability for Busy Combat Teams to Scout Neighboring Coords
  MekHQ/src/mekhq/campaign/stratcon/StratconRulesManager.java
Labels: Bug, StratCon, Severity: Medium

#6314 Corrected Resource Bundle Reference In `PrisonerRansomEventDialog`
  MekHQ/src/mekhq/gui/dialog/randomEvents/prisonerDialogs/PrisonerRansomEventDialog.java
Labels: Bug

#6317 Fixed Bot Force Template Mapping Issue in AtB Scenarios
  MekHQ/src/mekhq/campaign/mission/AtBDynamicScenarioFactory.java
Labels: Bug, Severity: High

#6321 Fixed MekHQ Throwing Meks into Low Altitude Scenarios
  MekHQ/src/mekhq/campaign/force/Force.java
  MekHQ/src/mekhq/campaign/mission/AtBContract.java
  MekHQ/src/mekhq/campaign/mission/AtBDynamicScenarioFactory.java
  MekHQ/src/mekhq/campaign/mission/resupplyAndCaches/PerformResupply.java
  MekHQ/src/mekhq/campaign/mission/resupplyAndCaches/Resupply.java
  MekHQ/src/mekhq/campaign/mission/resupplyAndCaches/ResupplyUtilities.java
  MekHQ/src/mekhq/campaign/randomEvents/prisoners/PrisonEscapeScenario.java
  MekHQ/src/mekhq/campaign/stratcon/StratconRulesManager.java
  MekHQ/src/mekhq/gui/BriefingTab.java
  MekHQ/src/mekhq/gui/dialog/resupplyAndCaches/DialogInterception.java
  MekHQ/src/mekhq/utilities/EntityUtilities.java
Labels: Bug, Refactoring

#6319 Added Early Exit for Objective Determination Self-Correction Loop
  MekHQ/src/mekhq/campaign/mission/AtBDynamicScenarioFactory.java
Labels: Refactoring

#6323 Added MekHQ User Guide PDF
  MekHQ/docs/0_New Player Guide.pdf
Labels: Documentation

#6325 Updated New Player Guide PDF
  MekHQ/docs/0_New Player Guide.pdf
Labels: Documentation

#6330 Corrected Dependent Arrival Reporting
  MekHQ/resources/mekhq/resources/RandomDependents.properties
  MekHQ/src/mekhq/campaign/personnel/RandomDependents.java
Labels: Bug, GUI

#6288 Added Auto-Optimize Medical Assignments Feature
  MekHQ/resources/mekhq/resources/CampaignGUI.properties
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/src/mekhq/MHQConstants.java
  MekHQ/src/mekhq/MHQOptions.java
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/OptimizeInfirmaryAssignments.java
  MekHQ/src/mekhq/gui/InfirmaryTab.java
  MekHQ/src/mekhq/gui/dialog/MHQOptionsDialog.java
Labels: Personnel, UX, New Feature

#6293 Added Level Attribute To Intelligence Enum
  MekHQ/src/mekhq/campaign/randomEvents/personalities/enums/Intelligence.java
Labels: Refactoring

#6295 Enhanced Dialog System With Configurable Options
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/src/mekhq/gui/baseComponents/MHQDialogImmersive.java
  MekHQ/src/mekhq/gui/dialog/CampaignHasProblemOnLoad.java
  MekHQ/src/mekhq/gui/dialog/DefectionOffer.java
  MekHQ/src/mekhq/gui/dialog/GenericImmersiveMessageDialog.java
  MekHQ/src/mekhq/gui/dialog/MissionEndPrisonerDefectorDialog.java
  MekHQ/src/mekhq/gui/dialog/MissionEndPrisonerDialog.java
  MekHQ/src/mekhq/gui/dialog/NewsDialog.java
  MekHQ/src/mekhq/gui/dialog/ReplacementLimbDialog.java
  MekHQ/src/mekhq/gui/dialog/VocationalExperienceAwardDialog.java
  MekHQ/src/mekhq/gui/dialog/randomEvents/GrayMondayDialog.java
  MekHQ/src/mekhq/gui/dialog/randomEvents/prisonerDialogs/PrisonerEscapeeScenarioDialog.java
  MekHQ/src/mekhq/gui/dialog/randomEvents/prisonerDialogs/PrisonerEventDialog.java
  MekHQ/src/mekhq/gui/dialog/randomEvents/prisonerDialogs/PrisonerEventResultsDialog.java
  MekHQ/src/mekhq/gui/dialog/randomEvents/prisonerDialogs/PrisonerRansomEventDialog.java
  MekHQ/src/mekhq/gui/dialog/randomEvents/prisonerDialogs/PrisonerWarningDialog.java
  MekHQ/src/mekhq/gui/dialog/randomEvents/prisonerDialogs/PrisonerWarningResultsDialog.java
Labels: Utility

#6289 Added Right Click Display Medical History to Infirmary
  MekHQ/src/mekhq/gui/InfirmaryTab.java
  MekHQ/src/mekhq/gui/dialog/MedicalViewDialog.java
Labels: Personnel, UX

#6335 Updated Rank Systems Version
  MekHQ/userdata/data/universe/ranks.xml
Labels: Data

#6285 Added Mercenary Auction Events
  MekHQ/resources/mekhq/resources/MercenaryAuctionDialog.properties
  MekHQ/src/mekhq/campaign/mission/AtBContract.java
  MekHQ/src/mekhq/campaign/randomEvents/MercenaryAuction.java
  MekHQ/src/mekhq/gui/dialog/MercenaryAuctionDialog.java
Labels: AtB, GUI, StratCon, Refactoring, Legacy Improvement, Utility

#6168 Improved the Distinguishing of Brand New Parts Handling
  MekHQ/src/mekhq/campaign/Quartermaster.java
  MekHQ/src/mekhq/campaign/Warehouse.java
  MekHQ/src/mekhq/campaign/parts/Part.java
  MekHQ/src/mekhq/gui/adapter/ProcurementTableMouseAdapter.java
  MekHQ/unittests/mekhq/campaign/QuartermasterTest.java
  MekHQ/unittests/mekhq/campaign/parts/AmmoStorageTest.java
  MekHQ/unittests/mekhq/campaign/parts/MissingPartTest.java
  MekHQ/unittests/mekhq/campaign/parts/RefitTest.java
Labels: Improvement to Existing Feature

#6270 Refactored Fatigue
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/CampaignSummary.java
  MekHQ/src/mekhq/campaign/force/Force.java
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/campaign/personnel/turnoverAndRetention/Fatigue.java
  MekHQ/src/mekhq/gui/enums/PersonnelTableModelColumn.java
  MekHQ/src/mekhq/gui/model/PersonnelTableModel.java
  MekHQ/src/mekhq/gui/stratcon/ScenarioWizardLanceRenderer.java
  MekHQ/src/mekhq/gui/view/ForceViewPanel.java
  MekHQ/src/mekhq/gui/view/PersonViewPanel.java
Labels: Bug, Personnel, Refactoring

#6277 Enhanced Ronin Event
  MekHQ/resources/mekhq/resources/Aggression.properties
  MekHQ/resources/mekhq/resources/Ambition.properties
  MekHQ/resources/mekhq/resources/Greed.properties
  MekHQ/resources/mekhq/resources/RoninOffer.properties
  MekHQ/resources/mekhq/resources/Social.properties
  MekHQ/src/mekhq/campaign/mission/AtBContract.java
  MekHQ/src/mekhq/campaign/randomEvents/RoninOffer.java
  MekHQ/src/mekhq/campaign/randomEvents/personalities/PersonalityController.java
  MekHQ/src/mekhq/campaign/randomEvents/personalities/enums/Aggression.java
  MekHQ/src/mekhq/campaign/randomEvents/personalities/enums/Ambition.java
  MekHQ/src/mekhq/campaign/randomEvents/personalities/enums/Greed.java
  MekHQ/src/mekhq/campaign/randomEvents/personalities/enums/Social.java
  MekHQ/unittests/mekhq/campaign/randomEvents/personalities/enums/AggressionTest.java
  MekHQ/unittests/mekhq/campaign/randomEvents/personalities/enums/AmbitionTest.java
  MekHQ/unittests/mekhq/campaign/randomEvents/personalities/enums/GreedTest.java
  MekHQ/unittests/mekhq/campaign/randomEvents/personalities/enums/SocialTest.java
Labels: AtB, Tests, Legacy Improvement, Improvement to Existing Feature

#6332 Refactored Injury Description Logic In Patient Table Model
  MekHQ/src/mekhq/gui/model/PatientTableModel.java
Labels: Personnel, GUI, UX

#6338 Deploying to an Allied Facility No Longer Blocks Scanning
  MekHQ/src/mekhq/campaign/stratcon/StratconFacility.java
  MekHQ/src/mekhq/campaign/stratcon/StratconRulesManager.java
Labels: Bug, StratCon

#6339 Fixed Prisoners Check Logic in NagController
  MekHQ/src/mekhq/gui/dialog/nagDialogs/NagController.java
Labels: Bug

#6331 Added Status-Based Tinted Personnel Portraits
  MekHQ/src/mekhq/gui/view/PersonViewPanel.java
  MekHQ/src/mekhq/utilities/ImageUtilities.java
Labels: Personnel, GUI, New Feature

#6344 Updated Allied Air Garrison Spawn Location
  MekHQ/data/scenariomodifiers/AlliedAirGarrison.xml
Labels: StratCon

#6371 Removed Player Deployment Zone "ANY" From Scenario Templates
  MekHQ/data/scenariotemplates/Annihilation.xml
  MekHQ/data/scenariotemplates/Assassination.xml
  MekHQ/data/scenariotemplates/Base Defense.xml
  MekHQ/data/scenariotemplates/Chasing a Rumor.xml
  MekHQ/data/scenariotemplates/Covert Strike.xml
  MekHQ/data/scenariotemplates/Decoy Engagement.xml
  MekHQ/data/scenariotemplates/Decoy Interception.xml
  MekHQ/data/scenariotemplates/Engagement.xml
  MekHQ/data/scenariotemplates/Frontier Assassination.xml
  MekHQ/data/scenariotemplates/Frontline Engagement.xml
  MekHQ/data/scenariotemplates/Heavy Recon Evasion.xml
  MekHQ/data/scenariotemplates/Low-Atmosphere Air Intercept.xml
  MekHQ/data/scenariotemplates/Low-Atmosphere Reinforcements Intercepted.xml
  MekHQ/data/scenariotemplates/Minor Engagement.xml
  MekHQ/data/scenariotemplates/Pivotal Battle.xml
  MekHQ/data/scenariotemplates/Recon Evasion.xml
  MekHQ/data/scenariotemplates/Reconnaissance Interdiction.xml
  MekHQ/data/scenariotemplates/Reinforcements Intercepted.xml
  MekHQ/data/scenariotemplates/Space Aerospace Intercept.xml
  MekHQ/data/scenariotemplates/Space Reinforcements Intercepted.xml
  MekHQ/data/scenariotemplates/VIP Ambush.xml
  MekHQ/data/scenariotemplates/VIP Defense.xml
Labels: Bug, Data, Severity: Medium

#6370 Sorted Personality Quirks Alphabetically in Quirk Picker
  MekHQ/src/mekhq/campaign/randomEvents/personalities/enums/PersonalityQuirk.java
  MekHQ/src/mekhq/gui/dialog/CreateCharacterDialog.java
  MekHQ/src/mekhq/gui/dialog/CustomizePersonDialog.java
Labels: GUI, UX, Severity: Low

#6369 Fixed Logic Error In Prisoners Nag Yet Again
  MekHQ/src/mekhq/gui/dialog/nagDialogs/nagLogic/PrisonersNagLogic.java
  MekHQ/unittests/mekhq/gui/dialog/nagDialogs/nagLogic/PrisonersNagLogicTest.java
Labels: Bug, Severity: Medium

#6368 Updated Date and Faction Handling in Campaign Options IIC
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/src/mekhq/gui/campaignOptions/CampaignOptionsPane.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/BiographyTab.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/GeneralTab.java
Labels: Bug, Severity: Medium

#6366 Updated BV Display in TO&E to Account for C3
  MekHQ/src/mekhq/gui/view/ForceViewPanel.java
Labels: Bug, GUI, Severity: Low

#6365 Added Tooltips to SPA Purchase Dropdown
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
Labels: GUI, UX, Severity: Low

#6364 Updated Untreated Injuries Nag Dialog to Account for AutoInfirmary
  MekHQ/src/mekhq/gui/dialog/nagDialogs/NagController.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/UntreatedPersonnelNagDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/nagLogic/UntreatedPersonnelNagLogic.java
  MekHQ/unittests/mekhq/gui/dialog/nagDialogs/nagLogic/UntreatedPersonnelNagLogicTest.java
Labels: Bug, Severity: Medium

#6363 Changed Default Value for Advance Day Selection
  MekHQ/src/mekhq/gui/baseComponents/AbstractMHQNagDialog.java
Labels: GUI, UX, Severity: Medium

#6361 Improved Immersive Dialog Behavior
  MekHQ/resources/mekhq/resources/PrisonerEvents.properties
  MekHQ/src/mekhq/gui/baseComponents/MHQDialogImmersive.java
  MekHQ/src/mekhq/gui/dialog/MercenaryAuctionDialog.java
  MekHQ/src/mekhq/gui/dialog/MissionEndPrisonerDialog.java
Labels: GUI, Utility

#6360 Fixed Force Type Changing Being Unavailable in Non-StratCon, Non-AtB Campaigns
  MekHQ/src/mekhq/gui/adapter/TOEMouseAdapter.java
Labels: Bug, Severity: High

#6359 Fixed Missing Scenarios
  MekHQ/src/mekhq/campaign/stratcon/StratconRulesManager.java
Labels: Bug, Severity: Critical

#6358 Fixed Fatigue Status Report Update Messages
  MekHQ/resources/mekhq/resources/Fatigue.properties
Labels: Bug, GUI, Severity: Low

#6372 Updated Prisoner Handling to Remove Reliance on `AtBContract`
  MekHQ/src/mekhq/campaign/randomEvents/prisoners/PrisonerEventManager.java
  MekHQ/src/mekhq/campaign/randomEvents/prisoners/PrisonerMissionEndEvent.java
  MekHQ/src/mekhq/gui/BriefingTab.java
Labels: UX, Severity: Medium

#6376 Updated Admin Strain Nag to Use Immersive Dialog
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/resources/mekhq/resources/NagDialogs.properties
  MekHQ/src/mekhq/gui/dialog/nagDialogs/AdminStrainNagDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/NagController.java
Labels: GUI

#6377 Fixed Scroll Pane Starting Position In Immersive Dialogs
  MekHQ/src/mekhq/gui/baseComponents/immersiveDialogs/ImmersiveDialogCore.java
Labels: GUI

#6378 Fixed MekHQ Lockup Caused by Consecutive Glossary Dialogs; Fixed Scroll Pane Start Position in Glossary Dialogs
  MekHQ/src/mekhq/gui/dialog/GlossaryDialog.java
Labels: Bug, GUI, Severity: High

#6382 Updated Deployment Shortfall Nag To Use Immersive Dialog
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/resources/mekhq/resources/NagDialogs.properties
  MekHQ/src/mekhq/gui/dialog/nagDialogs/AdminStrainNagDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/DeploymentShortfallNagDialog.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/NagController.java
Labels: GUI
