Repository MegaMek/mekhq, pull requests merged in 2025-04, with the labels that each got.

#6283 Added Blood Group Tracking For Personnel
  MekHQ/build.gradle
  MekHQ/resources/mekhq/resources/BloodGroup.properties
  MekHQ/resources/mekhq/resources/PersonViewPanel.properties
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/campaign/personnel/enums/BloodGroup.java
  MekHQ/src/mekhq/campaign/personnel/procreation/AbstractProcreation.java
  MekHQ/src/mekhq/gui/view/PersonViewPanel.java
  MekHQ/unittests/mekhq/campaign/personnel/enums/BloodGroupTest.java
Labels: Personnel, Tests, Utility

#6517 Allow Dynamically Priced Parts to be Replaced in Repair Bay
  MekHQ/src/mekhq/campaign/parts/equipment/EquipmentPart.java
  MekHQ/src/mekhq/campaign/parts/equipment/MissingEquipmentPart.java
Labels: Bug, Parts/Repair/Refit, Tests, Severity: Medium

#6511 Added Fallback Handling for Missing Team Attribute in Scenarios
  MekHQ/src/mekhq/campaign/mission/Scenario.java
Labels: Bug, Severity: High

#6512 Fixed NPE In Armor Repair
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/parts/Armor.java
Labels: Bug, Severity: High

#6514 Parts Fixes Grab Bag
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/mission/Loot.java
  MekHQ/src/mekhq/gui/adapter/PartsTableMouseAdapter.java
  MekHQ/src/mekhq/gui/dialog/PartsStoreDialog.java
Labels: Bug, Parts/Repair/Refit, GUI, UX, Severity: Low

#6542 Fixes Compatibility for AC Ammo in MHQ
  MekHQ/src/mekhq/campaign/parts/AmmoStorage.java
  MekHQ/src/mekhq/campaign/parts/equipment/AmmoBin.java
  MekHQ/unittests/mekhq/campaign/parts/equipment/AmmoBinTest.java
Labels: Bug, Parts/Repair/Refit

#6509 Corrected Tech Sort Direction for Minutes Comparison
  MekHQ/src/mekhq/campaign/Campaign.java
Labels: Bug, Personnel, GUI, Severity: Low

#6513 Fixed Support Points Update in AtBContract
  MekHQ/src/mekhq/campaign/mission/AtBContract.java
Labels: Bug, StratCon, Severity: High

#6519 Fixed Aero Heat Sink Appearing in Parts Store Multiplie Times
  MekHQ/src/mekhq/campaign/market/PartsStore.java
Labels: Bug, GUI, Severity: Low

#6520 Changed Campaign Preset Directory Paths To "Data"; Added Campaign Presets to the custom User Directory
  MekHQ/build.gradle
  MekHQ/data/campaignPresets/1 - New Pilot Program.xml
  MekHQ/data/campaignPresets/2 - The Complete Experience.xml
  MekHQ/data/campaignPresets/3 - Campaign Operations.xml
  MekHQ/src/mekhq/CampaignPreset.java
  MekHQ/src/mekhq/MHQConstants.java
Labels: Data, UX

#6521 Prisoners will No Longer Be Executed when Security is Told to 'Free' Them
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
Labels: Bug, Severity: High

#6523 Renamed "Personnel" Tab To "Barracks"
  MekHQ/resources/mekhq/resources/CampaignGUI.properties
Labels: GUI, UX

#6525 Added Spare View Filter & "In Use" Column to Parts Table in Warehouse Tab
  MekHQ/resources/mekhq/resources/PartsTableModel.properties
  MekHQ/src/mekhq/gui/WarehouseTab.java
  MekHQ/src/mekhq/gui/model/PartsTableModel.java
Labels: GUI, UX

#6529 Added Award Icons to the custom User Directory
  MekHQ/src/mekhq/MHQConstants.java
  MekHQ/src/mekhq/MHQStaticDirectoryManager.java
Labels: Data, UX

#6530 Removed Redundant Fatigue Check in Facility Report Update
  MekHQ/src/mekhq/gui/CommandCenterTab.java
Labels: Bug, GUI, Severity: Low

#6531 Added Status Self-Validation; Prevented Assignment of Invalid Statuses to PoWs; Updated Status Change Menu
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/resources/mekhq/resources/PersonnelStatus.properties
  MekHQ/src/mekhq/campaign/io/CampaignXmlParser.java
  MekHQ/src/mekhq/campaign/personnel/enums/PersonnelStatus.java
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
Labels: Bug, Personnel, UX, Severity: Low

#6532 Added `null` Protection for `getAcademy`
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/personnel/education/EducationController.java
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
  MekHQ/src/mekhq/gui/view/PersonViewPanel.java
Labels: Bug, Severity: Medium

#6533 Prisoners Stage Escapes when Transferred to Academies
  MekHQ/resources/mekhq/resources/Education.properties
  MekHQ/src/mekhq/campaign/personnel/education/EducationController.java
Labels: Personnel

#6536 Deprecated Unused Method And Adjusted Formatting
  MekHQ/src/mekhq/gui/campaignOptions/contents/PersonnelTab.java
Labels: Refactoring

#6538 Added Character Flaws as a New SPA Category
  MekHQ/data/universe/defaultspa.xml
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/resources/mekhq/resources/PersonViewPanel.properties
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
  MekHQ/src/mekhq/gui/campaignOptions/CampaignOptionsAbilityInfo.java
  MekHQ/src/mekhq/gui/campaignOptions/CampaignOptionsPane.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/AbilitiesTab.java
  MekHQ/src/mekhq/gui/dialog/EditSpecialAbilityDialog.java
Labels: Personnel, SPA, Campaign Options

#6549 Improved Image Scaling Utility; Improved Portrait Display in Immersive Dialogs
  MekHQ/src/mekhq/gui/baseComponents/immersiveDialogs/ImmersiveDialogCore.java
  MekHQ/src/mekhq/utilities/ImageUtilities.java
Labels: GUI, Refactoring, Utility

#6505 Refactored Advanced Medical Edit Injury Dialog To Improve Error Handling
  MekHQ/src/mekhq/gui/dialog/EditInjuryEntryDialog.java
Labels: Bug, Severity: Low

#6552 Added ATOW Attribute Tracking and Utility Methods
  MekHQ/resources/mekhq/resources/SkillAttribute.properties
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/campaign/personnel/skills/Attributes.java
  MekHQ/src/mekhq/campaign/personnel/skills/enums/SkillAttribute.java
  MekHQ/unittests/mekhq/campaign/personnel/skills/AttributesTest.java
  MekHQ/unittests/mekhq/campaign/personnel/skills/enums/SkillAttributeTest.java
Labels: Personnel

#6551 Fixed Inability to GM Activate Self-Crewed Units (such as DropShips)
  MekHQ/src/mekhq/campaign/unit/Unit.java
Labels: Bug, Severity: Medium

#6553 Rebranded "Intelligence" as "Reasoning" to Avoid Confusion with ATOW Intelligence Attribute
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/resources/mekhq/resources/Reasoning.properties
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/campaign/personnel/education/EducationController.java
  MekHQ/src/mekhq/campaign/personnel/education/TrainingCombatTeams.java
  MekHQ/src/mekhq/campaign/personnel/skills/Skill.java
  MekHQ/src/mekhq/campaign/personnel/skills/SkillDeprecationTool.java
  MekHQ/src/mekhq/campaign/randomEvents/personalities/PersonalityController.java
  MekHQ/src/mekhq/campaign/randomEvents/personalities/enums/Intelligence.java
  MekHQ/src/mekhq/campaign/randomEvents/personalities/enums/Reasoning.java
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/BiographyTab.java
  MekHQ/src/mekhq/gui/dialog/BatchXPDialog.java
  MekHQ/src/mekhq/gui/dialog/CreateCharacterDialog.java
  MekHQ/src/mekhq/gui/dialog/CustomizePersonDialog.java
  MekHQ/src/mekhq/gui/enums/PersonnelTableModelColumn.java
  MekHQ/unittests/mekhq/campaign/randomEvents/personalities/enums/ReasoningTest.java
  MekHQ/unittests/mekhq/gui/enums/PersonnelTableModelColumnTest.java
Labels: Personnel, Refactoring

#6554 Added the Ability to Purchase Attribute Improvements; Added the GM Ability to Mass Set Attributes
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/campaign/personnel/skills/Attributes.java
  MekHQ/src/mekhq/campaign/personnel/skills/enums/SkillAttribute.java
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
Labels: Personnel, Implementation of Missing Official Rule

#6559 Issue 6548: PersonnelTableModelColumn's cell value should be a date to allow proper sorting
  MekHQ/src/mekhq/gui/dialog/BatchXPDialog.java
  MekHQ/src/mekhq/gui/enums/PersonnelTableModelColumn.java
Labels: Bug, Personnel, GUI

#6562 Fixed Campaign Portrait Fallback; Updated Immersive Dialog Visuals
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/gui/baseComponents/immersiveDialogs/ImmersiveDialogCore.java
  MekHQ/src/mekhq/gui/baseComponents/immersiveDialogs/ImmersiveDialogNag.java
  MekHQ/src/mekhq/gui/baseComponents/immersiveDialogs/ImmersiveDialogSimple.java
Labels: Bug, GUI, Severity: Low

#6555 Added Attribute Columns to Personnel Table
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/src/mekhq/gui/enums/PersonnelTabView.java
  MekHQ/src/mekhq/gui/enums/PersonnelTableModelColumn.java
  MekHQ/unittests/mekhq/gui/enums/PersonnelTableModelColumnTest.java
Labels: Personnel, GUI

#6561 Added Dedicated Skill Check Class Utility
  MekHQ/resources/mekhq/resources/MarginOfSuccess.properties
  MekHQ/resources/mekhq/resources/SkillCheckUtility.properties
  MekHQ/src/mekhq/campaign/personnel/skills/Attributes.java
  MekHQ/src/mekhq/campaign/personnel/skills/Skill.java
  MekHQ/src/mekhq/campaign/personnel/skills/SkillCheckUtility.java
  MekHQ/src/mekhq/campaign/personnel/skills/SkillType.java
  MekHQ/src/mekhq/campaign/personnel/skills/enums/MarginOfSuccess.java
  MekHQ/src/mekhq/gui/dialog/CreateCharacterDialog.java
  MekHQ/src/mekhq/gui/dialog/CustomizePersonDialog.java
  MekHQ/unittests/mekhq/campaign/personnel/skills/SkillCheckUtilityTest.java
Labels: Tests, Utility, Implementation of Missing Official Rule

#6577 Corrected Art Skill Type Names
  MekHQ/src/mekhq/campaign/personnel/skills/SkillType.java
Labels: Bug, Severity: High

#6598 Fixed Refitting Units With Bays
  MekHQ/src/mekhq/campaign/parts/Refit.java
Labels: Bug, Parts/Repair/Refit, Severity: High

#6590 Fix #2968, #2996, #3758, #5332, #6469: Fixed Missing Part Resets when Failing or Cancelling Work Job
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/parts/Part.java
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/campaign/unit/Unit.java
  MekHQ/src/mekhq/campaign/work/IPartWork.java
Labels: Bug, Parts/Repair/Refit, Severity: Medium

#6600 Moved `ImageUtilities` Into MegaMek Package
  MekHQ/src/mekhq/campaign/mission/AtBContract.java
  MekHQ/src/mekhq/campaign/mission/AtBDynamicScenarioFactory.java
  MekHQ/src/mekhq/gui/StratconPanel.java
  MekHQ/src/mekhq/gui/baseComponents/AbstractMHQNagDialog.java
  MekHQ/src/mekhq/gui/baseComponents/immersiveDialogs/ImmersiveDialogCore.java
  MekHQ/src/mekhq/gui/campaignOptions/SelectPresetDialog.java
  MekHQ/src/mekhq/gui/campaignOptions/components/CampaignOptionsHeaderPanel.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/GeneralTab.java
  MekHQ/src/mekhq/gui/dialog/ContractAutomationDialog.java
  MekHQ/src/mekhq/gui/dialog/NewsDialog.java
  MekHQ/src/mekhq/gui/dialog/randomEvents/GrayMondayDialog.java
  MekHQ/src/mekhq/gui/dialog/resupplyAndCaches/DialogAbandonedConvoy.java
  MekHQ/src/mekhq/gui/dialog/resupplyAndCaches/DialogContractStart.java
  MekHQ/src/mekhq/gui/dialog/resupplyAndCaches/DialogInterception.java
  MekHQ/src/mekhq/gui/dialog/resupplyAndCaches/DialogItinerary.java
  MekHQ/src/mekhq/gui/dialog/resupplyAndCaches/DialogPlayerConvoyOption.java
  MekHQ/src/mekhq/gui/dialog/resupplyAndCaches/DialogResupplyFocus.java
  MekHQ/src/mekhq/gui/dialog/resupplyAndCaches/DialogRoleplayEvent.java
  MekHQ/src/mekhq/gui/dialog/resupplyAndCaches/DialogSwindled.java
  MekHQ/src/mekhq/gui/stratcon/StratconScenarioWizard.java
  MekHQ/src/mekhq/gui/view/PersonViewPanel.java
  MekHQ/src/mekhq/utilities/ImageUtilities.java
Labels: Refactoring, Utility

#6601 When restoring techs time, Large Vessel Crews should be considered techs.
  MekHQ/src/mekhq/campaign/personnel/Person.java
Labels: Bug, Parts/Repair/Refit, Severity: Medium

#6603 Fix #6596: Added Off-Board Deployment Validation and Improved Generation Safety
  MekHQ/src/mekhq/campaign/mission/AtBDynamicScenarioFactory.java
  MekHQ/src/mekhq/campaign/universe/UnitGeneratorParameters.java
Labels: Bug, Severity: Critical, Improvement to Existing Feature

#6565 Added Discretionary Spending System Based on Wealth Trait
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/resources/mekhq/resources/DiscretionarySpending.properties
  MekHQ/resources/mekhq/resources/Finances.properties
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/campaign/finances/enums/TransactionType.java
  MekHQ/src/mekhq/campaign/personnel/DiscretionarySpending.java
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/FinancesTab.java
Labels: Personnel, Implementation of Missing Official Rule

#6568 Fixed Facility Capacities Display Logic In Command Center Tab
  MekHQ/src/mekhq/gui/CommandCenterTab.java
Labels: Bug, GUI, Severity: Low

#6569 Added Campaign Option To Reset Criminal Record
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/src/mekhq/gui/campaignOptions/contents/GeneralTab.java
Labels: Unit Rating, UX, Campaign Options

#6570 Added Option To Reset Temporary Prisoner Capacity
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/src/mekhq/gui/campaignOptions/CampaignOptionsPane.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/PersonnelTab.java
Labels: UX, Campaign Options

#6572 Added Randomize Traits Option For Character Creation
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/src/mekhq/campaign/RandomSkillPreferences.java
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/campaign/personnel/generator/AbstractSkillGenerator.java
  MekHQ/src/mekhq/campaign/personnel/generator/DefaultPersonnelGenerator.java
  MekHQ/src/mekhq/campaign/personnel/generator/DefaultSkillGenerator.java
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/AdvancementTab.java
Labels: Personnel, Campaign Options

#6573 Refactored Edge Handling to Use Adjusted Edge Values
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/campaign/unit/Unit.java
  MekHQ/src/mekhq/gui/view/PersonViewPanel.java
Labels: Bug, GUI, Refactoring, Severity: Low

#6580 Fixed Infinite Loop in `getAvailableForceIDs` (Sentry)
  MekHQ/src/mekhq/campaign/stratcon/StratconRulesManager.java
Labels: Bug, StratCon, Severity: Medium

#6581 Ensured StratCon Campaigns Always Generate At Least One Track (Sentry)
  MekHQ/src/mekhq/campaign/stratcon/StratconCampaignState.java
  MekHQ/src/mekhq/campaign/stratcon/StratconContractInitializer.java
Labels: Bug, StratCon, Severity: Medium

#6582 Fix #6545: Prevented Self-Crewed Unit Crew from Going on Maternity Leave Mid-Refit, Mid-Repair, or Mid-Mothballing
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/campaign/personnel/procreation/AbstractProcreation.java
Labels: Bug, Parts/Repair/Refit, Personnel, Severity: Medium

#6578 Added Skill Check Dialog Using New Centralized Skill Check Utility
  MekHQ/data/images/misc/skill_check_default.png
  MekHQ/data/images/misc/skill_check_fail.png
  MekHQ/data/images/misc/skill_check_pass.png
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/resources/mekhq/resources/MarginOfSuccess.properties
  MekHQ/resources/mekhq/resources/PersonViewPanel.properties
  MekHQ/resources/mekhq/resources/SkillCheckDialog.properties
  MekHQ/resources/mekhq/resources/SkillCheckUtility.properties
  MekHQ/src/mekhq/campaign/personnel/skills/SkillCheckUtility.java
  MekHQ/src/mekhq/campaign/personnel/skills/SkillType.java
  MekHQ/src/mekhq/campaign/personnel/skills/enums/MarginOfSuccess.java
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
  MekHQ/src/mekhq/gui/baseComponents/immersiveDialogs/ImmersiveDialogCore.java
  MekHQ/src/mekhq/gui/dialog/SkillCheckDialog.java
  MekHQ/src/mekhq/gui/view/PersonViewPanel.java
  MekHQ/unittests/mekhq/campaign/personnel/skills/SkillCheckUtilityTest.java
Labels: Bug, Personnel, GUI, UX, Severity: Medium

#6584 Fix #6544: Restored Ability to Salvage Turrets
  MekHQ/src/mekhq/campaign/ResolveScenarioTracker.java
Labels: Bug, Scenario Resolution, Severity: Low

#6585 Fix #6563: Fixed In Transit Sorting in Warehouse Tab
  MekHQ/src/mekhq/gui/WarehouseTab.java
  MekHQ/src/mekhq/gui/sorter/WarehouseStatusSorter.java
Labels: GUI, UX

#6587 Fix #4828, #6476: Updated Maintenance Handling and Tech Assignment Display
  MekHQ/resources/mekhq/resources/Campaign.properties
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/gui/menus/AssignUnitToTechMenu.java
Labels: Errata, GUI

#6588 Fix #4710: Added Ad-Hoc Maintenance Option
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/src/mekhq/gui/adapter/UnitTableMouseAdapter.java
Labels: UX

#6589 Fix #4717: Added Display Of Days Till Next Maintenance Check To Hangar Table
  MekHQ/src/mekhq/gui/HangarTab.java
  MekHQ/src/mekhq/gui/model/UnitTableModel.java
Labels: GUI, UX

#6591 Fix #6449: Fixed Find Planet and Planet View Panel Interaction
  MekHQ/src/mekhq/gui/MapTab.java
Labels: Bug, GUI, Severity: Low

#6592 Fix #6439: Fixed Turnover Unit Assignment for Characters Breaking Contract
  MekHQ/src/mekhq/gui/dialog/RetirementDefectionDialog.java
Labels: Bug, Personnel, GUI, Severity: Medium

#6593 Added Prisoner Capture Target Number to Logs
  MekHQ/src/mekhq/campaign/randomEvents/prisoners/CapturePrisoners.java
Labels: Scenario Resolution, Refactoring

#6594 Fix #6409: Corrected Crew Gunnery Skill Limits From 7 to 8
  MekHQ/src/mekhq/campaign/unit/Unit.java
Labels: Bug, Personnel, Severity: Low

#6602 Fixed 24-hour Work Day in Refit Display
  MekHQ/src/mekhq/campaign/unit/Unit.java
Labels: Bug, GUI, Severity: Low

#6583 Fix #6546: Fixed Display of Misc Award Images; Upgraded Award Image Scaling
  MekHQ/src/mekhq/gui/view/PersonViewPanel.java
  MekHQ/src/mekhq/utilities/ImageUtilities.java
Labels: Bug, Awards, GUI, Severity: Low

#6604 Fixed Mercenary Auction Decline Auction Option
  MekHQ/src/mekhq/campaign/randomEvents/MercenaryAuction.java
Labels: Bug, StratCon, Severity: Medium

#6613 Added Tint To Campaign Options Tab Images
  MekHQ/src/mekhq/gui/campaignOptions/components/CampaignOptionsHeaderPanel.java
Labels: GUI, Refactoring

#6614 Fix #6609: Increased Width of Finance Summary
  MekHQ/src/mekhq/gui/FinancesTab.java
Labels: GUI, UX

#6620 Fix #6616: Fixed Convoys Not Deploying to Scenarios
  MekHQ/src/mekhq/campaign/mission/Scenario.java
  MekHQ/src/mekhq/gui/BriefingTab.java
Labels: Bug, Severity: High

#6621 Fix #6618: Implemented Pre-Tukayyid Clan Tech Restrictions to Force Generation
  MekHQ/src/mekhq/MHQConstants.java
  MekHQ/src/mekhq/campaign/market/unitMarket/AbstractUnitMarket.java
  MekHQ/src/mekhq/campaign/mission/AtBContract.java
  MekHQ/src/mekhq/campaign/mission/AtBDynamicScenarioFactory.java
  MekHQ/src/mekhq/campaign/mission/resupplyAndCaches/Resupply.java
Labels: Bug, AtB, StratCon, Severity: Medium

#6625 Adjusted Missing Team Fallback Logging
  MekHQ/src/mekhq/campaign/mission/Scenario.java
Labels: Refactoring

#6626 Implemented Graceful Failure when Loading Random Marriage Settings from Older Versions
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/campaign/personnel/enums/RandomMarriageMethod.java
  MekHQ/unittests/mekhq/campaign/personnel/enums/RandomMarriageMethodTest.java
Labels: Bug, Tests, Campaign Options, Severity: Low

#6627 Implemented Graceful Failure when Loading Random Procreation Settings from Older Versions
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/campaign/personnel/enums/RandomProcreationMethod.java
  MekHQ/unittests/mekhq/campaign/personnel/enums/RandomProcreationMethodTest.java
Labels: Bug, Tests, Campaign Options, Severity: Low

#6628 Fixed Error On Loading Campaign That Predates Combat Teams
  MekHQ/src/mekhq/campaign/force/CombatTeam.java
Labels: Bug, Refactoring, Severity: Low

#6630 Fix #1460: Corrected Naming of the Planet Herculaneum/Marius's Tears
  MekHQ/data/universe/planetary_systems/canon_systems/MariussTears.yml
Labels: Bug, Data, Severity: Low

#6631 Fix #2183, #3819, #4788: Corrected Hydrogen-Based Fuel Cost Calculation
  MekHQ/src/mekhq/campaign/finances/Accountant.java
  MekHQ/src/mekhq/campaign/unit/Unit.java
Labels: Finances, Improvement to Existing Feature, Implementation of Missing Official Rule

#6597 Refactored Temporary Prisoner Capacity Management
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/mission/AtBContract.java
  MekHQ/src/mekhq/campaign/randomEvents/prisoners/EventEffectsManager.java
  MekHQ/src/mekhq/campaign/randomEvents/prisoners/PrisonerEventManager.java
  MekHQ/src/mekhq/gui/BriefingTab.java
  MekHQ/unittests/mekhq/campaign/randomEvents/prisoners/PrisonerEventManagerTest.java
Labels: Bug, Refactoring, Severity: Medium

#6608 Added Option to Award Children a Single SPA When They Turn 16
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/AdvancementTab.java
Labels: Personnel, SPA

#6607 Added 29 Brand New, Fully Implemented SPAs from A Time of War; Added 2 New Unofficial SPAs
  MekHQ/data/universe/defaultspa.xml
  MekHQ/src/mekhq/campaign/CurrentLocation.java
  MekHQ/src/mekhq/campaign/ResolveScenarioTracker.java
  MekHQ/src/mekhq/campaign/mission/CrewSkillUpgrader.java
  MekHQ/src/mekhq/campaign/mod/am/InjuryTypes.java
  MekHQ/src/mekhq/campaign/personnel/InjuryType.java
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/campaign/personnel/PersonnelOptions.java
  MekHQ/src/mekhq/campaign/personnel/education/TrainingCombatTeams.java
  MekHQ/src/mekhq/campaign/personnel/skills/Skill.java
  MekHQ/src/mekhq/campaign/personnel/skills/SkillType.java
  MekHQ/src/mekhq/campaign/randomEvents/prisoners/EventEffectsManager.java
  MekHQ/src/mekhq/campaign/stratcon/StratconRulesManager.java
  MekHQ/src/mekhq/campaign/unit/Unit.java
  MekHQ/src/mekhq/gui/view/PersonViewPanel.java
Labels: SPA, Implementation of Missing Official Rule

#6632 Fix #3799: Added Option To Avoid Empty Systems In Pathfinding
  MekHQ/resources/mekhq/resources/CampaignGUI.properties
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/io/CampaignXmlParser.java
  MekHQ/src/mekhq/gui/MapTab.java
Labels: Refactoring

#6595 Fix #6341: Improved Name Escaping when Saving Unit in MekHQ's MekLab
  MekHQ/src/mekhq/campaign/parts/Refit.java
Labels: Bug, Parts/Repair/Refit, Severity: Medium

#6564 Refactored Phenotype Enum; Added ATOW Attributes to Character Generation; Added 'Extra Attribute Randomization' Campaign Option
  MekHQ/data/universe/defaultspa.xml
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/resources/mekhq/resources/GUI.properties
  MekHQ/resources/mekhq/resources/Personnel.properties
  MekHQ/resources/mekhq/resources/PersonnelRole.properties
  MekHQ/resources/mekhq/resources/Phenotype.properties
  MekHQ/src/mekhq/campaign/MercRosterAccess.java
  MekHQ/src/mekhq/campaign/RandomSkillPreferences.java
  MekHQ/src/mekhq/campaign/market/PersonnelMarket.java
  MekHQ/src/mekhq/campaign/market/enums/UnitMarketRarity.java
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/campaign/personnel/PersonnelOptions.java
  MekHQ/src/mekhq/campaign/personnel/enums/PersonnelRole.java
  MekHQ/src/mekhq/campaign/personnel/enums/Phenotype.java
  MekHQ/src/mekhq/campaign/personnel/generator/AbstractSkillGenerator.java
  MekHQ/src/mekhq/campaign/personnel/generator/DefaultPersonnelGenerator.java
  MekHQ/src/mekhq/campaign/personnel/generator/DefaultSkillGenerator.java
  MekHQ/src/mekhq/campaign/personnel/generator/DefaultSpecialAbilityGenerator.java
  MekHQ/src/mekhq/campaign/personnel/generator/RandomPortraitGenerator.java
  MekHQ/src/mekhq/campaign/personnel/skills/Attributes.java
  MekHQ/src/mekhq/campaign/report/PersonnelReport.java
  MekHQ/src/mekhq/campaign/storyarc/storypoint/CreateCharacterStoryPoint.java
  MekHQ/src/mekhq/campaign/stratcon/StratconContractInitializer.java
  MekHQ/src/mekhq/gui/CampaignGUI.java
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
  MekHQ/src/mekhq/gui/baseComponents/immersiveDialogs/ImmersiveDialogCore.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/AdvancementTab.java
  MekHQ/src/mekhq/gui/dialog/BatchXPDialog.java
  MekHQ/src/mekhq/gui/dialog/GMToolsDialog.java
  MekHQ/src/mekhq/gui/dialog/HireBulkPersonnelDialog.java
  MekHQ/src/mekhq/gui/dialog/PersonnelMarketDialog.java
  MekHQ/src/mekhq/gui/enums/PersonnelTableModelColumn.java
  MekHQ/src/mekhq/gui/panels/CompanyGenerationOptionsPanel.java
  MekHQ/src/mekhq/gui/sorter/AttributeScoreSorter.java
  MekHQ/unittests/mekhq/campaign/personnel/enums/PersonnelRoleTest.java
  MekHQ/unittests/mekhq/campaign/personnel/enums/PhenotypeTest.java
  MekHQ/unittests/mekhq/campaign/personnel/skills/AttributesTest.java
  MekHQ/unittests/mekhq/gui/enums/PersonnelTableModelColumnTest.java
Labels: Personnel, Tests, Implementation of Missing Official Rule

#6615 Fixed Skills Failing to Load into Campaign Options if Out-of-Date
  MekHQ/src/mekhq/CampaignPreset.java
  MekHQ/src/mekhq/campaign/io/CampaignXmlParser.java
  MekHQ/src/mekhq/campaign/personnel/skills/SkillType.java
  MekHQ/src/mekhq/campaign/personnel/skills/enums/SkillSubType.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/SkillsTab.java
Labels: Bug, Campaign Options, Severity: Critical

#6575 Updated Aging Effects to Include Clan Reputation Modifiers & Glass Jaw Gain
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/mission/resupplyAndCaches/Resupply.java
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/campaign/personnel/skills/Aging.java
  MekHQ/src/mekhq/campaign/personnel/skills/enums/AgingMilestone.java
  MekHQ/src/mekhq/campaign/rating/CamOpsReputation/CommandRating.java
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
  MekHQ/src/mekhq/gui/dialog/BatchXPDialog.java
  MekHQ/src/mekhq/gui/dialog/CreateCharacterDialog.java
  MekHQ/src/mekhq/gui/enums/PersonnelTableModelColumn.java
  MekHQ/src/mekhq/gui/model/CrewListModel.java
  MekHQ/src/mekhq/gui/view/PersonViewPanel.java
Labels: Bug, Refactoring, Severity: Low, Implementation of Missing Official Rule

#6634 Fixed NPE When Loading Units Without an Engine
  MekHQ/src/mekhq/campaign/finances/Accountant.java
Labels: Bug, Severity: Critical

#6635 Implemented Graceful Failure when Loading Random Divorce Settings from Older Versions
  MekHQ/src/mekhq/campaign/CampaignOptions.java
  MekHQ/src/mekhq/campaign/personnel/enums/RandomDivorceMethod.java
  MekHQ/unittests/mekhq/campaign/personnel/enums/RandomDivorceMethodTest.java
Labels: Bug, Tests, Campaign Options, Compatibility, Severity: Low

#6636 Fixed Formatting Issue in Campaign Load Prompt
  MekHQ/resources/mekhq/resources/CampaignHasProblemOnLoad.properties
Labels: Bug, GUI, Severity: Low

#6637 Fixed Retirement Transaction Type Compatibility for Older Versions
  MekHQ/src/mekhq/campaign/finances/enums/TransactionType.java
Labels: Bug, Finances, Compatibility, Severity: Low

#6638 Added Support For the "ROUT" Morale Level Used in Older Versions
  MekHQ/src/mekhq/campaign/mission/enums/AtBMoraleLevel.java
Labels: Bug, AtB, StratCon, Compatibility, Severity: Low

#6639 Fixed Commander's Day Dialog To Scale Banner Image Properly
  MekHQ/src/mekhq/campaign/personnel/lifeEvents/CommandersDayAnnouncement.java
Labels: Bug, GUI, Severity: Low

#6640 Fixed Incorrect Constants and Pronoun Placement in BirthAnnouncement
  MekHQ/resources/mekhq/resources/BirthAnnouncement.properties
  MekHQ/src/mekhq/campaign/personnel/lifeEvents/BirthAnnouncement.java
Labels: Bug, GUI, Severity: Low

#6641 Fixed Null Pointer Issue in Refit Handling
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/campaign/unit/Unit.java
Labels: Bug, Personnel, Severity: High

#6647 Fix #6646: Fixed Skill XP Costs Resetting
  MekHQ/src/mekhq/campaign/personnel/skills/SkillType.java
Labels: Bug, Campaign Options, Severity: High

#6649 Fix what units are passed to detach trailer/tractor so it only shows when needed
  MekHQ/src/mekhq/gui/adapter/TOEMouseAdapter.java
Labels: Bug

#6655 Fix #6653: Updated Doctor/Tech Uses Administration to No Longer Factor Administration into Experience Level
  MekHQ/src/mekhq/campaign/personnel/Person.java
Labels: GUI, UX, Campaign Options

#6657 Renamed "Company Generator" to "Quick Start Company Generator"
  MekHQ/resources/mekhq/resources/CampaignGUI.properties
  MekHQ/resources/mekhq/resources/GUI.properties
Labels: GUI, Refactoring

#6658 Issue 6651: Removed Partial Maintenance and fixed Shorthanded Penalty
  MekHQ/src/mekhq/campaign/Campaign.java
Labels: Bug, Parts/Repair/Refit, Severity: Critical

#6661 Updated Presets to 50.05
  MekHQ/data/campaignPresets/1 - New Pilot Program.xml
  MekHQ/data/campaignPresets/1 - New Player Preset.xml
  MekHQ/data/campaignPresets/2 - The Complete Experience.xml
  MekHQ/data/campaignPresets/2 - Veteran Experience Preset.xml
  MekHQ/data/campaignPresets/3 - Campaign Operations.xml
  MekHQ/data/campaignPresets/4 - Tabula Rasa.xml
Labels: UX, Campaign Options

#6662 A Couple of SPA XML Fixes
  MekHQ/data/universe/defaultspa.xml
Labels: Bug, Data, Severity: Medium

#6663 Fixed Skill Panel Layout Calculation in Campaign Options IIC
  MekHQ/src/mekhq/gui/campaignOptions/contents/SkillsTab.java
Labels: Bug, GUI, Campaign Options, Severity: Medium

#6667 Fixed an NPE During Contract Resolution (Sentry)
  .gitignore
  MekHQ/src/mekhq/gui/BriefingTab.java
Labels: Bug, StratCon, Severity: Medium

#6671 Fix #6668: Fixed Creative Accounting for Ammunition in Resupplies
  MekHQ/src/mekhq/campaign/mission/resupplyAndCaches/GenerateResupplyContents.java
Labels: Bug, Severity: Medium

#6659 Issue 6619: Prevent C3 Changes in MegaMek from Overwritting C3 in MHQ
  MekHQ/src/mekhq/campaign/unit/Unit.java
  MekHQ/src/mekhq/campaign/unit/actions/RestoreUnitAction.java
  MekHQ/unittests/mekhq/campaign/parts/RefitTest.java
Labels: Bug, Severity: Medium

#6648 Tractor transport types can now be used for leadership bonus unit selections
  MekHQ/src/mekhq/campaign/utilities/CampaignTransportUtilities.java
Labels: (RFE) Enhancement, StratCon, Severity: Medium, Improvement to Existing Feature

#6675 Fixed Command Skills Counting Down not Up
  MekHQ/src/mekhq/campaign/personnel/skills/SkillType.java
Labels: Bug, Personnel, Severity: High

#6677 Fixed NPE in `updateCommander` (Sentry)
  MekHQ/src/mekhq/campaign/force/CombatTeam.java
  MekHQ/src/mekhq/campaign/force/Force.java
Labels: Bug, Severity: Medium

#6689 Issue 6688: Corrected Fuel Cost Calculation for DS
  MekHQ/src/mekhq/campaign/unit/Unit.java
Labels: Bug, Blocker, Finances, Severity: Critical

#6691 Fix #6412, #6422: Fixed Multiple Scenario Template Issues
  MekHQ/data/scenariotemplates/Annihilation.xml
  MekHQ/data/scenariotemplates/Assassination.xml
  MekHQ/data/scenariotemplates/Base Defense.xml
  MekHQ/data/scenariotemplates/Breakthrough.xml
  MekHQ/data/scenariotemplates/Chasing a Rumor.xml
  MekHQ/data/scenariotemplates/Close Air Support.xml
  MekHQ/data/scenariotemplates/Convoy Escort.xml
  MekHQ/data/scenariotemplates/Convoy Interdiction.xml
  MekHQ/data/scenariotemplates/Convoy Raid.xml
  MekHQ/data/scenariotemplates/Covert Strike.xml
  MekHQ/data/scenariotemplates/Critical Convoy Escort.xml
  MekHQ/data/scenariotemplates/Decoy Engagement.xml
  MekHQ/data/scenariotemplates/Decoy Interception.xml
  MekHQ/data/scenariotemplates/Deep Raid Defense.xml
  MekHQ/data/scenariotemplates/Deep Raid.xml
  MekHQ/data/scenariotemplates/Diversion Engagement.xml
  MekHQ/data/scenariotemplates/DropShip Raid.xml
  MekHQ/data/scenariotemplates/Emergency Convoy Defense - Player - Low-Atmosphere.xml
  MekHQ/data/scenariotemplates/Emergency Convoy Defense - Player - VTOL.xml
  MekHQ/data/scenariotemplates/Emergency Convoy Defense - Player.xml
  MekHQ/data/scenariotemplates/Emergency Convoy Defense.xml
  MekHQ/data/scenariotemplates/Engagement.xml
  MekHQ/data/scenariotemplates/Frontier Assassination.xml
  MekHQ/data/scenariotemplates/Frontline Breakthrough.xml
  MekHQ/data/scenariotemplates/Frontline Disruption.xml
  MekHQ/data/scenariotemplates/Frontline Engagement.xml
  MekHQ/data/scenariotemplates/Heavy Recon Evasion.xml
  MekHQ/data/scenariotemplates/Hostile Facility.xml
  MekHQ/data/scenariotemplates/Intercept Engagement.xml
  MekHQ/data/scenariotemplates/Intercept the Escapees.xml
  MekHQ/data/scenariotemplates/Interception Defense.xml
  MekHQ/data/scenariotemplates/Irregular Force Assault.xml
  MekHQ/data/scenariotemplates/Irregular Force Suppression.xml
  MekHQ/data/scenariotemplates/Isolated DropShip Defense.xml
  MekHQ/data/scenariotemplates/Low-Atmosphere Air Intercept.xml
  MekHQ/data/scenariotemplates/Low-Atmosphere DropShip Assault.xml
  MekHQ/data/scenariotemplates/Low-Atmosphere DropShip Escort.xml
  MekHQ/data/scenariotemplates/Low-Atmosphere Reinforcements Intercepted.xml
  MekHQ/data/scenariotemplates/Minor Engagement.xml
  MekHQ/data/scenariotemplates/Picket Line Breakthrough.xml
  MekHQ/data/scenariotemplates/Pivotal Battle.xml
  MekHQ/data/scenariotemplates/Recon Evasion.xml
  MekHQ/data/scenariotemplates/Reconnaissance Interdiction.xml
  MekHQ/data/scenariotemplates/Reinforcements Intercepted.xml
  MekHQ/data/scenariotemplates/Space Aerospace Intercept.xml
  MekHQ/data/scenariotemplates/Space Blockade Run.xml
  MekHQ/data/scenariotemplates/Space DropShip Intercept.xml
  MekHQ/data/scenariotemplates/Space Reinforcements Intercepted.xml
  MekHQ/data/scenariotemplates/Tactical Withdrawal.xml
  MekHQ/data/scenariotemplates/VIP Ambush.xml
  MekHQ/data/scenariotemplates/VIP Defense.xml
Labels: Bug, Data, Severity: High

#6669 Fix/acar move entity by copy
  MekHQ/src/mekhq/campaign/autoresolve/AtBSetupForces.java
  MekHQ/unittests/mekhq/campaign/autoresolve/ResolverTest.java
Labels: Bug, ACAR

#6693 Improved SkillLevel Parsing from Older Campaigns
  MekHQ/src/mekhq/campaign/CampaignOptions.java
Labels: Bug, Compatibility, Severity: Medium

#6694 Made 'Invalid Profession' Errors More Visible With Advance for Older Campaigns
  MekHQ/resources/mekhq/resources/Personnel.properties
  MekHQ/src/mekhq/campaign/personnel/Person.java
Labels: Bug, Compatibility, Severity: High

#6702 Issue 6700: Fixed Formation-level kill awards
  MekHQ/src/mekhq/campaign/personnel/autoAwards/KillAwards.java
Labels: Bug, Awards, Severity: Medium

#6703 Added Null Protection to `ReportHyperlinkListener`
  MekHQ/src/mekhq/gui/ReportHyperlinkListener.java
Labels: Bug, Refactoring, Severity: Medium

#6704 Updated Version Schema
  MekHQ/campaigns/The Learning Ropes.cpnx.gz
  MekHQ/data/campaignPresets/1 - New Player Preset.xml
  MekHQ/data/campaignPresets/2 - Veteran Experience Preset.xml
  MekHQ/data/campaignPresets/3 - Campaign Operations.xml
  MekHQ/data/campaignPresets/4 - Tabula Rasa.xml
  MekHQ/userdata/data/universe/ranks.xml
Labels: Refactoring

#6706 Refactored Centralized Skill Check Class to Use `TargetRoll`; Fixed Multiple Bugs
  MekHQ/resources/mekhq/resources/SkillCheckUtility.properties
  MekHQ/src/mekhq/campaign/personnel/skills/Attributes.java
  MekHQ/src/mekhq/campaign/personnel/skills/SkillCheckUtility.java
  MekHQ/src/mekhq/gui/dialog/SkillCheckDialog.java
  MekHQ/unittests/mekhq/campaign/personnel/skills/SkillCheckUtilityTest.java
Labels: Bug, Refactoring, Utility, Severity: Medium

#6705 Fixed SPA Grouping Logic in Campaign Options IIC
  MekHQ/src/mekhq/gui/campaignOptions/contents/AbilitiesTab.java
Labels: Bug, Refactoring, SPA, Campaign Options, Severity: Low

#6713 Fixed Two Invalid and Removable SPAs
  MekHQ/data/campaignPresets/1 - New Player Preset.xml
  MekHQ/data/campaignPresets/2 - Veteran Experience Preset.xml
  MekHQ/data/universe/defaultspa.xml
Labels: Bug, SPA, Severity: Low

#6714 Fixed Target Number Display in Skill Check Utility
  MekHQ/src/mekhq/campaign/personnel/skills/SkillCheckUtility.java
Labels: Bug, Utility, Severity: Low

#6716 Corrected Resupply Documentation; Archived Outdated Parts Procurement Documentation
  MekHQ/docs/Archive Stuff/Logistics and Parts Procurement.pdf
  MekHQ/docs/StratCon/Resupply & Convoys.pdf
Labels: Documentation

#6719 Fix #6717: Fixed Skill Compatibility Version Check
  MekHQ/src/mekhq/campaign/personnel/skills/SkillType.java
Labels: Bug, Severity: Critical

#6721 Issue #6720: Ghostbusting in `MothballInfo` so Personnel Don't Return
  MekHQ/src/mekhq/campaign/unit/MothballInfo.java
  MekHQ/src/mekhq/campaign/unit/Unit.java
Labels: Bug, Personnel, Severity: High

#6729 Moved `RandomSkillPreferences` to Skills Package
  MekHQ/src/mekhq/CampaignPreset.java
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/io/CampaignXmlParser.java
  MekHQ/src/mekhq/campaign/mission/AtBDynamicScenarioFactory.java
  MekHQ/src/mekhq/campaign/personnel/PersonUtility.java
  MekHQ/src/mekhq/campaign/personnel/generator/AbstractPersonnelGenerator.java
  MekHQ/src/mekhq/campaign/personnel/generator/AbstractSkillGenerator.java
  MekHQ/src/mekhq/campaign/personnel/generator/AbstractSpecialAbilityGenerator.java
  MekHQ/src/mekhq/campaign/personnel/generator/DefaultPersonnelGenerator.java
  MekHQ/src/mekhq/campaign/personnel/generator/DefaultSkillGenerator.java
  MekHQ/src/mekhq/campaign/personnel/skills/RandomSkillPreferences.java
  MekHQ/src/mekhq/campaign/randomEvents/RoninOffer.java
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
  MekHQ/src/mekhq/gui/adapter/UnitTableMouseAdapter.java
  MekHQ/src/mekhq/gui/campaignOptions/CampaignOptionsPane.java
  MekHQ/src/mekhq/gui/campaignOptions/CreateCampaignPreset.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/AdvancementTab.java
  MekHQ/src/mekhq/gui/dialog/HireBulkPersonnelDialog.java
  MekHQ/unittests/mekhq/campaign/autoresolve/ResolverTest.java
  MekHQ/unittests/mekhq/campaign/universe/enums/CompanyGenerationMethodTest.java
Labels: Refactoring

#6731 Fix #3000, #4097: Updated Comms Center Functionality to Match Description
  MekHQ/data/scenariomodifiers/archive/GoodEvent.xml
  MekHQ/data/scenariomodifiers/modifiermanifest.xml
  MekHQ/data/stratconfacilities/AlliedAirBase.xml
  MekHQ/data/stratconfacilities/AlliedArtilleryBase.xml
  MekHQ/data/stratconfacilities/AlliedBaseOfOperations.xml
  MekHQ/data/stratconfacilities/AlliedCommsCenter.xml
  MekHQ/data/stratconfacilities/AlliedDataCenter.xml
  MekHQ/data/stratconfacilities/AlliedEarlyWarningSystem.xml
  MekHQ/data/stratconfacilities/AlliedIndustrialFacility.xml
  MekHQ/data/stratconfacilities/AlliedMekBase.xml
  MekHQ/data/stratconfacilities/AlliedOrbitalDefense.xml
  MekHQ/data/stratconfacilities/AlliedSpacePort.xml
  MekHQ/data/stratconfacilities/AlliedTankBase.xml
  MekHQ/data/stratconfacilities/HostileAirBase.xml
  MekHQ/data/stratconfacilities/HostileArtilleryBase.xml
  MekHQ/data/stratconfacilities/HostileBaseOfOperations.xml
  MekHQ/data/stratconfacilities/HostileCommsCenter.xml
  MekHQ/data/stratconfacilities/HostileDataCenter.xml
  MekHQ/data/stratconfacilities/HostileEarlyWarningSystem.xml
  MekHQ/data/stratconfacilities/HostileIndustrialFacility.xml
  MekHQ/data/stratconfacilities/HostileMekBase.xml
  MekHQ/data/stratconfacilities/HostileOrbitalDefense.xml
  MekHQ/data/stratconfacilities/HostileSpacePort.xml
  MekHQ/data/stratconfacilities/HostileTankBase.xml
Labels: Bug, Data, StratCon, Refactoring, Severity: Low

#6734 Fixed Prisoner Capacity of Injured Prisoners
  MekHQ/src/mekhq/campaign/randomEvents/prisoners/PrisonerEventManager.java
Labels: Bug, Severity: Medium

#6738 Remove Redundant Logging in SkillType Updates
  MekHQ/src/mekhq/campaign/personnel/skills/SkillType.java
Labels: Refactoring

#6739 Fix #3624, #4039: Fixed Transport Report Counting Mothballed Units as Occupying Bays
  MekHQ/src/mekhq/campaign/unit/HangarStatistics.java
Labels: Bug, GUI, Severity: Low

#6723 Fix #6718: Ensured Only Active Techs are Reassigned When Activating Units from a Mothballed State
  MekHQ/src/mekhq/campaign/unit/MothballInfo.java
Labels: Bug, Severity: Medium

#6724 Fix #6701: Added Colorblind Assistance to Refit Not Found Text
  MekHQ/src/mekhq/campaign/parts/Refit.java
  MekHQ/src/mekhq/utilities/ReportingUtilities.java
Labels: Bug, Accessibility, GUI, Severity: Low

#6726 Fix #1914 : Refactored Contract Terms Negotiations to Be Closer to RAW
  MekHQ/src/mekhq/campaign/market/contractMarket/AtbMonthlyContractMarket.java
  MekHQ/src/mekhq/gui/view/ContractSummaryPanel.java
Labels: AtB, StratCon

#6722 Fix #6711: Fixed Conventional Infantry & Large Vessel (DropShip) Mothballing and Activation
  MekHQ/resources/mekhq/resources/Campaign.properties
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/unit/actions/ActivateUnitAction.java
  MekHQ/src/mekhq/campaign/unit/actions/MothballUnitAction.java
  MekHQ/src/mekhq/gui/CampaignGUI.java
  MekHQ/src/mekhq/gui/adapter/UnitTableMouseAdapter.java
Labels: Bug, Severity: High

#6730 Added Option to Disable ATOW Attribute Scores
  MekHQ/data/campaignPresets/1 - New Player Preset.xml
  MekHQ/data/campaignPresets/2 - Veteran Experience Preset.xml
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/src/mekhq/campaign/personnel/generator/DefaultSkillGenerator.java
  MekHQ/src/mekhq/campaign/personnel/skills/RandomSkillPreferences.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/AdvancementTab.java
Labels: Personnel, Campaign Options

#6741 Fix #3963: Added the Ability to GM Increase the Number of Each Part in the Warehouse.
  MekHQ/src/mekhq/gui/adapter/PartsTableMouseAdapter.java
Labels: GUI

#6743 Fix #4086: Added Parts In Use Button to Warehouse Tab
  MekHQ/src/mekhq/gui/WarehouseTab.java
Labels: GUI, UX

#6736 Simplified Roleplay Skills Randomization
  MekHQ/data/campaignPresets/1 - New Player Preset.xml
  MekHQ/data/campaignPresets/2 - Veteran Experience Preset.xml
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/src/mekhq/campaign/personnel/generator/AbstractSkillGenerator.java
  MekHQ/src/mekhq/campaign/personnel/generator/DefaultSkillGenerator.java
  MekHQ/src/mekhq/campaign/personnel/skills/RandomSkillPreferences.java
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/AdvancementTab.java
Labels: Personnel, Refactoring, Campaign Options

#6745 Updated "The Learning Ropes" Campaign Save File
  MekHQ/campaigns/The Learning Ropes.cpnx.gz
Labels: Data

#6725 Fix #6400: Corrected Cargo Capacity of Cargo Bays to Account for Transported Units
  MekHQ/src/mekhq/campaign/unit/Unit.java
Labels: Bug, Severity: Medium

#6755 Fixed Gender Generation
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/src/mekhq/campaign/personnel/generator/AbstractPersonnelGenerator.java
  MekHQ/src/mekhq/campaign/personnel/generator/DefaultPersonnelGenerator.java
  MekHQ/src/mekhq/campaign/personnel/marriage/AbstractMarriage.java
  MekHQ/unittests/mekhq/campaign/personnel/marriage/AbstractMarriageTest.java
Labels: Bug, Personnel, Severity: High

#6754 Issue #6753: Check if `Game` is null when replacing a Unit's Entity & Transfer C3 During Refit if Possible
  MekHQ/src/mekhq/campaign/parts/Refit.java
  MekHQ/src/mekhq/campaign/unit/Unit.java
Labels: Bug, Blocker

#6752 Fix #6750: Corrected Destination Edges
  MekHQ/data/scenariotemplates/Breakthrough.xml
  MekHQ/data/scenariotemplates/Convoy Escort.xml
  MekHQ/data/scenariotemplates/Convoy Interdiction.xml
  MekHQ/data/scenariotemplates/Convoy Raid.xml
  MekHQ/data/scenariotemplates/Critical Convoy Escort.xml
  MekHQ/data/scenariotemplates/Diversion Engagement.xml
  MekHQ/data/scenariotemplates/Emergency Convoy Defense - Player - Low-Atmosphere.xml
  MekHQ/data/scenariotemplates/Emergency Convoy Defense - Player - VTOL.xml
  MekHQ/data/scenariotemplates/Emergency Convoy Defense - Player.xml
  MekHQ/data/scenariotemplates/Emergency Convoy Defense.xml
  MekHQ/data/scenariotemplates/Frontline Breakthrough.xml
  MekHQ/data/scenariotemplates/Frontline Disruption.xml
  MekHQ/data/scenariotemplates/Intercept Engagement.xml
  MekHQ/data/scenariotemplates/Interception Defense.xml
  MekHQ/data/scenariotemplates/Low-Atmosphere DropShip Assault.xml
  MekHQ/data/scenariotemplates/Low-Atmosphere DropShip Escort.xml
  MekHQ/data/scenariotemplates/Picket Line Breakthrough.xml
  MekHQ/data/scenariotemplates/Space Blockade Run.xml
  MekHQ/data/scenariotemplates/Space DropShip Intercept.xml
  MekHQ/data/scenariotemplates/Tactical Withdrawal.xml
Labels: Bug, Data, Severity: High

#6749 Fix #4965: Added Procurement Pause/Resume Functionality
  MekHQ/resources/mekhq/resources/CampaignGUI.properties
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/io/CampaignXmlParser.java
  MekHQ/src/mekhq/gui/CommandCenterTab.java
Labels: UX

#6751 Fix #5441: Added Student Counts to Personnel Report
  MekHQ/src/mekhq/campaign/report/PersonnelReport.java
Labels: Personnel, UX

#6747 Fix #4801: Fixed Infantry Capacity Calculation in Transport Report
  MekHQ/src/mekhq/campaign/unit/Unit.java
Labels: Bug, GUI, Severity: Low

#6746 Fix #4780: Added Minimum Height to Tech List in Mass Mothball
  MekHQ/src/mekhq/gui/dialog/MassMothballDialog.java
Labels: GUI

#6759 Fix #6758: Fixed Ransom Events Not Ransoming Prisoners
  MekHQ/src/mekhq/gui/dialog/randomEvents/prisonerDialogs/PrisonerRansomEventDialog.java
Labels: Bug, Severity: High

#6760 Added Missing 'Has Documentation' Icon to Unit Market Options in Campaign Options IIC
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
Labels: Bug, Data, GUI, Severity: Low

#6762 Slightly Adjusted Tooltip Initial Delay Setting
  MekHQ/src/mekhq/MekHQ.java
Labels: GUI, UX

#6757 Fixed Defection Logic for Prisoners
  MekHQ/src/mekhq/campaign/randomEvents/prisoners/CapturePrisoners.java
Labels: Bug, Scenario Resolution, Severity: Medium

#6756 Fixed Exception When Adopting Child with Existing Parents (Sentry)
  MekHQ/src/mekhq/gui/adapter/PersonnelTableMouseAdapter.java
Labels: Bug, Personnel, Severity: Medium

#6764 Fix #6761: Fixed Birthday Generation Logic
  MekHQ/src/mekhq/campaign/personnel/generator/AbstractPersonnelGenerator.java
Labels: Bug, Personnel, Severity: Medium

#6763 Fixed Loophole That Allowed Players to Acquire Clantech Prior to Tukayyid.
  MekHQ/resources/mekhq/resources/ResolveScenarioWizardDialog.properties
  MekHQ/src/mekhq/campaign/ResolveScenarioTracker.java
  MekHQ/src/mekhq/gui/dialog/ResolveScenarioWizardDialog.java
Labels: Bug, AtB, StratCon, Severity: Medium

#6765 Added Aging Effects Documentation
  MekHQ/docs/Personnel Modules/Aging Effects.pdf
  MekHQ/src/mekhq/campaign/personnel/skills/Aging.java
Labels: Documentation

#6766 Fixed Aging Effects Applying Even When Disabled
  MekHQ/src/mekhq/gui/campaignOptions/contents/BiographyTab.java
  MekHQ/src/mekhq/gui/dialog/CustomizePersonDialog.java
Labels: Bug, Personnel, Campaign Options, Severity: High

#6767 Updated Rank System XML Version to 0.50.06
  MekHQ/userdata/data/universe/ranks.xml
Labels: Data

#6772 Restored Event Handlers for Campaign State Management
  MekHQ/src/mekhq/gui/CampaignGUI.java
Labels: Bug, Severity: Critical

#6623 Fix #3111: Added Heroic and Legendary Skill Levels
  MekHQ/resources/mekhq/resources/CampaignOptionsDialog.properties
  MekHQ/src/mekhq/Utilities.java
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/mission/AtBDynamicScenarioFactory.java
  MekHQ/src/mekhq/campaign/parts/Armor.java
  MekHQ/src/mekhq/campaign/parts/MekLocation.java
  MekHQ/src/mekhq/campaign/parts/MissingPart.java
  MekHQ/src/mekhq/campaign/parts/OmniPod.java
  MekHQ/src/mekhq/campaign/parts/Part.java
  MekHQ/src/mekhq/campaign/parts/PodSpace.java
  MekHQ/src/mekhq/campaign/parts/ProtoMekLocation.java
  MekHQ/src/mekhq/campaign/personnel/Person.java
  MekHQ/src/mekhq/campaign/personnel/skills/RandomSkillPreferences.java
  MekHQ/src/mekhq/campaign/personnel/skills/SkillType.java
  MekHQ/src/mekhq/gui/RepairTab.java
  MekHQ/src/mekhq/gui/WarehouseTab.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/AdvancementTab.java
  MekHQ/src/mekhq/gui/campaignOptions/contents/SkillsTab.java
  MekHQ/src/mekhq/gui/dialog/MRMSDialog.java
  MekHQ/src/mekhq/gui/menus/AssignUnitToPersonMenu.java
  MekHQ/src/mekhq/gui/sorter/LevelSorter.java
  MekHQ/src/mekhq/module/atb/PersonnelMarketAtB.java
  MekHQ/src/mekhq/service/mrms/MRMSOption.java
  MekHQ/src/mekhq/service/mrms/MRMSService.java
  MekHQ/unittests/mekhq/campaign/parts/MekLocationTest.java
Labels: Personnel, Implementation of Missing Official Rule

#6643 Added Support for Mission and Scenario Hyperlinking
  MekHQ/src/mekhq/campaign/Campaign.java
  MekHQ/src/mekhq/campaign/ResolveScenarioTracker.java
  MekHQ/src/mekhq/campaign/finances/Finances.java
  MekHQ/src/mekhq/campaign/mission/Mission.java
  MekHQ/src/mekhq/campaign/mission/Scenario.java
  MekHQ/src/mekhq/campaign/randomEvents/prisoners/EventEffectsManager.java
  MekHQ/src/mekhq/campaign/stratcon/StratconRulesManager.java
  MekHQ/src/mekhq/campaign/stratcon/StratconScenario.java
  MekHQ/src/mekhq/campaign/stratcon/SupportPointNegotiation.java
  MekHQ/src/mekhq/gui/BriefingTab.java
  MekHQ/src/mekhq/gui/CampaignGUI.java
  MekHQ/src/mekhq/gui/ReportHyperlinkListener.java
  MekHQ/src/mekhq/gui/baseComponents/immersiveDialogs/ImmersiveDialogCore.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/nagLogic/OutstandingScenariosNagLogic.java
  MekHQ/src/mekhq/gui/dialog/nagDialogs/nagLogic/UnresolvedStratConContactsNagLogic.java
Labels: GUI, UX

#6644 Fix #4551: Added Double-Click Functionality to the Infirmary Tab to Jump to Patients in Personnel Tab
  MekHQ/src/mekhq/gui/InfirmaryTab.java
Labels: GUI, UX, Improvement to Existing Feature

#6670 Made Injuries Appear More Serious By Changing Terms
  MekHQ/src/mekhq/campaign/mod/am/InjuryTypes.java
  MekHQ/src/mekhq/campaign/mod/am/InjuryUtil.java
Labels: UX
